@use '@uqds/core/src/scss/global' as core;
@use 'global' as *;

// Card Default
.uq-card {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: core.$uq-white;
  border: 1px solid core.$uq-neutral-light60;
  border-radius: core.$space-xs;
  color: core.$uq-neutral-dark60;
  line-height: core.$space-m; 
  overflow-wrap: break-word;
  word-wrap: break-word;
  
  // Link that wraps the whole card
  &__link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-indent: -1000%;
    box-shadow: 0 core.$space-xs core.$space-xs rgba(core.$uq-neutral-dark80, 0.05);
    transition: all ease .25s;
    z-index: 10;

    &:hover,
    &:focus {
      box-shadow: 0 core.$space-s core.$space rgba(core.$uq-neutral-dark80, 0.15);
    }
  }

  &__image-wrapper {
    max-height: 190px;
    overflow: hidden;

    @media #{core.$screen-md-up} {
      max-height: 15rem;
    }
  }
  &__image {
    position: relative;
    padding-bottom: 70%;
    overflow: hidden;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      transform: translate(-50%, -50%);
      -o-object-fit: cover;
      object-fit: cover;
      z-index: 0;
    }
  }

  &__content-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  } 
  &__content {
    flex-grow: 1;
    padding: core.$space-m;

    :last-child .uq-card__title {
      margin-bottom: core.$space-none;
    }
  }

  &__header {
    :last-child {
      margin: core.$space-none core.$space-none core.$space-s;
    }
  }

  &__body {     
    p:last-child {
      margin-bottom: core.$space-none;
    }
  }

  &__actions {
    padding: core.$space-none core.$space-m core.$space-m;

    p:last-child {
      margin-bottom: core.$space-none;
    }
  }

  &__title {
    font-size: core.$font-size-l;
    color: core.$uq-neutral-dark80;
    margin: core.$space-none core.$space-none core.$space-s;

    @media #{core.$screen-md-up} {
      font-size: core.$font-size-xl;
    }

    &-super {
      font-size: core.$font-size-s;
      font-weight: 500;
      color: core.$uq-purple-light;
      text-transform: uppercase;
      margin: core.$space-none core.$space-none core.$space-s;
  
      @media #{core.$screen-md-up} {
        font-size: core.$font-size;
      }
  
      &--grey {
        font-weight: 400;
        color: core.$uq-neutral-dark60;
      }
    }
  }

  // Shaded
  &--shaded {
    background-color: $card-shaded-bg;
  }
}

/* Additional style rules */
.uq-grid {

  // On smaller viewports, Story & Event cards when > 3 renders as lists 
  @media #{core.$screen-md-down} {

    &__col {

      // When there are 3 items
      @include with-count(3) {
        @include card-list-style();
      }

      // When there are 4 items
      @include with-count(4) {
        @include card-list-style();
      }
    }
  }
  
  // Full width cards
  &__col--md-8,
  &__col--xl-12 {

    .uq-card {

      @media #{core.$screen-md-up} {
        flex-direction: row;
      }
  
      &__image-wrapper {
        min-width: 100%;
        overflow: hidden;

        @media #{core.$screen-md-up} {
          min-width: 50%;
          max-height: 100%;
        }
      }
      &__image {
        padding-bottom: 70%;

        @media #{core.$screen-md-up} {
          min-height: 100%;
          padding-bottom: 0%;
        }
      }
      &__content-wrapper {
        min-width: 100%;

        @media #{core.$screen-md-up} {
          min-width: 50%;
        }
      }
      &__content {
        padding: core.$space-m;

        @media #{core.$screen-md-up} {
          padding: core.$space-xxxl core.$space-xxxl core.$space-m;
        }
      }
      &__body {
        p {
          @include truncate-card-1col-body-text;
        }
      }
      
      &__actions {
        padding: core.$space-none core.$space-m core.$space-m;

        @media #{core.$screen-md-up} {
          padding: core.$space-none core.$space-xxxl core.$space-xxxl;
        }
      }
    }
  }
}

// Set height of card to not equalise
.height-non-equalised .uq-card {
  height: auto;
}
