@use '@uqds/core/src/scss/global' as core;

$card-square-height: 22rem;
$card-square-width: 22rem;
$card-portrait-height: 28rem;
$card-portrait-width: 22rem;
$card-landscape-height: 22rem;
$card-landscape-width: 34rem;
$card-full-height: 22rem;
$card-full-width: 134rem;
$card-summary-lines-to-show: 4;
$card-shaded-bg: core.$uq-neutral-light20;
