@use '@uqds/core/src/scss/global' as core;

$card-square-height: 22rem;
$card-square-width: 22rem;
$card-portrait-height: 28rem;
$card-portrait-width: 22rem;
$card-landscape-height: 22rem;
$card-landscape-width: 34rem;
$card-full-height: 22rem;
$card-full-width: 134rem;
$card-summary-lines-to-show: 4;
$card-shaded-bg: core.$uq-neutral-light20;

// Truncate card body text to 146 characters, then ellipse ...
@mixin truncate-card-1col-body-text {
    white-space: normal;
    overflow: hidden;
    max-height: 75px;
}

@mixin with-count($n) {
    @if $n == 1 {
      &:first-child:nth-last-child(1) {
        @content;
      }
    }
    @else {
      &:first-child:nth-last-child(#{$n}),
      &:first-child:nth-last-child(#{$n}) ~ & {
        @content;
      }
    }
}
