@use "@uqds/core/src/scss/global" as core;
@use "@uqds/layout/src/scss/global" as layout;
@use "@uqds/icon/src/scss/global" as icon-constants;
@use "card";

$story-card-small-container: 600px;

.uq-story-card {
  @extend %uq-card;
}

.uq-story-card__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: core.$space-l;
}

.uq-story-card__title {
  @extend %uq-card__title;

  @media #{core.$screen-md-down} {
    font-size: core.$font-size-xl;
  }
}

.uq-story-card__description {
  @extend %uq-card__description;
}

.uq-story-card__top-label {
  margin-bottom: core.$space-xs;
  color: core.$grey-700;
  font-weight: core.$font-weight-medium;
}

.uq-story-card__bottom-label {
  padding-top: core.$space-l;
  margin-top: auto;
}

.uq-story-card__image {
  @extend %uq-card__image;
}

/**
 * Mobile landscape/listing display.
 */

.uq-story-card:not(.uq-story-card--feature) {
  @media #{core.$screen-md-down} {
    border-radius: 0;
    border-inline-width: 0;
    border-top-width: 0;
    display: flex;
    flex-direction: row-reverse;
    align-items: start;
    gap: core.$space-m;
    padding-bottom: core.$space-m;
    background-color: transparent;

    &:has(a:hover) {
      background-color: transparent;
    }

    & .uq-story-card__content {
      padding: 0;
    }

    & .uq-story-card__image {
      width: 120px;
      height: 100px;
      aspect-ratio: unset;
      flex-shrink: 0;
      margin-top: 6px;
      background: core.$grey-100;
    }

    & .uq-story-card__description {
      display: none;
    }

    & .uq-story-card__top-label {
      margin-bottom: 0;
    }

    & .uq-story-card__bottom-label {
      padding-top: core.$space-s;
    }
  }
}

/**
 * Side by side for card-grid 1x layouts.
 */

.uq-card-grid--target-1x {
  & .uq-story-card {
    & .uq-story-card__description {
      display: -webkit-box;
    }
  }

  @container (width > #{layout.$card-grid-container-md}) {
    & .uq-story-card:not(.uq-story-card--feature) {
      display: flex;
      flex-direction: row-reverse;
      gap: var(--layout-gap);
      align-items: center;

      & .uq-story-card__image {
        width: 50%;
        height: 100%;
      }

      & .uq-story-card__content {
        width: 50%;
        padding-inline: core.$space-l 0;
      }
    }
  }
}

/**
 * Variants
 */

.uq-story-card--event {
  & .uq-story-card__top-label {
    color: core.$purple-500;
  }
}

.uq-story-card--event,
.uq-story-card--story {
  .uq-story-card__description {
    display: none;
  }
}

.uq-story-card--feature {
  .uq-story-card__title {
    font-size: core.$font-size-xxxl;

    @media #{core.$screen-md-down} {
      font-size: 22px;
    }
  }

  & .uq-story-card__description {
    display: -webkit-box;
  }

  @media #{core.$screen-md-down} {
    .uq-story-card__image {
      aspect-ratio: 2 / 1;
    }
  }
}

.uq-story-card--landscape {
  border-radius: 0;
  border-inline-width: 0;
  border-top-width: 0;
  display: flex;
  flex-direction: row-reverse;
  align-items: start;
  gap: core.$space-m;
  padding-bottom: core.$space-m;
  background-color: transparent;

  &:has(a:hover) {
    background-color: transparent;
  }

  & .uq-story-card__content {
    padding: 0;
  }

  & .uq-story-card__image {
    width: 227px;
    height: 138px;
    aspect-ratio: unset;
    flex-shrink: 0;
    margin-top: 6px;

    @container (width < #{$story-card-small-container}) {
      width: 120px;
      height: 100px;
    }

    &:not(:has(img)) {
      background-color: core.$grey-100;
      background-image: url(icon-constants.get-icon(
        "how-youll-learn--book-open-text",
        core.$grey-600
      ));
      background-size: 88px;
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  & .uq-story-card__title {
    @container (width < #{$story-card-small-container}) {
      font-size: core.$font-size-xl;
    }
  }

  & .uq-story-card__description {
    display: none;
  }

  & .uq-story-card__top-label {
    margin-bottom: 0;
  }

  & .uq-story-card__bottom-label {
    padding-top: core.$space-s;
  }
}
