@import '_global.scss';

// Global UQ site header
//
// Variants:
// .site-header--full-width - Allows the header to span full width of the browser.
//
// States:
// .site-header.has-no-global-menu - Adds top spacing when the global menu element is not included in the site header.
//

.site-header {
  background-color: $site-header-bg;
  color: #ccc;
  width: 100%;

  %links {
    color: $site-header-link-color;
  }

  &__content {
    @include grid-row();
    padding: 0 0 1.5rem 0;
    text-align: center;

    @media #{$small-only} {
      padding: 1rem 0;
    }
  }

  &__global-menu {
    @include grid-row();
  }

  .uq-logo {
    float: left;

    @media #{$small-only} {
      float: none;
      margin: 0 auto;
    }
  }

  .site-title {
    border-left: 1px solid rgba(255, 255, 255, .5);
    float: left;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.2;
    margin: 0 0 0 1rem;
    padding: .8rem 0 .8rem 1rem;

    @media #{$small-only} {
      border: 0;
      clear: both;
      float: none;
      margin: 1rem 0 0 0;
      padding: 0;
    }

    @media #{$medium-up} {
      font-size: 1.275rem;
      text-align: left;
    }

    @media #{$xlarge-up} {
      font-size: 1.475rem;
    }

    &__link {
      color: $site-header-link-color;

      &:hover {
        text-decoration: none;
      }
    }

    // Modify site title if it has a prefix
    &.has-prefix {
      font-size: 1rem;

      @media #{$medium-up} {
        letter-spacing: -.3px;
        padding-bottom: .3rem;
        padding-top: .3rem;
      }

      @media #{$large-up} {
        font-size: 1.175rem;
      }

      @media #{$xlarge-up} {
        font-size: 1.275rem;
      }
    }

    // Modify site title if it is 2 lines
    &.has-2-lines {
      font-size: 1rem;

      @media #{$medium-up} {
        padding-bottom: .3rem;
        padding-top: .3rem;
      }

      @media #{$large-up} {
        font-size: 1.275rem;
      }

      br {
        @media #{$small-only} {
          display: none;
        }
      }
    }

    // Site title prefix
    &__prefix {
      @media #{$medium-up} {
        display: block;
        font-size: 1rem;
        font-weight: 300;
      }
    }
  }

  // Full-width header variant.
  &--full-width {
    .site-header {
      &__content {
        max-width: 100%;
      }
      &__global-menu {
        max-width: 100%;
        padding-right: .8rem;
      }
    }
  }

  // Applications with no global menu.
  &.has-no-global-menu {
    .site-header__content {
      padding-top: 1.5rem;
    }
  }
}

// Global Menu

.global-menu {
  float: right;

  &__list {
    @include inline-list();
  }

  //&__item {}

  &__link,
  &__link:focus,
  &__link:visited {
    color: $site-global-menu-link-color;
    font-size: .65rem;
    font-weight: 500;
    margin-right: .25rem;
    text-transform: uppercase;

    &:hover {
      color: #fff;
    }
  }
}

//
// Site Search
//
// Variants
// .site-search__form--mobile - Styles to display search form on tablet/mobile (This is an interim solution to display the search on tablet/mobile until the header design is revised).

.site-header__site-search {
  @media #{$small-only} {
    @include element-invisible();
  }

  @media #{$medium-only} {
    @include element-invisible();
  }

  @media #{$large-up} {
    @include grid-column(
      $columns:4,
      $last-column:true,
      $collapse:true,
      $float:right
    );
    padding-top: 1rem;
  }
}

.site-search__title {
  @include element-invisible();
}

.site-search__form {
  float: right;
  margin: 0;
  padding: 0;

  .site-search__query {
    font-size: .85rem;
    padding: 0 0 0 .3rem;
    width: 14rem;
  }

  &--mobile {
    border-bottom: 1px solid $form-input-border-color;
    float: left;
    margin: .75rem 1rem;

    .site-search__query {
      // Reduce width of search input on mobile to fit on same row as hamburger
      // menu.
      @media #{$small-only} {
        width: 8rem;
      }
    }
  }

  .site-search__fieldset {
    margin: 0;
    padding: 0;
    border: none;
    width: 100%;
  }

  .site-search__legend {
    @include element-invisible();
  }

  .site-search__input {
    border-width: 0;
    float: left;
    height: 1.65rem;
    line-height: 1.65rem;
    margin: 0;

    &,
    &:focus {
      background: white;
      border-width: 0;
      box-shadow: none;
      color: #333;
      transition: none;
    }

    &:hover {
      background: white;
      color: #333;
    }
  }

  .site-search__submit {
    width: 1.65rem;
    padding: 0;
    cursor: pointer;
    font-family: 'FontAwesome';
  }

  .site-search__query:focus + .site-search__submit {
    color: #333;
  }
}
