// Variables, functions, and mixins

@import "~@uq-uidf/core/src/scss/_global.scss";
@import "~@uq-uidf/form/src/scss/_global.scss";

$site-header-bg: $uq-dark-purple;
$site-header-color: #fff;
$site-header-link-color: #fff;

$site-global-menu-link-color: mix(white, $uq-dark-purple, 75%);