@use "@uqds/core/src/scss/global" as core;
@use "@uqds/icon/src/scss/global" as icon;
@use "global" as *;

.uq-local-nav {
  max-width: var(--layout-sidebar-width);
  margin-bottom: 6rem;
}

.uq-local-nav__link {
  display: block;
  color: var(--uq-black);
  padding-block: var(--uq-space-m);
  padding-inline-start: var(--uq-space-xl);
  border-bottom: 1px solid var(--uq-grey-500);
  text-decoration: none;
  font-weight: var(--uq-font-weight-normal);

  &:hover {
    color: var(--uq-black);
    background-color: var(--uq-grey-100);
  }

  &:focus-visible {
    outline: 4px solid var(--uq-utility-500);
    outline-offset: -3px;
  }
}

.uq-local-nav__grandparent,
.uq-local-nav__parent {
  & .uq-local-nav__link {
    background-image: url(icon.get-icon(
      "standard--chevron-left",
      core.$purple-500
    ));
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: left center;
    border-width: 2px;
    border-color: var(--uq-black);
    font-weight: var(--uq-font-weight-medium);
  }
}

.uq-local-nav__grandparent {
  & .uq-local-nav__link {
    border-bottom: 2px solid var(--uq-grey-900);
  }
}

.uq-local-nav__children,
.uq-local-nav__grandchildren {
  list-style: none;
  margin: 0;
  padding: 0;
}

.uq-local-nav__child,
.uq-local-nav__grandchild {
  margin-bottom: 0;
}

.uq-local-nav__grandchild {
  & .uq-local-nav__link {
    padding-inline: var(--uq-space-xxxl);
  }
}

.uq-local-nav--current-child {
  border-left: 4px solid var(--uq-purple-500);
  margin-top: -1px;

  & > .uq-local-nav__link {
    border-bottom: 1px solid var(--uq-grey-200);
    padding-inline: calc(#{var(--uq-space-xl)} - 4px) 0;
  }

  .uq-local-nav__grandchild {
    background-color: var(--uq-grey-50);

    & > .uq-local-nav__link {
      border-bottom: 1px solid var(--uq-grey-200);
    }
  }
}

.uq-local-nav--active-link {
  background-color: var(--uq-grey-200);
  font-weight: var(--uq-font-weight-medium);
}

.uq-local-nav--has-children {
  & > .uq-local-nav__link {
    background-image: url(icon.get-icon(
      "standard--chevron-down-sml",
      core.$black
    ));
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: right center;
    padding-inline-end: var(--uq-space-l);
  }

  & > .uq-local-nav--active-link {
    background-image: none;
  }
}
