html, body {
  background-color: #DDD;
  margin: 30px;
  font-size: 1rem;
}
section {
  margin-bottom: 100px;
}
table {
  border-collapse: collapse;
}
table th {
  background-color: #eee;
}

/* Icon - SVG */
:root {
  --icon-white: #FFF;
  --icon-purple: #51247A;
  --icon-black: #222;
  --icon-blue: #2377cb;
  --icon-blue-dark: #005ea5;
}

@define-mixin icon $category, $name {
  .icon--$(category)--$(name) {
    background: svg-load("images/$(category)/$(name).svg", fill=var(--icon-black)) no-repeat;
  }
  .icon--$(category)--$(name).icon--light {
    background: svg-load("images/$(category)/$(name).svg", fill=var(--icon-white)) no-repeat;
  }
  .icon--$(category)--$(name).icon--dark {
    background: svg-load("images/$(category)/$(name).svg", fill=var(--icon-black)) no-repeat;
  }
  .icon--$(category)--$(name).icon--blue {
    background: svg-load("images/$(category)/$(name).svg", fill=var(--icon-blue)) no-repeat;
  }
}

/*@define-mixin icon $name {

  .icon--$(name) {
    background: svg-load("images/$(name).svg", fill=var(--icon-black)) no-repeat;
  }
  .icon--$(name).icon--light {
    background: svg-load("images/$(name).svg", fill=var(--icon-white)) no-repeat;
  }
  .icon--$(name).icon--dark {
    background: svg-load("images/$(name).svg", fill=var(--icon-black)) no-repeat;
  }
  .icon--$(name).icon--blue {
    background: svg-load("images/$(name).svg", fill=var(--icon-blue)) no-repeat;
  }

}*/

.icon {
  width: 1em;
  height: 1em;
  stroke: currentColor;
  fill: currentColor;
  vertical-align: text-top;
  background-position: center;
  display: inline-block;
  box-sizing: border-box;
  line-height: 100%;
}

@mixin icon common, calendar;
@mixin icon common, chevron-down;
@mixin icon common, chevron-left;
@mixin icon common, chevron-right;
@mixin icon common, chevron-up;
@mixin icon common, clock;
@mixin icon common, close;
@mixin icon common, menu;
@mixin icon common, pin;
@mixin icon common, search;

@mixin icon agriculture-and-environment, agriculture-machine-harvester-1;
@mixin icon agriculture-and-environment, agriculture-machine-plow-2;
@mixin icon agriculture-and-environment, agriculture-machine-tractor;
@mixin icon agriculture-and-environment, ecology-globe-hand;
@mixin icon agriculture-and-environment, ecology-globe-nature;
@mixin icon agriculture-and-environment, ecology-leaf-book-open;
@mixin icon agriculture-and-environment, ecology-leaf;
@mixin icon agriculture-and-environment, ecology-plant-hand;
@mixin icon agriculture-and-environment, farming-wheat;
@mixin icon agriculture-and-environment, non-gmo-organic-flask;
@mixin icon agriculture-and-environment, pets-hospital;
@mixin icon agriculture-and-environment, plant-1;
@mixin icon agriculture-and-environment, tree-2;
@mixin icon architecture-and-planning, building-modern;
@mixin icon architecture-and-planning, buildings-1;
@mixin icon architecture-and-planning, buildings-2;
@mixin icon architecture-and-planning, heavy-equipment-lift-hook-box;
@mixin icon architecture-and-planning, house-modern;
@mixin icon architecture-and-planning, measure-ruler-divider;
@mixin icon architecture-and-planning, project-blueprint-buildings;
@mixin icon architecture-and-planning, project-notes-buildings;
@mixin icon architecture-and-planning, real-estate-dimensions-map;
@mixin icon architecture-and-planning, school-building;
@mixin icon arts-humanities-and-social-sciences, book-open-bookmark;
@mixin icon arts-humanities-and-social-sciences, brain-network;
@mixin icon arts-humanities-and-social-sciences, human-resources-hierarchy-1;
@mixin icon arts-humanities-and-social-sciences, instrument-contrabass-sheet;
@mixin icon arts-humanities-and-social-sciences, network-user;
@mixin icon arts-humanities-and-social-sciences, office-stamp-documen;
@mixin icon arts-humanities-and-social-sciences, official-building;
@mixin icon arts-humanities-and-social-sciences, ranking-people-first;
@mixin icon arts-humanities-and-social-sciences, read-world;
@mixin icon arts-humanities-and-social-sciences, school-teacher;
@mixin icon arts-humanities-and-social-sciences, single-neutral-actions-graduate;
@mixin icon arts-humanities-and-social-sciences, team-exchange-chat;
@mixin icon arts-humanities-and-social-sciences, video-player-adjust-finger;
@mixin icon arts-humanities-and-social-sciences, video-player-movie-1;
@mixin icon business-and-economics, accounting-calculator;
@mixin icon business-and-economics, analytics-graph-bar-1;
@mixin icon business-and-economics, briefcase;
@mixin icon business-and-economics, business-deal-handshake;
@mixin icon business-and-economics, currency-dollar-increase;
@mixin icon business-and-economics, data-file-bars-edit;
@mixin icon business-and-economics, network-cash;
@mixin icon business-and-economics, network-user;
@mixin icon business-and-economics, performance-increase-1;
@mixin icon business-and-economics, performance-user-graph;
@mixin icon business-and-economics, travel-crossroad-direction-board;
@mixin icon education, basketball-ball;
@mixin icon education, bookmarks-document;
@mixin icon education, family-hold;
@mixin icon education, family-home;
@mixin icon education, medical-notes;
@mixin icon education, mortarboard;
@mixin icon education, people-man-graduate;
@mixin icon education, read-glasses;
@mixin icon education, saving-bank-international;
@mixin icon education, school-teacher-a;
@mixin icon education, soccer-player-ball;
@mixin icon engineering-and-computing, 3d-print-monitor-1;
@mixin icon engineering-and-computing, cog-desktop;
@mixin icon engineering-and-computing, cog;
@mixin icon engineering-and-computing, construction-building;
@mixin icon engineering-and-computing, database-share;
@mixin icon engineering-and-computing, equipment-pressure-measure;
@mixin icon engineering-and-computing, grid-ruler-1;
@mixin icon engineering-and-computing, icon-plane-1;
@mixin icon engineering-and-computing, laptop;
@mixin icon engineering-and-computing, measure-ruler-divider;
@mixin icon engineering-and-computing, monitor-transfer;
@mixin icon engineering-and-computing, renewable-energy-solar-panel;
@mixin icon engineering-and-computing, safety-helmet-1;
@mixin icon engineering-and-computing, user-3d-box;
@mixin icon health-and-behavioural-sciences, ambulance-car;
@mixin icon health-and-behavioural-sciences, brain-head-1;
@mixin icon health-and-behavioural-sciences, conversation-speak;
@mixin icon health-and-behavioural-sciences, dentistry-tooth;
@mixin icon health-and-behavioural-sciences, disability-cane;
@mixin icon health-and-behavioural-sciences, disability-walk-blind;
@mixin icon health-and-behavioural-sciences, disability-walking-help;
@mixin icon health-and-behavioural-sciences, hospital-bedroom-nurse;
@mixin icon health-and-behavioural-sciences, medical-specialty-breathing;
@mixin icon health-and-behavioural-sciences, medical-specialty-hearing;
@mixin icon health-and-behavioural-sciences, medical-specialty-rehabilitation;
@mixin icon health-and-behavioural-sciences, presentation-speaker;
@mixin icon how-youll-learn, baggage-plane;
@mixin icon how-youll-learn, book-open-text;
@mixin icon how-youll-learn, construction-shovel;
@mixin icon how-youll-learn, e-learning-book-laptop;
@mixin icon how-youll-learn, messages-people-user-bubble-circle;
@mixin icon how-youll-learn, multiple-circle-1;
@mixin icon how-youll-learn, multiple-circle;
@mixin icon how-youll-learn, office-desk-lamp;
@mixin icon how-youll-learn, optimization-rocket-graph;
@mixin icon how-youll-learn, performance-presentation-graph;
@mixin icon how-youll-learn, seo-search-page;
@mixin icon how-youll-learn, users;
@mixin icon law, law;
@mixin icon law, legal-judge-balance;
@mixin icon law, legal-judge;
@mixin icon law, legal-scale-document;
@mixin icon law, official-building;
@mixin icon law, police-man-1;
@mixin icon law, saving-bank-international;
@mixin icon law, saving-bank;
@mixin icon medicine, app-smartphone-touch;
@mixin icon medicine, hospital-first-aid;
@mixin icon medicine, medical-app-laptop-1;
@mixin icon medicine, medical-hospital-1;
@mixin icon medicine, medical-instrument-stethoscope;
@mixin icon medicine, medical-personnel-doctor;
@mixin icon medicine, medical-personnel-nurse;
@mixin icon medicine, monitor-heart-beat-search;
@mixin icon medicine, monitor-heart-beat;
@mixin icon medicine, monitor-heart-notes;
@mixin icon medicine, pill-clock;
@mixin icon other, aboriginal-flag;
@mixin icon other, accounting-coins-stack;
@mixin icon other, american-football-run-ball;
@mixin icon other, american-football-score;
@mixin icon other, athletics-jumping-person;
@mixin icon other, beach-palm-water;
@mixin icon other, bicycle;
@mixin icon other, biking-person;
@mixin icon other, book-open-text;
@mixin icon other, buildings-2;
@mixin icon other, bus;
@mixin icon other, business-crossroad;
@mixin icon other, calendar-add;
@mixin icon other, car-1;
@mixin icon other, card-game-dice;
@mixin icon other, checklist-pen;
@mixin icon other, checklist;
@mixin icon other, content-notebook-pencil;
@mixin icon other, e-learning-book-laptop;
@mixin icon other, earth-3;
@mixin icon other, fast-food-burger-drink;
@mixin icon other, fitness-weightlift;
@mixin icon other, flag-1;
@mixin icon other, force-touch-double-tap;
@mixin icon other, gauge-dashboard;
@mixin icon other, history-vase;
@mixin icon other, hotel-bedroom-1;
@mixin icon other, library-art;
@mixin icon other, module-puzzle;
@mixin icon other, museum-painting;
@mixin icon other, network-users;
@mixin icon other, notes-edit;
@mixin icon other, paralympics-swimming;
@mixin icon other, phone-action-information;
@mixin icon other, profile-user-cash-message;
@mixin icon other, railroad-train-1;
@mixin icon other, restaurant-eating-set;
@mixin icon other, screen-1;
@mixin icon other, sea-transport-boat;
@mixin icon other, shop-cart;
@mixin icon other, soccer-player;
@mixin icon other, study-book;
@mixin icon other, supermarket;
@mixin icon other, synchronize-arrows-triangle;
@mixin icon other, tags-cash;
@mixin icon other, tennis-backhand;
@mixin icon other, tennis-racquet;
@mixin icon other, time-clock-circle-1;
@mixin icon other, tool-box;
@mixin icon other, touch-finger;
@mixin icon other, travel-luggage-1;
@mixin icon other, travel-paper-plane;
@mixin icon other, trip-destination;
@mixin icon other, walking;
@mixin icon other, yoga-shoulder-stretch;
@mixin icon rankings, award-badge-star;
@mixin icon rankings, award-badge;
@mixin icon rankings, award-medal-1;
@mixin icon rankings, award-medal-2;
@mixin icon rankings, award-medal;
@mixin icon rankings, award-ribbon-star-1;
@mixin icon rankings, award-ribbon-star-2;
@mixin icon rankings, award-ribbon-star-3;
@mixin icon rankings, award-star-head;
@mixin icon rankings, award-trophy-star-1;
@mixin icon rankings, award-trophy-star-11;
@mixin icon rankings, award-trophy-star;
@mixin icon rankings, award-trophy;
@mixin icon rankings, certified-ribbon-1;
@mixin icon rankings, certified-ribbon-2;
@mixin icon rankings, common-file-award;
@mixin icon rankings, school-book-trophy;
@mixin icon rankings, seo-trophy;
@mixin icon rankings, window-badge;
@mixin icon science-and-mathematics, accounting-calculator;
@mixin icon science-and-mathematics, button-loop;
@mixin icon science-and-mathematics, cat-sitting;
@mixin icon science-and-mathematics, drone-1;
@mixin icon science-and-mathematics, global-warming-high-temperature;
@mixin icon science-and-mathematics, lab-flask-experiment;
@mixin icon science-and-mathematics, lab-tube-bottle;
@mixin icon science-and-mathematics, lab-tube-experiment;
@mixin icon science-and-mathematics, lab-tubes;
@mixin icon science-and-mathematics, organic-flask-1;
@mixin icon science-and-mathematics, science-brain;
@mixin icon science-and-mathematics, science-molecule-strucutre;
@mixin icon science-and-mathematics, science-molecule;
@mixin icon science-and-mathematics, science-neurons;
@mixin icon social, email;
@mixin icon social, facebook;
@mixin icon social, linkedin;
@mixin icon social, social-email-circle;
@mixin icon social, social-facebook-circle;
@mixin icon social, social-linkedin-circle;
@mixin icon social, social-twitter-circle;
@mixin icon social, twitter;
@mixin icon standard, add;
@mixin icon standard, adjustment-schemes;
@mixin icon standard, alert-triangle;
@mixin icon standard, arrow-down-1;
@mixin icon standard, arrow-left-1;
@mixin icon standard, arrow-right-1;
@mixin icon standard, arrow-up-1;
@mixin icon standard, arrow-up;
@mixin icon standard, bubble-square-question;
@mixin icon standard, calendar-3;
@mixin icon standard, check;
@mixin icon standard, close;
@mixin icon standard, common-file-award;
@mixin icon standard, common-file-double;
@mixin icon standard, conversation-chat-text;
@mixin icon standard, dual-program;
@mixin icon standard, email-action-unread;
@mixin icon standard, information-circle;
@mixin icon standard, navigation-menu;
@mixin icon standard, network-information;
@mixin icon standard, network-user;
@mixin icon standard, phone;
@mixin icon standard, pin;
@mixin icon standard, region-domestic;
@mixin icon standard, region-international;
@mixin icon standard, school-teacher-correct;
@mixin icon standard, search;
@mixin icon standard, settings-slider;
@mixin icon standard, subtract;
@mixin icon student-services, disability-wheelchair;
@mixin icon student-services, hotel-single-bed-1;
@mixin icon student-services, information-desk-hi;
@mixin icon student-services, insurance-head;
@mixin icon student-services, maps-search;
@mixin icon student-services, religion-islam-pray;
@mixin icon student-services, single-neutral-briefcase;
@mixin icon student-services, study-desk;
@mixin icon student-services, transportation-ticket-bus-transfer-1;