/* Acknowledgement statement */
@use "@uqds/core/src/scss/global" as core;
@use "global" as *;

.uq-acknowledgement {
  background: core.$black;
  background-image: linear-gradient(
      0deg,
      #40205d 45.31%,
      rgba(64, 32, 93, 0.55) 85.94%,
      rgba(64, 32, 93, 0) 100%
    ),
    url("https://static.uq.net.au/v15/images/rap/brisbane-river-artwork.png");

  @media (min-width: 40rem) {
    /* 640px */
    background-image: linear-gradient(
        90deg,
        #40205d 60%,
        rgba(64, 32, 93, 0.65) 70%,
        rgba(64, 32, 93, 0) 80%
      ),
      url("https://static.uq.net.au/v15/images/rap/brisbane-river-artwork.png");
  }

  &__content {
    max-width: 73.25rem;
    padding: core.$space-compressed-m core.$space-l;
    color: core.$white;
    font-weight: core.$font-weight-normal;
    font-size: core.$font-size-m;
    line-height: 1.5;
    margin: auto;

    @media #{core.$screen-xl-up} {
      padding: core.$space-compressed-m core.$space-m;
    }
  }

  &__text {
    @media (min-width: 40rem) {
      /* 640px */
      max-width: 47.313rem;
      width: 74.1%;
    }
  }

  &__link {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: core.$font-weight-normal;
    color: core.$white;

    &:hover {
      text-decoration: underline;
      color: #d4c8de;
    }
  }

  &--large &__content {
    padding: core.$space-xxl core.$space-l core.$space-l;
    @media (min-width: 40rem) {
      /* 640px */
      font-size: core.$font-size-xl;
      padding: core.$space-xxl core.$space-l;
    }
    @media #{core.$screen-xl-up} {
      padding: core.$space-xxl core.$space-m;
    }
  }
  &__text {
    @media (min-width: 40rem) {
      /* 640px */
      max-width: 47.313rem;
      width: 74.1%;
    }
  }
}
