/* Acknowledgement statement */
@use "@uqds/core/src/scss/global" as core;
@use "global" as *;

.uq-acknowledgement {
  background: var(--uq-black);
  background-image: linear-gradient(
      0deg,
      #40205d 45.31%,
      rgba(64, 32, 93, 0.55) 85.94%,
      rgba(64, 32, 93, 0) 100%
    ),
    url("https://static.uq.net.au/v15/images/rap/brisbane-river-artwork.png");

  @media (min-width: 40rem) {
    /* 640px */
    background-image: linear-gradient(
        90deg,
        #40205d 60%,
        rgba(64, 32, 93, 0.65) 70%,
        rgba(64, 32, 93, 0) 80%
      ),
      url("https://static.uq.net.au/v15/images/rap/brisbane-river-artwork.png");
  }

  &__content {
    max-width: 73.25rem;
    padding: core.$space-compressed-m var(--uq-space-l);
    color: var(--uq-white);
    font-weight: var(--uq-font-weight-normal);
    font-size: var(--uq-font-size-m);
    line-height: 1.5;
    margin: auto;

    @media #{core.$screen-xl-up} {
      padding: core.$space-compressed-m var(--uq-space-m);
    }
  }

  &__text {
    @media (min-width: 40rem) {
      /* 640px */
      max-width: 47.313rem;
      width: 74.1%;
    }
  }

  &__link {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: var(--uq-font-weight-medium);
    color: var(--uq-white);

    &:hover {
      text-decoration: underline;
      background-color: var(--uq-white);
      color: var(--uq-purple-500);
    }
  }
  // large
  &--large &__content {
    padding: var(--uq-space-xxl) var(--uq-space-l) var(--uq-space-l);
    @media (min-width: 40rem) {
      /* 640px */
      font-size: var(--uq-font-size-xl);
      padding: var(--uq-space-xxl) var(--uq-space-l);
    }
    @media #{core.$screen-xl-up} {
      padding: var(--uq-space-xxl) var(--uq-space-m);
    }
  }
}
