@use '@uqmchu/core/src/scss/_foundation-global' as *;
@use '@uqmchu/core/src/scss/_global' as *; 
@use "global" as *;
@import "font-awesome/scss/mixins";

// Top_menu (Blackmenu) : primary navigation

.main-menu {
  background: $main-menu-bg-color;
  color: $main-menu-color;
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;

  // Drupal override to hide the main-menu block title.
  .block__title {
    display: none;
  }

  // Mobile menu open/close button
  &__mobile-menu {
    clear: both;
    text-align: right;
    width: 100%;
  }

  &__mobile-menu-link {
    color: $main-menu-color;
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 400;
    padding: 1rem;

    &:hover,
    &:focus {
      color: $main-menu-color;
      text-decoration: none;
    }

    .icon {
      font-size: 1.2rem;
    }
  }

  // Start of the menu <ul>
  .menu {
    @include grid-row;
    border-bottom: 1px solid $main-menu-border;
    clear: left;
    height: 0;
    list-style: none;
    overflow: hidden;
    padding: 0;
    visibility: hidden;

    @media #{$large-up} {
      border: 0;
      height: auto;
      overflow: visible;
      visibility: visible;
    }

    &.mobile-open {
      height: auto;
      overflow: visible;
      visibility: visible;
    }

    // <li> level
    .menu__item,
    .leaf,
    .expanded,
    .collapsed {
      background: none;
      border-bottom: 1px solid $main-menu-border;
      list-style: none;
      margin: 0;
      padding: 0;
      position: relative;

      &:last-child,
      &.last {
        border: 0;
      }

      @media #{$large-up} {
        border: 0;
        float: left;

        &:hover {
          background: $main-menu-bg-hover;
        }

        &:last-child,
        &.last {
          // Prevent sub-menu on last top level item from scrolling off the
          // screen on smaller desktop sizes.
          .menu__dropdown {
            right: 0;
          }
        }
      }

      // <a>
      .menu__link {
        color: $main-menu-color;
        display: block;
        margin: 0;
        padding: 1.3em;
        text-decoration: none;

        @media #{$large-up} {
          border-bottom: 2px solid transparent;
          padding: 1.3em 1.8rem;
        }

        &:visited {
          text-decoration: none;
        }

        &:hover {
          background: $main-menu-bg-hover;
        }

        &.menu__dropdown-link {
          @media #{$large-up} {
            display: none;
          }
        }
      }

      // Active menu trail
      .menu__link.active-trail {
        border-left: 3px solid tint($uq-purple, 60);

        @media #{$large-up} {
          border-bottom: 2px solid tint($uq-purple, 60);
          border-left: 0;
        }
      }

      // Active menu item
      .menu__link.active {
        border-left: 3px solid $uq-purple;

        @media #{$large-up} {
          border-bottom: 2px solid $uq-purple;
          border-left: 0;
        }
      }

      // Items with children
      &.expanded {
        // Down arrow to indicate this item has children.
        position: relative;

        .menu__link {
          padding-right: 4rem;

          @media #{$large-up} {
            padding-right: 2rem;

            &::after {
              @include fa-icon;
              color: #ccc;
              content: $fa-var-angle-down;
              font-size: .875rem;
              margin-top: -.4375rem;
              position: absolute;
              right: 1rem;
              top: 50%;
            }
          }
        }

        // Button to expand menu with children.
        .menu__dropdown-link {
          background: $main-menu-bg-color;
          border-left: 1px solid $main-menu-border;
          display: block;
          padding: 1.3rem;
          position: absolute;
          right: 0;
          top: 0;
          z-index: 1000;

          &::before {
            @include fa-icon;
            content: $fa-var-angle-down;
            margin-top: -.4375rem;
            right: 1rem;
            top: 50%;
          }

          &:hover {
            background: $main-menu-bg-hover;
          }

          @media #{$large-up} {
            display: none;
          }

          // On mobile, when child menu is open.
          &.dropdown-open {
            background: $main-menu-secondary-bg-color;

            &::before {
              content: $fa-var-angle-up;
            }
          }
        }
      }
      @media #{$large-up} {
        // Show drop down menu on hover.
        &:hover .menu,
        .menu__link:hover .menu,
        &:hover > .menu,
        .menu__link:hover > .menu,
        &:hover .menu__dropdown,
        .menu__link:hover .menu__dropdown,
        &:hover > .menu__dropdown,
        .menu__link:hover > .menu__dropdown {
          display: block;

          // Prevent 3rd level showing.
          .menu,
          .menu__dropdown {
            display: none;
          }
        }
      }
    }

    // Drop down menu
    .menu,
    .menu__dropdown {
      display: none;
      padding: 0;
      z-index: 1000;

      @media #{$large-up} {
        position: absolute;
        width: 20rem;
      }

      .menu__item,
      .leaf,
      .expanded,
      .collapsed {
        clear: both;
        width: 100%;

        &:first-child {
          border-top: 1px solid $main-menu-border;
        }

        @media #{$large-up} {
          border-top: 1px solid $main-menu-border;

          &:first-child {
            border-top: none;
          }
        }

        .menu__link {
          background: $main-menu-secondary-bg-color;
          padding-left: 2.5rem;

          @media #{$large-up} {
            background: $main-menu-bg-hover;
            padding: 1.1rem 1.3rem;
          }

          &:hover {
            background: $main-menu-border;
          }

          &::after {
            display: none;
          }
        }

        &.expanded {
          &::after {
            border: none;
          }

          @media #{$large-up} {
            .menu__link {
              &::after {
                display: none;
              }
            }
          }
        }
      }

      // Active sub-menu trail
      .menu__link.active-trail {
        border-bottom: 0;
        border-left: 3px dotted tint($uq-purple, 80);
      }

      // Active sub-menu item
      .menu__link.active {
        border-left: 3px solid $uq-purple;

        @media #{$large-up} {
          background-color: darken($main-menu-bg-hover, 3.5%);
          border-bottom: 0;
        }
      }

      // Child menu expanded on mobile
      &.expand {
        display: block;

        @media #{$large-up} {
          display: none;
        }
      }
    }
  }
}

//
// Site Search (TODO: remove duplication in @uqmchu/header-classic)
//
// Variants
// .site-search__form--mobile - Styles to display search form on tablet/mobile (This is an interim solution to display the search on tablet/mobile until the header design is revised).

.site-header__site-search {
  @media #{$small-only} {
    @include element-invisible();
  }

  @media #{$medium-only} {
    @include element-invisible();
  }

  @media #{$large-up} {
    @include grid-column(
      $columns:4,
      $last-column:true,
      $collapse:true,
      $float:right
    );
    padding-top: 1rem;
  }
}

.site-search__title {
  @include element-invisible();
}

.site-search__form {
  float: right;
  margin: 0;
  padding: 0;

  .site-search__query {
    font-size: .85rem;
    padding: 0 0 0 .3rem;
    width: 14rem;
  }

  &--mobile {
    border-bottom: 1px solid $search-input-border-color;
    float: left;
    margin: .75rem 1rem;

    .site-search__query {
      // Reduce width of search input on mobile to fit on same row as hamburger
      // menu.
      @media #{$small-only} {
        width: 8rem;
      }
    }
  }

  .site-search__fieldset {
    margin: 0;
    padding: 0;
    border: none;
    width: 100%;
  }

  .site-search__legend {
    @include element-invisible();
  }

  .site-search__input {
    border-width: 0;
    float: left;
    height: 1.65rem;
    line-height: 1.65rem;
    margin: 0;

    &,
    &:focus {
      background: white;
      border-width: 0;
      box-shadow: none;
      color: #333;
      transition: none;
    }

    &:hover {
      background: white;
      color: #333;
    }
  }

  .site-search__submit {
    width: 1.65rem;
    padding: 0;
    cursor: pointer;
    font-family: 'FontAwesome';
  }

  .site-search__query:focus + .site-search__submit {
    color: #333;
  }
}
