@use "../../node_modules/@uq-uidf/core/src/scss/_global" as *;

$main-menu-color: $uq-black;
$main-menu-bg-color: $uq-white;
$main-menu-secondary-bg-color: #f2f2f2;
$main-menu-bg-hover: darken(#f2f2f2, 4.5%);
$main-menu-border: darken(#f2f2f2, 10%);

$search-input-border-color: #ccc;
