@use '@uqds/core/src/scss/global' as core;
@use "@uqds/icon/src/scss/global" as icon-constants;
@use '@uqds/grid/src/scss/global' as grid;
@use 'global' as *;

.new-header {

  background: core.$uq-purple; //linear-gradient(90deg, $uq-purple 0%, 87%, #962A8B 100%);
  display: grid;
  align-items: center;
  grid-template-columns: auto;
  grid-template-areas:
    "mainheader"
    "secondarynav";
  position: relative;

  @media #{core.$screen-lg-up} {
    grid-template-areas:
    "secondarynav"
    "mainheader"
    "megamenu";
  }
 
  &__wrapper {

    display: grid;
    align-items: center;
    grid-template-columns: 1fr 15fr 1fr;
    grid-area: mainheader;
    grid-template-areas:
    "menutoggle logo searchtoggle"
    // "search search search"
    "mainnav-mobile mainnav-mobile mainnav-mobile";
    

    @media #{core.$screen-lg-up} {
      margin-left:auto;
      margin-right:auto;
      max-width:73.25rem;
      grid-template-areas:
        "logo mainnav searchtoggle";
      padding-left: core.$space;
      padding-right: core.$space;
    }
    
  }

  &__menu-toggle  {
    grid-area: menutoggle;

    @media #{core.$screen-lg-up} {
      display: none;
    }
  }

  &__search-toggle {
    grid-area: searchtoggle;
    height: 100%;

    @media #{core.$screen-lg-up} {
      height: auto;
    }
  }

  & .main-nav__toggle {
    background: none;
    border: none;
    padding: 1.75rem core.$space-l;
    height: 100%;

    @media #{core.$screen-lg-up} {
      padding: core.$space 1.25rem core.$space 2.75rem;
      height: auto;
    }
  }

  &__search-toggle {
    text-align: right;
    color: core.$uq-white;

    .search-toggle__label {
      display: none;

      @media #{core.$screen-lg-up} {
        display: block;
        font-size: core.$font-size;
      }
    }
  }

  & .main-nav__menu-toggle {
    cursor: pointer;
    color: core.$uq-white;
    position: relative;
    text-indent: -9999px;                 
    white-space: nowrap;            

    &::before {
      content: "";
      background-image: url(icon-constants.get-icon("standard--navigation-menu", core.$uq-white));
      background-repeat: no-repeat;
      width: 1.5rem;
      height: 1.5rem;
      transform: translate(50%, 50%);
      position: absolute;
      top: .625rem;
      right: core.$space-l;
      
    }
  }

  & .main-nav__search-toggle {
    cursor: pointer;
    color: core.$uq-white;
    position: relative;

    &::before {
      content: "";
      background-image: url(icon-constants.get-icon("standard--search", core.$uq-white));
      background-repeat: no-repeat;
      width: 1.5rem;
      height: 1.5rem;
      transform: translate(50%, 50%);
      position: absolute;
      top: .625rem;
      right: core.$space-l;
      
      @media #{core.$screen-lg-up} {
        top: 0;
        left: core.$space-xs;
      }
    }

    &:hover {
      background-color: #48206c;
      outline: none;
    }

    &--is-open {

      &::before {
        background-image: url(icon-constants.get-icon("standard--close", core.$uq-white));
      }
    }

  }




  &__logo {
    grid-area: logo;
    height: 40px;

    & a {
      display: grid;
    }

    & img {
      height: 39.8px;
    }
  }

  // __main-nav

  &__main-nav-wrapper {
    grid-area: mainnav;
    display: none;
    width: 100%;
    z-index: 99;

    @media #{core.$screen-lg-up} {
      display: block;
    }
  }

  &__main-nav {
    
    @media #{core.$screen-lg-up} {
      padding: 0 core.$space-xl;
    }
  }

  &__main-nav-list {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-direction: column;
    
    @media #{core.$screen-lg-up} {
      align-items: center;
      flex-direction: row;
    }

    & li {
      margin: 0;

      &:hover {
        & > .new-header__megamenu-wrapper {
          height: auto;
          visibility: visible;
        }

        & .new-header__main-nav-link {
          border-bottom: 4px solid white;
        }
      }
    }
  }

  &__main-nav-link {
    display: block;
    color: core.$uq-white; //core.$uq-purple;
    text-decoration: none;
    padding: core.$space core.$space-m;
    transition: background-color .25s,border-color .25s;
    font-weight: 400;
    position: relative;
    border-bottom: 4px solid core.$uq-purple;

    &:hover {
      color: core.$uq-white;
      text-decoration: none;
    }


    @media #{core.$screen-lg-up} {
      padding: core.$space-l;
    }

  }

  .main-nav-link--has-dropdown {

    padding: core.$space-l core.$space-l core.$space-l core.$space;


    &::after {
      content: "";
      background-image: url(icon-constants.get-icon("standard--chevron-down-sml", core.$uq-white));
      //background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='m7 10 5 5 5-5' stroke='%23FFF' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'%3e%3c/path%3e%3c/svg%3e");
      // background-size: 0.6rem;
      background-repeat: no-repeat;
      width: core.$space;
      height: core.$space;
      transform: translateY(50%);
      position: absolute;
      top: 1.7rem;
      right: 1.75rem;

      @media #{core.$screen-lg-up} {
        right: .75rem;
      }
    }
  }

  .mega-menu {
    display: none;
    background-color: core.$uq-white;
    list-style-type: none;
    margin: 0;
    padding-left: 0;

    & li {

      & a {
        padding-left: core.$space-xxl;
        color: core.$uq-purple;
      }
    }

    & ul {
      list-style-type: none;
      margin: 0;
      padding-left: 0;

      & li {
        & a {
          padding-left: core.$space-ul;        
        }
      }
    }

  }

  &__black-nav-wrapper {
    background-color: #48206c;
    grid-area: secondarynav;
  }

  &__black-nav {
    @media #{core.$screen-lg-up} {
      padding-left: core.$space;
      padding-right: core.$space;
      margin-left:auto;
      margin-right:auto;
      max-width:73.25rem;
      text-align: right;
    }
  }

  &__black-nav-list {
    // text-align: right;
    // margin: 0;
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-direction: column;
    
    @media #{core.$screen-lg-up} {
      justify-content: flex-end;
      align-items: center;
      flex-direction: row;
    }

  }

  &__black-nav-item {
    margin: 0;
  }

  &__black-nav-link {
    display: block;
    color: white;
    padding: core.$space core.$space-m;

    @media #{core.$screen-lg-up} {
      font-size: core.$font-size-s;
      padding: .625rem core.$space;
    }

    &:hover {
      color: #d4c8de;
    }
  }

  &__search-wrapper {
    background: core.$uq-purple;
    position: absolute;
    width: 100%;
    top: 3.95rem;
    z-index: 50;
    box-shadow: 0 .75rem core.$space-m rgb(24 24 24 / 20%);

    @media #{core.$screen-lg-up} {
      top: 8.3rem;
    }

  }

  &__search {
    //grid-area: search;
    transition: opacity .2s ease, transform .2s ease, visibility .2s ease, height .2s ease-in-out;
    transform: translateY(-0.5rem);
    visibility: hidden;
    opacity: 0;
    height: 0;
    padding: 0 core.$space-m;

    @media #{core.$screen-lg-up} {
      padding-left: core.$space;
      padding-right: core.$space;
      margin-left:auto;
      margin-right:auto;
      max-width:73.25rem;
    }


    &--is-open {    
      transform: translateY(0);
      visibility: visible;
      opacity: 1;
      height: auto;
      padding-top: core.$space;
      padding-bottom: core.$space;
    }
  }

  &__search-query {
    position: relative;
    display: inline-block;
    max-width: 100%;
    min-width: 100%;
    border-radius: 5px;
    background-position: core.$space;
    margin-bottom: core.$space;

  }

  &__search-query-input {
    margin: 0 !important;
    padding: core.$space core.$space-m !important;

  }

  &__search-query-button {

    background-clip: padding-box;
    background-color: core.$uq-white;
    border-radius: 5px;
    border: 2px solid transparent;
    color: core.$uq-purple;
    display: inline-block;
    font-size: core.$font-size;
    height: 2.75rem;
    line-height: 1.5;
    margin-bottom: 0;
    margin-right: 0;
    overflow: hidden;
    position: absolute;
    right: core.$space-s;
    text-decoration: none;
    text-indent: 0;
    top: calc(50% - 1.375rem);
    transition: color .2s,background-color .2s,border-color .2s;
    width: 2.75rem;

    &::before {
      content: "";
      position: absolute;
      display: block;
      width: core.$space-m;
      height: core.$space-m;
      top: core.$space-s;
      left: core.$space-s;
      background-size: 100%;
      background-image: url(icon-constants.get-icon("standard--search", core.$uq-purple));
    }
  }

  &__search-query-submit {
    color: transparent;
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    margin: core.$space-none;
    border: core.$space-none;
    background-color: transparent;
    z-index: 3;
    cursor: pointer;
    outline-offset: -2px;
    font-size: core.$font-size;
  }

  &__search-range {

    display: inline-block;

    & label {
      color: core.$uq-white;
    }
  }

  &__search-label {
    font-size: .8rem !important;
    line-height: 1.7 !important;

    @media #{core.$screen-lg-up} {
      font-size: core.$font-size !important;
      line-height: 1.4 !important;
    }
  }

  &__main-nav-wrapper,
  &__black-nav-wrapper {
    @media #{core.$screen-lg-down} {
      display: none;
    }
  }

  &__megamenu-wrapper {
    position: absolute;
    top: 8.3rem;
    left: 0;
    background: core.$uq-white;
    width: 100%;
    z-index: 30;
    height: 0;
    visibility: hidden;
    box-shadow: 0 0.75rem core.$space-m rgb(24 24 24 / 20%);
    
    //transition-delay: 2s;
  }

  &__megamenu {

    margin-left:auto;
    margin-right:auto;
    max-width:73.25rem;
    padding: core.$space core.$space core.$space-l core.$space;
  }

  .megamenu__row {
    display: grid;
    grid-template-columns: 22rem max-content;
    column-gap: 6.5rem;
  }

  .megamenu__overview-link {
    display: block;
    padding: core.$space-s core.$space-none;
    color: core.$uq-purple;
  }

  .megamenu__heading {
    color: core.$uq-purple;
    font-weight: 500;
    padding: core.$space-xs core.$space-none;
  }

  .megamenu__menu {
    & ul {
      list-style-type: none;
      margin: core.$space-none;
      padding-left: core.$space-none;

      & li {
        margin: core.$space-none;

        & a {
          display: inline-block;
          padding: core.$space-xs core.$space-none;
          color: core.$uq-purple;
        }
      }
    }
  }
} 

body.no-scroll {
  position: fixed;
}

// Slide mobile menu 

.slide-menu {
  width:100%;
  max-width:100%;
  background-color:#FFFFFF;
  height:100vh;
  display:none;
  box-sizing:border-box;
  transition:transform .3s ease-in-out;
  transform:translateX(100%);
  will-change:transform;
  z-index:1000;
  grid-area: mainnav-mobile;
  position:fixed;
  top: 4.5rem;
  right:core.$space-none;
  overflow-y:auto;
  font-size: core.$font-size;
  color:core.$uq-purple;

  .slide-menu__slider {
    width:100%;
    transform:translateX(0);
    transition:transform .3s ease-in-out;
    will-change:transform;
  }

  ul {
    position:relative;
    width:100%;
    margin:core.$space-none;
    padding-left:core.$space-none;
    list-style:none; 
    background-color: core.$uq-white;

    ul {
      position:absolute;
      top:core.$space-none;left:100%;
      display:none;

      a {
        padding: core.$space core.$space-m core.$space core.$space-xl;
      }
    }

    a {
      display:block;
    }
  }

  li {
    margin-bottom: core.$space-none;

    &:hover {
      background-color:#f1f1f1;
    }

  }

  a {
    cursor:pointer;
    padding: core.$space core.$space-m;
    text-decoration:none;
    font-size: core.$font-size;
    color:core.$uq-purple;

    &:hover {
      color:core.$uq-purple;
      background-color:#f1f1f1;
    }
  }

  & .slide-menu__backlink {
    font-weight: 500;
    padding-left: core.$space-s;

    &::before {
      content: "";
      margin: core.$space-xs core.$space-s;
      padding: core.$space-s core.$space-s;
      background-image: url(icon-constants.get-icon("standard--chevron-left", core.$uq-purple));
      background-repeat: no-repeat;
      float: left;
    }
  }

  &__decorator {
  
    &::before {
      content: "";
      margin: core.$space-xs core.$space-s;
      padding: core.$space-s core.$space-s;
      background-image: url(icon-constants.get-icon("standard--chevron-right", core.$uq-purple));
      background-repeat: no-repeat;
      float: right;
    }
  }

  /* Controls */
  .controls {
    display:flex;
    margin-bottom:core.$space;
  }

  .btn {
    padding:.75rem core.$space-m;
    flex:1 0 auto;
    font-size:90%;
    color:core.$uq-purple;
    background-color:core.$uq-white;
    text-transform:uppercase;

    border:none;
    cursor:pointer;
    font-family:inherit;
    line-height:1;

    &:first-of-type {
      text-align:left;

      &:before {
        content:"⮜ this";
        margin-right:.5rem;
      }
    }

    &:last-of-type {
      text-align:right;

      &:before {content:"✕";
        margin-right:.5rem;
      }
    }
  }

  .new-header__black-nav-item {
    background-color:#48206C;

    &:hover {
      background-color:#48206C;
    }
  }

  .new-header__black-nav-link {
    color:core.$uq-white;

    &:hover {
      color:core.$uq-white;
      background-color:#48206C;
    }
  }

  .new-header__newglobal-nav-item {
    background-color:core.$uq-purple;
  }

  .new-header__newglobal-nav-link {
    color:core.$uq-white;
    background-color:core.$uq-purple;

    &:hover {
      color:core.$uq-white;
      background-color:core.$uq-purple;
    }
  }

  .new-header__newglobal-nav-link .slide-menu__decorator::before {
    content: "";

   background-image: url(icon-constants.get-icon("standard--chevron-right", core.$uq-white));
}
}

/* LOCAL SITE NAVIGATION MODIFIERS */

.global-mobile-nav {

  .uq-site-header__title-container {
    margin: 0;
    padding-left: 0rem;
    padding-right: 0rem;
  }

  .uq-site-header__title-container__left {

  }

  .uq-site-header__title {
    padding: 1rem 1.5rem;
    font-size: 1.25rem;
    font-weight: 500;
  }

}

.uq-site-header__navigation-toggle {
  display:None;
}