@use '@uqds/core/src/scss/global' as core;
@use "@uqds/icon/src/scss/global" as icon-constants;
@use '@uqds/grid/src/scss/global' as grid;
@use 'global' as *;

.new-header {

  background: core.$uq-purple; //linear-gradient(90deg, #51247A 0%, 87%, #962A8B 100%);
  display: grid;
  align-items: center;
  grid-template-columns: auto;
  grid-template-areas:
    "mainheader"
    "secondarynav";
  position: relative;

  @media #{core.$screen-lg-up} {
    grid-template-areas:
    "secondarynav"
    "mainheader"
    "megamenu";
  }
 
  &__wrapper {

    display: grid;
    align-items: center;
    grid-template-columns: 1fr 9fr 1fr;
    grid-area: mainheader;
    grid-template-areas:
    "menutoggle logo searchtoggle"
    // "search search search"
    "mainnav-mobile mainnav-mobile mainnav-mobile";
    

    @media #{core.$screen-lg-up} {
      margin-left:auto;
      margin-right:auto;
      max-width:73.25rem;
      grid-template-areas:
        "logo mainnav searchtoggle";
      padding-left: 1rem;
      padding-right: 1rem;
    }
    
  }

  &__menu-toggle  {
    grid-area: menutoggle;

    @media #{core.$screen-lg-up} {
      display: none;
    }
  }

  &__search-toggle {
    grid-area: searchtoggle;
  }

  & .main-nav__toggle {
    background: none;
    border: none;
    padding: 1.5rem;

    @media #{core.$screen-lg-up} {
      padding: 1rem;
    }
  }

  &__search-toggle {
    text-align: right;
    color: #fff;

    .search-toggle__label {
      display: none;

      @media #{core.$screen-lg-up} {
        display: block;
        font-size: 1rem;
      }
    }
  }

  & .main-nav__menu-toggle {
    // padding: 2rem 1rem 2rem 1.5rem;
  }

  & .main-nav__search-toggle {
    cursor: pointer;
    color: #fff;

    & .uq-icon--standard--search {
      display: flex;
    }
    & .uq-icon--standard--close {
      display: none;
    }

    @media #{core.$screen-lg-up} {
      display: flex;
      align-items: center;
      width: 100%;
    }

    &:hover {
      background-color: #48206c;
      text-decoration: underline;
      outline: none;
    }

  }

  .main-nav__search-toggle--is-open {
    & .uq-icon--standard--search {
      display: none;
    }
    & .uq-icon--standard--close {
      display: flex;

      &::before {
        @media #{core.$screen-lg-up} {
          background-size: 80%;
        }

      }
    }
  }


  &__logo {
    grid-area: logo;
    height: 39.8px;

    & a {
      display: grid;
    }

    & img {
      height: 39.8px;
    }
  }

  // __main-nav

  &__main-nav-wrapper {
    grid-area: mainnav;
    display: none;
    width: 100%;
    z-index: 99;

    @media #{core.$screen-lg-up} {
      display: block;
    }
  }

  &__main-nav {
    
    @media #{core.$screen-lg-up} {
      padding: 0 2rem;
    }
  }

  &__main-nav-list {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-direction: column;
    
    @media #{core.$screen-lg-up} {
      align-items: center;
      flex-direction: row;
    }

    & li {
      margin: 0;

      &:hover {
        & > .new-header__megamenu-wrapper {
          height: auto;
          visibility: visible;
        }

        & .new-header__main-nav-link {
          border-bottom: 4px solid white;
        }
      }
    }
  }

  &__main-nav-link {
    display: block;
    color: #fff; //core.$uq-purple;
    text-decoration: none;
    padding: 1rem 1.5rem;
    transition: background-color .25s,border-color .25s;
    font-weight: 400;
    position: relative;
    border-bottom: 4px solid core.$uq-purple;

    &:hover {
      color: #fff;
      text-decoration: none;
    }


    @media #{core.$screen-lg-up} {
      padding: 2rem;
    }

  }

  .main-nav-link--has-dropdown {

    padding: 2rem 2.75rem 2rem 1.5rem;


    &::after {
      content: "";
      background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='m7 10 5 5 5-5' stroke='%23FFF' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'%3e%3c/path%3e%3c/svg%3e");
      // background-size: 0.6rem;
      background-repeat: no-repeat;
      width: 1rem;
      height: 1rem;
      transform: translateY(50%);
      position: absolute;
      top: 1.65rem;
      right: 1.75rem;

      @media #{core.$screen-lg-up} {
        right: 1.3rem;
      }
    }
  }

  .mega-menu {
    display: none;
    background-color: #fff;
    list-style-type: none;
    margin: 0;
    padding-left: 0;

    & li {

      & a {
        padding-left: 3rem;
        color: core.$uq-purple;
      }
    }

    & ul {
      list-style-type: none;
      margin: 0;
      padding-left: 0;

      & li {
        & a {
          padding-left: 4.5rem;        
        }
      }
    }

  }

  &__black-nav-wrapper {
    background-color: #48206c;
    grid-area: secondarynav;
  }

  &__black-nav {
    @media #{core.$screen-lg-up} {
      padding-left: 1rem;
      padding-right: 1rem;
      margin-left:auto;
      margin-right:auto;
      max-width:73.25rem;
      text-align: right;
    }
  }

  &__black-nav-list {
    // text-align: right;
    // margin: 0;
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-direction: column;
    
    @media #{core.$screen-lg-up} {
      justify-content: flex-end;
      align-items: center;
      flex-direction: row;
    }

  }

  &__black-nav-item {
    margin: 0;
  }

  &__black-nav-link {
    display: block;
    color: #d4c8de; //core.$uq-purple;
    padding: 1rem 1.5rem;

    @media #{core.$screen-lg-up} {
      font-size: .875rem;
      padding: .625rem 1rem;
    }

    &:hover {
      color: #d4c8de;
    }
  }

  &__search-wrapper {
    background: core.$uq-purple;
    position: absolute;
    width: 100%;
    top: 4.1rem;
    z-index: 50;
    box-shadow: 0 0.75rem 1.5rem rgb(24 24 24 / 20%);

    @media #{core.$screen-lg-up} {
      top: 8.3rem;
    }

  }

  &__search {
    //grid-area: search;
    transition: opacity .2s ease, transform .2s ease, visibility .2s ease, height .2s ease-in-out;
    transform: translateY(-0.5rem);
    visibility: hidden;
    opacity: 0;
    height: 0;
    padding: 0 1.5rem;

    @media #{core.$screen-lg-up} {
      padding-left: 1rem;
      padding-right: 1rem;
      margin-left:auto;
      margin-right:auto;
      max-width:73.25rem;
    }


    &--is-open {    
      transform: translateY(0);
      visibility: visible;
      opacity: 1;
      height: auto;
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
  }

  &__search-query {
    position: relative;
    display: inline-block;
    max-width: 100%;
    min-width: 100%;
    border-radius: 5px;
    background-position: 1rem;
    margin-bottom: 1rem;

  }

  &__search-query-input {
    margin: 0 !important;
  }

  &__search-query-button {

    background-clip: padding-box;
    background-color: #fff;
    border-radius: 5px;
    border: 2px solid transparent;
    color: #51247a;
    display: inline-block;
    font-size: 1rem;
    height: 2.75rem;
    line-height: 1.5;
    margin-bottom: 0;
    margin-right: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    text-decoration: none;
    text-indent: 0;
    top: calc(50% - 1.375rem);
    transition: color .2s,background-color .2s,border-color .2s;
    width: 2.75rem;

    &::before {
      content: "";
      position: absolute;
      display: block;
      width: 1.5rem;
      height: 1.5rem;
      top: 0.5rem;
      left: 0.5rem;
      background-size: 100%;
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2351247A'%3e%3cg fill='none' stroke='%2351247A' stroke-width='.75'%3e%3cpath d='M6.57 11.145a4.573 4.573 0 1 0 .003-9.146 4.573 4.573 0 0 0-.003 9.146zm0 0'%3e%3c/path%3e%3cpath d='m9.715 10 4.57 4.285' stroke-linecap='round' stroke-linejoin='round'%3e%3c/path%3e%3c/g%3e%3c/svg%3e");
    }
  }

  &__search-query-submit {
    color: transparent;
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    border: 0;
    background-color: transparent;
    z-index: 3;
    cursor: pointer;
    outline-offset: -2px;
    font-size: 1rem;
  }

  &__search-range {

    display: inline-block;

    & label {
      color: #fff;
    }
  }

  &__search-label {
    font-size: .8rem !important;
    line-height: 1.7 !important;

    @media #{core.$screen-lg-up} {
      font-size: 1rem !important;
      line-height: 1.4 !important;
    }
  }

  &__main-nav-wrapper,
  &__black-nav-wrapper {
    @media #{core.$screen-lg-down} {
      display: none;
    }
  }

  &__megamenu-wrapper {
    position: absolute;
    top: 8.3rem;
    left: 0;
    background: #fff;
    width: 100%;
    z-index: 30;
    height: 0;
    visibility: hidden;
    box-shadow: 0 0.75rem 1.5rem rgb(24 24 24 / 20%);
    
  }

  &__megamenu {

    margin-left:auto;
    margin-right:auto;
    max-width:73.25rem;
    padding: 1rem 1rem 2rem 1rem;
  }

  .megamenu__row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .megamenu__overview-link {
    display: block;
    padding: .5rem 0;
    color: core.$uq-purple;
  }

  .megamenu__heading {
    color: core.$uq-purple;
    font-weight: 500;
    padding: .5rem 0;
  }

  .megamenu__menu {
    & ul {
      list-style-type: none;
      margin: 0;
      padding-left: 0;

      & li {
        margin: 0;

        & a {
          display: inline-block;
          padding: .25rem 0;
          color: core.$uq-purple;
        }
      }
    }
  }
} 

body.no-scroll {
  position: fixed;
}

// Slide mobile menu 

.slide-menu {
  width:100%;
  max-width:100%;
  background-color:#FFFFFF;
  height:100vh;
  display:none;
  box-sizing:border-box;
  transform:translateX(100%);
  z-index:1000;
  grid-area: mainnav-mobile;
  position:fixed;
  top: 4.2rem;
  right:0;
  overflow-y:auto;
}
.slide-menu,.slide-menu .slide-menu__slider {
  transition:transform .3s ease-in-out;
  will-change:transform;
}
.slide-menu .slide-menu__slider {
  width:100%;
  transform:translateX(0);
}
.slide-menu ul {
  position:relative;
  width:100%;
  margin:0;
  padding-left:0;
  list-style:none; 
  background-color: #fff;
}
.slide-menu li {
  /* border-bottom:1px solid #e2e2e2; */
  margin-bottom: 0;
}
.slide-menu li:hover {
  background-color:#f1f1f1;
}
.slide-menu ul ul {
  position:absolute;
  top:0;left:100%;
  display:none;
}
.slide-menu ul a {
  display:block;
}
.slide-menu a {
  cursor:pointer;
  padding: 1rem 1.5rem;
  text-decoration:none;
}

  .slide-menu,.slide-menu a {
      font-size:1rem;
      color:#51247a;
  }
  .slide-menu a:hover {
      color:#51247a;
  }
  .slide-menu ul ul a {
      padding:1rem 1.5rem 1rem 2.5rem;
  }


  .slide-menu a:hover {
      background-color:#f1f1f1;
  }

  .slide-menu .slide-menu__backlink {
     /* text-transform:uppercase; */
     font-weight: 500;
  }
  #test-menu-left p {
      font-size:110%;
      padding-left:1.25rem;
      padding-right:1.25rem;
  }

  .slide-menu .slide-menu__backlink {
      padding-left: .5rem;
  }
  .slide-menu__backlink::before {
      content: "";
      margin: 0.25rem 0.5rem;
      padding: 0.5rem 0.5rem;
      background-image: url(icon-constants.get-icon("standard--chevron-left", core.$uq-purple));
      background-repeat: no-repeat;
      float: left;
  }
  .slide-menu__decorator::before {
      content: "";
      margin: 0.25rem 0.5rem;
      padding: 0.5rem 0.5rem;
      background-image: url(icon-constants.get-icon("standard--chevron-right", core.$uq-purple));
      background-repeat: no-repeat;
      float: right;
  }


  /* Controls */
  .slide-menu .controls {
      display:flex;
      margin-bottom:1rem;
  }
  .slide-menu .btn {
      padding:.75rem 1.5rem;
      flex:1 0 auto;
      font-size:90%;
      color:#51247a;
      background-color:#FFF;
      text-transform:uppercase;

      border:none;
      cursor:pointer;
      font-family:inherit;
      line-height:1;
  }
  .slide-menu .btn:first-of-type {
      text-align:left;
  }
  .slide-menu .btn:first-of-type:before {
      content:"⮜ this";
      margin-right:.5rem;
  }
  .slide-menu .btn:last-of-type {
      text-align:right;
  }
  .slide-menu .btn:last-of-type:before {content:"✕";
      margin-right:.5rem;
  }

  .slide-menu .new-header__black-nav-item {
 background-color:#48206C;
  }
  .slide-menu .new-header__black-nav-item:hover {
    background-color:#48206C;
  }
  
  .slide-menu .new-header__black-nav-link {
color:#fff;
  }
  .slide-menu .new-header__black-nav-link:hover {
    color:#fff;
    background-color:#48206C;
  }

  .slide-menu .new-header__newglobal-nav-item {
    background-color:#51247A;
  }
  .slide-menu .new-header__newglobal-nav-link {
    color:#fff;
    background-color:#51247A;
  }
  .slide-menu .new-header__newglobal-nav-link:hover {
    color:#fff;
    background-color:#51247A;
  }

  .slide-menu .new-header__newglobal-nav-link .slide-menu__decorator::before {
    content: "";

   background-image: url(icon-constants.get-icon("standard--chevron-right", core.$uq-white));
}