@use "@uqds/core/src/scss/global" as core;
@use "global" as *;

// Panes: Blocks of colour with padding around content.
//
// Variants:
// .uq-pane--shaded - Adds grey background.
// .uq-pane--white - Adds white background.
// .uq-pane--outline - Adds thin border on all sides.
// .uq-pane--ruled - Adds thin top and bottom border.
// .uq-pane--vertical-spacing - Adds top and bottom margin to offset panes inline with other content.
// .uq-pane--dark-tint - Adds semi-transparent black background.
// .uq-pane--has-footer - Minor adjustments to markup allow a shaded footer to be added within pane.
//
// .uq-pane-grid--shaded - Adds grey background to all child panes.
// .uq-pane-grid--white - Adds white background to all child panes.
// .uq-pane-grid--outline - Adds thin border on all sides to all child panes.
// .uq-pane-grid--ruled - Adds thin top and bottom border to all child panes.
// .uq-pane-grid--vertical-spacing - Adds top and bottom margin to all child panes to offset panes inline with other content.
// .uq-pane-grid--dark-tint - Adds semi-transparent black background  to all child panes.

%pane,
.uq-pane {
  padding: core.$space-m; //1.8rem;
  margin-bottom: core.$space-m; //1.5rem;

  &--shaded {
    @include pane-shaded;
  }

  &--white {
    @include pane-white;
  }

  &--outline {
    @include pane-outline;
  }

  &--ruled {
    @include pane-ruled;
  }

  &--vertical-spacing {
    @include pane-vertical-spacing;
  }

  &--dark-tint {
    @include pane-dark-tint;
  }

  &--has-footer {
    @include pane-has-footer;

    &.uq-pane--shaded {
      .uq-pane__footer {
        background-color: darken($pane-shaded-bg, 5%);
      }
    }

    &.uq-pane--dark-tint {
      .uq-pane__footer {
        background-color: core.$uq-black;
        background-color: rgb(core.$uq-black 0.3);
      }
    }
  }

  &__title {
    color: $pane-title-color;
    font-size: 1.275rem;
    font-weight: 400;

    // Used for no title pane style
    &--hidden {
      display: none;
    }
  }

  // if sub-title exists reduce margin to pull it close to title
  &__title + &__sub-title {
    margin-top: -(core.$space);
  }
}

// Pane grid
.uq-pane-grid {
  &.uq-grid {
    grid-gap: 0;
  }

  &--shaded {
    .uq-pane {
      @include pane-shaded;
    }

    .uq-pane__footer {
      background-color: darken($pane-shaded-bg, 5%);
    }
  }

  &--white {
    .uq-pane {
      @include pane-white;
    }
  }

  &--outline {
    .uq-pane {
      @include pane-outline;
    }
  }

  &--ruled {
    .uq-pane {
      @include pane-ruled;
    }
  }

  &--vertical-spacing {
    .uq-pane {
      @include pane-vertical-spacing;
    }
  }

  &--dark-tint {
    .uq-pane {
      @include pane-dark-tint;
    }

    .uq-pane__footer {
      background-color: core.$uq-black;
      background-color: rgb(core.$uq-black 0.3);
    }
  }
}
