@use "@uqds/core/src/scss/_global" as core;

@mixin pane-shaded {
  background: var(--uq-grey-50);
}

@mixin pane-white {
  background: var(--uq-white);
}

@mixin pane-outline {
  border: 2px solid var(--uq-grey-200);
}

@mixin pane-ruled {
  border-bottom: 2px solid var(--uq-grey-200);
  border-top: 2px solid var(--uq-grey-200);
}

@mixin pane-vertical-spacing {
  margin: var(--uq-space-xl) var(--uq-space-none);
}

@mixin pane-dark-tint {
  @extend %light-palette;
  background-color: var(--uq-grey-800);

  .uq-pane__title {
    @extend %light-palette;
  }
}

@mixin pane-has-footer {
  padding: var(--uq-space-none);

  .uq-pane {
    &__content {
      padding: var(--uq-space-l) var(--uq-space-l) var(--uq-space-m)
        var(--uq-space-l); //1.8rem 1.8rem 1rem 1.8rem
    }

    &__footer {
      background-color: var(--uq-grey-50);
      padding: var(--uq-space-l); //1.8rem;
    }
  }
}
