@use "@uqds/core/src/scss/_global" as core;

@mixin pane-shaded {
  background: core.$grey-50;
}

@mixin pane-white {
  background: core.$uq-white;
}

@mixin pane-outline {
  border: 2px solid core.$grey-200;
}

@mixin pane-ruled {
  border-bottom: 2px solid core.$grey-200;
  border-top: 2px solid core.$grey-200;
}

@mixin pane-vertical-spacing {
  margin: core.$space-xl core.$space-none;
}

@mixin pane-dark-tint {
  @extend %light-palette;
  background-color: core.$grey-800;

  .uq-pane__title {
    @extend %light-palette;
  }
}

@mixin pane-has-footer {
  padding: core.$space-none;

  .uq-pane {
    &__content {
      padding: core.$space-l core.$space-l core.$space-m core.$space-l; //1.8rem 1.8rem 1rem 1.8rem
    }

    &__footer {
      background-color: core.$grey-50;
      padding: core.$space-l; //1.8rem;
    }
  }
}
