@forward "_build/icons";

@use "@uqds/core/src/scss/global" as core;
@use "_build/icons" as *;

$icon-primary-filter: core.$filter-primary;
$icon-light-filter: core.$filter-white;
$icon-text-filter: core.$filter-text;

@mixin icon-base() {
  .uq-icon {
    &::before {
      content: "";
      display: inline-block;
      margin-right: 0.3em;
      height: 1.5em;
      width: 1.5em;
      filter: $icon-primary-filter;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
      vertical-align: text-bottom;
    }

    // Colour variants
    &--light {
      &::before {
        filter: $icon-light-filter;
      }
    }

    &--text {
      &::before {
        filter: $icon-text-filter;
      }
    }
  }
}

@mixin icon($name) {
  .uq-icon--#{$name} {
    &::before {
      background-image: url(get-icon("#{$name}"));
    }
  }
}
