@use "@uqds/core/src/scss/global" as core;
@use "global" as *;

.uq-profile {
  display: flex;
  flex-direction: row;
  gap: core.$space-l;
}
.uq-profile__content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: core.$space-m;

  :first-child {
    margin-top: core.$space-none;
  }
  :last-child {
    margin-bottom: core.$space-none;
  }
}
.uq-profile__title {
  font-size: core.$font-size-xxl;
  font-weight: core.$font-weight-medium;
  margin: core.$space-none;
}
.uq-profile__image {
  display: none;
  order: -1;
}
@media #{core.$screen-md-up} {
  .uq-profile__image {
    display: block;
  }
}
