@use "@uqds/core/src/scss/global" as core;
@use "@uqds/icon/src/scss/global" as icon-constants;
@use "@uqds/grid/src/scss/global" as grid;
@use "global" as *;

.uq-header {
  background: core.$purple-500; // linear-gradient(90deg, $uq-purple 0%, 87%, #962A8B 100%);
  display: grid;
  align-items: center;
  grid-template-columns: auto;
  grid-template-areas:
    "mainheader"
    "secondarynav";
  position: relative;

  @media #{core.$screen-lg-up} {
    grid-template-areas:
      "secondarynav"
      "mainheader";
  }

  &__container {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 15fr 1fr;
    grid-area: mainheader;
    grid-template-areas:
      "menutoggle logo searchtoggle"
      "mainnav-mobile mainnav-mobile mainnav-mobile";

    @media #{core.$screen-lg-up} {
      max-width: 73.25rem;
      margin-left: auto;
      margin-right: auto;
      grid-template-areas: "logo mainnav searchtoggle";
      padding-left: core.$space-m;
      padding-right: core.$space-m;
    }
  }

  &__menu-toggle {
    grid-area: menutoggle;

    @media #{core.$screen-lg-up} {
      display: none;
    }
  }

  &__search-toggle {
    grid-area: searchtoggle;
    height: 100%;
    text-align: right;
    color: core.$white;

    @media #{core.$screen-lg-up} {
      height: auto;
    }

    .search-toggle__label {
      display: none;

      @media #{core.$screen-lg-up} {
        display: block;
        font-family: core.$roboto;
        font-size: core.$font-size-m;
        text-align: center;
        width: 3.2rem;
      }
    }
  }

  & .nav-primary__toggle {
    background: none;
    border: none;
    padding: 1.75rem core.$space-xl;
    height: 100%;

    @media #{core.$screen-lg-up} {
      padding: 2.171rem 0 2.171rem core.$space-l;
      height: auto;
    }
  }

  & .nav-primary__menu-toggle {
    cursor: pointer;
    color: core.$white;
    position: relative;
    text-indent: -9999px;
    white-space: nowrap;

    &::before {
      content: "";
      background-image: url(icon-constants.get-icon(
        "standard--navigation-menu",
        core.$white
      ));
      background-repeat: no-repeat;
      width: core.$space-l;
      height: core.$space-l;
      transform: translate(50%, 50%);
      position: absolute;
      top: 0.625rem;
      right: core.$space-xl;
    }

    &--is-open {
      &::before {
        background-image: url(icon-constants.get-icon(
          "standard--x",
          core.$white
        ));
      }
    }
  }

  & .nav-primary__search-toggle {
    cursor: pointer;
    color: core.$white;
    position: relative;

    &::before {
      content: "";
      background-image: url(icon-constants.get-icon(
        "standard--search",
        core.$white
      ));
      background-repeat: no-repeat;
      width: core.$space-l;
      height: core.$space-l;
      transform: translate(50%, 50%);
      position: absolute;
      top: 0.625rem;
      right: core.$space-xl;

      @media #{core.$screen-lg-up} {
        top: 1.25rem;
        left: -1rem;
      }
    }

    @media #{core.$screen-lg-up} {
      &:hover,
      &:focus {
        .search-toggle__label {
          background-color: core.$white;
          color: core.$purple-500;
          text-decoration: underline;
        }
      }
    }

    &--is-open {
      text-align: center;
      &::before {
        background-image: url(icon-constants.get-icon(
          "standard--x",
          core.$white
        ));
      }
    }
  }

  &__logo {
    grid-area: logo;

    & a {
      display: grid;
      padding: core.$space-m 0;
    }

    & img {
      height: 32px;

      @media #{core.$screen-lg-up} {
        height: 40px;
      }
    }
  }

  // __nav-primary

  &__nav-primary {
    grid-area: mainnav;
    display: none;
    width: 100%;
    z-index: 99;

    @media #{core.$screen-lg-up} {
      display: block;
    }
  }

  &__nav-primary-container {
    @media #{core.$screen-lg-up} {
      padding: 0 0 0 core.$space-l;
    }
  }

  &__nav-primary-list {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-direction: column;

    @media #{core.$screen-lg-up} {
      align-items: center;
      flex-direction: row;
    }
  }

  &__nav-primary-item {
    margin: 0;

    &--is-open {
      .uq-header__nav-primary-link {
        background-color: core.$white;
        color: core.$purple-500;
        text-decoration: underline;
      }

      & > .uq-header__megamenu {
        height: auto;
        visibility: visible;
      }
    }
  }

  &__nav-primary-link {
    display: block;
    color: core.$white; //core.$purple-500;
    text-decoration: none;
    padding: core.$space-m core.$space-xl;
    transition: background-color 0.25s;
    font-weight: core.$font-weight-normal;
    position: relative;

    &:hover,
    &:focus {
      color: core.$purple-500;
      background-color: core.$white;
      text-decoration: underline;
    }

    @media #{core.$screen-lg-up} {
      padding: core.$space-xl core.$space-l;
    }
  }

  .nav-primary-link--has-dropdown {
    padding: core.$space-xl core.$space-xxl core.$space-xl core.$space-l;

    &::after {
      content: "";
      background-image: url(icon-constants.get-icon(
        "standard--chevron-down-sml",
        core.$white
      ));
      background-repeat: no-repeat;
      width: core.$space-m;
      height: core.$space-m;
      transform: translateY(50%);
      position: absolute;
      top: 1.7rem;
      right: 1.75rem;

      @media #{core.$screen-lg-up} {
        right: 1.25rem;
      }
    }
  }

  .nav-primary-link--has-dropdown:hover,
  .nav-primary-link--has-dropdown:focus,
  .uq-header__nav-primary-item--is-open > .nav-primary-link--has-dropdown {
    &::after {
      background-image: url(icon-constants.get-icon(
        "standard--chevron-down-sml",
        core.$purple-500
      ));
    }
  }

  .mega-menu {
    display: none;
    background-color: core.$white;
    list-style-type: none;
    margin: 0;
    padding-left: 0;

    & li {
      & a {
        padding-left: core.$space-xxxl;
        color: core.$purple-500;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    & ul {
      list-style-type: none;
      margin: 0;
      padding-left: 0;

      & li {
        & a {
          padding-left: core.$space-uul;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  &__nav-secondary {
    background-color:  core.$purple-600;
    grid-area: secondarynav;
  }

  &__nav-secondary-container {
    @media #{core.$screen-lg-up} {
      text-align: right;
      max-width: 73.25rem;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__nav-secondary-list {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-direction: column;

    @media #{core.$screen-lg-up} {
      justify-content: flex-end;
      align-items: center;
      flex-direction: row;
    }
  }

  &__nav-secondary-item {
    margin: 0;

    @media #{core.$screen-lg-up} {
      padding: 0.625rem core.$space-m;
      font-size: core.$font-size-s;
    }
  }

  &__nav-secondary-link {
    display: block;
    color: white;
    text-decoration: none;
    font-weight: core.$font-weight-normal;

    &:hover,
    &:focus {
      color: core.$purple-500;
      text-decoration: underline;
      background-color: core.$white;
    }
  }

  &__search {
    background: core.$purple-500;
    position: absolute;
    width: 100%;
    top: 3.95rem;
    z-index: 20;
    box-shadow: 0 0.75rem core.$space-l rgb(24 24 24 / 20%);
    transition:
      max-height 0.2s ease-in-out,
      transform 0.2s ease-in-out; //, visibility .2s ease;
    transform: translateY(-1rem);
    max-height: 0;
    overflow: hidden;
    visibility: hidden;

    @media #{core.$screen-lg-up} {
      top: 8.05rem;
    }

    &--is-open {
      transform: translateY(0);
      max-height: 50vh;
      visibility: visible;
    }
  }

  &__search-container {
    padding: 0 core.$space-l;

    @media #{core.$screen-lg-up} {
      padding-left: core.$space-m;
      padding-right: core.$space-m;
      max-width: 73.25rem;
      margin-left: auto;
      margin-right: auto;
      padding-top: 0;
      padding-bottom: core.$space-m;
    }
  }

  &__search-query {
    position: relative;
    display: inline-block;
    max-width: 100%;
    min-width: 100%;
    border-radius: 5px;
    background-position: core.$space-m;
    padding-top: core.$space-m;
    padding-bottom: core.$space-m;
  }

  &__search-query-label {
    color: core.$white;
  }

  &__search-query-input {
    margin: 0 !important;
    padding: 0.75rem core.$space-m !important;
  }

  &__search-query-button {
    background-clip: padding-box;
    background-color: core.$white;
    border-radius: 5px;
    border: 2px solid transparent;
    color: core.$purple-500;
    display: inline-block;
    font-size: core.$font-size-m;
    height: 2.75rem;
    line-height: 1.5;
    margin-bottom: 0;
    margin-right: 0;
    overflow: hidden;
    position: absolute;
    right: core.$space-s;
    text-decoration: none;
    text-indent: 0;
    top: calc(50% - 1.375rem);
    transition:
      color 0.2s,
      background-color 0.2s,
      border-color 0.2s;
    width: 2.75rem;

    &::before {
      content: "";
      position: absolute;
      display: block;
      width: core.$space-l;
      height: core.$space-l;
      top: core.$space-s;
      left: core.$space-s;
      background-size: 100%;
      background-image: url(icon-constants.get-icon(
        "standard--search",
        core.$purple-500
      ));
    }
  }

  &__search-query-submit {
    color: transparent;
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    margin: core.$space-none;
    border: core.$space-none;
    background-color: transparent;
    z-index: 3;
    cursor: pointer;
    outline-offset: -2px;
    font-size: core.$font-size-m;
  }

  &__search-range {
    display: inline-block;

    & label {
      color: core.$white;
    }
  }

  .uq-header__search-radio {
    &:checked {
      border-color: core.$white;

      &:focus {
        border-color: core.$white;
      }

      &::after {
        background-color: core.$white;
      }
    }
  }

  &__search-label {
    font-size: 0.8rem !important;
    line-height: 1.7 !important;

    @media #{core.$screen-lg-up} {
      font-size: core.$font-size-m !important;
      line-height: 1.4 !important;
    }
  }

  &__nav-primary,
  &__nav-secondary {
    @media #{core.$screen-lg-down} {
      display: none;
    }
  }

  &__megamenu {
    position: absolute;
    top: 8.05rem;
    left: 0;
    width: 100%;
    z-index: 30;
    height: 0;
    visibility: hidden;
  }

  &__megamenu-container {
    max-width: 73.25rem;
    margin-left: auto;
    margin-right: auto;

    padding: core.$space-m core.$space-xxxl core.$space-xxl core.$space-xxxl;
    background: core.$white;
    //box-shadow: 0 0.75rem core.$space-l rgb(24 24 24 / 20%);
    border-radius: 0 0 core.$space-xs core.$space-xs;

    @media #{core.$screen-xl-up} {
      max-width: 77.25rem;
    }
  }

  .megamenu__row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .megamenu__overview-link {
    display: block;
    padding: core.$space-m core.$space-none;
    color: core.$purple-500;
    font-weight: core.$font-weight-normal;
    text-decoration: none;

    &:hover,
    &:focus {
      background-color: transparent;
      color: transparent;

      .megamenu__overview-label {
        background-color: core.$purple-500;
        color: core.$white;
        text-decoration: underline;
      }
    }
  }

  .megamenu__heading {
    color: core.$purple-500;
    font-weight: core.$font-weight-medium;
    padding-top: core.$space-xs;
    padding-bottom: core.$space-xs;

    &:nth-of-type(2) {
      padding-top: core.$space-xxl;
    }
  }

  .megamenu__menu {
    & ul {
      list-style-type: none;
      margin: core.$space-none;
      padding-left: core.$space-none;

      & li {
        margin: core.$space-none;

        & a {
          display: inline-block;
          margin-top: core.$space-s;
          color: core.$purple-500;
          text-decoration: none;
          font-weight: core.$font-weight-normal;

          &:hover,
          &:focus {
            background-color: core.$purple-500;
            color: core.$white;
            text-decoration: underline;
          }
        }
      }
    }
  }
}

:root {
  --app-height: 100%;
}

body.no-scroll {
  position: fixed;
  max-width: 100%;
  @media #{core.$screen-lg-up} {
    position: relative;
  }
}

/* MOBILE MENU */
.slide-menu {
  width: 100%;
  max-width: 100%;
  background-color:  core.$purple-600; // Keeping as literal as this is a darker purple than core.$purple-500
  height: calc(var(--app-height) - 4.3rem);
  display: none;
  box-sizing: border-box;
  transition: transform 0.3s ease-in-out;
  transform: translateX(100%);
  will-change: transform;
  z-index: 1000;
  position: fixed;
  top: 4.3rem;
  right: 0;
  overflow-y: auto;
  overflow-x: hidden;
  font-size: core.$space-m;
  line-height: 1.6;
  color:  core.$purple-500; // Keeping as literal as this is a darker purple than core.$purple-500

  @media #{core.$screen-lg-up} {
    display: none !important;
  }

  /* inserted by JS, allows back to work */
  &__slider {
    width: 100%;
    transform: translateX(0);
    transition: transform 0.3s ease-in-out;
    will-change: transform;
  }

  ul {
    position: relative;
    width: 100%;
    margin: 0;
    padding-left: 0;
    list-style: none;
    background-color: core.$white;

    /* positions the submenus */
    ul {
      position: absolute;
      top: 0;
      left: 100%;
      display: none;
    }
  }

  li {
    margin-bottom: 0;
  }

  /* Menu links */
  a {
    display: block;
    cursor: pointer;
    padding: core.$space-m core.$space-xxl;
    text-decoration: none;
    font-size: core.$space-m;
    color: core.$black; // Keeping as literal
    position: relative;
    font-weight: 400;

    &:hover {
      color: core.$black; // Keeping as literal
      background-color: core.$grey-50; // Keeping as literal
    }
  }

  /* returns the padding for Parent page link */
  ul li:nth-of-type(2) a {
    padding-left: core.$space-l;

    &.is-active {
      padding-left: calc(core.$space-l - 6px);
    }
  }

  /* Back to previous menu section */
  &__backlink {
    font-weight: core.$font-weight-medium;

    &::before {
      content: "";
      background-image: url("data:image/svg+xml,%3csvg viewBox=%270 0 24 24%27 fill=%27none%27 xmlns=%27http://www.w3.org/2000/svg%27%3e%3cpath d=%27m15 5-7 7 7 7%27 stroke=%27%23000%27 stroke-width=%271.5%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27%3e%3c/path%3e%3c/svg%3e");
      background-repeat: no-repeat;
      width: core.$space-l;
      height: core.$space-l;
      transform: translateY(50%);
      position: absolute;
      left: core.$space-m;
      top: core.$space-xs;
    }
  }

  /* Child menu item */
  &__decorator::before {
    content: "";
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='m10 17 5-5-5-5' stroke='%2319151C' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'%3e%3c/path%3e%3c/svg%3e");
    background-repeat: no-repeat;
    width: core.$space-l;
    height: core.$space-l;
    transform: translateY(50%);
    position: absolute;
    right: core.$space-l;
    top: core.$space-xs;
  }

  /* UQ Home back link */
  .uq-header__nav-mobile-home {
    padding-left: calc(core.$space-xxxl - 4px);
    font-weight: core.$font-weight-medium;

    &::before {
      content: "";
      background: url("data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M20%2012L5%2012%22%20stroke%3D%22%2351247a%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3Cpath%20d%3D%22M10%206L4%2012L10%2018%22%20stroke%3D%22%2351247a%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fsvg%3E");
      background-repeat: no-repeat;
      width: core.$space-l;
      height: core.$space-l;
      transform: translateY(50%);
      position: absolute;
      left: core.$space-m;
      top: core.$space-xs;
    }
  }

  .uq-header__nav-mobile-secondary-item {
    background-color:  core.$purple-600;

    &:hover {
      background-color:  core.$purple-600;
    }
  }

  .uq-header__nav-mobile-secondary {
    color: core.$white;
    padding: core.$space-s core.$space-l;

    &:hover {
      color:  core.$purple-600;
      background-color: core.$white;
    }
  }

  /* convoluted way to target the first Secondary item and add space above, refine when better classes added */
  ul > li.uq-header__nav-mobile-secondary-item {
    padding-top: core.$space-m;

    /* convoluted way to target the first Secondary item and add space above, refine when better classes added */
    ~ li.uq-header__nav-mobile-secondary-item {
      padding-top: 0rem;
    }
  }

  .uq-header__newglobal-nav-parent {
    font-weight: core.$font-weight-medium;
  }

  .uq-header__nav-mobile-primary {
    color: core.$white;
    padding: core.$space-m core.$space-l;
    background-color:  core.$purple-500;
    font-weight: core.$font-weight-medium;

    &:hover {
      color:  core.$purple-500;
      background-color: core.$white;

      .slide-menu__decorator::before {
        content: "";
        background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M4%2012L19%2012%22%20stroke%3D%22%2351247a%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3Cpath%20d%3D%22M14%2018L20%2012L14%206%22%20stroke%3D%22%2351247a%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fsvg%3E");
      }
    }

    .slide-menu__decorator::before {
      content: "";
      background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M4%2012L19%2012%22%20stroke%3D%22%23fff%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3Cpath%20d%3D%22M14%2018L20%2012L14%206%22%20stroke%3D%22%23fff%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fsvg%3E");
    }
  }

  /* Active state Calc function needs a glbal variable to allow targeting of active subitems */
  .is-active {
    border-left: 6px solid  core.$purple-500;
    padding-left: calc(core.$space-l - 6px);
    background-color: core.$grey-50;
  }

  ul ul .is-active {
    padding-left: calc(2.25rem - 6px);
  }

  .uq-header__nav-mobile-audience-link {
    padding-right: core.$space-xxxl;
  }
}

.uq-header__nav-mobile-link,
.uq-header__nav-mobile-audience-link,
.uq-header__nav-mobile-home,
.slide-menu__backlink {
  border-bottom: 1px solid  core.$grey-100; // Keeping as literal
}

.uq-header__nav-mobile-local {
  background-color: core.$white;
}

.uq-site-header__navigation-toggle {
  display: none;
}

