// UQ brand colours
$uq-purple: #49075e;
// Experimental: $uq-dark-purple might be deleted after the brand guideline is finalised, so it shouldn't be used outside the header and footer.
$uq-dark-purple: #51247A;
$uq-green: #8cb800;
$uq-gold: #bda14e;

// Header and Footer
$site-header-bg: $uq-dark-purple;
$site-header-color: #fff;
$site-header-link-color: #fff;

$site-footer-bg: $uq-dark-purple;
$site-footer-color: mix(white, $uq-dark-purple, 75%);
$site-footer-link-color: #fff;

$site-global-menu-link-color: mix(white, $uq-dark-purple, 75%);

// Links
$link-color: #2377cb;
$link-active-color: #005ea5;
$link-hover-color: #005ea5;

// External link icon
$external-link-icon-color: #bbb;

// Grid of links
$linked-list-color: $link-color;
$linked-list-color-hover: #fff;
$linked-list-desc: #222;
$linked-list-desc-hover: #fff;

// Vertical lists
$vertical-list-border: #EDEDED;

// Buttons
$button-bg-color: $link-color;
$button-bg-hover: $link-active-color;
$button-border-color: transparent;
$secondary-button-color: #fff;
$secondary-button-bg-color: #444;
$secondary-button-bg-hover: #333;
$secondary-button-border-color: #444;
$tertiary-button-color: #222;
$tertiary-button-bg-color: #eee;
$tertiary-button-bg-hover: #ddd;
$tertiary-button-border-color: #ddd;
$white-button-bg-color: #fff;
$white-button-bg-hover: #eee;
$white-button-border-color: #fff;

// Main menu
$main-menu-color: #000;
$main-menu-bg-color: #fff;

// Secondary menu color
$main-menu-secondary-bg-color: #f2f2f2;
$main-menu-bg-hover: darken(#f2f2f2, 4.5%);
$main-menu-border: darken(#f2f2f2, 10%);

// Vertical Menu
$vertical-menu-link-border: #f5f5f5;
$vertical-menu-link-active: #000;
$vertical-menu-shaded-bg-color: #f6f6f6;

// Horizontal rule
$hr-border-color: #ddd;

// Images
$img-border-color: #ddd;
$figure-caption-bg: #eee;

// Tables
$table-border-color: #ddd;
$table-header-bg: #fcfcfc;

// Table striping
$table-header-striped-bg: #eee;
$table-row-striped-bg: #fcfcfc;

// Blockquote
$blockquote-border-color: #eee;

// Code
$code-border-color: #eee;
$code-bg: #f5f5f5;

// Administration
$primary-tabs-bg: #eee;

// Messages
$messages-status-bg: #eef5fb;
$messages-status-border-color: #8ebae7;
$messages-status-color: #000;

$messages-warning-bg: #fff9ee;
$messages-warning-border-color: #ffd179;
$messages-warning-color: #000;

$messages-error-bg: #d8481f;
$messages-error-border-color: #d8481f;
$messages-error-color: #fff;
$messages-error-link-color: #fff;

// Progress Bar
$progress-bar-bg: #ddd;
$progress-bar-fill-bg: #444;
$progress-bar-border-color: #949494;
$progress-bar-color: #fff;

// Progression
$progression-text: #fff;
$progression-border: $progression-text;
$progression-label: #222;
$progression-step-bg: #999490;
$progression-bar-bg: #D7D1CC;
$progression-completed: #2EA836;

// Sections
$section-shaded-bg: #f5f5f5;
$section-summary-color: #767676;
$section-footer-color: #767676;

// Palettes
$light-palette-color: #f0f0f0;
$light-palette-border-color: rgba(255,255,255,.4);
$light-palette-link-color: #fff;
$light-palette-bg: #fff;

$dark-palette-color: #222;
$dark-palette-border-color: rgba(0,0,0,.1);
$dark-palette-link-color: lighten($uq-purple,10%);
$dark-palette-bg: #333;

// Tints
$dark-tint-bg: #494949;

// Hero banner
$hero-banner-bg: #494949;

// Menu Block two column
$menu-block-two-column-link-color: $link-color;
$menu-block-two-column-inactive-link-color: #222;
$menu-block-two-column-border-color: #eee;

// Page
$page-header-bg: #f2f2f2;
$page-header-white-bg: #fff;
$page-header-white-border-color: #eee;

// Breadcrumbs
$breadcrumb-link: #676767;

// Forms
$form-required-color: #d6492a;
$form-description-color: #666;
$form-input-border-color: #ccc;

// Panes
$pane-border: #eee;
$pane-shaded-bg: #f5f5f5;
$pane-title-color: $uq-purple;

// Tabs
$tabs-shaded-bg: #f5f5f5;
$tabs-underlined-border-color: #e3dbe8;

// Accordion
$accordion-border-color: #e9e9e9;
$accordion-title-bg: #f9f9f9;
$accordion-title-bg-hover: #eee;
$accordion-icon-color: #bbb;
$accordion-content-bg: #fff;
$accordion-editor-outline: #f00;

// Article
$article-title-color: #555;
$article-border-color: #eee;
$article-tag-bg: #f3f3f3;
$article-tag-color: #666;

// Icons
$icon-light-grey-color: #ddd;

// Catalogue
$catalogue-index-bg: #f5f5f5;
$catalogue-index-color: #555;
$catalogue-meta-color: #eee;

// Citation (eSpace)
$citation-color: #868686;

// Tags
$tags-link-bg: #f5f5f5;

// Action items
$action-item-bg: #f5f5f5;
$action-item-icon-bg: #dbdbdb;

// Team
$team-teaser-action-links: #666;

// Asset
$asset-border-color: #ccc;

// Cards
$card-shaded-bg: #f5f5f5;

// Overview brand device connector
$brand-device-connector: #E1E1E1;

// Compendium
$compendium-border-color: #ccc;
$compendium-title-border-color: #ddd;

// Logo
$logo-color: #fff;

// Content column block
$content-column-block-pane-bg: #2468c6;
$content-column-block-pane-odd-bg: #22487e;

// Divider
$divider-border-color: #ededed;

// Compact
$compact-content-color: #767676;
