//
// Tints
// Provide an overlay over backgrounds to darken, lighten an image to provide
// better visual contrast for content.
// Can be used as extensions on components that accommodate overlaid content.

%tint {
  position: relative;
  overflow: hidden;
}

%tint-overlay {
  content: '';
  height: 100%;
  left: 0;
  opacity: .5;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

%tint-content {
  position: relative;
  z-index: 2;
}

// Light tint layer provides a white tint.
%light-tint,
.light-tint {
  @extend %tint;

  &::before {
    @extend %tint-overlay;
    background: #fff;
  }
}

// Dark tint layer provides a black tint.
%dark-tint,
.dark-tint {
  @extend %tint;
  background-color: $dark-tint-bg;

  &::before {
    @extend %tint-overlay;
    background: #000;
  }
}
