/* Variants of brand colours created via below SASS functions
   Primary, Secondary colour : Lighten/Darken (% increments of 10)
   Neutral colour : Tint/Shade (% increments of 20)
*/

// Function to Tint a color
@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

// Function to Shade a color
@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

// UQ Primary palette
$uq-purple: #51247a;
$uq-black: #000;
$uq-white: #fff;

// UQ Secondary palette
$uq-purple-light: #962a8b;
$uq-gold: #bb9d65;
$uq-red: #e62645;
$uq-orange: #eb602b;
$uq-yellow: #fbb800;
$uq-blue: #4085c6;
$uq-aqua: #00a2c7;
$uq-green: #2ea836;

// UQ Neutral palette
$uq-neutral: #d7d1cc;
$uq-darkgrey: #999490;

// UQ Primary - Darken
$uq-purple-dark10: darken($uq-purple, 10%); //#371853

// UQ Secondary - Darken
$uq-red-dark10: darken($uq-red, 10%); //#c31632
$uq-red-dark20: darken($uq-red, 20%); //#951126

$uq-green-dark10: darken($uq-green, 10%); //#238029

// UQ Neutral - Tint
$uq-neutral-light20: tint($uq-neutral, 20%); //#dfdad6;
$uq-neutral-light40: tint($uq-neutral, 40%); //#e7e3e0;
$uq-neutral-light60: tint($uq-neutral, 60%); //#efedeb;
$uq-neutral-light80: tint($uq-neutral, 80%); //#f7f6f5;

// UQ Neutral - Shade
$uq-neutral-dark20: shade($uq-neutral, 20%); //#aca7a3;
$uq-neutral-dark40: shade($uq-neutral, 40%); //#817d7a;
$uq-neutral-dark60: shade($uq-neutral, 60%); //#565452;
$uq-neutral-dark80: shade($uq-neutral, 80%); //#2b2a29;

// UQ Darkgrey - Tint
$uq-darkgrey-light20: tint($uq-neutral, 20%); //#ada9a6;
$uq-darkgrey-light40: tint($uq-neutral, 40%); //#c2bfbc;
$uq-darkgrey-light60: tint($uq-neutral, 60%); //#d6d4d3;
$uq-darkgrey-light80: tint($uq-neutral, 80%); //#ebeae9;

// UQ Purple gradient
$uq-purple-gradient: linear-gradient(
  90deg,
  $uq-purple 0%,
  87%,
  $uq-purple-light 100%
);

// Default text, Content
$text: $uq-neutral-dark80;

// Link Blue
$link: #1e72c6;
$link-hover: #005ea5;
$link-active: $link-hover;

// Alerts and Status - Dark
$info: $link;
$success: $uq-green-dark10;
$warning: $uq-yellow;
$alert: $uq-red-dark20;

// Alerts and Status - Light
$info-light: lighten($info, 50%); //#e8f1fb
$success-light: lighten($uq-green, 50%); //dff6e0
$warning-light: lighten($uq-yellow, 40%); //fff0c8
$alert-light: lighten($uq-red, 40%); //fbdde2

// Palettes
$light-palette-color: $uq-neutral-light80;
$light-palette-border-color: rgba($uq-white, 0.4);
$light-palette-link-color: $uq-white;
$light-palette-bg: $uq-white;
$dark-palette-color: $uq-neutral-dark80;
$dark-palette-border-color: rgba($uq-black, 0.1);
$dark-palette-link-color: lighten($uq-purple, 10%);
$dark-palette-bg: $uq-neutral-dark60;

// Overlays
$dark-tint-bg: $uq-neutral-dark60;

// Filters from #000000
$filter-text: invert(0%) sepia(72%) saturate(588%) hue-rotate(348deg)
  brightness(115%) contrast(81%);
$filter-primary: invert(20%) sepia(34%) saturate(1979%) hue-rotate(239deg)
  brightness(97%) contrast(107%);
$filter-secondary: invert(35%) sepia(80%) saturate(952%) hue-rotate(181deg)
  brightness(94%) contrast(90%);
$filter-white: invert(100%) sepia(0%) saturate(1%) hue-rotate(122deg)
  brightness(111%) contrast(102%);
