// Function to Tint a color
@function tint($color, $percentage) {
    @return mix(white, $color, $percentage);
}
// Function to Shade a color
@function shade($color, $percentage) {
    @return mix(black, $color, $percentage);
}

// UQ Primary palette
$uq-purple: #51247A;
$uq-black: #000;
$uq-white: #fff;

// UQ Secondary palette
$uq-purple-light: #962A8B;
$uq-gold: #BB9D65;
$uq-red: #E62645;
$uq-orange: #EB602B;
$uq-yellow: #FBB800;
$uq-blue: #4085C6;
$uq-aqua: #00A2C7;
$uq-green: #2EA836;

// UQ Neutral palette
$uq-neutral: #D7D1CC;
$uq-darkgrey: #999490;

// UQ Primary - Darken
$uq-purple-dark10: darken($uq-purple, 10%); //#49206c;

// UQ Secondary - Darken
$uq-red-dark10: darken($uq-red, 10%); //#be1b38;
$uq-red-dark20: darken($uq-red, 20%); //#9b1129;

$uq-green-dark10: darken($uq-green, 10%);

// UQ Neutral - Tint
$uq-neutral-light20: #f7f6f5;
$uq-neutral-light40: #efedeb;
$uq-neutral-light60: #e7e3e0;
$uq-neutral-light80: #dfdad6;

// UQ Neutral - Shade
$uq-neutral-dark20: #aca7a3;
$uq-neutral-dark40: #817d7a;
$uq-neutral-dark60: #565452;
$uq-neutral-dark80: #2b2a29;

// UQ Darkgrey - Tint
$uq-darkgrey-light20: #ebeae9;
$uq-darkgrey-light40: #d6d4d3;
$uq-darkgrey-light60: #c2bfbc;
$uq-darkgrey-light80: #ada9a6;

// UQ Purple gradient
$uq-purple-gradient: linear-gradient(90deg, $uq-purple 0%, 87%, $uq-purple-light 100%);

// Default text, Content
$text: $uq-neutral-dark80;

// Link Blue
$link: #1E72C6;
$link-hover: #005ea5;
$link-active: $link-hover;

// Alerts and Status - Dark
$alert: $uq-red-dark10;
$success: $uq-green-dark10;

// Alerts and Status - Light
$info-color: #d4f0ff;
$success-color: #d5eeca;
$warning-color: #ffe0ad;
$danger-color: #ffacac;

// Palettes
$light-palette-color: $uq-neutral-light20;
$light-palette-border-color: rgba($uq-white, .4);
$light-palette-link-color: $uq-white;
$light-palette-bg: $uq-white;

$dark-palette-color: $uq-neutral-dark80;
$dark-palette-border-color: rgba($uq-black, .1);
$dark-palette-link-color: lighten($uq-purple, 10%);
$dark-palette-bg: $uq-neutral-dark60;

// Overlays
$dark-tint-bg: $uq-neutral-dark60;

// Filters from #000000
$filter-text: invert(0%) sepia(72%) saturate(588%) hue-rotate(348deg) brightness(115%) contrast(81%);
$filter-primary: invert(20%) sepia(34%) saturate(1979%) hue-rotate(239deg) brightness(97%) contrast(107%);
$filter-secondary: invert(35%) sepia(80%) saturate(952%) hue-rotate(181deg) brightness(94%) contrast(90%);
$filter-white: invert(100%) sepia(0%) saturate(1%) hue-rotate(122deg) brightness(111%) contrast(102%);
