/* FS: typography. */
$font-family: "Roboto", Helvetica, Arial, sans-serif;
$font-family-title: "Montserrat", Helvetica, Arial, sans-serif;
$font-family-emphasis: "Merriweather", Georgia, serif;

/* FS: font sizes. */
$font-size-xxxxl: 2.5rem; /* 40px - H1 */
$font-size-xxxl: 2rem; /* 32px - H2 */
$font-size-xxl: 1.5rem; /* 24px - H3 */
$font-size-xl: 1.25rem; /* 20px - H4 */
$font-size-l: 1.125rem; /* 18px - H5 */
$font-size-m: 1rem; /* 16px - Body, H6 */
$font-size-s: 0.875rem; /* 14px - Sub */
$font-size-xs: 0.75rem; /* 12px - Small */

/* FS: line heights. */
$line-height: 1.5;
$line-height-h: 1.4;
$line-height-ui: 1;

/* FS font weights. */
$font-weight-thin: 300;
$font-weight-normal: 400;
$font-weight-bold: 500;
