@use "@uqds/core/src/scss/global" as core;
@use "@uqds/icon/src/scss/global" as icon-constants;
@use "global" as *;

.uq-previous-next {
display: flex;
  flex-direction: column;
  gap: 0rem;

  &__item {
    padding: 1rem 0;
  }

  &__item button {
    margin-top: -1rem; 
      margin-bottom: -1rem;
  }
}
