@use "@uqds/core/src/scss/global" as core;
@use "@uqds/icon/src/scss/global" as icon-constants;
@use "global" as *;

.uq-previous-next {
  display: flex;
  flex-direction: column;
  padding-top: var(--uq-space-xxl);
  padding-bottom: var(--uq-space-xxxl);
  gap: var(--uq-space-xl);

  @media #{core.$screen-md-up} {
    padding-top: var(--uq-space-xxxl);
    padding-bottom: var(--uq-space-xxxxl);
  }
}
