/* Pagination */
@use '@uqds/core/src/scss/global' as core;
@use 'global' as *;

.uq-previous-next {

	&__item {
		width: 100%;
		float: left;
		@media (min-width: 640px) {
			width: 50%;
		}
		&--hidden {
			visibility: hidden;
		}
	}

	&__item + &__item {
		float: right;
	}

	&:after {
		content: "";
    	display: block;
    	clear: both;
	}

	a {
		color: core.$link-color;
		font-size: 1.7rem;
		font-weight: 400;
		line-height: 1.2;
		text-decoration: none;

		&:hover {
			color: core.$link-hover-color;
			text-decoration: none;

			&:before {
				transform: translate(-10px, 0) rotateY(180deg);
			}
			&:after {
				transform: translate(10px, 0) rotateY(0deg);
			}
		}
	}

	&__link-previous {
		position: relative;
		padding-left: core.$space-xxl;
		float: left;

		&:before {
			content: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 64.82 132.25'%3E%3Cpath d='M32.08,4.38,94.62,66.91a4.37,4.37,0,0,1,0,6.18h0L32.08,135.63' transform='translate(-31.58 -3.88)' fill='none' stroke='%23D7D1CC' stroke-linecap='round' stroke-width='3' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
			// SVG used is Streamline - Regular - arrow-right-1.svg
			width: 3rem;
			display: inline-block;
			position: absolute;
			left: 0;
			top: 0;
			transform: translate(0, 0) rotateY(180deg);
			transition: all ease .2s;
		} 
	}

	&__link-next {
		position: relative;
		padding-right: core.$space-xxl;
		text-align: right;
		float: right;

		&:after {
			content: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 64.82 132.25'%3E%3Cpath d='M32.08,4.38,94.62,66.91a4.37,4.37,0,0,1,0,6.18h0L32.08,135.63' transform='translate(-31.58 -3.88)' height='100%' fill='none' stroke='%23D7D1CC' stroke-linecap='round' stroke-width='3' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
			// SVG used is Streamline - Regular - arrow-right-1.svg
			width: 3rem;
			display: inline-block;
			position: absolute;
			right: 0;
			top: 0;
			transform: translate(0, 0) rotateY(0deg);
			transition: all ease .2s;
		}
	}
	
	&__description {
		display: block;
		font-size: 1rem;
		font-style: italic;
		font-weight: 300;
	}
}