@use "../global" as *;

@include icon("agriculture-and-environment--agriculture-machine-harvester-1");
@include icon("agriculture-and-environment--agriculture-machine-plow-2");
@include icon("agriculture-and-environment--agriculture-machine-tractor");
@include icon("agriculture-and-environment--ecology-globe-hand");
@include icon("agriculture-and-environment--ecology-globe-nature");
@include icon("agriculture-and-environment--ecology-leaf-book-open");
@include icon("agriculture-and-environment--ecology-leaf");
@include icon("agriculture-and-environment--ecology-plant-hand");
@include icon("agriculture-and-environment--farming-wheat");
@include icon("agriculture-and-environment--non-gmo-organic-flask");
@include icon("agriculture-and-environment--pets-hospital");
@include icon("agriculture-and-environment--plant-1");
@include icon("agriculture-and-environment--tree-2");
@include icon("architecture-and-planning--building-modern");
@include icon("architecture-and-planning--buildings-1");
@include icon("architecture-and-planning--buildings-2");
@include icon("architecture-and-planning--heavy-equipment-lift-hook-box");
@include icon("architecture-and-planning--house-modern");
@include icon("architecture-and-planning--measure-ruler-divider");
@include icon("architecture-and-planning--project-blueprint-buildings");
@include icon("architecture-and-planning--project-notes-buildings");
@include icon("architecture-and-planning--real-estate-dimensions-map");
@include icon("architecture-and-planning--school-building");
@include icon("arts-humanities-and-social-sciences--book-open-bookmark");
@include icon("arts-humanities-and-social-sciences--brain-network");
@include icon(
  "arts-humanities-and-social-sciences--human-resources-hierarchy-1"
);
@include icon(
  "arts-humanities-and-social-sciences--instrument-contrabass-sheet"
);
@include icon("arts-humanities-and-social-sciences--network-user");
@include icon("arts-humanities-and-social-sciences--office-stamp-documen");
@include icon("arts-humanities-and-social-sciences--official-building");
@include icon("arts-humanities-and-social-sciences--ranking-people-first");
@include icon("arts-humanities-and-social-sciences--read-world");
@include icon("arts-humanities-and-social-sciences--school-teacher");
@include icon(
  "arts-humanities-and-social-sciences--single-neutral-actions-graduate"
);
@include icon("arts-humanities-and-social-sciences--team-exchange-chat");
@include icon(
  "arts-humanities-and-social-sciences--video-player-adjust-finger"
);
@include icon("arts-humanities-and-social-sciences--video-player-movie-1");
@include icon("business-and-economics--accounting-calculator");
@include icon("business-and-economics--analytics-graph-bar-1");
@include icon("business-and-economics--briefcase");
@include icon("business-and-economics--business-deal-handshake");
@include icon("business-and-economics--currency-dollar-increase");
@include icon("business-and-economics--data-file-bars-edit");
@include icon("business-and-economics--network-cash");
@include icon("business-and-economics--network-user");
@include icon("business-and-economics--performance-increase-1");
@include icon("business-and-economics--performance-user-graph");
@include icon("business-and-economics--travel-crossroad-direction-board");
@include icon("common--calendar");
@include icon("common--chevron-down");
@include icon("common--chevron-left");
@include icon("common--chevron-right");
@include icon("common--chevron-up");
@include icon("common--clock");
@include icon("common--close");
@include icon("common--menu");
@include icon("common--pin");
@include icon("common--search");
@include icon("common--share-circle");
@include icon("common--share");
@include icon("education--basketball-ball");
@include icon("education--bookmarks-document");
@include icon("education--family-hold");
@include icon("education--family-home");
@include icon("education--medical-notes");
@include icon("education--mortarboard");
@include icon("education--people-man-graduate");
@include icon("education--read-glasses");
@include icon("education--saving-bank-international");
@include icon("education--school-teacher-a");
@include icon("education--soccer-player-ball");
@include icon("engineering-and-computing--3d-print-monitor-1");
@include icon("engineering-and-computing--cog-desktop");
@include icon("engineering-and-computing--cog");
@include icon("engineering-and-computing--construction-building");
@include icon("engineering-and-computing--database-share");
@include icon("engineering-and-computing--equipment-pressure-measure");
@include icon("engineering-and-computing--grid-ruler-1");
@include icon("engineering-and-computing--icon-plane-1");
@include icon("engineering-and-computing--laptop");
@include icon("engineering-and-computing--measure-ruler-divider");
@include icon("engineering-and-computing--monitor-transfer");
@include icon("engineering-and-computing--renewable-energy-solar-panel");
@include icon("engineering-and-computing--safety-helmet-1");
@include icon("engineering-and-computing--user-3d-box");
@include icon("health-and-behavioural-sciences--ambulance-car");
@include icon("health-and-behavioural-sciences--brain-head-1");
@include icon("health-and-behavioural-sciences--conversation-speak");
@include icon("health-and-behavioural-sciences--dentistry-tooth");
@include icon("health-and-behavioural-sciences--disability-cane");
@include icon("health-and-behavioural-sciences--disability-walk-blind");
@include icon("health-and-behavioural-sciences--disability-walking-help");
@include icon("health-and-behavioural-sciences--hospital-bedroom-nurse");
@include icon("health-and-behavioural-sciences--medical-specialty-breathing");
@include icon("health-and-behavioural-sciences--medical-specialty-hearing");
@include icon(
  "health-and-behavioural-sciences--medical-specialty-rehabilitation"
);
@include icon("health-and-behavioural-sciences--presentation-speaker");
@include icon("how-youll-learn--baggage-plane");
@include icon("how-youll-learn--book-open-text");
@include icon("how-youll-learn--construction-shovel");
@include icon("how-youll-learn--e-learning-book-laptop");
@include icon("how-youll-learn--messages-people-user-bubble-circle");
@include icon("how-youll-learn--multiple-circle-1");
@include icon("how-youll-learn--multiple-circle");
@include icon("how-youll-learn--office-desk-lamp");
@include icon("how-youll-learn--optimization-rocket-graph");
@include icon("how-youll-learn--performance-presentation-graph");
@include icon("how-youll-learn--seo-search-page");
@include icon("how-youll-learn--users");
@include icon("law--law");
@include icon("law--legal-judge-balance");
@include icon("law--legal-judge");
@include icon("law--legal-scale-document");
@include icon("law--official-building");
@include icon("law--police-man-1");
@include icon("law--saving-bank-international");
@include icon("law--saving-bank");
@include icon("medicine--app-smartphone-touch");
@include icon("medicine--hospital-first-aid");
@include icon("medicine--medical-app-laptop-1");
@include icon("medicine--medical-hospital-1");
@include icon("medicine--medical-instrument-stethoscope");
@include icon("medicine--medical-personnel-doctor");
@include icon("medicine--medical-personnel-nurse");
@include icon("medicine--monitor-heart-beat-search");
@include icon("medicine--monitor-heart-beat");
@include icon("medicine--monitor-heart-notes");
@include icon("medicine--pill-clock");
@include icon("other--aboriginal-flag");
@include icon("other--accounting-coins-stack");
@include icon("other--american-football-run-ball");
@include icon("other--american-football-score");
@include icon("other--athletics-jumping-person");
@include icon("other--beach-palm-water");
@include icon("other--bicycle");
@include icon("other--biking-person");
@include icon("other--book-open-text");
@include icon("other--buildings-2");
@include icon("other--bus");
@include icon("other--business-crossroad");
@include icon("other--calendar-add");
@include icon("other--car-1");
@include icon("other--card-game-dice");
@include icon("other--checklist-pen");
@include icon("other--checklist");
@include icon("other--content-notebook-pencil");
@include icon("other--e-learning-book-laptop");
@include icon("other--earth-3");
@include icon("other--fast-food-burger-drink");
@include icon("other--fitness-weightlift");
@include icon("other--flag-1");
@include icon("other--force-touch-double-tap");
@include icon("other--gauge-dashboard");
@include icon("other--history-vase");
@include icon("other--hotel-bedroom-1");
@include icon("other--library-art");
@include icon("other--module-puzzle");
@include icon("other--museum-painting");
@include icon("other--network-users");
@include icon("other--notes-edit");
@include icon("other--paralympics-swimming");
@include icon("other--peer-assessed");
@include icon("other--phone-action-information");
@include icon("other--profile-user-cash-message");
@include icon("other--railroad-train-1");
@include icon("other--restaurant-eating-set");
@include icon("other--screen-1");
@include icon("other--sea-transport-boat");
@include icon("other--shop-cart");
@include icon("other--soccer-player");
@include icon("other--study-book");
@include icon("other--supermarket");
@include icon("other--synchronize-arrows-triangle");
@include icon("other--tags-cash");
@include icon("other--tennis-backhand");
@include icon("other--tennis-racquet");
@include icon("other--time-clock-circle-1");
@include icon("other--tool-box");
@include icon("other--touch-finger");
@include icon("other--travel-luggage-1");
@include icon("other--travel-paper-plane");
@include icon("other--trip-destination");
@include icon("other--walking");
@include icon("other--yoga-shoulder-stretch");
@include icon("rankings--award-badge-star");
@include icon("rankings--award-badge");
@include icon("rankings--award-medal-1");
@include icon("rankings--award-medal-2");
@include icon("rankings--award-medal");
@include icon("rankings--award-ribbon-star-1");
@include icon("rankings--award-ribbon-star-2");
@include icon("rankings--award-ribbon-star-3");
@include icon("rankings--award-star-head");
@include icon("rankings--award-trophy-star-1");
@include icon("rankings--award-trophy-star-11");
@include icon("rankings--award-trophy-star");
@include icon("rankings--award-trophy");
@include icon("rankings--certified-ribbon-1");
@include icon("rankings--certified-ribbon-2");
@include icon("rankings--common-file-award");
@include icon("rankings--school-book-trophy");
@include icon("rankings--seo-trophy");
@include icon("rankings--window-badge");
@include icon("science-and-mathematics--accounting-calculator");
@include icon("science-and-mathematics--button-loop");
@include icon("science-and-mathematics--cat-sitting");
@include icon("science-and-mathematics--drone-1");
@include icon("science-and-mathematics--global-warming-high-temperature");
@include icon("science-and-mathematics--lab-flask-experiment");
@include icon("science-and-mathematics--lab-tube-bottle");
@include icon("science-and-mathematics--lab-tube-experiment");
@include icon("science-and-mathematics--lab-tubes");
@include icon("science-and-mathematics--organic-flask-1");
@include icon("science-and-mathematics--science-brain");
@include icon("science-and-mathematics--science-molecule-strucutre");
@include icon("science-and-mathematics--science-molecule");
@include icon("science-and-mathematics--science-neurons");
@include icon("social--email");
@include icon("social--facebook");
@include icon("social--linkedin");
@include icon("social--social-email-circle");
@include icon("social--social-facebook-circle");
@include icon("social--social-instagram2-circle");
@include icon("social--social-linkedin-circle");
@include icon("social--social-wechat-circle");
@include icon("social--social-weebo-circle");
@include icon("social--social-x-twitter-circle");
@include icon("social--social-x");
@include icon("social--social-you-tube-circle");
@include icon("social--social-youku-circle");
@include icon("standard--add");
@include icon("standard--adjustment-schemes");
@include icon("standard--arrow-down-1");
@include icon("standard--arrow-left-1");
@include icon("standard--arrow-right-1");
@include icon("standard--arrow-right");
@include icon("standard--arrow-up-1");
@include icon("standard--arrow-up");
@include icon("standard--bubble-square-question");
@include icon("standard--calendar-3");
@include icon("standard--check-circle");
@include icon("standard--check-sml");
@include icon("standard--check");
@include icon("standard--chevron-down-sml");
@include icon("standard--chevron-down");
@include icon("standard--chevron-left-sml");
@include icon("standard--chevron-left");
@include icon("standard--chevron-right-sml");
@include icon("standard--chevron-right");
@include icon("standard--chevron-up-sml");
@include icon("standard--chevron-up");
@include icon("standard--close");
@include icon("standard--common-file-award");
@include icon("standard--common-file-double");
@include icon("standard--conversation-chat-text");
@include icon("standard--dual-program");
@include icon("standard--email-action-unread");
@include icon("standard--exclamation-circle");
@include icon("standard--exclamation-triangle");
@include icon("standard--expand-3");
@include icon("standard--information-circle");
@include icon("standard--minus-sml");
@include icon("standard--minus");
@include icon("standard--navigation-menu");
@include icon("standard--navigation-next");
@include icon("standard--network-information");
@include icon("standard--network-user");
@include icon("standard--phone");
@include icon("standard--pin");
@include icon("standard--plus-sml");
@include icon("standard--plus");
@include icon("standard--region-domestic");
@include icon("standard--region-international");
@include icon("standard--school-teacher-correct");
@include icon("standard--search");
@include icon("standard--settings-slider");
@include icon("standard--shrink-2");
@include icon("standard--subtract");
@include icon("standard--x-circle");
@include icon("standard--x-sml");
@include icon("standard--x");
@include icon("student-services--disability-wheelchair");
@include icon("student-services--hotel-single-bed-1");
@include icon("student-services--information-desk-hi");
@include icon("student-services--insurance-head");
@include icon("student-services--maps-search");
@include icon("student-services--religion-islam-pray");
@include icon("student-services--single-neutral-briefcase");
@include icon("student-services--study-desk");
@include icon("student-services--transportation-ticket-bus-transfer-1");
@include icon("transport--road-sign-turn-right-1");
@include icon("transport--stop-sign");
