@use "@uqds/core/src/scss/global" as core;
@use "global" as *;

.uq-card-grid {
  display: grid;
  gap: var(--layout-gap);
  grid-template-columns: repeat(12, 1fr);
  container-type: inline-size;

  & > * {
    grid-column: auto / span 12;
  }
}

.uq-card-grid--target-2x {
  & > * {
    @container (width > #{$card-grid-container-sm}) {
      grid-column: auto / span 6;
    }
  }
}

.uq-card-grid--target-3x {
  & > * {
    @container (width > #{$card-grid-container-sm}) {
      grid-column: auto / span 6;
    }

    @container (width > #{$card-grid-container-md}) {
      grid-column: auto / span 4;
    }
  }
}

.uq-card-grid--target-4x {
  & > * {
    @container (width > #{$card-grid-container-sm}) {
      grid-column: auto / span 6;
    }

    @container (width > #{$card-grid-container-lg}) {
      grid-column: auto / span 3;
    }
  }
}

.uq-card-grid--target-1x {
  @container (width > #{$card-grid-container-md}) {
    & .uq-pane,
    & .uq-story-card,
    & .uq-card {
      display: flex;
      flex-direction: row-reverse;
      gap: var(--layout-gap);
      align-items: center;
    }

    & .uq-card__image,
    & .uq-story-card__image,
    & .uq-pane__image {
      width: 50%;
      height: 100%;
    }

    & .uq-pane__image {
      margin: 0;
    }

    & .uq-card__content,
    & .uq-story-card__content {
      width: 50%;
      padding-inline: core.$space-l 0;
    }

    & .uq-pane__content {
      width: 50%;
    }
  }
}
