@use "@uqds/core/src/scss/global" as core;
@use "global" as *;

:root {
  --layout-container-max-width: #{$container-max-width};
  --layout-gap: #{core.$space-xl};
  --layout-section-gap: 6rem;

  --layout-sidebar-width: 261px;
}

// Resize custom properties for tablet/mobile.
@media #{core.$screen-lg-down} {
  :root {
    --layout-gap: #{core.$space-l};
    --layout-section-gap: #{core.$space-uul};
  }
}
