@use "@uqds/core/src/scss/global" as core;

:root {
  --hero-font-size-ul: #{core.$font-size-ul};
  --hero-font-size-xxxxl: #{core.$font-size-xxxxl};

  --hero-gap: #{core.$space-ul};
  --hero-spacing: #{core.$space-ul};
  --hero-basic-spacing: #{core.$space-uuul};

  --hero-aspect-ratio: 2.35 / 1;
  --hero-large-aspect-ratio: 3 / 2;

  --hero-min-height: 336px;
  --hero-large-min-height: 500px;

  --hero-image-max-width: 790px;

  --hero-title-max-line-length: 518px;
}

// Resize custom properties for tablet/mobile.
@media #{core.$screen-lg-down} {
  :root {
    --hero-font-size-ul: 30px;
    --hero-font-size-xxxxl: 30px;

    --hero-basic-spacing: #{core.$space-xl};
  }
}
