@use "@uqds/core/src/scss/global" as core;

:root {
  --hero-font-size-ul: #{var(--uq-font-size-ul)};
  --hero-font-size-xxxxl: #{var(--uq-font-size-xxxxl)};

  --hero-gap: #{var(--uq-space-ul)};
  --hero-spacing: #{var(--uq-space-ul)};
  --hero-basic-spacing: #{var(--uq-space-uuul)};

  --hero-aspect-ratio: 2.35 / 1;
  --hero-large-aspect-ratio: 3 / 2;

  --hero-min-height: 336px;
  --hero-large-min-height: 500px;

  --hero-image-max-width: 764px;

  --hero-title-max-line-length: 518px;
}

// Resize custom properties for tablet/mobile.
@media #{core.$screen-lg-down} {
  :root {
    --hero-font-size-ul: 30px;
    --hero-font-size-xxxxl: 30px;

    --hero-basic-spacing: #{var(--uq-space-xl)};
  }
}
