@use "@uqds/core/src/scss/global" as core;
@use "@uqds/grid/src/scss/global" as grid;

.uq-hero {
  background: core.$uq-purple-dark;

  @media #{core.$screen-lg-up} {
    position: relative;
    // On desktop the we set a min height and top/bottom padding.
    // This will ensure heros expand in height when there is too much text.
    padding: var(--hero-spacing) 0;
    min-height: var(--hero-min-height);
    display: flex;
    align-items: center;
  }

  & .uq-container {
    // On mobile/tablet .uq-hero__content provides padding and the
    // container gutters are no longer needed.
    @media #{core.$screen-lg-down} {
      margin: 0;
      padding: 0;
    }
  }
}

.uq-hero__image {
  display: flex;

  @media #{core.$screen-lg-up} {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  &::before {
    @media #{core.$screen-lg-up} {
      content: "";
      width: calc(50% - #{core.$space-xxxl});
      flex-shrink: 1;
    }
  }

  & img,
  & picture {
    object-fit: cover;
    // The hero image uses this standard aspect ratio so it is always the
    // same size.
    aspect-ratio: var(--hero-aspect-ratio);
    // On tablet/mobile the image size is based off the width of the page.
    width: 100%;

    @media #{core.$screen-lg-up} {
      // On desktop the image size is based off the height of the hero.
      width: auto;
      height: 100%;
      flex-shrink: 0;
      // Set a max width which will ensure the image doesn't get too wide for
      // heros that container a large amount of text.
      max-width: var(--hero-image-max-width);
    }
  }
}

.uq-hero__content {
  position: relative;
  background: core.$uq-purple;
  box-shadow: 0 3px 24px 0 rgba(#181818, 0.1);
  padding: var(--layout-gap);
  margin-bottom: 8px;

  @media #{core.$screen-lg-up} {
    z-index: 2;
    width: 586px;
  }

  & * {
    margin: 0;
  }

  &::after {
    position: absolute;
    top: 100%;
    left: 0;
    content: "";
    height: 8px;
    width: 100%;
    border-radius: 0 0 4px 4px;
    background: core.$uq-purple-650;
  }
}

.uq-hero__title {
  color: core.$uq-white;
}

.uq-hero__description {
  margin-top: core.$space-m;
  font-size: core.$font-size-l;
  color: core.$uq-white;
}

.uq-hero__description,
.uq-hero__description * {
  color: core.$uq-white;
  font-size: core.$font-size-l;
}

.uq-hero__button {
  margin-top: core.$space-l;
}

.uq-hero--light {
  background: unset;

  & .uq-hero__content {
    background: core.$uq-white;

    &::after {
      background: var(--brand-purple-gradient);
    }
  }

  & .uq-hero__title {
    color: core.$uq-purple;
  }

  & .uq-hero__description,
  & .uq-hero__description * {
    color: unset;
  }
}

.uq-hero--large {
  @media #{core.$screen-lg-up} {
    min-height: var(--hero-large-min-height);
  }

  & .uq-hero__image {
    & img,
    & picture {
      aspect-ratio: var(--hero-large-aspect-ratio);
    }
  }

  & .uq-hero__title {
    font-size: var(--font-size-ul);
  }
}
