/* Acknowledgement statement */
@use "@uqds/core/src/scss/global" as core;
@use "global" as *;

.uq-acknowledgement-statement {
  background: core.$black;
  background-image: linear-gradient(
      90deg,
      #48206c 28.12%,
      rgba(72, 32, 108, 0.65) 70.31%,
      rgba(72, 32, 108, 0) 100%
    ),
    url("https://static.uq.net.au/v15/images/rap/brisbane-river-artwork.png");

  &__content {
    max-width: 73.25rem;
    padding: core.$space-xl core.$space-l;
    color: #d4c8de;
    font-weight: 400;
    font-size: core.$font-size-m;
    line-height: 1.5;
    margin: auto;

    @media #{core.$screen-xl-up} {
      padding: core.$space-xl core.$space-m;
    }
  }

  &__link {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    color: core.$white;

    &:hover {
      text-decoration: underline;
      color: #d4c8de;
    }
  }
}
