@use "@uqds/core/src/scss/global" as core;
@use "@uqds/icon/src/scss/global" as icon;
@use "global" as *;

@use "_partials/search-input";

// TODO: Do we need to import core.global again when its getting imported from _global
// TODO: Define global vs componoent
// TODO: Do we want to nest form styles under .uq-form?

.uq-form {
  // UQ Form styles

  .uq-form__fieldset,
  fieldset {
    border: 0;
    margin: 0;
    padding: 0;
  }

  .uq-form__group {
    margin-bottom: core.$space-l;

    &--inline,
    &--inline label {
      display: flex;
      align-items: center;
      gap: core.$space-m;

      .uq-form__label {
        flex: 1 0 auto;

        & .uq-form__input,
        & .uq-form__select {
          width: auto;
          flex: 1 0 auto;
        }
      }
    }

    &--error {
      border-left: 6px solid core.$error-500;
      padding-left: core.$space-l;

      .uq-form__helper {
        color: core.$error-500;
      }
    }
  }

  .uq-form__label,
  label {
    display: block;
    font-size: core.$font-size-l;
    font-weight: core.$font-weight-medium;
    color: core.$black;
    cursor: pointer;

    &--inline {
      display: inline-block;
    }

    &:has(~ input:disabled, ~ select:disabled, ~ textarea:disabled),
    &:has(input:disabled, select:disabled, textarea:disabled) {
      color: core.$grey-400;
      cursor: not-allowed;
    }
  }

  .uq-form__helper {
    display: block;
    font-size: core.$font-size-m;
    font-weight: core.$font-weight-normal;
    text-wrap: pretty;
    color: core.$grey-900;
    cursor: help;

    &:has(~ input:disabled, ~ select:disabled, ~ textarea:disabled),
    &:has(input:disabled, select:disabled, textarea:disabled) {
      color: core.$grey-400;
      cursor: not-allowed;
    }
  }

  .uq-form__input,
  .uq-form__select,
  input:not([type="checkbox"]):not([type="radio"]),
  select,
  textarea {
    padding: core.$space-m;
    width: 100%;
    border: 2px solid core.$grey-600;
    border-radius: 5px;
    font-size: core.$font-size-m;
    color: core.$black;
    font-family: core.$font-body;

    &:focus {
      outline: 4px solid core.$utility-500;
    }

    &:disabled {
      color: core.$grey-400;
      border-color: core.$grey-400;
      cursor: not-allowed;
    }
  }

  .uq-form__select,
  select {
    appearance: none;
    -webkit-appearance: none; /* Safari and Chrome */
    -moz-appearance: none;
    background: url(icon.get-icon("standard--chevron-down", core.$black))
      no-repeat right core.$space-m center / core.$space-l auto;
    cursor: pointer;

    &:disabled {
      background: url(icon.get-icon("standard--chevron-down", core.$grey-400))
        no-repeat right core.$space-m center / core.$space-l auto;
    }
  }

  //Input groups
  .uq-form__input-group {
    display: flex;

    &:focus-within {
      outline: 4px solid core.$utility-500;
      border-radius: 5px;
    }

    > input:focus {
      outline: none;
    }

    > input:has(+ .uq-button) {
      border-right: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    .uq-button {
      border-radius: 0 5px 5px 0;
      display: flex;
      justify-content: center;
      border: 2px solid core.$grey-600;
      border-left: 0;
      padding: core.$space-m;
    }
  }
}
