// Variables, functions, and mixins
@use '@uq-uidf/core/src/scss/global' as core; 

// Forms
$form-required-color: core.$uq-red-dark20; //d6492a;
$form-description-color: core.$uq-neutral-dark60; //666;
$form-input-border-color: core.$uq-neutral-dark20; //ccc;
