@use '@uq-uidf/core/src/scss/global' as core;
@use "@uq-uidf/foundation-global/src/scss/_global" as fnd-global;
@use "@uq-uidf/foundation-grid/src/scss/_global" as fnd-grid;
// @use '@uq-uidf/body/src/scss/_component' as body with (
//   $use-encapsulation: true
// );

.uidf-body {
  &__container {
    max-width: fnd-grid.$row-width;
    padding: 0 fnd-global.$column-gutter / 2;
    margin: 0 auto;
  }

  &__bg-color-utility__container,
  &__text-utility__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__text-utility__container--flex-left {
    justify-content: flex-start;
  }

  &__bg-color-utility,
  &__text-utility {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 4rem;
    justify-content: center;
    padding: 0 1.5rem;
  }

  &__text-utility--align {
    display: flex;
    height: auto;
    align-items: baseline;
    margin: 1rem 0;

    > * {
      max-width: 12rem;
    }

    > :first-child {
      text-align: left;
      padding-right: 2rem;
      white-space: nowrap;
    } 
  }
}
