@use "@uqds/core/src/scss/_global" as core;

.uqds-base-layout-grid {
  background: repeating-linear-gradient(
    45deg,
    core.$uq-neutral-light60,
    core.$uq-neutral-light60 10px,
    core.$uq-neutral-light80 10px,
    core.$uq-neutral-light80 20px
  );

  .uq-grid {
    position: relative;

    &::before {
      background: repeating-linear-gradient(
        45deg,
        lighten(core.$uq-red, 30%),
        lighten(core.$uq-red, 30%) 10px,
        lighten(core.$uq-red, 35%) 10px,
        lighten(core.$uq-red, 35%) 20px
      );
      content: "";
      position: absolute;
      height: 100%;
      left: core.$space-uuuuul * 0.5;
      right: core.$space-uuuuul * 0.5;
      z-index: 0;
    }

    &__col {
      height: 100vh;
      position: relative;
      z-index: 1;

      &:nth-child(n + 7) {
        display: none;
      }

      > span {
        background-color: lighten(core.$uq-aqua, 45%);
        border: 1px solid core.$uq-aqua;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        overflow: hidden;
        text-align: center;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
      }

      @media #{core.$screen-xs-up} {
        > span {
          background-color: lighten(core.$uq-yellow, 35%);
          border-color: core.$uq-yellow;
        }
      }

      @media #{core.$screen-sm-up} {
        > span {
          background-color: lighten(core.$uq-orange, 35%);
          border-color: core.$uq-orange;
        }
      }

      @media #{core.$screen-md-up} {
        &:nth-child(n + 7) {
          display: flex;
        }

        &:nth-child(n + 9) {
          display: none;
        }

        > span {
          background-color: lighten(core.$uq-purple, 50%);
          border-color: core.$uq-purple;
        }
      }

      @media #{core.$screen-lg-up} {
        > span {
          background-color: lighten(core.$uq-green, 45%);
          border-color: core.$uq-green;
        }
      }

      @media #{core.$screen-xl-up} {
        &:nth-child(n + 9) {
          display: flex;
        }

        > span {
          background-color: lighten(core.$uq-blue, 40%);
          border-color: core.$uq-blue;
        }
      }
    }

    @media #{core.$screen-md-up} {
      &::before {
        left: core.$space-uuuuul * 0.5;
        right: core.$space-uuuuul * 0.5;
      }
    }

    @media #{core.$screen-xl-up} {
      &::before {
        left: core.$space-uuuuul * 0.5;
        right: core.$space-uuuuul * 0.5;
      }
    }
  }
}
