@use '@uqds/core/src/scss/_global' as core;

.uqds-status-badge {
  box-sizing: border-box;
  border-radius: 9999px;
  border: 2px solid transparent;
  color: core.$text;
  cursor: help;
  display: inline-block;
  font-size: core.$font-size-s;
  line-height: core.$line-height-ui;
  margin-bottom: core.$space;
  margin-left: -(core.$space-xs);
  margin-right: core.$space;
  padding: core.$space-s core.$space;
  vertical-align: baseline;

  // Status tags for Documentation
  &--draftDoc {
    border: 2px solid core.$alert-light;
    background-color: transparent;
  }
  &--reviewDoc {
    border: 2px solid core.$warning-light;
    background-color: transparent;
  }
  &--stableDoc {
    border: 2px solid core.$success-light;
    background-color: transparent;
  }

  // Status tags for components
  &--stable {
    background-color: core.$success-light;
  }

  &--development,
  &--experiment {
    background-color: core.$alert-light;
  }

  &--review {
    background-color: core.$warning-light;
  }

  &--deprecated {
    color: core.$uq-white;
    background-color: core.$uq-red-dark20;
  }

  &-addendum {
    display: inline-block;
    font-size: core.$font-size-s;
    line-height: core.$line-height-ui;
    margin-bottom: core.$space-m;
    margin-right: core.$space-m;
    white-space: nowrap;
    vertical-align: baseline;
  }
}
