@use '@uqds/core/src/scss/_global' as core;

.uqds-status-badge {
  box-sizing: border-box;
  border-radius: 9999px;
  color: core.$text;
  cursor: help;
  display: inline-block;
  font-size: core.$font-size-s;
  line-height: core.$line-height-ui;
  margin: core.$space core.$space core.$space (-(core.$space-xs));
  padding: core.$space-sm core.$space;

  &--stable {
    background-color: core.$success-color;
  }
  &--development,
  &--deprecated,
  &--experimental {
    background-color: core.$danger-color;
  }
  &--review {
    background-color: core.$warning-color;
  }
}
