@use '@uqds/core/src/scss/_global' as core;
@use 'tocbot/src/scss/tocbot';

$toc-width: 16rem;

.uqds-toc {
  padding: core.$space-lg core.$space-none core.$space-none core.$space-none;
  box-sizing: border-box;
  background-color: core.$uq-white;

  > .toc-list {
    padding-left: core.$space-none;
  }

  a.toc-link {
    margin: core.$space-xs core.$space-none;
    color: core.$link;
    padding-left: core.$space;
    padding-right: core.$space;
    text-indent: -(core.$space);
  
    &::before {
      width: 0;
    }
  
    &:hover,
    &:focus {
      color: core.$link-hover;
    }
  }

  .is-active-link {
    font-weight: core.$font-weight-normal;
  }
}

@media only screen and (min-width: #{core.$screen-xl + $toc-width * 2}) {
  .uqds-toc {
    width: $toc-width;
    position: fixed;
    top: 0;
    right: 0;
    padding-top: core.$space-ul;
    height: 100%;
    font-size: core.$font-size-s;

    > .toc-list {
      padding-left: core.$space;

      &:last-child {
        margin-bottom: core.$space-none;
      }
    }

    a.toc-link {
      display: inline-block;
      margin: core.$space-xs core.$space-none;
      text-decoration: none;
      transition: all 0.125s ease-in;
      color: core.$text;
  
      &::before {
        width: core.$space-xs;
      }
  
      &:hover,
      &:focus {
        color: core.$text;
      }
    }
  
    .is-active-link {
      font-weight: core.$font-weight-bold;
  
      &::before {
        background-color: core.$uq-purple;
      }
    }

    .toc-heading {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      border: 0;
    }
  }
}
