@use "@uqds/core/src/scss/_global" as core;
@use "tocbot/src/scss/tocbot";

// tocbot style overrides
.toc-wrapper {
  .toc-list {
    .toc-list-item {
      a.toc-link {
        &::before {
          width: 0;
        }

        &:hover,
        &:focus {
          background-color: transparent;
          text-decoration: underline;
        }
      }
    }

    .toc-list-item.is-active-li {
      &::before {
        border-left: solid 2px core.$purple-500;
      }

      & > a {
        color: core.$purple-500;
      }
    }
  }
}

@media only screen and (min-width: #{core.$screen-md + 16.5rem}) {
  .uqds-toc {
    width: 12.5rem;
    position: fixed;
    top: 0;
    right: 0;
    padding-top: core.$space-uul;
    height: 100%;

    &__toc {
      margin-left: -(core.$space-m);

      .toc-list {
        padding-left: core.$space-m;
      }

      a.toc-link {
        display: inline-block;
        margin: core.$space-xs core.$space-none;
        padding-left: core.$space-m;
        padding-right: core.$space-m;
        text-decoration: none;
        transition: all 0.125s ease-in;
        color: core.$grey-900;

        &::before {
          width: core.$space-xs;
        }

        &:hover,
        &:focus {
          color: core.$grey-900;
        }
      }

      .is-active-link {
        font-weight: core.$font-weight-bold;

        &::before {
          background-color: core.$purple-500;
        }
      }
    }

    &__heading {
      // Visually hide heading
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      border: 0;
    }
  }
}
