@use "@uqds/core/src/scss/global" as *;

/* colour table custom */
.uqds-colour__palette {
  width: 100%;
  border-radius: 0.25rem;
  padding: $space;
}

.uqds-colour__palette--large {
  padding: $space-xl;
}

/* Colour table custom sizing */
.uqds-table--colour .uqds-table__item {
  width: 9.375rem; /*  set all table cells to 150px */
}

.uqds-table--colour .uqds-table__item[data-title="Variable:"] {
  width: 13.75rem;
}

.uqds-table--colour .uqds-table__item[data-title="HEX:"] {
  width: 6rem;
}

.uqds-table--colour .uqds-table__item[data-title="Usage:"] {
  width: auto;
}

@media (max-width: 800px) {
  .uqds-table--colour .uqds-table__item {
    width: auto;
  }
  .uqds-colour__palette {
    width: 100%;
    border-radius: 0.25rem;
    height: 64px;
    /*width: 32px;
    border-radius: 100%;*/
  }
}

/* colour styles */

/* UQ Primary palette */
.uqds-colour--purple {
  background-color: $uq-purple;
}

.uqds-text-color--purple {
  color: $uq-purple;
}

.uqds-colour--black {
  background-color: $uq-black;
}

.uqds-colour--white {
  background-color: $uq-white;
  border: 1px solid #eeeeee;
}

.uqds-text-color--white {
  color: $uq-white;
}

/* UQ secondary palette */
.uqds-colour--purple-light {
  background-color: $uq-purple-light;
}

.uqds-colour--neutral {
  background-color: $uq-neutral;
}

.uqds-colour--darkgrey {
  background-color: $uq-darkgrey;
}

.uqds-colour--gold {
  background-color: $uq-gold;
}

.uqds-colour--red {
  background-color: $uq-red;
}

.uqds-colour--orange {
  background-color: $uq-orange;
}

.uqds-colour--yellow {
  background-color: $uq-yellow;
}

.uqds-colour--blue {
  background-color: $uq-blue;
}

.uqds-colour--aqua {
  background-color: $uq-aqua;
}

.uqds-colour--green {
  background-color: $uq-green;
}

/* UQ purple gradient */
.uqds-purple-gradient {
  background: $uq-purple-gradient;
}

/* Neutral tints */
.uqds-neutral-light20 {
  background-color: $uq-neutral-light20;
}

.uqds-neutral-light40 {
  background-color: $uq-neutral-light40;
}

.uqds-neutral-light60 {
  background-color: $uq-neutral-light60;
}

.uqds-neutral-light80 {
  background-color: $uq-neutral-light80;
}

/* Neutral shades */
.uqds-neutral-dark20 {
  background-color: $uq-neutral-dark20;
}

.uqds-neutral-dark40 {
  background-color: $uq-neutral-dark40;
}

.uqds-text-color--grey {
  color: $uq-neutral-dark40;
}

.uqds-neutral-dark60 {
  background-color: $uq-neutral-dark60;
}

.uqds-neutral-dark80 {
  background-color: $uq-neutral-dark80;
}

/* Darkgrey tints */
.uqds-darkgrey-light20 {
  background-color: $uq-darkgrey-light20;
}

.uqds-darkgrey-light40 {
  background-color: $uq-darkgrey-light40;
}

.uqds-darkgrey-light60 {
  background-color: $uq-darkgrey-light60;
}

.uqds-darkgrey-light80 {
  background-color: $uq-darkgrey-light80;
}

/* Red shades */
.uqds-red-dark10 {
  background-color: $uq-red-dark10;
}

.uqds-red-dark20 {
  background-color: $uq-red-dark20;
}

/* Green shades */
.uqds-green-dark10 {
  background-color: $uq-green-dark10;
}

/* Links */
.uqds-link-color {
  background-color: $link;
}

.uqds-link-active-color {
  background-color: $link-active;
}

.uqds-link-hover-color {
  background-color: $link-hover;
}

/* Text */
.uqds-text-bgcolor {
  background-color: $text;
}

.uqds-text-color {
  color: $text;
}

/* Alerts */
.uqds-colour--info {
  background-color: $info-light;
}

.uqds-colour--success {
  background-color: $success-light;
}

.uqds-colour--warning {
  background-color: $warning-light;
}

.uqds-colour--alert {
  background-color: $alert-light;
}

.uqds-colour--info-dark {
  background-color: $info;
}

.uqds-colour--success-dark {
  background-color: $success;
}

.uqds-colour--warning-dark {
  background-color: $warning;
}

.uqds-colour--alert-dark {
  background-color: $alert;
}
