@use "@uqds/core/src/scss/global" as core;

.uqds-colour__swatches {
  display: flex;
  gap: core.$space-m;
  flex-wrap: nowrap; 
  align-items: stretch;
  justify-content: space-evenly;

  & .uqds-colour__palette {
    flex: 1 1 15%;
    
    @media #{core.$screen-lg-up} {
      padding: 5rem 0 1rem 1rem;      
    }


    & span {
      visibility: hidden;

      @media #{core.$screen-lg-up} {
        font-size: core.$font-size-xs;
        visibility: visible;
        padding-left: 1rem;
      }
      
    }
  }
}

/* colour table custom */
.uqds-colour__palette {
  width: 100%;
  border-radius: 0.25rem;
  padding: core.$space-m;
  font-size: core.$font-size-xs !important;
}

.uqds-colour__palette--large {
  padding: core.$space-xl;
}

/* Colour table custom sizing */
.uqds-table--colour .uqds-table__item {
  width: 9.375rem; /*  set all table cells to 150px */
}

.uqds-table--colour .uqds-table__item[data-title="Variable:"] {
  width: 13.75rem;
}

.uqds-table--colour .uqds-table__item[data-title="HEX:"] {
  width: 6rem;
}

.uqds-table--colour .uqds-table__item[data-title="Usage:"] {
  width: auto;
}

@media (max-width: 800px) {
  .uqds-table--colour .uqds-table__item {
    width: auto;
  }
  .uqds-colour__palette {
    width: 100%;
    border-radius: 0.25rem;
    height: 64px;
    /*width: 32px;
    border-radius: 100%;*/
  }
}

/* colour styles */


/* UQ Primary palette */
.uqds-colour--purple-50 {
  background-color: core.$purple-50;

  @media #{core.$screen-lg-up} {
    &::after {
      content: 'purple-50';
    }
  }

}

.uqds-colour--purple-100 {
  background-color: core.$purple-100;
  @media #{core.$screen-lg-up} {
    &::after {
      content: 'purple-100';
    }
  }
}

.uqds-colour--purple-200 {
  background-color: core.$purple-200;
  @media #{core.$screen-lg-up} {
    &::after {
      content: 'purple-200';
    }
  }
}

.uqds-colour--purple-300 {
  background-color: core.$purple-300;
  color: core.$uq-white;
  @media #{core.$screen-lg-up} {
    &::after {
      content: 'purple-300';
    }
  }
}

.uqds-colour--purple-400 {
  background-color: core.$purple-400;
  color: core.$uq-white;
  @media #{core.$screen-lg-up} {
    &::after {
      content: 'purple-400';
    }
  }
}

.uqds-colour--purple-500,
.uqds-colour--purple {
  background-color: core.$uq-purple;
  color: core.$uq-white;
  @media #{core.$screen-lg-up} {
    &::after {
      content: 'purple-500';
    }
  }
}

.uqds-colour--purple-600 {
  background-color: core.$purple-600;
  color: core.$uq-white;
  @media #{core.$screen-lg-up} {
    &::after {
      content: 'purple-600';
    }
  }
}

.uqds-colour--purple-700 {
  background-color: core.$purple-700;
  color: core.$uq-white;
  @media #{core.$screen-lg-up} {
    &::after {
      content: 'purple-700';
    }
  }
}

.uqds-colour--purple-800 {
  background-color: core.$purple-800;
  color: core.$uq-white;
  @media #{core.$screen-lg-up} {
    &::after {
      content: 'purple-800';
    }
  }
}

.uqds-colour--purple-900 {
  background-color: core.$purple-900;
  color: core.$uq-white;
  @media #{core.$screen-lg-up} {
    &::after {
      content: 'purple-900';
    }
  }
}

.uqds-text-color--purple {
  color: core.$uq-purple;
}

.uqds-colour--black {
  background-color: core.$uq-black;
}

.uqds-colour--white {
  background-color: core.$uq-white;
  border: 1px solid #eeeeee;
}

.uqds-text-color--white {
  color: core.$uq-white;
}

/* UQ secondary palette */
.uqds-colour--purple-light {
  background-color: core.$uq-purple-light;
}

.uqds-colour--neutral {
  background-color: core.$uq-neutral;
}

.uqds-colour--darkgrey {
  background-color: core.$uq-darkgrey;
}

.uqds-colour--gold {
  background-color: core.$uq-gold;
}

.uqds-colour--red {
  background-color: core.$uq-red;
}

.uqds-colour--orange {
  background-color: core.$uq-orange;
}

.uqds-colour--yellow {
  background-color: core.$uq-yellow;
}

.uqds-colour--blue {
  background-color: core.$uq-blue;
}

.uqds-colour--aqua {
  background-color: core.$uq-aqua;
}

.uqds-colour--green {
  background-color: core.$uq-green;
}

/* UQ purple gradient */
.uqds-purple-gradient {
  background: core.$uq-purple-gradient;
}

/* Neutral tints */
.uqds-neutral-light20 {
  background-color: core.$uq-neutral-light20;
}

.uqds-neutral-light40 {
  background-color: core.$uq-neutral-light40;
}

.uqds-neutral-light60 {
  background-color: core.$uq-neutral-light60;
}

.uqds-neutral-light80 {
  background-color: core.$uq-neutral-light80;
}

/* Neutral shades */
.uqds-neutral-dark20 {
  background-color: core.$uq-neutral-dark20;
}

.uqds-neutral-dark40 {
  background-color: core.$uq-neutral-dark40;
}

.uqds-text-color--grey {
  color: core.$uq-neutral-dark40;
}

.uqds-neutral-dark60 {
  background-color: core.$uq-neutral-dark60;
}

.uqds-neutral-dark80 {
  background-color: core.$uq-neutral-dark80;
}

/* Darkgrey tints */
.uqds-darkgrey-light20 {
  background-color: core.$uq-darkgrey-light20;
}

.uqds-darkgrey-light40 {
  background-color: core.$uq-darkgrey-light40;
}

.uqds-darkgrey-light60 {
  background-color: core.$uq-darkgrey-light60;
}

.uqds-darkgrey-light80 {
  background-color: core.$uq-darkgrey-light80;
}

/* Red shades */
.uqds-red-dark10 {
  background-color: core.$uq-red-dark10;
}

.uqds-red-dark20 {
  background-color: core.$uq-red-dark20;
}

/* Green shades */
.uqds-green-dark10 {
  background-color: core.$uq-green-dark10;
}

/* Links */
.uqds-link-color {
  background-color: core.$link;
}

.uqds-link-active-color {
  background-color: core.$link-active;
}

.uqds-link-hover-color {
  background-color: core.$link-hover;
}

/* Text */
.uqds-text-bgcolor {
  background-color: core.$text;
}

.uqds-text-color {
  color: core.$text;
}

/* Alerts */
.uqds-colour--info {
  background-color: core.$info-light;
}

.uqds-colour--success {
  background-color: core.$success-light;
}

.uqds-colour--warning {
  background-color: core.$warning-light;
}

.uqds-colour--alert {
  background-color: core.$alert-light;
}

.uqds-colour--info-dark {
  background-color: core.$info;
}

.uqds-colour--success-dark {
  background-color: core.$success;
}

.uqds-colour--warning-dark {
  background-color: core.$warning;
}

.uqds-colour--alert-dark {
  background-color: core.$alert;
}
