@use "@uqds/core/src/scss/global" as *;

.uqds-space {
  background-color: rgba($uq-black, 0.75);
  width: $space-xxxxxl;
  height: $space-xxxxxl;
}

.uqds-space-xs {
  width: $space-xs;
  height: $space-xs;
}

.uqds-space-sm {
  width: $space-s;
  height: $space-s;
}

.uqds-space-md {
  width: $space-xxxxxl;
  height: $space-xxxxxl;
}

.uqds-space-lg {
  width: $space-xxxxxl;
  height: $space-xxxxxl;
}

.uqds-space-xl {
  width: $space-xxxxxl;
  height: $space-xxxxxl;
}

.uqds-space-xxl {
  width: $space-xxxxxl;
  height: $space-xxxxxl;
}

.uqds-space-xxxl {
  width: $space-xxxxxl;
  height: $space-xxxxxl;
}

.uqds-space-xxxxl {
  width: $space-xxxxxl;
  height: $space-xxxxxl;
}

.uqds-space-ul {
  width: $space-ul;
  height: $space-ul;
}

.uqds-space-uul {
  width: $space-uul;
  height: $space-uul;
}

.uqds-space-uuul {
  width: $space-uuul;
  height: $space-uuul;
}

.uqds-space-uuuul {
  width: $space-uuuul;
  height: $space-uuuul;
}

/* Container example */
.uqds-container {
  background-color: rgba($uq-black, 0.75);
  display: inline-block;
}

.uqds-container-space {
  padding: $space-xxxxxl;
}

.uqds-container-space-lg {
  padding: $space-xxxxxl;
}

/* compressed container */
.uqds-compressed-space-lg {
  padding: $space-compressed-l $space-xxxxxl;
}

/* Stretched container */
.uqds-stretched-space {
  padding: $space-stretched $space-xxxxxl;
}

/* Stacked */
.uqds-container .uqds-stacked-space {
  margin-top: $space-xxxxxl;
}

.uqds-container .uqds-stacked-space-xs {
  margin-top: $space-xs;
}

.uqds-container .uqds-stacked-space-lg {
  margin-top: $space-xxxxxl;
}

/* inlinec */
.uqds-container .uqds-inline-space {
  margin-right: $space-xxxxxl;
  display: inline;
}

.uqds-container .uqds-inline-space-xs {
  margin-right: $space-xs;
  display: inline;
}

.uqds-container .uqds-inline-space-lg {
  margin-right: $space-xxxxxl;
  display: inline;
}
