@use "@uqds/core/src/scss/global" as core;

.uqds-font {
  &--roboto {
    font-family: core.$roboto;
  }

  &--merriweather {
    font-family: core.$merriweather;
  }

  &--montserrat {
    font-family: core.$montserrat;
  }

  &--arial {
    font-family: Arial, sans-serif !important;
  }

  &--georgia {
    font-family: Georgia, serif !important;
  }

  &--italic {
    font-style: italic;
  }

  &--300 {
    font-weight: 300;
  }

  &--500 {
    font-weight: 500;
  }

  &--lead {
    font-size: 1.25rem;
  }

  &--small {
    font-size: 0.875rem;
  }

  &--xsmall {
    font-size: 0.75rem;
  }
}
