@use "@uqds/core/src/scss/global" as core;

.uq-image {
  margin: 0 0 core.$space-l;
  container-type: inline-size;

  & img {
    display: block;
  }
}

.uq-image__image {
  aspect-ratio: 1.5 / 1;
  position: relative;

  @container (min-width: 801px) {
    height: 640px;
    width: 100%;
    aspect-ratio: unset;
  }

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    inset: 0;
  }
}

.uq-image__caption {
  margin-top: core.$space-m;

  & p {
    margin-bottom: core.$space-s;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
