@use "@uqds/core/src/scss/global" as core;

:root {
  --pill-height: 42px;
  --pill-background: #{var(--uq-white)};
  --pill-colour: #{var(--uq-purple-500)};
  --pill-font-size: #{var(--uq-font-size-m)};
  --pill-padding: 12px #{var(--uq-space-m)};
}
