@use "@uqds/core/src/scss/global" as core;
@use "@uqds/body/src/scss/global" as body;
@use "@uqds/icon/src/scss/global" as icon-constants;

.uq-pill-list {
  display: flex;
  flex-direction: column;
  gap: var(--uq-space-m);

  @media #{core.$screen-sm-up} {
    flex-direction: row;
    gap: var(--uq-space-l);
  }
}

.uq-pill-list__title {
  margin: 0;
  font-size: var(--uq-font-size-l);

  @media #{core.$screen-sm-up} {
    margin-top: var(--uq-space-xs);
  }
}

.uq-pill-list__content {
  display: flex;
  flex-wrap: wrap;
  gap: var(--uq-space-m);
}
