@use "@uqds/core/src/scss/global" as core;

$image-path: '../images' !default;

.blockquote {
	border: none;
	color: core.$uq-purple;
	font-style: italic;
	height: auto;
	margin-left: core.$space-l;
	padding: core.$space core.$space-m;
	position: relative;
	width: calc(100% - #{core.$space-l});

	&::before {
		background-color: core.$uq-purple;
		content: '';
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: core.$space-xs;
	}

	&--light {
		color: core.$uq-purple;

		&::before {
			background-color: core.$uq-purple;
		}
		&.blockquote--quotemark::before {
			background-image: url('#{$image-path}/icon-open-doublequote-light.svg');
		}
	}

	&--dark {
		background-color: core.$uq-purple;
		color: core.$uq-white;

		&::before {
			background-color: core.$uq-white;
		}
		&.blockquote--quotemark::before {
			background-image: url('#{$image-path}/icon-open-doublequote-dark.svg');
		}

		.blockquote__link,
		.blockquote__link:link,
		.blockquote__link:visited,
		.blockquote__link:active {
			color: core.$uq-white;
			text-decoration: underline;
		}
		.blockquote__link:hover {
			text-decoration: none;
		}
	}

	&--boxed {
		background: core.$uq-purple-gradient;
		margin-left: core.$space-none;
		padding: core.$space-xxl core.$space-xxl;
		width: 100%;

		&::before {
			content: '';
			height: calc(100% - 60px);
			left: core.$space-l;
			position: absolute;
			top: core.$space-l;
			width: core.$space-xs;
		}
		&.blockquote--quotemark::before {
			left: core.$space-s;
			position: absolute;
			top: core.$space-xl;
		}
	}

	&--quotemark {

		&::before {
			background-color: transparent;
			background-image: url('#{$image-path}/icon-open-doublequote-light.svg');
			background-size: contain;
			background-repeat: no-repeat;
			display: inline-block;
			fill: core.$uq-black;
			height: core.$space-l;
			left: -(core.$space);
			position: absolute;
			stroke: core.$uq-black;
			stroke-width: 0;
			top: 0;
			width: core.$space-l;
		}
	}

	&__body {
		font-family: 'Merriweather', serif;
		font-size: core.$font-size-l;
		font-weight: 300;
		line-height: 1.4;

		p:first-child {
			margin-top: 0;
		}
	}

	&__footer {
		font-size: core.$font-size-s;

		p:last-child {
			margin-bottom: 0;
		}
	}

	cite {
		display: inline-block !important;
	}
}
