/* Blocks */
  .blockquote {
    position: relative;
    width: calc(100% - 30px);
    height: auto;
    margin-left: 30px;
    padding: 15px 20px;
    border: none;
    color: $uq-purple;
    font-style: italic;
  }
  
  .blockquote.blockquote--light {
    color: $uq-purple;
  }
  
  .blockquote.blockquote--dark {
    color: $uq-white;
    background-color: $uq-purple;
  }
  
  .blockquote.blockquote--boxed {
    width: 100%;
    margin-left: 0;
    padding: 50px 50px;
    background: $uq-purple-gradient /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  }
  
  .blockquote::before {
    position: absolute;
    top: 0;
    left: 0;
    content:'';
    width: 5px;
    height: 100%;
    background-color: $uq-purple;
  }
  
  .blockquote.blockquote--light::before {
    background-color: $uq-purple;
  }
  
  .blockquote.blockquote--dark::before {
    background-color: $uq-white;
  }
  
  .blockquote.blockquote--boxed::before {
    position: absolute;
    top: 30px;
    left: 30px;
    content:'';
    width: 5px;
    height: calc(100% - 60px);
  }
  
  /*.blockquote.blockquote--quotemark::before {
    position: absolute;
    top: 0px;
    left: -20px;
    width: auto;
    height: auto;
    content: open-quote;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 6rem;
    font-style: normal;
    line-height: 100%;
    color: #edeaf1;
    background-color: transparent;
  }*/

  .blockquote.blockquote--quotemark::before {
    position: absolute;
    top: 0px;
    left: -20px;
    width: 34px;
    height: 27px;
    stroke-width: 0;
    stroke: #000;
    fill: #000;
    background-image: url(/images/icon-open-doublequote.svg);
    background-size: cover;
    display: inline-block;
  }

  .blockquote.blockquote--quotemark::after {
    position: absolute;
    bottom: 0px;
    right: -20px;
    width: 0;
    height: 0;
    content: close-quote;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 6rem;
    font-style: normal;
    line-height: 100%;
    color: #edeaf1;
    background-color: transparent;
    overflow: hidden;
  }
  
  .blockquote.blockquote--light.blockquote--quotemark::before,
  .blockquote.blockquote--dark.blockquote--quotemark::after {
    color: #edeaf1;
  }
  
  .blockquote.blockquote--dark.blockquote--quotemark::before,
  .blockquote.blockquote--dark.blockquote--quotemark::after {
    color: #643b85;
  }
  
  .blockquote.blockquote--boxed.blockquote--quotemark::before {
    position: absolute;
    top: 40px;
    left: 10px;
  }
  
  /* Elements */
  .blockquote__body {
    font-family: 'Merriweather', serif;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.5;
  }
  
  .blockquote__footer {
    font-size: 0.875rem;
  }
  
  .blockquote.blockquote--dark .blockquote__link,
  .blockquote.blockquote--dark .blockquote__link:link,
  .blockquote.blockquote--dark .blockquote__link:visited,
  .blockquote.blockquote--dark .blockquote__link:active {
    color: $uq-white;
    text-decoration: underline;
  }
  
  .blockquote.blockquote--dark .blockquote__link:hover {
    text-decoration: none;
  }
  
  blockquote cite {
    display: inline-block !important;
  }

  p:first-child {
    margin-top: 0;
  }