@use "@uqds/core/src/scss/global" as core;

blockquote {
  border-left: 6px solid core.$purple-500;
  border-radius: 4px;
  font-size: core.$font-size-xl;
  margin: core.$space-xxl 0;
  padding-left: core.$space-l;
  font-style: normal;

  & > p {
    margin-bottom: core.$space-m;
  }
}

cite {
  font-size: core.$font-size-m;
  font-style: inherit;
  font-weight: core.$font-weight-medium;
}

.blockquote--light {
  color: core.$white;
  border-color: core.$white;

  & a {
    color: core.$white;
  }
}
