@import '_global.scss';

// Refer to the form component for a duplicate call to Foundation buttons
@import '~foundation-sites/scss/foundation/components/buttons';
@import '~foundation-sites/scss/foundation/components/dropdown';
@import '~foundation-sites/scss/foundation/components/dropdown-buttons';

.button, button {
  &.button--secondary {
    background-color: $secondary-button-bg-color !important; // Required as Foundation button styles are duplicated in form package
    color: $secondary-button-color !important; // Required as Foundation button styles are duplicated in form package

    &:focus,
    &:hover {
      background-color: $secondary-button-bg-hover !important; // Required as Foundation button styles are duplicated in form package
    }
  }

  &.button--tertiary {
    background-color: $tertiary-button-bg-color !important; // Required as Foundation button styles are duplicated in form package
    color: $tertiary-button-color !important; // Must counter palette styling in order to avoid white text on grey.

    &:focus,
    &:hover {
      background-color: $tertiary-button-bg-hover !important; // Required as Foundation button styles are duplicated in form package
      color: $tertiary-button-color !important; // Required as Foundation button styles are duplicated in form package
    }
  }

  &.button--white {
    background-color: $white-button-bg-color !important; // Required as Foundation button styles are duplicated in form package
    color: $link-color !important; // Must counter palette styling in order to avoid white text on white.

    &:focus,
    &:hover {
      background-color: $white-button-bg-hover !important; // Required as Foundation button styles are duplicated in form package
    }
  }

  &.button--outline {
    background-color: transparent !important; // Required as Foundation button styles are duplicated in form package
    border: 2px solid $button-bg-color !important; // Required as Foundation button styles are duplicated in form package
    color: $link-color !important; // Required as Foundation button styles are duplicated in form package
    padding: .85rem 1.9rem .9625rem; // Slightly decreased to counter the added border.

    &.button--secondary {
      border-color: $secondary-button-border-color !important; // Required as Foundation button styles are duplicated in form package
      color: #222 !important; // Required as Foundation button styles are duplicated in form package

      &:focus,
      &:hover {
        color: #fff !important; // Required as Foundation button styles are duplicated in form package
      }
    }

    &.button--tertiary {
      border-color: $tertiary-button-border-color !important; // Required as Foundation button styles are duplicated in form package
      color: #222 !important; // Required as Foundation button styles are duplicated in form package
    }

    &.button--white {
      border-color: $white-button-border-color !important; // Required as Foundation button styles are duplicated in form package
      color: #fff !important;

      &:focus,
      &:hover {
        color: $link-color !important;
      }
    }
  }

  &.button--full-width {
    width: 100%;
  }

  &.button--no-margin {
    margin-bottom: 0 !important; // Required as Foundation button styles are duplicated in form package
  }

  &.button--responsive {
    @include button-size($button-tny, false);
    &.button--outline {
      @include button-size($button-tny - rem-calc(2px), false);
    }
    @media #{$medium-up} {
      @include button-size($button-sml, false);
      &.button--outline {
        @include button-size($button-sml - rem-calc(2px), false);
      }
    }
    @media #{$large-up} {
      @include button-size($button-med, false);
      &.button--outline {
        @include button-size($button-med - rem-calc(2px), false);
      }
    }
  }
}

// Overrides for when displayed within wysiwyg fields.
.cke_editable {
  .button--white {
    box-shadow: 0 0 5px #000;

    &.button--outline {
      text-shadow: 0 0 2px #000;
    }
  }
}
