// Variables, functions, and mixins

@import "~@uq-uidf/core/src/scss/_global.scss";

$button-bg-color: $link-color;
$button-bg-hover: $link-active-color;
$button-border-color: transparent;
$secondary-button-color: #fff;
$secondary-button-bg-color: #444;
$secondary-button-bg-hover: #333;
$secondary-button-border-color: #444;
$tertiary-button-color: #222;
$tertiary-button-bg-color: #eee;
$tertiary-button-bg-hover: #ddd;
$tertiary-button-border-color: #ddd;
$white-button-bg-color: #fff;
$white-button-bg-hover: #eee;
$white-button-border-color: #fff;

// Override Foundation button text size defaults
$button-font-med: 1rem;
$button-font-tny: 0.875rem;
$button-font-sml: 1rem;
