@use '@uqds/core/src/scss/global' as core;
@use "@uqds/icon/src/scss/global" as icon-constants;
@use '@uqds/grid/src/scss/global' as grid;
@use 'global' as *;

.new-footer {
    background: core.$uq-purple; 
    box-sizing:border-box;
    color:#d4c8de;

    &__reconciliation {
      background:$uq-black;
      background-image: linear-gradient(90deg, rgba(81, 36, 122, .7), rgba(81, 36, 122, .7)), url("../images/brisbane-river-artwork.png");
      /*background-repeat: no-repeat;*/
    }

    &__acknowledgement {
      max-width: 73.25rem;
      padding: $space-xl $space-m;
      color: #d4c8de;
      font-weight: 400;
      font-size: $font-size-m;
      line-height: 1.5;
      margin:auto;

      @media #{core.$screen-xl-up} {
        padding: $space-xl $space;
      }

    }

    &__link {
      font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
      font-style: normal;
      font-weight: 400;
      color:$uq-white;
      
      &:hover {
        text-decoration:underline;
        color:$uq-white;
      }
    }

    /* NAVIGATION */

    &__navigation {
      /* border-bottom: 1px solid #d4c8de; */
      padding: 0;

      @media #{core.$screen-lg-up} {
        padding: $space-xl $space-m $space-none;
      }
      @media #{core.$screen-xl-up} {
        padding: $space-xl $space-none $space-none;
      }

      &--is-open {
        .new-footer__navigation-level-2 {
          height: auto;
          overflow:hidden;
        }
      }
    }

    &__navigation-list {
      display: block;
      list-style-type: none;
      margin: $space-none;
      padding: $space-none;
    }

    &__navigation-item {
      /* border-top: 1px solid #d4c8de; */
      background-color: transparent;
      display: block;
      margin: $space-none;
      padding: $space-none;
      position: relative;  

      @media #{core.$screen-lg-up} {
        border: none;
      } 
    }

    &__navigation-title {
      color: #d4c8de;
      font-size: $font-size-m;
      font-weight: 500;
      margin: $space-none;
    }

    &__navigation-link {
      display: block;
      padding: $space $space-m;
      color: $uq-white;

      &:hover {
        color: $uq-white;
        text-decoration: underline;
      }

      @media #{core.$screen-lg-up} {
        padding:$space $space-none $space-none;
        font-weight: 500;
      }

      
    }
    &__navigation-toggle {

      @media #{core.$screen-lg-up} {
        display: none;
      }
    }

    &__navigation-level-1 {
      border: none;
      display: grid;

      // @media #{core.$screen-md-up} {
      //   grid-template-columns: repeat(3, minmax(0, 1fr));
      // }

      @media #{core.$screen-lg-up} {
        grid-template-columns: repeat(5, 1fr);
        grid-gap: $space;
      }

      @media #{core.$screen-xl-up} {
        padding: $space-none;
      }

    }

    &__navigation-level-2 {
      height: $space-none;
      overflow: hidden;
      background-color: #48206c;

      @media #{core.$screen-lg-up} {
        height: auto;
        overflow: auto;
        background-color: transparent;
      }

      .new-footer__navigation-item {

        @media #{core.$screen-lg-up} {
          background-color: transparent;
          border: none;
          padding: 0.75rem $space-none $space-none;
        }
        &:first-of-type {
          padding: $space $space-none $space-none;
        }
      }

      .new-footer__navigation-link {

        @media #{core.$screen-lg-up} {
          color: $uq-white;
          padding: $space-none;
          font-weight: normal;

          &:hover {
            color: $uq-white;
          }
        }
      }
      
    }

    &__navigation-toggle::before {
      content: "";
      background-image: url(icon-constants.get-icon("standard--chevron-down", core.$uq-white));
      background-repeat: no-repeat;
      width: $space;
      height: $space;
      transform: translateY(50%);
      position: absolute;
      top: 0.688rem;
      right: $space-xl;

      @media #{core.$screen-lg-up} {
        background-image: none;
      }
    }
    
    .uq-accordion__toggle--active::before {
      background-image: url(icon-constants.get-icon("standard--chevron-up", core.$uq-white));
    }


    /* FOOTER */

    &__footer {
      padding:$space-xl $space-m;

      @media #{core.$screen-xl-up} {
        padding: $space-m $space-none;
      }

    }

    &__footer-list {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      list-style-type: none;
      margin: $space-none;
      padding: $space-none;
      font-size: $font-size-s;

      @media #{core.$screen-lg-up} {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin: $space-none;
        padding: $space-none;
      }
    }

    &__footer-item {
      padding-right: $space;
    }

    /* CONTACT */

    &__contact {
      font-size: $font-size-s;
      padding: $space-xl $space-m $space-none;

      @media #{core.$screen-lg-up} { 
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: $space-none;
        padding: $space-xl $space-m $space-none;
      }
      @media #{core.$screen-xl-up} { 
        padding: $space-m $space-none $space-none;
      }    
       
    }
    &__contact-login {
      margin-top: $space-xl;
      font-size: $font-size;

      @media #{core.$screen-lg-up} {
        margin-top: $space-none;
      }
    }

    &__contact-social {
      flex-direction: row;

      .new-footer__footer-item {
        margin-bottom: $space-none;
      }

    }

    /* META */

    &__meta {
      padding: $space-xl $space-m $space-none;
      font-size: $font-size-s;

      @media #{core.$screen-xl-up} {
        padding: $space-m $space-none $space-none;
      }
    
    }

    &__meta-icons {
      font-size: $font-size-xl;

      &::before {
        content: "";
        display: inline-block;
        height: $space-l;
        width: $space-l;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        vertical-align: text-bottom;
      }

      &:hover::before {
        transition: all ease .5s;
      }

      /* Facebook icon */
      &--facebook::before {
        background-image: url(icon-constants.get-icon("social--social-facebook-circle", core.$uq-white));
    
      }
      &--facebook:hover::before {
        background-image: url(icon-constants.get-icon("social--social-facebook-circle", #d4c8de));
      }

      /* Linkedin icon */
      &--linkedin::before {
        background-image: url(icon-constants.get-icon("social--social-linkedin-circle", core.$uq-white));
      }
      &--linkedin:hover::before {
        background-image: url(icon-constants.get-icon("social--social-linkedin-circle", #d4c8de));
      }

      /* Twitter icon */
      &--twitter::before {
        background-image: url(icon-constants.get-icon("social--social-twitter-circle", core.$uq-white));
      }
      &--twitter:hover::before {
        background-image: url(icon-constants.get-icon("social--social-twitter-circle", #d4c8de));
      }

      /* Youtube icon */
      &--youtube::before {
        background-image: url(icon-constants.get-icon("social--social-you-tube-circle", core.$uq-white));
      }
      &--youtube:hover::before {
        background-image: url(icon-constants.get-icon("social--social-you-tube-circle", #d4c8de));
      }
    
      /* Instagram icon */
      &--instagram::before {
        background-image: url(icon-constants.get-icon("social--social-instagram2-circle", core.$uq-white));
      }
      &--instagram:hover::before {
        background-image: url(icon-constants.get-icon("social--social-instagram2-circle", #d4c8de));
      }

    }

    &--desktop {
      display: none;

      @media #{core.$screen-lg-up} {
        display: block;
      }
    }

    &--mobile {
      display: block;

      @media #{core.$screen-lg-up} {
        display: none;
      }

      .uq-accordion {
        padding: $space-none;

        &__item {
          color: #d4c8de;
          border: none;
          padding-left: $space-none;
        }

        &__toggle {
          background-color: core.$uq-purple;
          color:$uq-white;
          font-size: $font-size;
          padding-left: $space-m;
        }

        &__item--is-open {
          box-shadow: none;
        }

        &__content-wrapper {
          padding:$space-none;
        }
      }

    }

    @media #{core.$screen-xl-up} { 
      &__container {
        padding-left: $space-m;
        padding-right: $space-m;
        margin-left:auto;
        margin-right:auto;
        max-width:73.25rem;
      }
    }

  }  