@use '@uqds/core/src/scss/global' as core;
@use '@uqds/grid/src/scss/global' as grid;
@use 'global' as *;

.new-footer {
    background: core.$uq-purple; 
    box-sizing:border-box;
    color:#d4c8de;

    &__reconciliation {
      background:#000;
      background-image: linear-gradient(90deg, rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)), url("../images/rap-artwork.png");
      /*background-repeat: no-repeat;*/
    }

    &__acknowledgement {
      max-width:650px;
      padding: 2.5rem;
      color: #d4c8de;
      font-family: "Merriweather",Georgia,serif;
      font-style: italic;
      font-weight: 400;
      font-size: 1.25rem;
      line-height: 1.5;
    }

    &__link {
      font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
      font-style: normal;
      font-weight: 400;
      color:#fff;
      
      &:hover {
        text-decoration:underline;
        color:#fff;
      }
    }

    &__navigation {
      /* border-bottom: 1px solid #d4c8de; */

      @media #{core.$screen-lg-up} {
        padding: 2.5rem 0;
      }

      &--is-open {
        .new-footer__navigation-level-2 {
          height: auto;
          overflow:hidden;
        }
      }
    }

    &__navigation-list {
      display: block;
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    &__navigation-item {
      /* border-top: 1px solid #d4c8de; */
      background-color: transparent;
      display: block;
      margin: 0;
      padding: 0;
      position: relative;  

      @media #{core.$screen-lg-up} {
        border: none;
      }


      
    }

    &__navigation-link {
      display: block;
      padding: 1rem 2.5rem;
      color: #FFFFFF;

      &:hover {
        color: #ffffff;
        text-decoration: underline;
      }

      @media #{core.$screen-lg-up} {
        padding:0.5rem 0 0;
        font-weight: 700;
      }

      
    }
    &__navigation-toggle {

      @media #{core.$screen-lg-up} {
        display: none;
      }
    }

    &__navigation-level-1 {
      border: none;
      display: grid;

      // @media #{core.$screen-md-up} {
      //   grid-template-columns: repeat(3, minmax(0, 1fr));
      // }

      @media #{core.$screen-lg-up} {
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 1rem;
      }

      @media #{core.$screen-xl-up} {
        padding: 0;
      }

    }

    &__navigation-level-2 {
      height: 0;
      overflow: hidden;

      @media #{core.$screen-lg-up} {
        height: auto;
        overflow: auto
      }

      .new-footer__navigation-item {
        /*background-color: #f7f6f5;*/

        @media #{core.$screen-lg-up} {
          background-color: transparent;
          border: none;
        }
      }

      .new-footer__navigation-link {
        /*color: #2b2a29;*/
        &:hover {
          /*color: #2b2a29;*/
        }

        @media #{core.$screen-lg-up} {
          color: #fff;
          padding: 0.5rem 0 0;
          font-weight: normal;

          &:hover {
            color: #fff;
          }

        }
      }
      
    }


    &__navigation-toggle::after {
      content: "";
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath d='m14.285 5.145-6 6.167a.41.41 0 0 1-.598 0L1.715 5.145' fill='none' stroke='%23ffffff' stroke-width='.75' stroke-linecap='round' stroke-linejoin='round'%3e%3c/path%3e%3c/svg%3e");
      background-repeat: no-repeat;
      width: 1rem;
      height: 1rem;
      transform: translateY(50%);
      position: absolute;
      top: 0.688rem;
      right: 2.5rem;

      @media #{core.$screen-lg-up} {
        background-image: none;
      }
    }

    &__navigation--is-open::after {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath d='m1.715 10.855 6-6.168a.41.41 0 0 1 .597 0l5.973 6.168' fill='none' stroke='%23ffffff' stroke-width='.75' stroke-linecap='round' stroke-linejoin='round'%3e%3c/path%3e%3c/svg%3e");
      
      @media #{core.$screen-lg-up} {
        background-image: none;
      }
    }

    &__contact {
      font-size: 0.875rem;
      padding: 2.5rem 2.5rem 0;

      // .new-footer__contact-enquiries {
      //   grid-column-start: 1;
      //   grid-column-end: 5;
      //   grid-row-start: 1;
      //   grid-row-end: 2;
      // }

      // .new-footer__contact-emergency {
      //   grid-column-start: 1;
      //   grid-column-end: 3;
      //   grid-row-start: 3;
      //   grid-row-end: 4;
      // }

      // .new-footer__contact-security {
      //   grid-column-start: 3;
      //   grid-column-end: 5;
      //   grid-row-start: 3;
      //   grid-row-end: 4;
      // }

      // .new-footer__contact-social {
      //   grid-column-start: 1;
      //   grid-column-end: 5;
      //   grid-row-start: 5;
      //   grid-row-end: 6;
      // }

      @media #{core.$screen-lg-up} { 
        padding: 2.5rem 0 0;
      }

      
    }


  }  
  





  .new-footer__navigation-level-1 {

  }
  .new-footer__navigation-level-2 {

  }


  @media(min-width: 64.25rem) {
    // .new-footer__navigation {
    //   padding: 2.5rem 0;
    // }
    // .new-footer__navigation-level-1 {
    //   border: none;
    //   display: grid;
    //   grid-template-columns: repeat(3, minmax(0, 1fr));
    //   grid-gap: 1rem;
    // }
  }
  @media(min-width: 73.25rem) {
    // .new-footer__navigation {
    //   padding: 2.5rem 0;
    // }
    // .new-footer__navigation-level-1 {
    //   border: none;
    //   display: grid;
    //   grid-template-columns: repeat(5, minmax(0, 1fr));
    //   grid-gap: 1rem;
    // }
    // .new-footer__navigation-level-1 .new-footer__navigation-item {

    // }
    // .new-footer__navigation-level-1 .new-footer__navigation-link {
    //   padding:0.5rem 0 0;
    //   font-weight: 700;
    // }
    // .new-footer__navigation-level-2 .new-footer__navigation-item {
    //   background-color: transparent;
    // }
    // .new-footer__navigation-item {
    //   border: none;
    // }
    // .new-footer__navigation-level-2 .new-footer__navigation-link, .new-footer__navigation-level-2 .new-footer__navigation-link:hover {
    //   color: #fff;
    //   padding:0.5rem 0 0;
    //   font-weight: normal;
    // }
    // .new-footer__navigation-toggle::after {
    //   background-image: none;
    // }
  }

  /* Footer contact details */

  .new-footer__contact-item {
  }
  .new-footer__contact-item p:last-of-type {
  margin-bottom: 0; /* allows grid gap to dictate spacing between last P tags (which currently have bottom instead of top margin.) */
  }
  @media(min-width: 73.25rem) {
  //  .new-footer__contact {
  //   display: grid;
  //   grid-template-columns: auto auto auto auto;
  //   grid-gap: 1.5rem;
  //   justify-content: space-between; 
  //   padding: 2.5rem 0 0;
  //  }
  }
  .new-footer__sub-title {
    color: #d4c8de;
    font-size: 1.125rem;
    font-weight: 500;
    margin: 0;
  }
  .new-footer__navigation {
    padding: 2.5rem 2.5rem 0;
  }
  .new-footer__contact {
    padding: 2.5rem 2.5rem 0;
    font-size: 0.875rem;
  }
  @media(min-width: 64.25rem) {
    .new-footer__contact {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin: 0;
    }
  }
  .new-footer__contact-login {
    margin-top: 2.5rem;
  }
  @media(min-width: 64.25rem) {
    .new-footer__contact-login {
      margin-top: auto;
    }
  }
  .new-footer__meta {
    padding: 2.5rem 2.5rem 0;
    font-size: 0.875rem;
  }
  .new-footer__meta-icons {
    font-size: 1.5rem;
  }
  .new-footer__footer {
    padding:2.5rem;
  }
  .new-footer__footer-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 0.875rem;
  }
  @media(min-width: 64.25rem) {
  .new-footer__footer-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0;
    padding: 0;
  }
}
.new-footer__contact-social {
  flex-direction: row;
}
  .new-footer__footer-item {
    padding-right: 1rem;
  }
  /*.new-footer__footer-list .new-footer__footer-item::after {
    content: " | ";
    padding: 0 0.5rem;
    text-align: center;
  }
  */
    /*.new-footer__footer-list .new-footer__footer-item:last-of-type::after {
    content:none;
    padding-right:0
  }
   */
  .new-footer__footer-item {
    margin-bottom: 0.5rem;
  }

  @media(min-width: 73.25rem) {
    .new-footer__container {
      padding-left: 1rem;
      padding-right: 1rem;
      margin-left:auto;
      margin-right:auto;
      max-width:73.25rem;
    }
    .new-footer__reconciliation {
    background:#000;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.0) 400px, rgba(0, 0, 0, 1) 640px), url("../images/rap-artwork.png");
    /*background-repeat: no-repeat;*/
    }
    .new-footer__acknowledgement {
      position: relative;
      max-width:1140px;
      margin: auto;
      padding: 60px 60px 60px 426px;
      color: #d4c8de;
      font-family: "Merriweather",Georgia,serif;
      font-style: italic;
      font-weight: 400;
      font-size: 1.25rem;
      line-height: 1.5;
    }
    .new-footer__navigation {
      padding: 2.5rem 0 0;
    }
    .new-footer__contact {
      padding: 1.5rem 0 0;
    }
    .new-footer__meta {
      padding: 1.5rem 0 0;
    }
    .new-footer__footer {
      padding: 1.5rem 0;
    }
  }

  .new-footer--desktop {
    display: none;
  }
  .new-footer--mobile {  
    display: block;
  }

  .new-footer--mobile .uq-accordion {
  padding: 0rem;
  }
  .new-footer--mobile .uq-accordion__item {
    color: #d4c8de;
    border: none;
    padding-left: 0;
  }
  .new-footer--mobile .uq-accordion__toggle {
    background-color: core.$uq-purple;
    color:#fff;
    font-size: 1rem;
    padding-left: 0;
  }
  .new-footer--mobile .uq-accordion__item--is-open {
    box-shadow: none;
  }
  .new-footer--mobile .uq-accordion__content {
    
  }
  .new-footer--mobile .uq-accordion__content-wrapper {
    padding:0;
  }

  @media(min-width: 64.25rem) {
    .new-footer--desktop {
      display: block;
    }
    .new-footer--mobile {  
      display: none;
    }
  }