@use '@uqds/core/src/scss/global' as core;
@use "@uqds/icon/src/scss/global" as icon-constants;
@use 'global' as *;

.uq-loading-spinner {
	color: core.$uq-purple;
	background-color: transparent;
	border-radius: 50%;
	height: 3rem;
	padding: .25rem;
	overflow: hidden;
	width: 3rem;
	-webkit-mask-image: linear-gradient(transparent 50%,#000 0),linear-gradient(90deg,transparent 50%,#000 0);
	mask-image: linear-gradient(transparent 50%,#000 0),linear-gradient(90deg,transparent 50%,#000 0);
	-webkit-animation: pure-material-progress-circular 6s cubic-bezier(.3,.6,1,1) infinite;
	animation: pure-material-progress-circular 6s cubic-bezier(.3,.6,1,1) infinite;

	&::before {
		background-color: transparent;
		border: .25rem solid transparent;
		border-top-color: core.$uq-purple;
		border-radius: 50%;
		box-sizing: border-box;
		content: "";
		display: block;
		height: 100%;
		margin-bottom: .25rem;
		width: 100%;
		-webkit-animation: pure-material-progress-circular-pseudo .75s linear infinite alternate;
		animation: pure-material-progress-circular-pseudo .75s linear infinite alternate;
	}
}

@-webkit-keyframes pure-material-progress-circular {
	0% {
		transform: rotate(0deg)
	}
	12.5% {
		transform: rotate(180deg);
		-webkit-animation-timing-function: linear;
		animation-timing-function: linear
	}
	25% {
		transform: rotate(630deg)
	}
	37.5% {
		transform: rotate(810deg);
		-webkit-animation-timing-function: linear;
		animation-timing-function: linear
	}
	50% {
		transform: rotate(1260deg)
	}
	62.5% {
		transform: rotate(4turn);
		-webkit-animation-timing-function: linear;
		animation-timing-function: linear
	}
	75% {
		transform: rotate(1890deg)
	}
	87.5% {
		transform: rotate(2070deg);
		-webkit-animation-timing-function: linear;
		animation-timing-function: linear
	}
	to {
		transform: rotate(7turn)
	}
}

@keyframes pure-material-progress-circular {
	0% {
		transform: rotate(0deg)
	}
	12.5% {
		transform: rotate(180deg);
		-webkit-animation-timing-function: linear;
		animation-timing-function: linear
	}
	25% {
		transform: rotate(630deg)
	}
	37.5% {
		transform: rotate(810deg);
		-webkit-animation-timing-function: linear;
		animation-timing-function: linear
	}
	50% {
		transform: rotate(1260deg)
	}
	62.5% {
		transform: rotate(4turn);
		-webkit-animation-timing-function: linear;
		animation-timing-function: linear
	}
	75% {
		transform: rotate(1890deg)
	}
	87.5% {
		transform: rotate(2070deg);
		-webkit-animation-timing-function: linear;
		animation-timing-function: linear
	}
	to {
		transform: rotate(7turn)
	}
}

@-webkit-keyframes pure-material-progress-circular-pseudo {
	0% {
		transform: rotate(-30deg)
	}
	29.4% {
		border-left-color: transparent
	}
	29.41% {
		border-left-color: currentColor
	}
	64.7% {
		border-bottom-color: transparent
	}
	64.71% {
		border-bottom-color: currentColor
	}
	to {
		border-left-color: currentColor;
		border-bottom-color: currentColor;
		transform: rotate(225deg)
	}
}

@keyframes pure-material-progress-circular-pseudo {
	0% {
		transform: rotate(-30deg)
	}
	29.4% {
		border-left-color: transparent
	}
	29.41% {
		border-left-color: currentColor
	}
	64.7% {
		border-bottom-color: transparent
	}
	64.71% {
		border-bottom-color: currentColor
	}
	to {
		border-left-color: currentColor;
		border-bottom-color: currentColor;
		transform: rotate(225deg)
	}
}
