@use "@uqds/core/src/scss/global" as core;
@use "@uqds/grid/src/scss/global" as grid;
@use 'global' as *;

.uq-side-nav {
  color: core.$text;
  border-top: core.$space-xs solid core.$uq-purple;
  box-sizing: border-box;
  font-family: core.$font-body;
  font-size: core.$font-size-m;
  font-weight: core.$font-weight-normal;
  line-height: core.$line-height;

  *, *:before, *:after {
    box-sizing: border-box;
  }

  &__title {
    margin: core.$space-none;
    padding: core.$space core.$space-md;

    &-link {
      font-size: core.$font-size-xl;
      color: core.$uq-purple;
      text-decoration: none;

      &:hover,
      &:focus {
        color: core.$uq-purple;
        text-decoration: underline;
      }
    }
  }
    
  &__list {
    border-top: 1px solid $sidenav-list-item-divider;
    display: block;
    list-style-type: none;
    margin: core.$space-none;
    padding: core.$space-none;

    &--level-1 {
      
    }

    &--level-2 {
      background-color: $sidenav-list-item-bg;
      display: block;
      visibility: hidden;
      position: relative;
      height: 0;
      left: 0;
      width: 100%;
      opacity: 0;
      transform: translateY(-($sidenav-list-item-animation-distance));

      .uq-side-nav__list-item {

        &:last-child {
          border-bottom: none;
        }
      }

      .uq-side-nav__link {
        padding: core.$space core.$space-xxl !important;
  
        &:hover,
        &:focus {
          background-color: $sidenav-list-item-active-bg !important;
        }
      }
    }

    &-item {
      border-bottom: 1px solid $sidenav-list-item-divider;
      display: block;
      margin: core.$space-none;
      padding: core.$space-none;
      position: relative;

      .uq-side-nav__link {
        display: block;
        padding: core.$space core.$space-md;
        color: core.$text;
        text-decoration: none;

        &:hover,
        &:focus {
          text-decoration: underline;
        }
      }

      .uq-side-nav__list-item {
        &--active {
          .uq-side-nav__link {
            font-weight: core.$font-weight-medium;
          }
        }
      }

      // hidden for now until JS implementation
      &__sub-toggle {
        position: absolute;
        top: 0;
        right: 0;
        display: none; //block 
        width: 3rem;
        padding: core.$space core.$space-md;
        text-indent: -100vw;
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' stroke='%2351247A'%3E%3Cpath d='M14.285 5.145l-6 6.167a.41.41 0 01-.598 0L1.715 5.145' fill='none' stroke-width='1.2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
        background-position: center center;
        background-repeat: no-repeat;
        overflow: hidden;
      }

      &--open, 
      &--has-subnav:focus {
        .uq-side-nav__list-item__sub-toggle {
          background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' stroke='%2351247A'%3E%3Cpath d='M1.715 10.855l6-6.168a.41.41 0 01.597 0l5.973 6.168' fill='none' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
        }

        .uq-side-nav__list--level-2 {
          opacity: 1;
          height: auto;
          visibility: visible;
          transform: translateY(0);
          z-index: 20;
        }
      }

      &--active,
      &:focus {
        .uq-side-nav__link {
          background-color: $sidenav-list-item-bg;
        }
      }

    }
  }
}
