@use "@uqds/core/src/scss/global" as core;
@use "@uqds/icon/src/scss/global" as icon-constants;
@use "global" as *;

.uq-side-nav {
  color: var(--uq-grey-900);
  border-top: var(--uq-space-xxs) solid var(--uq-purple-500);
  box-sizing: border-box;
  font-family: var(--uq-font);
  font-size: var(--uq-font-size-m);
  font-weight: var(--uq-font-weight-normal);
  line-height: var(--uq-line-height-long);

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  &__title {
    margin: var(--uq-space-none);
    padding: var(--uq-space-m) var(--uq-space-l);

    &-link {
      font-size: var(--uq-font-size-xl);
      color: var(--uq-purple-500);
      text-decoration: none;

      &:hover,
      &:focus {
        color: var(--uq-purple-500);
        text-decoration: underline;
      }
    }
  }

  &__list {
    border-top: 1px solid var(--uq-grey-200);
    display: block;
    list-style-type: none;
    margin: var(--uq-space-none);
    padding: var(--uq-space-none);

    &--level-2 {
      background-color: var(--uq-grey-50);
      display: block;
      visibility: hidden;
      position: relative;
      height: 0;
      left: 0;
      width: 100%;
      opacity: 0;
      transform: translateY(-(var(--uq-space-xs)));

      .uq-side-nav__list-item {
        &:last-child {
          border-bottom: none;
        }
      }

      .uq-side-nav__link {
        padding: var(--uq-space-m) var(--uq-space-m) var(--uq-space-m)
          var(--uq-space-xxxl) !important;

        &:hover,
        &:focus {
          background-color: var(--uq-grey-200) !important;
        }
      }
    }

    &-item {
      border-bottom: 1px solid var(--uq-grey-200);
      display: block;
      margin: var(--uq-space-none);
      padding: var(--uq-space-none);
      position: relative;

      .uq-side-nav__link {
        display: block;
        padding: var(--uq-space-m) var(--uq-space-l);
        color: var(--uq-grey-900);
        text-decoration: none;
        font-weight: var(--uq-font-weight-normal);

        &:hover,
        &:focus {
          background-color: transparent;
          text-decoration: underline;
        }
      }

      .uq-side-nav__list-item {
        &--active {
          .uq-side-nav__link {
            font-weight: var(--uq-font-weight-medium);
          }
        }
      }

      &--open {
        & > .uq-side-nav__link {
          &:hover {
            background-color: var(--uq-grey-50);
          }
        }
      }

      // hidden for now until JS implementation
      &__sub-toggle {
        position: absolute;
        top: 0;
        right: 0;
        display: none; //block
        width: 3rem;
        height: 3.5rem;
        padding: var(--uq-space-m) var(--uq-space-m);
        text-indent: -100vw;
        background-image: url(icon-constants.get-icon(
          "standard--arrow-down-1",
          core.$purple-500
        ));
        background-size: 1.2rem;
        background-position: center center;
        background-repeat: no-repeat;
        overflow: hidden;
      }

      &--open,
      &--has-subnav:focus {
        .uq-side-nav__list-item__sub-toggle {
          background-image: url(icon-constants.get-icon(
            "standard--arrow-up-1",
            core.$purple-500
          ));
        }

        .uq-side-nav__list--level-2 {
          opacity: 1;
          height: auto;
          visibility: visible;
          transform: translateY(0);
          z-index: 20;
        }
      }

      &--active,
      &:focus {
        .uq-side-nav__link {
          background-color: var(--uq-grey-50);
        }
      }
    }
  }
}
