@use "@uqds/core/src/scss/global" as core;

$sidenav-list-item-bg: core.$grey-05; /* #F1F1F1 */
$sidenav-list-item-active-bg: core.$grey-10; /* #E2E2E2 */
$sidenav-list-item-divider: core.$grey-10; /* #E2E2E2 */

