@use "@uqds/core/src/scss/global" as core;

$sidenav-list-item-bg: core.$uq-neutral-light20;
$sidenav-list-item-active-bg: core.$uq-neutral-light60;
$sidenav-list-item-divider: core.$uq-neutral-light60;
$sidenav-list-item-animation-distance: core.$space-sm;
