@use '@uqds/core/src/scss/global' as core;
@use '@uqds/grid/src/scss/global' as grid;
@use '@uqds/foundation-global/src/scss/global' as *;
@use 'global' as *;

.alert {
  background-color: $alert-default-bg-color;
  color: $alert-text-color;
  font-size: 0;
  position: relative;

  &__container {
    @include grid.layout-containment;

    > .alert__message,
    > .alert__action {
      @include grid.grid-col-padding;
    }
  }

  &__message {
    font-size: $alert-font-size-sm;
    font-weight: $alert-font-weight;
    line-height: core.$line-height-h;
    padding-top: core.$space;
    padding-bottom: core.$space;
    padding-left: core.$space-md;
    padding-right: core.$space-uul !important;

    a {
      color: $alert-text-color;
      text-decoration: underline;
      
      &:hover, &:focus {
        opacity: 0.5;
      }
    }
  }

  &__action {
    padding-top: core.$space-sm;
    padding-bottom: core.$space;
    padding-left: core.$space-md;
    padding-right: core.$space-md;
  }

  &__close {
    background: inherit;
    color: $alert-close-color;
    font-size: 2rem;
    font-weight: 300;
    line-height: 0.9;
    opacity: 1;
    padding: core.$space-none core.$space-sm core.$space-xs;
    position: absolute;
    text-decoration: none !important;
    top: .55rem;
    right: core.$space;

    &:hover {
      text-decoration: none;
    }

    &:focus {
      text-decoration: underline !important;
    }

    &:hover, &:focus {
      opacity: 0.5;
    }
  }

  &--has-action {
    .alert__message {
      padding-bottom: core.$space-none;
    }
  }

  &--no-close {
    .alert__message {
      padding-right: core.$space;
    }
  }

  &--info {
    background-color: $alert-info-bg-color;
  }

  &--success {
    background-color: $alert-success-bg-color;
  }

  &--warning {
    background-color: $alert-warning-bg-color;
  }

  &--danger {
    background-color: $alert-danger-bg-color;
  }
}

@media #{core.$screen-md-up} {
  .alert {
    &__message,
    &__action {
      display: inline-block;
      vertical-align: middle;
    }

    &__message {
      font-size: $alert-font-size-md;
      padding-right: core.$space-uuuul !important;
    }

    &__action {
      @include grid.grid-col-width(2);
      padding-bottom: core.$space-sm;
      padding-right: core.$space-uul;
    }

    &__close {
      top: .95rem;
    }

    &--has-action {
      .alert__message {
        @include grid.grid-col-width(4);
        padding-bottom: core.$space;
        padding-right: core.$space;
      }
    }
    &--slim {
      .alert__message {
        padding-bottom: core.$space;
        padding-top: core.$space;
      }
      .alert__close {
        top: .7rem;
      }
    }
  }
}

@media #{core.$screen-lg-up} {
  .alert {
    &__message {
      padding-top: core.$space-md;
      padding-bottom: core.$space-md;
    }

    &__action {
      @include grid.grid-col-offset(1, 12);
      @include grid.grid-col-width(4, 12);
    }

    &__close {
      top: 1.15rem;
    }

    &--has-action {
      .alert__message {
        @include grid.grid-col-width(7, 12);
        padding-bottom: core.$space-md;
      }
    }
  }
}
