@use "@uqds/core/src/scss/global" as core;
@use "@uqds/grid/src/scss/global" as grid;
@use "@uqds/icon/src/scss/global" as icon;
@use "global" as *;

.uq-alert {
  background-color: $alert-info-bg-color;
  color: $alert-text-color;
  position: relative;

  &__container {
    margin: 0 auto;

    .uq-alert__message {
      &:not(:last-child) {
        padding-right: core.$space-xxl;
      }
    }
  }

  &__title {
    font-size: $alert-font-size-m;
    font-weight: $alert-font-weight-medium;
    line-height: core.$line-height-h;
    color: $alert-text-color;
    margin: core.$space-none core.$space-none core.$space-s;
  }

  &__message {
    position: relative;
    font-size: $alert-font-size-s;
    font-weight: $alert-font-weight-thin;
    line-height: core.$line-height-h;
    padding: core.$space;
    margin-left: core.$space-l;

    &::before {
      content: "";
      background-image: url('icon.get-icon("standard--information-circle", core.$uq-neutral-dark80)');
      background-repeat: no-repeat;
      background-size: 1.5rem;
      width: core.$space-m;
      height: core.$space-m;
      position: absolute;
      top: 0.85rem;
      left: -(core.$space);

      // https://stackoverflow.com/questions/13296419/sass-negative-variable-value 
      // https://sass-lang.com/documentation/operators/numeric#unary-operators 
    }

    p {
      margin-bottom: core.$space;

      &:last-child {
        margin-bottom: core.$space-none;
      }
    }
  }

  &__close {
    position: absolute;
    top: core.$space-none;
    right: core.$space-none;
    background-image: url('icon.get-icon("standard--close", core.$uq-neutral-dark80)');
    background-repeat: no-repeat;
    background-size: 1rem;
    background-position: center;
    width: core.$space-xxl;
    height: core.$space-xxl;
    text-indent: 999px;
    overflow: hidden;

    &:hover,
    &:focus {
      background-image: url('icon.get-icon(="common--close", core.$uq-neutral-dark80)');
    }
  }

  &--info {
    background-color: $alert-info-bg-color;

    .uq-alert__message {
      &::before {
        background-image: url('icon.get-icon("standard--information-circle", core.$uq-neutral-dark80)');
      }
    }
  }

  &--success {
    background-color: $alert-success-bg-color;

    .uq-alert__message {
      &::before {
        background-image: url('icon.get-icon("standard--success-circle", core.$uq-neutral-dark80)');
      }
    }
  }

  &--warning {
    background-color: $alert-warning-bg-color;

    .uq-alert__message {
      &::before {
        background-image: url('icon.get-icon("standard--exclamation-circle", core.$uq-neutral-dark80)');
      }
    }
  }

  &--error {
    background-color: $alert-error-bg-color;

    .uq-alert__message {
      &::before {
        background-image: url('icon.get-icon("standard--alert-triangle", core.$uq-neutral-dark80)');
      }
    }
  }

  // Global alert
  &--global {
    .uq-alert__container {
      @include grid.layout-containment;
    }
  }

  // Dark variant
  &--dark {
    background-color: $alert-global-info-bg-color;
    color: core.$uq-white;

    a {
      color: inherit;
      text-decoration: underline;

      &:link,
      &:visited,
      &:active {
        text-decoration: underline;
      }

      &:hover,
      &:focus {
        text-decoration: none;
      }
    }

    .uq-alert__title {
      color: core.$uq-white;
    }

    .uq-alert__close {
      background-image: url('icon.get-icon("standard--close", core.$uq-white)');

      &:hover,
      &:focus {
        background-image: url('icon.get-icon("common--close", core.$uq-white)');
      }
    }

    &.uq-alert--info {
      .uq-alert__message {
        &::before {
          background-image: url('icon.get-icon("standard--information-circle", core.$uq-white)');
        }
      }
    }

    &.uq-alert--success {
      background-color: $alert-global-success-bg-color;

      .uq-alert__message {
        &::before {
          background-image: url('icon.get-icon("standard--success-circle", core.$uq-white)');
        }
      }
    }

    &.uq-alert--warning {
      background-color: $alert-global-warning-bg-color;
      color: $alert-text-color;

      .uq-alert__title {
        color: $alert-text-color;
      }

      a {
        color: $alert-text-color;
      }
    }

    &.uq-alert--error {
      background-color: $alert-global-error-bg-color;

      .uq-alert__message {
        &::before {
          background-image: url('icon.get-icon("standard--alert-triangle", core.$uq-white)');
        }
      }
    }
  }
}
