@use '@uqds/core/src/scss/global' as core;
@use '@uqds/grid/src/scss/global' as grid;
@use '@uqds/icon/src/scss/global' as icon;
@use 'global' as *;

.uq-alert {
  background-color: $alert-info-bg-color;
  color: $alert-text-color;
  position: relative;
  
  &__container {
    margin: 0 auto;

    .uq-alert__message {
  
      &:not(:last-child) {
        padding-right: core.$space-xxl;
      }
    }
  }

  &__title {
    font-size: $alert-font-size-m;
    font-weight: $alert-font-weight-medium;
    line-height: core.$line-height-h;
    color: $alert-text-color;
    margin: core.$space-none core.$space-none core.$space-s;
  }

  &__message {
    position: relative;
    font-size: $alert-font-size-s;
    font-weight: $alert-font-weight-thin;
    line-height: core.$line-height-h;
    padding-top: core.$space;
    padding-bottom: core.$space;
    padding-left: core.$space;
    padding-right: core.$space;
    margin-left: core.$space-l;

    &::before {
      content: '';
      background-image: url(icon.get-icon('standard--information-circle', core.$uq-neutral-dark80));
      background-repeat: no-repeat;
      background-size: 1.5rem;
      width: core.$space-m;
      height: core.$space-m;
      position: absolute;
      top: core.$space;
      left: -(core.$space);
    }

    p {
      margin-bottom: core.$space;

      &:last-child {
        margin-bottom: core.$space-none;
      }
    }
  }

  &__close {
    position: absolute;
    top: core.$space-none;
    right: core.$space-none;
    background-image: url(icon.get-icon('standard--close', core.$uq-neutral-dark80));
    background-repeat: no-repeat;
    background-size: 1rem;
    background-position: center;
    width: core.$space-xxl;
    height: core.$space-xxl;
    text-indent: 999px;
    overflow: hidden;

    &:hover,
    &:focus {
      background-image: url(icon.get-icon('common--close', core.$uq-neutral-dark80));
    }
  }




  &--info {
    background-color: $alert-info-bg-color;

    .uq-alert__message {
      &::before {
        background-image: url(icon.get-icon('standard--information-circle', core.$uq-neutral-dark80));
      }
    }
  }
  &--success {
    background-color: $alert-success-bg-color;

    .uq-alert__message {
      &::before {
        background-image: url(icon.get-icon('standard--check', core.$uq-neutral-dark80));
      }
    }
  }
  &--warning {
    background-color: $alert-warning-bg-color;

    .uq-alert__message {
      &::before {
        background-image: url(icon.get-icon('standard--alert-triangle', core.$uq-neutral-dark80));
      }
    }
  }
  &--danger {
    background-color: $alert-danger-bg-color;

    .uq-alert__message {
      &::before {
        background-image: url(icon.get-icon('architecture-and-planning--heavy-equipment-lift-hook-box', core.$uq-neutral-dark80));
      }
    }
  }




  &--dark { 
    background-color: $alert-global-info-bg-color;
    color: core.$uq-white;

    .uq-alert__container {
      @include grid.layout-containment;
    }

    a {
      color: core.$uq-white;
      font-weight: $alert-font-weight-medium;
      text-decoration: underline;

      &:link,
      &:visited,
      &:active {
        text-decoration: underline;
      }
      &:hover,
      &:focus {
        text-decoration: none;
      }
    }

    .uq-alert__close {
      background-image: url(icon.get-icon('standard--close', core.$uq-white));
  
      &:hover,
      &:focus {
        background-image: url(icon.get-icon('common--close', core.$uq-white));
      }
    }

    &.uq-alert--info {
  
      .uq-alert__message {
        &::before {
          background-image: url(icon.get-icon('standard--information-circle', core.$uq-white));
        }
      }
    }

    &.uq-alert--success {
      background-color: $alert-global-success-bg-color;
  
      .uq-alert__message {
        &::before {
          background-image: url(icon.get-icon('standard--check', core.$uq-white));
        }
      }
    }

    &.uq-alert--warning {
      background-color: $alert-global-warning-bg-color;
      color: $alert-text-color;

      a {
        color: core.$uq-neutral-dark80;
      }
    }

    &.uq-alert--danger {
      background-color: $alert-global-danger-bg-color;
  
      .uq-alert__message {
        &::before {
          background-image: url(icon.get-icon('architecture-and-planning--heavy-equipment-lift-hook-box', core.$uq-white));
        }
      }
    }
  }
}

@media #{core.$screen-md-up} {
  .uq-alert {
    
  }
}

@media #{core.$screen-lg-up} {
  .uq-alert {

  }
}
