@use '@uqds/core/src/scss/global' as core;
@use '@uqds/foundation-global/src/scss/global' as *;
@use '@uqds/foundation-grid/src/scss/global' as *;
@use 'global' as *;

.alert {
  background-color: $alert-default-bg-color;
  color: $alert-text-color;
  font-size: 0;
  position: relative;

  &__container {
    @include grid-row;
  }

  &__message {
    font-size: $alert-font-size-sm;
    font-weight: $alert-font-weight;
    line-height: 1.4;
    padding: core.$space core.$space-uul core.$space $column-gutter / 2;

    a {
      color: $alert-text-color;
      text-decoration: underline;
      
      &:hover, &:focus {
        opacity: 0.5;
      }
    }
  }

  &__action {
    @include grid-column($columns: ceil($total-columns / 2), $float: false);
    padding-bottom: core.$space;
    padding-top: core.$space-sm;
  }

  &__close {
    background: inherit;
    color: $alert-close-color;
    font-size: 2rem;
    font-weight: 300;
    line-height: 0.9;
    opacity: 1;
    padding: core.$space-none core.$space-sm core.$space-xs;
    position: absolute;
    text-decoration: none !important;
    top: .55rem;
    right: 1rem;

    &:hover {
      text-decoration: none;
    }

    &:focus {
      text-decoration: underline !important;
    }

    &:hover, &:focus {
      opacity: 0.5;
    }
  }

  &--has-action {
    .alert__message {
      // @include grid-column($columns: floor($total-columns / 2), $float: false);
      padding-bottom: core.$space-none;
    }
  }

  &--no-close {
    .alert__message {
      padding-right: $column-gutter / 2;
    }
    &.alert--has-action {
      .alert__action {
        padding-right: $column-gutter / 2;
      }
    }
  }

  &--info {
    background-color: $alert-info-bg-color;
  }

  &--success {
    background-color: $alert-success-bg-color;
  }

  &--warning {
    background-color: $alert-warning-bg-color;
  }

  &--danger {
    background-color: $alert-danger-bg-color;
  }
}

@media #{$medium-up} {
  .alert {
    &__message,
    &__action {
      display: inline-block;
      vertical-align: middle;
    }

    &__message {
      font-size: $alert-font-size-md;
      padding: core.$space core.$space-uuuul core.$space $column-gutter / 2;
    }

    &__action {
      padding-bottom: core.$space-sm;
      padding-right: core.$space-uul;
      width: grid-calc(ceil($total-columns / 3), $total-columns);
    }

    &__close {
      top: .95rem;
    }

    &--has-action {
      .alert__message {
        padding-bottom: core.$space;
        padding-right: $column-gutter / 2;
        width: grid-calc(floor($total-columns - ($total-columns / 3)), $total-columns);
      }
    }
    &--slim {
      .alert__message {
        padding-bottom: core.$space;
        padding-top: core.$space;
      }
      .alert__close {
        top: .7rem;
      }
    }
  }
}

@media #{$large-up} {
  .alert {
    &__message {
      padding: core.$space-md core.$space-uuuul core.$space-md $column-gutter / 2;
    }

    &__action {
      margin-left: grid-calc(floor($total-columns / 12), $total-columns);
      width: grid-calc(ceil(($total-columns / 12 * 5) - ($total-columns / 12)), $total-columns);
    }

    &__close {
      top: 1.15rem;
    }

    &--has-action {
      .alert__message {
        padding-bottom: core.$space-md;
        width: grid-calc(floor($total-columns - ($total-columns / 12 * 5)), $total-columns);
      }
    }
  }
}
