@use "@uqds/core/src/scss/global" as core;
@use "@uqds/grid/src/scss/global" as grid;
@use "@uqds/icon/src/scss/global" as icon;
@use "@uqds/layout/src/scss/global" as layout;
@use "global" as *;

.uq-alert {
  background-color: core.$utility-50;
  color: core.$grey-900;
  font-family: core.$font-body;
  font-size: core.$font-size-m;
  font-weight: core.$font-weight-normal;
  line-height: core.$line-height;
  position: relative;

  .uq-alert__message > *:first-child {
    margin-top: 0;
  }

  .uq-alert__message > h1:first-child,
  .uq-alert__message > h2:first-child,
  .uq-alert__message > h3:first-child,
  .uq-alert__message > h4:first-child,
  .uq-alert__message > h5:first-child,
  .uq-alert__message > h6:first-child {
    line-height: 24px;
  }

  &__title {
    font-size: core.$font-size-l;
    font-weight: core.$font-weight-medium;
    line-height: core.$line-height-h;
    color: core.$grey-900;
    margin: core.$space-none core.$space-none core.$space-s;
  }

  &__message {
    position: relative;
    padding: core.$space-l core.$space-xxxxl core.$space-l core.$space-ul;
    width: 100%;
    max-width: 1204px;
    margin-left: auto;
    margin-right: auto;
    overflow-x: clip;

    &::before {
      content: "";
      background-image: url(icon.get-icon(
        "standard--information-circle",
        core.$grey-900
      ));
      background-repeat: no-repeat;
      background-size: 1.5rem;
      width: core.$space-l;
      height: core.$space-l;
      position: absolute;
      top: 25px;
      left: core.$space-l;
    }

    p {
      margin-bottom: core.$space-m;
      margin-top: core.$space-none;

      &:last-of-type {
        margin-bottom: core.$space-none;
      }
    }
  }

  &__close {
    margin: 0;
    padding: 0;
    position: absolute;
    top: core.$space-none;
    right: core.$space-m;
    background-image: url(icon.get-icon("standard--x", core.$grey-900));
    background-repeat: no-repeat;
    background-size: 1rem;
    background-position: center;
    background-color: transparent;
    border: none;
    width: core.$space-xxl;
    height: core.$space-uul;
    text-indent: 999px;
    overflow: hidden;
    cursor: pointer;

    &:hover,
    &:focus {
      background-image: url(icon.get-icon("standard--x", core.$grey-900));
      background-color: transparent;
      border: none;
    }
  }

  &--info {
    background-color: core.$utility-50;

    .uq-alert__message {
      &::before {
        background-image: url(icon.get-icon(
          "standard--information-circle",
          core.$grey-900
        ));
      }
    }
  }
  &--success {
    background-color: core.$success-50;

    .uq-alert__message {
      &::before {
        background-image: url(icon.get-icon(
          "standard--check-circle",
          core.$grey-900
        ));
      }
    }
  }
  &--warning {
    background-color: core.$warning-50;

    .uq-alert__message {
      &::before {
        background-image: url(icon.get-icon(
          "standard--exclamation-triangle",
          core.$grey-900
        ));
      }
    }
  }
  &--error {
    background-color: core.$error-50;

    .uq-alert__message {
      &::before {
        background-image: url(icon.get-icon(
          "standard--x-circle",
          core.$grey-900
        ));
      }
    }
  }

  // Global variant
  &--global {
    background-color: core.$utility-500;
    color: core.$white;

    // container overrides to match content width
    .uq-alert__message {
      padding-left: core.$space-uul;

      &::before {
        left: core.$space-xl;
      }
    }

    // link overrides for dark variant
    a {
      color: inherit;
      text-decoration: underline;

      &:hover,
      &:focus {
        background-color: core.$white;
        color: core.$purple-500;
      }
    }

    // button overrides for dark variant
    a.uq-button {
      background-color: core.$white;
      color: core.$purple-500;
      text-decoration: none;

      &:hover,
      &:focus {
        background-color: core.$purple-500;
        color: core.$white;
        text-decoration: underline;
      }
    }

    .uq-alert__title {
      color: core.$white;
    }

    .uq-alert__close {
      background-image: url(icon.get-icon("standard--x", core.$white));

      &:hover,
      &:focus {
        background-image: url(icon.get-icon("standard--x", core.$white));
        background-color: transparent;
      }
    }

    &.uq-alert--info {
      .uq-alert__message {
        &::before {
          background-image: url(icon.get-icon(
            "standard--information-circle",
            core.$white
          ));
        }
      }
    }

    &.uq-alert--success {
      background-color: core.$success-500;

      .uq-alert__message {
        &::before {
          background-image: url(icon.get-icon(
            "standard--check-circle",
            core.$white
          ));
        }
      }
    }

    &.uq-alert--warning {
      background-color: core.$warning-500;
      color: core.$grey-900;

      .uq-alert__title {
        color: core.$grey-900;
      }

      .uq-alert__close {
        background-image: url(icon.get-icon("standard--x", core.$grey-900));

        &:hover,
        &:focus {
          background-image: url(icon.get-icon("standard--x", core.$grey-900));
        }
      }
    }

    &.uq-alert--error {
      background-color: core.$error-500;

      .uq-alert__message {
        &::before {
          background-image: url(icon.get-icon(
            "standard--x-circle",
            core.$white
          ));
        }
      }
    }
  }
}
