// Variables, functions, and mixins

// Foundation alert settings
$alert-close-color: #fff;
$alert-close-font-size: 2rem;
$alert-close-opacity: 1;
$alert-close-position: .5rem;
$alert-font-size: 1rem;
$alert-font-weight: 300;
$alert-padding-top: 1rem;
$alert-padding-opposite-direction: $alert-padding-top + 2rem;

@import '../../node_modules/foundation-sites/scss/foundation/components/alert-boxes';