@use '../../node_modules/@uq-uidf/core/src/scss/_global' as *;

$alert-default-bg-color: $uq-neutral-light40 !default; //EFEFEF !default;
$alert-info-bg-color: #D4F0FF !default;
$alert-success-bg-color: #D5EECA !default;
$alert-warning-bg-color: #FFE0AD !default;
$alert-danger-bg-color: #F4ACAC !default;

$alert-font-size-sm: .875rem !default;
$alert-font-size-md: 1rem !default;
$alert-font-size-lg: 1rem !default;

$alert-font-weight: 300 !default;
$alert-text-color: $uq-neutral-dark80 !default; //222 !default;
$alert-close-color: $uq-neutral-dark40 !default; //747474 !default;
