// Only base colours should be listed in this file. Mixed and modified colour should be done at the associated component or supporting file. 
// UQ brand colours
    
// UQ Primary palette

$uq-purple: #51247A;
$uq-black: #000000;
$uq-white: #ffffff;

// UQ Secondary palette

$uq-purple-light: #962A8B;

$uq-neutral1: #D7D1CC;
$uq-neutral2: #999490;

$uq-gold: #BDA14E;
$uq-red: #E62645;
$uq-orange: #EB602B;
$uq-yellow: #FBB800;
$uq-blue: #4085C6;
$uq-aqua: #00ABCD;
$uq-green: #2EA836;

// UQ Purple gradient

$uq-purple-gradient: linear-gradient(90deg, rgba(81,36,122,1) 0%, 87%, rgba(150,42,139,1) 100%); 

// Link Blue
$link: #2377cb;
$link-hover: #005ea5;

// Default text, Content
$text: #2b2b2b;

