@use "_global" as *;

html {
  font-size: 100%; /* 16px in most browsers */
  font-family: $font-body;
  font-weight: $font-weight-normal;
  line-height: $line-height;
  color: $grey-900;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* global setting for letter-spacing. implemented via wildcard to avoid form elements not inheriting the style */
* {
  letter-spacing: $letter-spacing;
}
