@forward "_partials/colour-constants";
@forward "_partials/space-constants";
@forward "_partials/text-constants";
@forward "_partials/media-constants";

@use "_partials/colour-constants" as *;
@use "_partials/text-constants" as *;

html {
  font-size: 100%; /* 16px in most browsers */
  font-family: $font-body;
  font-weight: $font-weight-normal;
  line-height: $line-height;
  color: $text;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Provide an overlay over backgrounds to darken, lighten an image to provide
// better visual contrast for content.
// Can be used as extensions on components that accommodate overlaid content.
%tint {
  position: relative;
  overflow: hidden;

  &-overlay {
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  &-content {
    position: relative;
    z-index: 2;
  }
}

// Dark tint layer provides a black tint
%dark-tint {
  @extend %tint;
  background-color: $dark-tint-bg;

  &::before {
    @extend %tint-overlay;
    background: $uq-black;
  }
}

// Light tint layer provides a white tint
%light-tint {
  @extend %tint;

  &::before {
    @extend %tint-overlay;
    background: $uq-white;
  }
}

// Palettes are colour groups to change all the colours within that wrapper to a specific set.

// Components that set their own element colours may need palette @extend added to them to override specificity. e.g.
// &.light-palette {
//   a {
//     @extend %light-palette;
//   }
// }

// Light
%light-palette {
  border-color: $light-palette-border-color;
  color: $light-palette-color;

  a {
    color: $light-palette-link-color;
    font-weight: $font-weight-normal;

    &:hover {
      color: darken($light-palette-link-color, 10%);
    }
  }
}

%light-palette-bg {
  background-color: $light-palette-bg;
}

// Dark
%dark-palette {
  border-color: $dark-palette-border-color;
  color: $dark-palette-color;

  a {
    color: $dark-palette-link-color;

    &:hover {
      color: darken($dark-palette-link-color, 10%);
    }
  }
}

%dark-palette-bg {
  background-color: $dark-palette-bg;
}
