@use '@uq-uidf/core/src/scss/global' as core;
@use '@uq-uidf/foundation-global/src/scss/global' as fnd-global;
@use '@uq-uidf/foundation-grid/src/scss/global' as fnd-grid;
@use '@uq-uidf/foundation-misc/src/scss/global' as fnd-misc;
@use 'global' as *;

.uq-footer {
    background: core.$uq-purple-gradient;
    box-sizing: border-box;
    color: $site-footer-color;
    font-family: core.$font-body;
    font-size: $site-footer-font-size;
    font-weight: fnd-global.$body-font-weight;
    line-height: core.$compass-base-line-height-ratio;
    
    *, *:before, *:after {
        box-sizing: border-box;
    }

    a {
        color: $site-footer-link-color;
        font-weight: 500;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    abbr[title] {
        text-decoration: none;
        border-bottom: 1px dotted;
    }

    &__acknowledgement-statement {
        border-bottom: 1px solid rgba(core.$uq-white, 0.3);
        color: $site-footer-color;
        font-family: core.$merriweather;
        font-size: 1rem;
        font-style: italic;
        font-weight: fnd-global.$body-font-weight;
        line-height: 1.5;
        margin: 0 0 2rem;
        padding: 0 0 2rem;
        @media #{fnd-global.$medium-up} {
            font-size: 1.125rem;
        }
        &__link {
            font-family: core.$font-body;
            font-style: normal;
        }
    }

    &__content {
        padding: 3rem 0;
        max-width: fnd-grid.$row-width;
        margin: 0 auto;
    }

    &__flex-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

    }

    &__flex-item {
        flex: 1 1 auto;
        width: 100%;
        padding: 0 fnd-global.$column-gutter / 2;

        @media #{fnd-global.$medium-up} {
            flex: 3 1 auto;
            width: 75%;
        }

        & + .uq-footer__flex-item {
            flex: 1 1 auto;
            width: 100%;

            @media #{fnd-global.$medium-up} {
                flex: 1 1 auto;
                width: 25%;
            }
        }
    }

    &__aside {
        display: inline-block;
        margin: 1.5rem 0 0 0;
        @media #{fnd-global.$large-up} {
            margin: 0;
        }
    }

    &__sub-title {
        color: $site-footer-link-color;
        font-size: 1.125em;
    }

    &__footer {
        margin: 2rem 0 0 0;
        overflow: hidden;

        .uq-footer__flex-item + .uq-footer__flex-item {
            flex: 1 1 auto;
            width: 100%;
            @media #{fnd-global.$large-up} {
                flex: 1 1 auto;
                width: 25%;
            }
        }
    }

    &__footer-menu {
        &__list {
            display: flex;
            flex-wrap: wrap;
            list-style-type: none;
            margin: 0;
            padding: 0;
            li {
                padding-left: var(--space--md, 16px); // first arg needs to be supplied via emitting core

                & + :before {
                    content: " | ";
                    padding-right: var(--space--md, 16px); // first arg needs to be supplied via emitting core
                }
                
                &:first-of-type {
                    padding-left: 0;
                }
            }
        }
    }
    
    &__social-media {
        font-size: 1.5rem;
        &__list {
            @include fnd-misc.inline-list();
        }
        &__item + .uq-footer__social-media__item::before {
            content: " ";
            display: inline-block;
            margin: 0 .5rem 0 0;
        }
        &__link {
            &:hover {
                color: $site-footer-color;
                transition: all ease .5s;
            }
        }
    }

    &--full-width {
        padding: 0 1rem;
    }
}
