@use '../../node_modules/@uq-uidf/core/src/scss/_global' as *;

// Variables, functions, and mixins
$site-footer-color: mix(white, $uq-purple, 75%);
$site-footer-link-color: #fff;
$site-footer-font-size: .875rem;
