@use "@uqds/core/src/scss/global" as core;
@use "global" as *;

// Lists
// For listing of content such as node teasers. It can be applied to <ul> and <div> elements alike.
//
// Variants:
// .vertical-list
// .vertical-list--ruled - Adds a bottom border on each list item to separate them.
// .vertical-list--shaded - Adds light grey background to each item and separates them with a small gap.
// .horizontal-list
// .horizontal-list--ruled - Adds a right border on each list item to separate them.

%vertical-list,
.vertical-list {
  font-family: var(--uq-font);
  font-size: var(--uq-font-size-m);
  font-weight: var(--uq-font-weight-normal);
  line-height: var(--uq-line-height-long);
  list-style-type: none;
  margin-bottom: var(--uq-space-m);
  padding: var(--uq-space-none);

  &__title {
    font-size: var(--uq-font-size-xxl);
  }

  &__item {
    list-style: none;
    padding: var(--uq-space-xs) var(--uq-space-none); // .75rem 0rem
  }

  &--large-spacing {
    .vertical-list__item {
      padding: var(--uq-space-xl) var(--uq-space-none);

      &__date {
        font-size: 90%;
      }
    }
  }

  &--ruled {
    .vertical-list__title {
      border-top: 2px solid var(--uq-grey-200);
      padding-top: var(--uq-space-xl);
    }

    .vertical-list__item {
      border-bottom: 1px solid var(--uq-grey-200);
      padding-top: var(--uq-space-m); //.75rem

      &:first-child {
        padding-top: var(--uq-space-none);
      }

      &--first {
        border-top: 1px solid var(--uq-grey-200);
        padding-top: var(--uq-space-m); // .75rem
      }

      &__date {
        font-size: 90%;
      }
    }
  }
  &--shaded {
    .vertical-list__item {
      background: var(--uq-grey-50);
      margin-bottom: var(--uq-space-xs);
      padding: var(--uq-space-l);

      &__date {
        font-size: 90%;
      }
    }
  }
}

.horizontal-list {
  display: inline-block;
  font-family: var(--uq-font);
  font-size: var(--uq-font-size-m);
  font-weight: var(--uq-font-weight-normal);
  line-height: var(--uq-line-height-long);
  list-style-type: none;
  padding: var(--uq-space-none);
  margin-bottom: var(--uq-space-m);

  &__title {
    font-size: var(--uq-font-size-xxl);
  }

  &__item {
    float: left;
    list-style: none;
    padding: var(--uq-space-none) var(--uq-space-m); // 0 .75rem;
    margin: var(--uq-space-none) var(--uq-space-none) var(--uq-space-m)
      var(--uq-space-none); // 0 0 .75rem 0
  }

  &--ruled {
    .horizontal-list__title {
      border-top: 2px solid var(--uq-grey-200);
      padding-top: var(--uq-space-xl);
    }

    .horizontal-list__item {
      border-right: 1px solid var(--uq-grey-200);
      padding-right: var(--uq-space-m); // .75rem;

      &:last-child {
        border: 0;
      }
    }
  }
}
