@use "../../node_modules/@uq-uidf/core/src/scss/global" as *;
@use 'global' as *;

// Lists
// For listing of content such as node teasers. It can be applied to <ul> and <div> elements alike.
//
// Variants:
// .vertical-list
// .vertical-list--ruled - Adds a bottom border on each list item to separate them.
// .vertical-list--shaded - Adds light grey background to each item and separates them with a small gap.
// .horizontal-list
// .horizontal-list--ruled - Adds a right border on each list item to separate them.

%vertical-list,
.vertical-list {
  list-style-type: none;
  margin-bottom: 1rem;
  padding: 0;

  &__title {
    font-size: $h3-font-size;
  }

  &__item {
    list-style: none;
    padding: .75rem 0;
  }

  &--large-spacing {
    .vertical-list__item {
      padding: 2rem 0;

      &__date {
        font-size: 90%;
      }
    }
  }

  &--ruled {
    .vertical-list__title {
      border-top: 2px solid $vertical-list-border;
      padding-top: 2rem;
    }

    .vertical-list__item {
      border-bottom: 1px solid $vertical-list-border;
      padding-top: .75rem;

      &:first-child {
        padding-top: 0;
      }

      &--first {
        border-top: 1px solid $vertical-list-border;
        padding-top: .75rem;
      }

      &__date {
        font-size: 90%;
      }
    }
  }
  &--shaded {
    .vertical-list__item {
      background: $pane-shaded-bg;
      margin-bottom: .5rem;
      padding: 1.5rem;

      &__date {
        font-size: 90%;
      }
    }
  }
}

.horizontal-list {
  display: inline-block;
  list-style-type: none;
  padding: 0;
  margin-bottom: 1rem;

  &__title {
    font-size: $h3-font-size;
  }

  &__item {
    float: left;
    list-style: none;
    padding: 0 .75rem;
    margin: 0 0 .75rem 0;
  }

  &--ruled {
    .horizontal-list__title {
      border-top: 2px solid $vertical-list-border;
      padding-top: 2rem;
    }

    .horizontal-list__item {
      border-right: 1px solid $vertical-list-border;
      padding-right: .75rem;

      &:last-child {
        border: 0;
      }
    }
  }
}
