@use '@uqds/core/src/scss/global' as core;
@use 'global' as *;

// Lists
// For listing of content such as node teasers. It can be applied to <ul> and <div> elements alike.
//
// Variants:
// .vertical-list
// .vertical-list--ruled - Adds a bottom border on each list item to separate them.
// .vertical-list--shaded - Adds light grey background to each item and separates them with a small gap.
// .horizontal-list
// .horizontal-list--ruled - Adds a right border on each list item to separate them.

%vertical-list,
.vertical-list {
  list-style-type: none;
  margin-bottom: core.$space;
  padding: core.$space-none;

  &__title {
    font-size: $h3-font-size;
  }

  &__item {
    list-style: none;
    padding: core.$space-sm core.$space-none; //.75rem 0rem
  }

  &--large-spacing {
    .vertical-list__item {
      padding: core.$space-lg core.$space-none;

      &__date {
        font-size: 90%;
      }
    }
  }

  &--ruled {
    .vertical-list__title {
      border-top: 2px solid $border-color;
      padding-top: core.$space-lg;
    }

    .vertical-list__item {
      border-bottom: 1px solid $border-color;
      padding-top: core.$space; //.75rem

      &:first-child {
        padding-top: core.$space-none;
      }

      &--first {
        border-top: 1px solid $border-color;
        padding-top: core.$space; //.75rem
      }

      &__date {
        font-size: 90%;
      }
    }
  }
  &--shaded {
    .vertical-list__item {
      background: $pane-shaded-bg;
      margin-bottom: core.$space-sm;
      padding: core.$space-md;

      &__date {
        font-size: 90%;
      }
    }
  }
}

.horizontal-list {
  display: inline-block;
  list-style-type: none;
  padding: core.$space-none;
  margin-bottom: core.$space;

  &__title {
    font-size: $h3-font-size;
  }

  &__item {
    float: left;
    list-style: none;
    padding: core.$space-none core.$space;//0 .75rem;
    margin: core.$space-none core.$space-none core.$space core.$space-none; //0 0 .75rem 0
  }

  &--ruled {
    .horizontal-list__title {
      border-top: 2px solid $border-color;
      padding-top: core.$space-lg;
    }

    .horizontal-list__item {
      border-right: 1px solid $border-color;
      padding-right: core.$space; //.75rem;

      &:last-child {
        border: 0;
      }
    }
  }
}
