@use '@uq-uidf/core/src/scss/global' as *;

.colour-purple {
  background-color: $uq-purple;
}
.colour-purple::before { content: "#{$uq-purple}";}


.uqds-colour {}
.uqds-colour__palette {
  width: 100%;
  border-radius: 0.25rem;
  padding: $space;
}
.uqds-colour__palette--large {
  padding: $space-xl;
}


/* Table Version */ 
.uqds-table {
  width:100%;
  border: none;
  border-collapse:collapse;
}
.uqds-table .uqds-table__mobile-heading {
  border:none;
}
.uqds-table .uqds-table__heading {
  font-weight:500;
  text-align:left;
  color:#51247a;
  background-color:#f1f1f1;
  border:none; /* overrride storybook default */
  border-bottom:1px solid #e2e2e2;
  padding:1rem;
  vertical-align:top;
 }
 .uqds-table .uqds-table__item {
  padding:1rem;
  border: none;
  border-bottom:1px solid #e2e2e2;
  vertical-align:top;
 }
 .uqds-table .uqds-table__row:nth-of-type(2n) {
   background-color: #fff;   /* overrride storybook default */
 }

 @media (max-width:800px) {

  /* Table card */
  .uqds-table .uqds-table__body {
    display:grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    /* padding: 32px; /* Remove once in afinished layout - only for testing. */
    column-gap: 32px;
    row-gap: 32px;
  }
  .uqds-table .uqds-table__mobile-heading, .uqds-table .uqds-table__heading {
    display:none;
  }
  /* table content */
 .uqds-table .uqds-table__row  {
   display: grid;
    align-items: stretch;
    grid-template-columns: 1fr;
    row-gap: 8px;
    /* border:1px solid #e2e2e2; */
    border:none; /* overrride storybook default */
    border: 1px solid #f1f1f1;
    border-radius: .25rem;
    box-shadow: 0 .25rem .5rem rgba(24,24,24,.05);
    padding: 1rem;
  }
  .uqds-table .uqds-table__item, .uqds-table .uqds-table__heading {
    border: none;
    padding: 0;
  }
  /* colour styles */
  .uqds-table .uqds-table__item:before {
    content: attr(data-title);
    display: block;
    color:rgb(111, 111, 111);
    font-size: 0.875rem;
  }
  .uqds-colour__palette {
    width: 100%;
    border-radius: 0.25rem;
    height: 64px;
    /*width: 32px;
    border-radius: 100%;*/
  }

}


  /* colour styles */

  /* UQ Primary palette */
  .uqds-colour--purple {
    background-color: $uq-purple;
  }
  .uqds-text-color--purple {
    color: $uq-purple;
  }
  .uqds-colour--black {
    background-color: $uq-black;
  }
  .uqds-colour--white {
    background-color: $uq-white;
    border: 1px solid #EEEEEE;
  }
  .uqds-text-color--white {
    color: $uq-white;
  }
  /* UQ Secondary palette */
  .uqds-colour--purple-light {
    background-color: $uq-purple-light;
  }
  .uqds-colour--neutral {
    background-color: $uq-neutral;
  }
  .uqds-colour--darkgrey {
    background-color: $uq-darkgrey;
  }
  .uqds-colour--gold {
    background-color: $uq-gold;
  }
  .uqds-colour--red {
    background-color: $uq-red;
  }
  .uqds-colour--orange {
    background-color: $uq-orange;
  }
  .uqds-colour--yellow {
    background-color: $uq-yellow;
  }
  .uqds-colour--blue {
    background-color: $uq-blue;
  }
  .uqds-colour--aqua {
    background-color: $uq-aqua;
  }
  .uqds-colour--green {
    background-color: $uq-green;
  }
 /* UQ Purple gradient */
  .uqds-purple-gradient {
    background: $uq-purple-gradient;
  }

 /* Neutral Tints */
 .uqds-neutral-light20 {
    background-color: $uq-neutral-light20;
  }
  .uqds-neutral-light40 {
    background-color: $uq-neutral-light40;
  }
  .uqds-neutral-light60 {
    background-color: $uq-neutral-light60;
  }
  .uqds-neutral-light80 {
    background-color: $uq-neutral-light80;
  }
 /* Neutral Shades */
 .uqds-neutral-dark20 {
  background-color: $uq-neutral-dark20;
  }
  .uqds-neutral-dark40 {
    background-color: $uq-neutral-dark40;
  }
  .uqds-text-color--grey {
    color: $uq-neutral-dark40;
  }
  .uqds-neutral-dark60 {
    background-color: $uq-neutral-dark60;
  }
  .uqds-neutral-dark80 {
    background-color: $uq-neutral-dark80;
  }
  /* Darkgrey Tints */
  .uqds-darkgrey-light20 {
    background-color: $uq-darkgrey-light20;
  }
  .uqds-darkgrey-light40 {
    background-color: $uq-darkgrey-light40;
  }
  .uqds-darkgrey-light60 {
    background-color: $uq-darkgrey-light60;
  }
  .uqds-darkgrey-light80 {
    background-color: $uq-darkgrey-light80;
  }

  /* Red Shades */
  .uqds-red-dark20 {
    background-color: $uq-red-dark20;
  }
  .uqds-red-dark40 {
    background-color: $uq-red-dark40;
  }

  /* Links */
  .uqds-link-color{
    background-color: $link-color;
  }
  .uqds-link-active-color{
    background-color: $link-active-color;
  }
  .uqds-link-hover-color{
    background-color: $link-hover-color;
  }

  /* Text */
  .uqds-text-bgcolor{
    background-color: $text;
  }
  .uqds-text-color{
    color: $text;
  }