@use '@uqds/core/src/scss/global' as *;

.uqds-space {
  background-color: rgba($uq-black, 0.75);
  width:$space;
  height:$space;
}

.uqds-space-xs{
  width:$space-xs;
  height:$space-xs;
} 

.uqds-space-sm {
  width:$space-sm;
  height:$space-sm;
} 

.uqds-space-md {
  width:$space-md;
  height:$space-md;
} 

.uqds-space-lg {
  width:$space-lg;
  height:$space-lg;
}

.uqds-space-xl {
  width:$space-xl;
  height:$space-xl;
}

.uqds-space-xxl {
  width:$space-xxl;
  height:$space-xxl;
}

.uqds-space-xxxl {
  width:$space-xxxl;
  height:$space-xxxl;
}

.uqds-space-xxxxl {
  width:$space-xxxxl;
  height:$space-xxxxl;
}

.uqds-space-ul {
  width:$space-ul;
  height:$space-ul;
}

.uqds-space-uul {
  width:$space-uul;
  height:$space-uul;
}

.uqds-space-uuul {
  width:$space-uuul;
  height:$space-uuul;
}

.uqds-space-uuuul {
  width:$space-uuuul;
  height:$space-uuuul;
}

/* Container example */ 
.uqds-container {
  background-color: rgba($uq-black, 0.75);
  display: inline-block;
}

.uqds-container-space {
  padding:$space;
}

.uqds-container-space-lg {
  padding:$space-lg;
}

/* compressed container */ 
.uqds-compressed-space-lg {
  padding:$space-compressed-lg $space-lg;
}

/* Stretched container */ 
.uqds-stretched-space {
  padding:$space-stretched $space;
}

/* Stacked */ 
.uqds-container .uqds-stacked-space {
  margin-top:$space;
}

.uqds-container .uqds-stacked-space-xs {
  margin-top:$space-xs;
}

.uqds-container .uqds-stacked-space-lg {
  margin-top:$space-lg;
}

/* inlinec */ 
.uqds-container .uqds-inline-space {
  margin-right:$space;
  display: inline;
}

.uqds-container .uqds-inline-space-xs {
  margin-right:$space-xs;
  display: inline;
}

.uqds-container .uqds-inline-space-lg {
  margin-right:$space-lg;
  display: inline;
}