@use '@uqds/core/src/scss/global' as core;

.uqds-fonts {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
}

.uqds-font {
  &--roboto {
    font-family: core.$roboto !important;
  }

  &--merriweather {
    font-family: core.$merriweather;
  }
  
  &--montserrat {
    font-family: core.$montserrat !important;
  }

  &--italic {
    font-style: italic;
  }

  &--300 {
    font-weight: 300;
  }

  &--500 {
    font-weight: 500;
  }

  &--lead {
    font-size: 1.25rem;
  }

  &--small {
    font-size: .875rem;
  }

  &--xsmall {
    font-size: .75rem;
  }
}
