// Variables, functions, and mixins
@use '@uqds/core/src/scss/global' as *;

// Headings
$h1-font-size: 2.438rem;
$h2-font-size: 1.938rem;
$h3-font-size: 1.438rem;
$h4-font-size: 1.25rem;
$h5-font-size: 1.138rem;
$h6-font-size: 1rem;

// Blockquotes
$blockquote-indent-amount: 1rem;
$blockquote-border-color: $uq-neutral-light40; //eee

// Horizontal rule
$hr-border-color: $uq-neutral; //ddd

// Images
$img-border-color: $uq-neutral; //ddd
$figure-caption-bg: $uq-neutral-light40; //eee

// Tables
$table-border-color: $uq-neutral; //ddd
$table-header-bg: $uq-neutral-light20; //fcfcfc

// Table striping
$table-header-striped-bg: $uq-neutral-light40; //eee
$table-row-striped-bg: $uq-neutral-light20; //fcfcfc

// Code
$code-border-color: $uq-neutral-light40; //eee
$code-bg: $uq-neutral-light20; //f5f5f5
