@use "@uqds/core/src/scss/_global" as core;

.uqds-status-badge {
  box-sizing: border-box;
  border-radius: 9999px;
  border: 2px solid transparent;
  color: var(--uq-grey-900);
  cursor: help;
  display: inline-block;
  font-size: var(--uq-font-size-s);
  line-height: var(--uq-line-height-single);
  margin-left: calc(-1 * var(--uq-space-xxs));
  margin-right: var(--uq-space-m);
  padding: var(--uq-space-xs) var(--uq-space-m);
  vertical-align: baseline;

  // Status tags for Documentation
  &--draftDoc {
    border: 2px solid var(--uq-error-50);
    background-color: transparent;
  }
  &--reviewDoc {
    border: 2px solid var(--uq-warning-50);
    background-color: transparent;
  }
  &--stableDoc {
    border: 2px solid var(--uq-success-50);
    background-color: transparent;
  }

  // Status tags for components
  &--stable {
    background-color: var(--uq-success-50);
  }

  &--development,
  &--experiment {
    background-color: var(--uq-error-50);
  }

  &--review {
    background-color: var(--uq-warning-50);
  }

  &--deprecated {
    color: var(--uq-white);
    background-color: var(--uq-error-700);
  }

  &-addendum {
    display: inline-block;
    font-size: var(--uq-font-size-s);
    line-height: var(--uq-line-height-single);
    margin-bottom: var(--uq-space-l);
    margin-right: var(--uq-space-l);
    white-space: nowrap;
    vertical-align: baseline;
  }
}
