@use "@uqds/core/src/scss/_global" as core;
@use "../../../../../node_modules/tocbot/src/scss/tocbot";

// tocbot style overrides
.toc-wrapper {
  .toc-list {
    .toc-list-item {
      a.toc-link {
        &::before {
          width: 0;
        }

        &:hover,
        &:focus {
          background-color: transparent;
          text-decoration: underline;
        }
      }
    }

    .toc-list-item.is-active-li {
      &::before {
        border-left: solid 2px var(--uq-purple-500);
      }

      & > a {
        color: var(--uq-purple-500);
      }
    }
  }
}

@media only screen and (min-width: calc(var(--uq-screen-md) + 16.5rem)) {
  .uqds-toc {
    width: 12.5rem;
    position: fixed;
    top: 0;
    right: 0;
    padding-top: var(--uq-space-uul);
    height: 100%;

    &__toc {
      margin-left: -(var(--uq-space-m));

      .toc-list {
        padding-left: var(--uq-space-m);
      }

      a.toc-link {
        display: inline-block;
        margin: var(--uq-space-xxs) var(--uq-space-none);
        padding-left: var(--uq-space-m);
        padding-right: var(--uq-space-m);
        text-decoration: none;
        transition: all 0.125s ease-in;
        color: var(--uq-grey-900);

        &::before {
          width: var(--uq-space-xxs);
        }

        &:hover,
        &:focus {
          color: var(--uq-grey-900);
        }
      }

      .is-active-link {
        font-weight: var(--uq-font-weight-bold);

        &::before {
          background-color: var(--uq-purple-500);
        }
      }
    }

    &__heading {
      // Visually hide heading
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      border: 0;
    }
  }
}
