@use "sass:color";
@use "@uqds/core/src/scss/_global" as core;

.uqds-layout-demo-bg {
  background: repeating-linear-gradient(
    45deg,
    var(--uq-grey-500),
    var(--uq-grey-500) 10px,
    var(--uq-grey-700) 10px,
    var(--uq-grey-700) 20px
  );

  & .uq-container {
    background: color-mix(in srgb, var(--uq-error-500) 20%, transparent);
  }

  & .uq-card-grid {
    background: repeating-linear-gradient(
      45deg,
      color-mix(in srgb, var(--uq-success-500), white 30%),
      color-mix(in srgb, var(--uq-success-500), white 30%) 10px,
      color-mix(in srgb, var(--uq-success-700), white 35%) 10px,
      color-mix(in srgb, var(--uq-success-700), white 35%) 20px
    );
  }
}

.uqds-layout-demo-card,
.uqds-layout-demo-el {
  background-color: color-mix(in srgb, var(--uq-utility-500), white 40%);
  border: 1px solid var(--uq-utility-500);
  height: 220px;
}
