@use "sass:color";
@use "@uqds/core/src/scss/_global" as core;

.uqds-layout-demo-bg {
  background: repeating-linear-gradient(
    45deg,
    core.$uq-neutral-light60,
    core.$uq-neutral-light60 10px,
    core.$uq-neutral-light80 10px,
    core.$uq-neutral-light80 20px
  );

  & .uq-container {
    background: rgba(core.$uq-red, 20%);
  }

  & .uq-card-grid {
    background: repeating-linear-gradient(
      45deg,
      color.adjust(core.$green, $lightness: 30%),
      color.adjust(core.$uq-green, $lightness: 30%) 10px,
      color.adjust(core.$uq-green, $lightness: 35%) 10px,
      color.adjust(core.$uq-green, $lightness: 35%) 20px
    );
  }
}

.uqds-layout-demo-card,
.uqds-layout-demo-el {
  background-color: color.adjust(core.$uq-blue, $lightness: 40%);
  border: 1px solid core.$uq-blue;
  height: 220px;
}
