/* Pagination */
@use "@uqds/core/src/scss/global" as core;
@use "global" as *;

.uq-progression {
  display: flex;
  font-family: core.$font-body;
  font-size: core.$font-size-m;
  font-weight: core.$font-weight-normal;
  line-height: core.$line-height;
  list-style: none;
  margin: 0 1.5rem;
  padding: 0 0 2rem;

  &__step {
    display: flex;
    flex: auto;
    list-style: none;
    margin: 0;
    padding: 0;

    &:last-of-type {
      flex: none;
    }

    .uq-progression__link {
      &:hover {
        background-color: core.$grey-500;
        text-decoration: none;
      }
    }
  }

  &__step-marker {
    display: block;
    position: relative;
    text-align: center;
    width: 1.875rem;
    @media (min-width: 640px) {
      width: 2.5rem;
    }
  }
  &__link {
    text-decoration: none;
    &:link,
    &:visited,
    &:active {
      text-decoration: none;
    }
    &:hover {
      .uq-progression__step-number {
        background-color: core.$grey-500;
        text-decoration: none;
      }
    }
  }
  &__step-number {
    background-color: core.$grey-600;
    border-radius: 50%;
    color: core.$white;
    display: block;
    height: 1.875rem;
    line-height: 1.875rem;
    position: relative;
    text-align: center;
    width: 1.875rem;
    @media (min-width: 640px) {
      height: 2.5rem;
      line-height: 2.5rem;
      width: 2.5rem;
    }
  }
  &__step-label {
    display: none;
    @media (min-width: 640px) {
      color: core.$text;
      display: block;
      line-height: 1.2;
      position: absolute;
      top: 2.75rem;
      left: 50%;
      transform: translateX(-50%);
      margin: 0 auto;
      text-align: center;
      white-space: nowrap;
    }
  }

  &__bar {
    background-color: core.$grey-500;
    border-right: 1px solid core.$white;
    border-left: 1px solid core.$white;
    display: flex;
    flex: 1;
    height: 10px;
    height: 0.625rem;
    margin: 10px 0;
    margin: 0.625rem 0;
    @media (min-width: 640px) {
      margin: 15px 0;
      margin: 0.9375rem 0;
    }

    & .uq-progression__bar {
      background-color: core.$grey-500;
      margin: 0;
    }
  }

  &__sub-step {
    display: none;
    @media (min-width: 640px) {
      display: flex;
      flex: auto;
      list-style: none;
      margin: 0;
      padding: 0;
    }
  }
}

.is-complete {
  .uq-progression__step-number,
  .uq-progression__link .uq-progression__step-number,
  .uq-progression__bar {
    background-color: core.$success-500;
    color: core.$white;
  }

  .uq-progression__step .uq-progression__link:hover,
  .uq-progression__link:hover .uq-progression__step-number {
    background-color: core.$success-700;
    text-decoration: none;
  }
}

.uq-progression__bar {
  .uq-progression__bar {
    background-color: core.$grey-300;
    color: core.$white;
  }
  .is-complete {
    background-color: core.$success-500 !important;
    color: core.$white;
  }
}
