@use "@uqds/core/src/scss/_global" as core;
@use "@uqds/grid/src/scss/_global" as grid;

.uqds-example-grid {
  background: repeating-linear-gradient(
    45deg,
    core.$grey-100,
    core.$grey-100 10px,
    core.$grey-50 10px,
    core.$grey-50 20px
  );
  padding: core.$space-l 0;
  overflow: visible;

  &--wrap-content {
    .uq-grid {
      &__col {
        > span {
          text-align: left !important;
          white-space: normal !important;
        }
      }
    }
  }

  &--full-width {
    padding-left: core.$space-uuuul;
    padding-right: core.$space-uuuul;
  }

  &__highlight {
    background-color: greenyellow;
    box-shadow: 0 0 0 4px greenyellow;
  }

  .uq-grid {
    &__col {
      > span {
        background-color: lighten(core.$blue, 45%);
        border: 1px solid core.$blue;
        display: block;
        height: 100%;
        font-size: core.$font-size-xs;
        padding: core.$space-xs;
        text-align: center;
        white-space: nowrap;

        .uqds-example-grid__highlight {
          margin: -(core.$space-xs);
        }

        @media #{core.$screen-xs-up} {
          background-color: lighten(core.$warning-500, 35%);
          border-color: core.$warning-500;
        }

        @media #{core.$screen-sm-up} {
          background-color: core.$error-500;
          border-color: core.$error-500;
        }

        @media #{core.$screen-md-up} {
          background-color: lighten(core.$purple-500, 45%);
          border-color: core.$purple-500;
        }

        @media #{core.$screen-lg-up} {
          background-color: lighten(core.$green, 45%);
          border-color: core.$green;
        }

        @media #{core.$screen-xl-up} {
          background-color: lighten(core.$blue, 40%);
          border-color: core.$blue;
        }
      }
    }

    + .uq-grid {
      margin-top: core.$space-m;
    }
  }

  // mixin usage example class
  .my-custom-container {
    @include grid.layout-containment;
  }
}
