@use "@uqds/core/src/scss/global" as core;
@use "@uqds/grid/src/scss/global" as grid;
@use "@uqds/table/src/scss/main" as *;
// @use '@uqds/body/src/scss/_component' as body with (
//   $use-encapsulation: true
// );

.uqds-body {
  &__container {
    @include grid.layout-containment;
    @include grid.grid-col-padding;
  }

  &__bg-color-utility__container,
  &__text-utility__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__text-utility__container--flex-left {
    justify-content: flex-start;
  }

  &__bg-color-utility,
  &__text-utility {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 4rem;
    justify-content: center;
    padding: 0 1.5rem;
  }

  &__text-utility--align {
    display: flex;
    height: auto;
    align-items: baseline;
    margin: 1rem 0;

    > * {
      max-width: 12rem;
    }

    > :first-child {
      text-align: left;
      padding-right: 2rem;
      white-space: nowrap;
    }
  }
}
