@use '~@uq-uidf/form/src/scss/_global' as *;

.story-password-strength-meter {
  font-size: .875rem;
  margin-bottom: 1rem;
  margin-top: -.675rem;
  min-height: rem-calc(24px);
  position: relative;
  &-text {
    &-rating {
      color: #9c6b00;
    }
    &--fail {
      .story-password-strength-meter-text-rating {
        color: $alert;
      }
    }
    &--strong {
      .story-password-strength-meter-text-rating {
        color: #2EA836;
      }
    }
  }
  &-indicator {
    font-size: 0;
    white-space: nowrap;
    span {
      background-color: #E6E6E6;
      display: inline-block;
      height: 8px;
      width: 10%;
      + span {
        margin-left: 1px;
      }
      &.fill {
        background-color: #9c6b00;
      }
    }
    &--fail {
      span.fill {
        background-color: $alert;
      }
    }
    &--strong {
      span.fill {
        background-color: #2EA836;
      }
    }
  }
  &-warning {
    margin-bottom: 0.4rem;
  }
  &-suggestions,
  &-sequences {
    background-color: #FCFCFC;
    border-style: solid;
    border-color: #DDDDDD;
    border-width: 1px;
    box-sizing: border-box;
    color: #222222;
    padding: 0.9rem 1rem 1.2rem 3.1rem;
    position: relative;
    margin: 0;
    &:before {
      display: block;
      font-weight: normal;
      margin-bottom: 0.4rem;
      margin-left: -2rem;
    }
    @media #{$medium-up} {
      display: table-cell;
      margin: 0 0 1rem 0;
      width: 50%;
    }
  }
  &-suggestions {
    &:before {
      content: "Suggestions to strengthen your password:";
    }
  }
  &-sequences {
    border-width: 1px;
    margin-bottom: 1rem;
    margin-top: -1px;
    &:before {
      content: "These issues are weakening your password:";
    }
    @media #{$medium-up} {
      border-width: 1px 1px 1px 0;
    }
  }
}

.form__inline-error-message {
  + .story-password-strength-meter {
    margin-top: -.5rem;
  }
}
