@use '@uqds/core/src/scss/global' as *;
@use 'global' as *;

/* button Default */
.uq-button {
  background-color: $button-bg-color;
  border: 2px solid $button-border-color;
  border-radius: 5px;
  box-sizing: border-box;
  color: $button-color;
  cursor: pointer;
  display: inline-block;
  font-family: $button-font;
  font-size: 1rem;
  font-weight: normal;
  line-height: normal;
  padding: $space-sm $space-md;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all 300ms ease-out;
  
  *, *:before, *:after {
    box-sizing: border-box;
  }

  &:hover, &:focus {
    background-color: $button-bg-hover-color;
    border-color: $button-border-hover-color;
    color: $button-hover-color;
    text-decoration: underline;
  }

  &.uq-button--outline {
    background-color: transparent;
    border-color: $button-bg-color;
    color: $button-bg-color;

    &:hover, &:focus {
      background-color: $button-bg-hover-color;
      border-color: $button-bg-hover-color;
      color: $button-color;
    }
  }

  &.uq-button--text {
    background-color: transparent;
    border-color: transparent;
    color: $button-bg-color;

    &:hover, &:focus {
      background-color: transparent;
      border-color: transparent;
      color: $button-bg-hover-color;
    }
  }

  /* button secondary */
  &--secondary {
    background-color: $button-secondary-bg-color;
    border-color: $button-secondary-border-color;
    color: $button-secondary-color;

    &:hover, &:focus {
      background-color: $button-secondary-bg-hover-color;
      border-color: $button-secondary-border-hover-color;
      color: $button-secondary-hover-color;
    }

    &.uq-button--outline {
      background-color: transparent;
      border-color: $button-secondary-bg-color;
      color: $button-secondary-color;

      &:hover, &:focus {
        background-color: $button-secondary-bg-hover-color;
        border-color: $button-secondary-bg-hover-color;
        color: $button-secondary-color;
      }

      &.uq-button--light {
        color: $button-secondary-bg-color;

        &:hover, &:focus {
          color: $button-secondary-color;
        }
      }
    }

    &.uq-button--text {
      background-color: transparent;
      border-color: transparent;
      color: $button-secondary-color;
  
      &:hover, &:focus {
        background-color: transparent;
        border-color: transparent;
        color: $button-secondary-hover-color;
      }

      &.uq-button--light {
        color: $button-secondary-bg-color;

        &:hover, &:focus {
          color: $button-secondary-bg-hover-color;
        }
      }
    }
  }

  /* button tertiary */
  &--tertiary {
    background-color: $button-tertiary-bg-color;
    border-color: $button-tertiary-border-color;
    color: $button-tertiary-color;

    &:hover, &:focus {
      background-color: $button-tertiary-bg-hover-color;
      border-color: $button-tertiary-border-hover-color;
      color: $button-tertiary-hover-color;
    }

    &.uq-button--outline {
      background-color: transparent;
      border-color: $button-tertiary-bg-color;
      color: $button-tertiary-bg-color;

      &:hover, &:focus {
        background-color: $button-tertiary-bg-hover-color;
        border-color: $button-tertiary-bg-hover-color;
        color: $button-tertiary-color;
      }

      &.uq-button--light {
        color: $button-tertiary-bg-color;

        &:hover, &:focus {
          color: $button-tertiary-color;
        }
      }
    }

    &.uq-button--text {
      background-color: transparent;
      border-color: transparent;
      color: $button-tertiary-bg-color;
  
      &:hover, &:focus {
        background-color: transparent;
        border-color: transparent;
        color: $button-tertiary-bg-hover-color;
      }

      &.uq-button--light {
        color: $button-tertiary-bg-color;

        &:hover, &:focus {
          color: $button-tertiary-bg-hover-color;
        }
      }
    }
  }

  /* button sizes */
  &--tiny {
    font-size: 12px;
    padding: $space-xs $space-sm;
  }

  &--small {
    font-size: 14px;
    padding: $space-sm $space;
  }

  &--large {
    font-size: 18px;
    padding: $space $space-xl;
  }

  &--expand {
    padding-left: $space-none;
    padding-right: $space-none;
    width: 100%;
  }
}
