@use '@uqds/core/src/scss/global' as core;
@use 'global' as *;

/* button Default */
.uq-button {
  background-color: $button-bg-color;
  border: 2px solid $button-border-color;
  border-radius: core.$space-xs;
  box-sizing: border-box;
  color: $button-color;
  cursor: pointer;
  display: inline-block;
  font-family: $button-font;
  font-size: core.$font-size-m;
  font-weight: normal;
  line-height: normal;
  padding: core.$space-sm core.$space-md;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all 300ms ease-out;
  
  *, *::before, *::after {
    box-sizing: border-box;
  }

  &:hover, &:focus {
    background-color: $button-bg-hover-color;
    border-color: $button-border-hover-color;
    color: $button-hover-color;
    text-decoration: underline;
  }

  &.uq-button--outline {
    background-color: transparent;
    border-color: $button-bg-color;
    color: $button-bg-color;

    &:hover, &:focus {
      background-color: $button-bg-hover-color;
      border-color: $button-bg-hover-color;
      color: $button-color;
    }
  }

  &.uq-button--text {
    background-color: transparent;
    border-color: transparent;
    color: $button-bg-color;

    &:hover, &:focus {
      background-color: transparent;
      border-color: transparent;
      color: $button-bg-hover-color;
    }
  }

  /* button secondary */
  &--secondary {
    background-color: $button-secondary-bg-color;
    border-color: $button-secondary-border-color;
    color: $button-secondary-color;

    &:hover, &:focus {
      background-color: $button-secondary-bg-hover-color;
      border-color: $button-secondary-border-hover-color;
      color: $button-secondary-hover-color;
    }

    &.uq-button--outline {
      background-color: transparent;
      border-color: $button-secondary-bg-color;
      color: $button-secondary-color;

      &:hover, &:focus {
        background-color: $button-secondary-bg-hover-color;
        border-color: $button-secondary-bg-hover-color;
        color: $button-secondary-color;
      }

      &.uq-button--light {
        color: $button-secondary-bg-color;

        &:hover, &:focus {
          color: $button-secondary-color;
        }
      }
    }

    &.uq-button--text {
      background-color: transparent;
      border-color: transparent;
      color: $button-secondary-color;
  
      &:hover, &:focus {
        background-color: transparent;
        border-color: transparent;
        color: $button-secondary-hover-color;
      }

      &.uq-button--light {
        color: $button-secondary-bg-color;

        &:hover, &:focus {
          color: $button-secondary-bg-hover-color;
        }
      }
    }
  }

  /* button purple */
  &--purple {
    background-color: $button-purple-bg-color;
    border-color: $button-purple-border-color;
    color: $button-purple-color;

    &:hover, &:focus {
      background-color: $button-purple-bg-hover-color;
      border-color: $button-purple-border-hover-color;
      color: $button-purple-hover-color;
    }

    &.uq-button--outline {
      background-color: transparent;
      border-color: $button-purple-bg-color;
      color: $button-purple-bg-color;

      &:hover, &:focus {
        background-color: $button-purple-bg-hover-color;
        border-color: $button-purple-bg-hover-color;
        color: $button-purple-color;
      }

      &.uq-button--light {
        color: $button-purple-bg-color;

        &:hover, &:focus {
          color: $button-purple-color;
        }
      }
    }

    &.uq-button--text {
      background-color: transparent;
      border-color: transparent;
      color: $button-purple-bg-color;
  
      &:hover, &:focus {
        background-color: transparent;
        border-color: transparent;
        color: $button-purple-bg-hover-color;
      }

      &.uq-button--light {
        color: $button-purple-bg-color;

        &:hover, &:focus {
          color: $button-purple-bg-hover-color;
        }
      }
    }
  }

  /* button sizes */
  &--tiny {
    font-size: core.$font-size-xs;
    padding: core.$space-xs core.$space-sm;
  }

  &--small {
    font-size: core.$font-size-s;
    padding: core.$space-sm core.$space;
  }

  &--large {
    font-size: core.$font-size-l;
    padding: core.$space core.$space-xl;
  }

  &--expand {
    padding-left: core.$space-none;
    padding-right: core.$space-none;
    width: 100%;
  }
}