@use "@uqds/core/src/scss/global" as core;
@use "global" as *;

/* button Default */
.uq-button {
  background-color: core.$purple-500;
  border: 2px solid core.$purple-500;
  border-radius: core.$space-xs;
  box-sizing: border-box;
  color: core.$white;
  cursor: pointer;
  display: inline-block;
  font-family: core.$roboto;
  font-size: core.$font-size-m;
  font-weight: core.$font-weight-medium;
  line-height: core.$line-height;
  padding: core.$space-s core.$space-l;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all 300ms ease-out;

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  &:hover {  
    background-color: core.$white;
    border-color: core.$purple-500;
    color: core.$purple-500;
    text-decoration: underline;
  }

  // TODO: UPDATE FOCUS STYLES
  // &:focus {
  //   outline-color: Highlight;
  //   outline-color: -webkit-focus-ring-color;
  // }


  /* button secondary */
  &--secondary {
    background-color: transparent;
    border-color: core.$purple-500;
    color: core.$purple-500;

    &:hover,
    &:focus {
      background-color: core.$purple-500;
      border-color: core.$purple-500;
      color: core.$white;
    }
  }

  /* button purple */
  &--tertiary {
    background-color: transparent;
    border-color: transparent;
    color: core.$purple-500;
    text-decoration: underline;

    &:hover,
    &:focus {
      background-color: core.$purple-500;
      border-color: core.$purple-500;
      color: core.$white;
    }

  }

  /* button sizes */
  &--tiny {
    font-size: core.$font-size-xs;
    padding: core.$space-xs core.$space-s;
  }

  &--small {
    font-size: core.$font-size-s;
    padding: core.$space-s core.$space-m;
  }

  &--large {
    font-size: core.$font-size-l;
    padding: core.$space-m core.$space-xxl;
  }

  &--expand {
    padding-left: core.$space-none;
    padding-right: core.$space-none;
    width: 100%;
  }
}
