@use "@uq-uidf/core/src/scss/global" as core;
@use 'global' as *;

/**
 * Grid container (incl. full width modifier class)
 */
@include grid-row(12, 'xl', 24) {
  &:not(.uq-grid--full-width) {
    @include layout-containment; // contain the first grid wrapper by default
  }

  &--full-width,
  .uq-grid {
    @include layout-full-width;
  }
};
@include grid-col-span-classes(8, 'md', 24);
@include grid-col-span-classes(6, null, 24);

@media #{core.$screen-md-up} {
  @include grid-col-span-classes(12, 'xl', 24);
  @include grid-col-span-classes(8, 'md', 24);
}

@media #{core.$screen-xl-up} {
  @include grid-col-span-classes(12, 'xl', 24);
}

/**
 * Flexible Grid (modifier class)
 */
.uq-grid--flexible {
  > .uq-grid__col {
    flex: 1 0 12.5rem;
    width: auto !important;
  }

  .uq-grid--flexible {
    > .uq-grid__col {
      flex-basis: 0; // remove flex-basis for nested flexible grids to prevent overflow.
    }
  }

  @supports (display: grid) {
    @include grid-col-padding;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr));
    grid-gap: map-get($map: $gutter-width, $key: "base");
    
    > .uq-grid__col {
      padding-left: 0;
      padding-right: 0;
    }

    @media #{core.$screen-md-up} {
      grid-gap: map-get($map: $gutter-width, $key: "md");
    }

    @media #{core.$screen-xl-up} {
      grid-gap: map-get($map: $gutter-width, $key: "xl");
    }
  }
}

/**
 * Set column grids
 */
.uq-grid--halves {
  
  > .uq-grid__col {
    @media #{core.$screen-md-up} {
      grid-column: auto / span 6;
      width: auto;
    }
  }
}

.uq-grid--thirds {
  > .uq-grid__col {
    @media #{core.$screen-md-up} {
      grid-column: auto / span 6;
      width: auto;
    }

    @media #{core.$screen-lg-up} {
      grid-column: auto / span 4;
      width: auto;
    }
  }
}

.uq-grid--quarters {
  > .uq-grid__col {
    @media #{core.$screen-md-up} {
      grid-column: auto / span 6;
      width: auto;
    }

    @media #{core.$screen-lg-up} {
      grid-column: auto / span 3;
      width: auto;
    }
  }
}

/**
 * Scroll small Grid
 * A grid the scrolls horizontally on mobile. Useful for holding cards.
 */

@media #{core.$screen-lg-down} {
  .uq-grid--scroll-small {
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;

    .uq-grid__col {
      flex: 1 0 18.75rem;
      margin-right: core.$space-md;
    }
  }
}
