@use "@uq-uidf/core/src/scss/global" as core;

$gutter-width: (
  "base": core.$space,
  "md": core.$space-md,
  "xl": core.$space-lg
);

/**
 * Layout containment (breakpoint driven)
 */
@mixin layout-containment {
  margin-left: core.$space-md - map-get($map: $gutter-width, $key: "base") / 2;
  margin-right: core.$space-md - map-get($map: $gutter-width, $key: "base") / 2;

  // TODO: if we can perform the following checks on the parent element width
  // instead of the viewport width, we can achieve a more friendlier to use
  // implementation of the layout system (albeit less strict). Also, it means
  // that the columns get enumerated based on available space when rows are
  // nested.

  // Ease into larger margin
  @media (min-width: #{core.$screen-md + (2 * core.$space-md) - (2 * core.$space-xxxxl)}) {
    margin-left: core.$space-auto;
    margin-right: core.$space-auto;
    max-width: (core.$screen-md - 0.0625rem) - (2 * core.$space-xxxxl) + map-get($map: $gutter-width, $key: "base");
  }

  @media #{core.$screen-md-up} {
    margin-left: core.$space-xxxxl - map-get($map: $gutter-width, $key: "md") / 2;
    margin-right: core.$space-xxxxl - map-get($map: $gutter-width, $key: "md") / 2;
    max-width: none;
  }
  
  @media (min-width: #{core.$screen-xl + (2 * core.$space-xxxxl) - 18.75rem}) {
    margin-left: core.$space-auto;
    margin-right: core.$space-auto;
    max-width: core.$screen-xl - 18.75rem + map-get($map: $gutter-width, $key: "md");
  }

  @media (min-width: #{core.$screen-xl}) {
    max-width: core.$screen-xl - 18.75rem + map-get($map: $gutter-width, $key: "xl");
  }
}

/**
 * Full-width container
 */
@mixin layout-full-width {
  margin-left: -(map-get($map: $gutter-width, $key: "base") / 2);
  margin-right: -(map-get($map: $gutter-width, $key: "base") / 2);
  max-width: none;

  @media #{core.$screen-md-up} {
    margin-left: -(map-get($map: $gutter-width, $key: "md") / 2);
    margin-right: -(map-get($map: $gutter-width, $key: "md") / 2);
  }

  @media #{core.$screen-xl-up} {
    margin-left: -(map-get($map: $gutter-width, $key: "xl") / 2);
    margin-right: -(map-get($map: $gutter-width, $key: "xl") / 2);
  }
}

/**
 * Row container styles for Flexbox grid implemenations
 */
@mixin grid-row-basis {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
}

@mixin grid-col-padding {
  padding-left: (map-get($map: $gutter-width, $key: "base") / 2);
  padding-right: (map-get($map: $gutter-width, $key: "base") / 2);

  @media #{core.$screen-md-up} {
    padding-left: (map-get($map: $gutter-width, $key: "md") / 2);
    padding-right: (map-get($map: $gutter-width, $key: "md") / 2);
  }

  @media #{core.$screen-xl-up} {
    padding-left: (map-get($map: $gutter-width, $key: "xl") / 2);
    padding-right: (map-get($map: $gutter-width, $key: "xl") / 2);
  }
}

/**
 * Generate grid classes (Flexbox)
 */
@mixin grid-row--flex(
    $column-count: 6,
    $breakpoint-name: null
  ) {
  
  $col-span-mod-prefix: "";

  @if ($breakpoint-name) {
    $col-span-mod-prefix: "#{$breakpoint-name}-"
  }

  .uq-grid {
    @include grid-row-basis;

    @content;

    &__col {
      @include grid-col-padding;
      flex: none;

      &--#{$col-span-mod-prefix} {
        @for $span from 1 through $column-count {
          &#{$span} {
            width: (100% / $column-count) * $span;
          }
        }
      }
    }
  }
}
