/* Pagination */
@use "@uqds/core/src/scss/global" as core;
@use "global" as *;

.uq-pagination {
  display: block;
  font-family: core.$font-body;
  font-size: core.$font-size-m;
  font-weight: core.$font-weight-normal;
  line-height: core.$line-height;

  &__item {
    display: inline-block;
    list-style: none;

    .uq-pagination__link {
      color: core.$utility-500;
      font-size: 1rem;
      font-weight: 300;
      padding: core.$space-none core.$space-s;
      text-decoration: none;

      &:hover {
        color: core.$utility-600;
        text-decoration: underline;
      }
    }

    &--current {
      .uq-pagination__link {
        color: core.$grey-900;
        font-weight: 500;

        &:hover {
          color: core.$grey-900;
          text-decoration: none;
        }
      }
    }
  }

  &__ellipsis {
    color: core.$grey-900;
    display: inline-block;
    list-style: none;
  }
}
