/* Pagination */
@import "global";

.pagination {
	display: block;

	&__item {
		display: inline-block;
		list-style: none;

		a {
			font-size: 1rem;
			font-weight: 300;
			padding: 0px 8px;
			color: $link-color;
			text-decoration: none;

			&:hover {
				color: $link-hover-color;
				text-decoration: underline;
			}
		}

		&--current {

			a {
				font-weight: 500;
				color: $uq-black;

				&:hover {
					color: $uq-black;
					text-decoration: none;
					cursor: none;
				}
			}
		}
	}

	&__ellipsis {
		display: inline-block;
		list-style: none;
		color: $uq-black;
	}
}