@use "@uqds/core/src/scss/global" as core;
@use "@uqds/icon/src/scss/global" as icon-constants;
@use "global" as *;

.uq-grid-menu {
  box-sizing: border-box;
  display: grid;
  font-family: core.$font-body;
  font-size: core.$font-size-m;
  font-weight: core.$font-weight-normal;
  line-height: core.$line-height;
  list-style: none;
  gap: core.$space-none;
  margin: 0;
  padding: 0;
  align-items: stretch;

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  &__item {
    margin-bottom: core.$space-none;
  }

  // Behave as 3 column layout by default.
  @include grid-menu-3-column;

  &--2-column {
    @include grid-menu-2-column;
  }

  &--3-column {
    @include grid-menu-3-column;
  }

  &--4-column {
    @include grid-menu-4-column;
  }

  &__link {
    border-bottom: 1px solid core.$grey-200;
    color: core.$link;
    display: block;
    font-size: 1.375rem;
    font-weight: 400;
    line-height: normal;
    padding: core.$space-m core.$space-xl core.$space-m core.$space-m;
    position: relative;
    height: 100%;
    text-decoration: none;

    &::after {
      content: "";
      position: absolute;
      right: 1.5rem;
      top: 1.25rem;
      width: 2rem;
      height: 2rem;
      transition: ease 0.3s;
      margin-top: -0.2rem;
    }

    &:hover {
      background-color: core.$link;
      color: core.$white;
      text-decoration: none;

      &::after {
        content: "";
        background-image: url(icon-constants.get-icon(
          "standard--arrow-right-1",
          core.$white
        ));
        background-repeat: no-repeat;
        background-size: 1.4rem 1.4rem;
        right: 0;
      }

      .uq-grid-menu__link,
      .uq-grid-menu__title,
      .uq-grid-menu__description {
        color: core.$white;
        text-decoration: none;
      }

      .uq-grid-menu__icon {
        &::before {
          filter: icon-constants.$icon-light-filter;
        }
      }
    }
  }

  &__title {
    font-size: 1.375rem;
    font-weight: 400;
  }

  &__description {
    color: core.$grey-700;
    display: block;
    font-size: 0.8rem;
    font-weight: 300;
    line-height: normal;
    margin-top: core.$space-xs;
  }

  &__icon {
    margin-top: -0.3rem;
    margin-right: core.$space-s;
    transition: filter 0.2s;
  }

  // Dark text variant.
  &--dark-text {
    .uq-grid-menu__link {
      color: core.$grey-900;
    }

    .uq-grid-menu__icon {
      &::before {
        filter: icon-constants.$icon-text-filter;
      }
    }
  }

  @media only screen and #{core.$screen-md-up} {
    gap: core.$space-m;
  }
}

// Palettes applied to section wrapping grid-menu.
.light-palette {
  .uq-grid-menu {
    &__link,
    &__title,
    &__description {
      @extend %light-palette;

      &:hover {
        background-color: core.$white;
        color: core.$link;

        .uq-grid-menu__description {
          background-color: core.$white;
          color: core.$link;
        }
      }
    }
  }
}

.dark-palette {
  .uq-grid-menu {
    &__link,
    &__title,
    &__description {
      @extend %dark-palette;

      &:hover {
        background-color: core.$link;
        color: core.$white;

        .uq-grid-menu__description {
          background-color: core.$link;
          color: core.$white;
        }
      }
    }
  }
}

// Grid menu inside a section with background image.
.section--background-image {
  .uq-grid-menu {
    &__link {
      border-color: rgba(core.$white, 0.4);
    }
  }
}
