@use '@uqds/core/src/scss/global' as core;
@use 'global' as *;

.uq-grid-menu {
  box-sizing: border-box;
  display: grid;
  list-style: none;
  gap: core.$space-none;
  margin: 0;
  padding: 0;
  align-items: start;

  *, *:before, *:after {
    box-sizing: border-box;
  }

  > li,
  &__item {
    margin-bottom: core.$space-none;
  }

  // Behave as 3 column layout by default.
  @include grid-menu-3-column;
  
  &--2-column {
    @include grid-menu-2-column;
  }

  &--3-column {
    @include grid-menu-3-column;
  }

  &--4-column {
    @include grid-menu-4-column;
  }

  a,
  &__link {
    border-bottom: 1px solid $linked-list-border; //#eee
    color: $linked-list-color;
    display: block;
    font-size: 1.375rem;
    font-weight: 400;
    line-height: normal;
    padding: core.$space core.$space-lg core.$space core.$space;
    position: relative;
    height: auto;

    &::after {
      content: '';
      position: absolute;
      right: 1.5rem;
      top: 1.25rem;
      width: 2rem;
      height: 2rem;
      transition: ease 0.3s;
      margin-top: -0.2rem;
    }

    &:hover {
      background-color: core.$link-color;
      color: $linked-list-color-hover;
      text-decoration: none;

      &::after {
        content: '';
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-5 0 24 24' %3E%3Cpath d='M5.145 14.285l6.167-6a.41.41 0 000-.598L5.145 1.715' fill='none' stroke='%23FFF' stroke-width='.75' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        right: 0.5rem;
      }

      a,
      .uq-grid-menu__link,
      .uq-grid-menu__description {
        color: $linked-list-color-hover;
        text-decoration: none;
      }

      .uq-grid-menu__icon {
        filter: core.$filter-white;
      }
    }
  }

  &__title {
    font-size: 1.375rem;
    font-weight: 400;
  }

  &__description {
    color: $linked-list-desc;
    display: block;
    font-size: .8rem;
    font-weight: 300;
    line-height: normal;
    margin-top: core.$space-xs;
  }

  &__icon {
    margin-top: -0.3rem;
    margin-right: core.$space-sm;
    transition: filter 0.2s;
  }

  // Dark text variant.
  &--dark-text {
    a,
    .uq-grid-menu__link {
      color: core.$dark-palette-color;
    }
  }

  // Equalised item heights
  &--equalised {
    align-items: stretch;

    a,
    &__link {
      height: 100%;
    }
  }

  @media only screen and #{core.$screen-md-up} {
    gap: core.$space;
  }
}

// Palettes applied to section wrapping grid-menu.
.light-palette {
  .uq-grid-menu {
    a,
    .uq-grid-menu__link,
    .uq-grid-menu__description {
      @extend %light-palette;

      &:hover {
        background-color: core.$light-palette-link-color;
        color: core.$link-color;

        .uq-grid-menu__description {
          background-color: core.$light-palette-link-color;
          color: core.$link-color;
        }
      }
    }
  }
}

.dark-palette {
  .uq-grid-menu {
    a,
    .uq-grid-menu__link,
    .uq-grid-menu__description {
      @extend %dark-palette;

      &:hover {
        background-color: core.$link-color;
        color: core.$uq-white;

        .uq-grid-menu__description {
          background-color: core.$link-color;
          color: core.$uq-white;
        }
      }
    }
  }
}

// Grid menu inside a section with background image.
.section--background-image {
  .uq-grid-menu {
    a, 
    .uq-grid-menu__link {
      border-color: rgba(core.$uq-white, .4);
    }
  }
}
