// Variables, functions, and mixins
@use '@uqds/core/src/scss/global' as core;
@use '@uqds/foundation-global/src/scss/global' as *;
@use '@uqds/foundation-block-grid/src/scss/global' as *;

$linked-list-color: core.$link-color;
$linked-list-color-hover: core.$uq-white;
$linked-list-desc: core.$uq-neutral-dark80; //222;
$linked-list-desc-hover: core.$uq-white;
$linked-list-border: core.$uq-neutral-light40; //EEE;

// Two column layout.
@mixin grid-menu-2-column {
  @media #{$medium-up}{
    @include block-grid(
      $per-row: 2,
      $spacing: core.$space
    );
    > li {
      margin-bottom: core.$space-none;
    }
  }
}

// Three column layout.
@mixin grid-menu-3-column {
  @media #{$medium-up}{
    @include block-grid(
      $per-row: 2,
      $spacing: core.$space
    );
    > li {
      margin-bottom: core.$space-none;
    }
  }

  @media #{$large-up}{
    @include block-grid(
      $per-row: 3,
      $spacing: core.$space
    );
    > li {
      margin-bottom: core.$space-none;
    }
  }
}

// Four column layout.
@mixin grid-menu-4-column {
  @media #{$medium-up}{
    @include block-grid(
      $per-row: 2,
      $spacing: core.$space
    );
    > li {
      margin-bottom: core.$space-none;
    }
  }

  @media #{$large-up}{
    @include block-grid(
      $per-row: 4,
      $spacing: core.$space
    );
    > li {
      margin-bottom: core.$space-none;
    }
  }
}
