// Variables, functions, and mixins
@use '@uqds/core/src/scss/global' as core;

$linked-list-color: core.$link-color;
$linked-list-color-hover: core.$uq-white;
$linked-list-desc: core.$uq-neutral-dark80; //222;
$linked-list-desc-hover: core.$uq-white;
$linked-list-border: core.$uq-neutral-light40; //EEE;

// Two column layout.
@mixin grid-menu-2-column {
  @media only screen and (min-width:641px) and (max-width:1024px) {
    grid: auto-flow / repeat(2, 1fr);
  }
}

// Three column layout.
@mixin grid-menu-3-column {
  @media only screen and (min-width:641px) and (max-width:1024px) {
    grid: auto-flow / repeat(2, 1fr);
  }
  @media only screen and (min-width:1025px) {
    grid: auto-flow / repeat(3, 1fr);
  }
}

// Four column layout.
@mixin grid-menu-4-column {
  @media only screen and (min-width:641px) and (max-width:1024px) {
    grid: auto-flow / repeat(2, 1fr);
  }
  @media only screen and (min-width:1025px) {
    grid: auto-flow / repeat(4, 1fr);
  }
}
