// Variables, functions, and mixins
@use '@uq-uidf/core/src/scss/_global' as *;
@use '@uq-uidf/foundation-global/src/scss/global' as *;
@use '@uq-uidf/foundation-block-grid/src/scss/global' as *;

$linked-list-color: $link-color;
$linked-list-color-hover: $uq-white;
$linked-list-desc: $uq-neutral-dark80; //222;
$linked-list-desc-hover: $uq-white;

// Two column layout.
@mixin grid-menu-2-column {
  @media #{$medium-up}{
    @include block-grid(
      $per-row: 2,
      $spacing: 1rem
    );
  }
}

// Three column layout.
@mixin grid-menu-3-column {
  @media #{$medium-up}{
    @include block-grid(
      $per-row: 2,
      $spacing: 1rem
    );
  }

  @media #{$large-up}{
    @include block-grid(
    $per-row: 3,
    $spacing: 1rem
    );
  }
}

// Four column layout.
@mixin grid-menu-4-column {
  @media #{$medium-up}{
    @include block-grid(
      $per-row: 2,
      $spacing: 1rem
    );
  }

  @media #{$large-up}{
    @include block-grid(
    $per-row: 4,
    $spacing: 1rem
    );
  }
}
