// FS section code
.section--no-spacing {
  padding-top: 0;
  padding-bottom: 0;
}
.section--no-spacing .section__content {
  padding: 0;
}

// Secondary Header (site title)
.header__secondary.section {
  padding-top: 0;
  padding-bottom: 0;
}

.header__secondary .section__content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
@media (max-width: 640px) {
  .header__secondary .section__content {
    padding-bottom: 1rem;
    padding-top: 1rem;
  }
}
@media (min-width: 1024px) {
  .header__secondary .section__content {
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
  }
  @media (max-width: 640px) {
    .header__secondary .section__content {
      padding-bottom: 0.5rem;
      padding-top: 1.5rem;
    }
  }
}
.header__secondary .header__secondary__nav-toggle {
  border: 0;
  margin-left: 1rem;
  margin-right: 0;
  margin-bottom: 0;
  padding: 0;
  width: 1.5rem;
  height: 1.5rem;
}
@media (max-width: 640px) {
  .header__secondary .header__secondary__nav-toggle {
    height: 1.5rem;
    width: 1.5rem;
    margin-left: 1rem;
  }
}
.header__secondary .header__secondary__nav-toggle:before {
  top: 0;
  left: 0;
}
@media (min-width: 1024px) {
  .header__secondary .header__secondary__nav-toggle {
    display: none;
  }
}
.header__secondary__actions {
  display: flex;
  align-items: center;
}
.header__site-name {
  margin: 0;
  font-size: 1.25rem;
  font-weight: 500;
  color: #51247a;
}
@media (max-width: 640px) {
  .header__site-name {
    font-size: 1.25rem;
  }
}
.header__site-name:hover {
  color: #51247a;
  text-decoration: none;
}
.header__site-name:focus {
  color: #51247a;
  text-decoration: none;
}

// Button Close icon 
.button {
  color: #2377cb;
  display: inline-block;
  border: 2px solid transparent;
  margin-bottom: 1rem;
  margin-right: 1rem;
  padding: .5rem 1.5rem;
  border-radius: 5px;
  font-size: 1rem;
  line-height: 1.5;
  text-decoration: none;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: color .2s,background-color .2s,border-color .2s;
}
.button {
  font-size: 1rem;
  padding: .5rem 1.5rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}
.button--tertiary {
  border-color: #51247a;
  background-color: #fff;
  color: #51247a;
}
.button--icon-only, .button--left, .button--right {
  position: relative;
}
.button--icon-only {
  padding: .5rem;
  width: 2.75rem;
  height: 2.75rem;
  text-indent: -100vw;
  overflow: hidden;
}
.button:hover {
  text-decoration: none;
}
.button--tertiary:hover {
  border-color: #49206c;
  color: #49206c;
  background-color: #fff;
}
// Button open icon extended
.icon--standard--navigation-menu::before {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3E%3Cpath d='M1.715 11.742h12.57M1.715 7.855h12.57M1.715 4h12.57' stroke='%23000' stroke-width='.75' fill='none' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}

// Button Close icon extended
.button--icon-only::before {
  content: "";
  position: absolute;
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  background-size: 100%;
}
.button--icon-only::before {
  width: 1.5rem;
}
.button--icon-only::before {
  height: 1.5rem;
}

.button--tertiary::before {
  -webkit-filter: invert(20%) sepia(34%) saturate(1979%) hue-rotate(239deg) brightness(97%) contrast(107%);
  filter: invert(20%) sepia(34%) saturate(1979%) hue-rotate(239deg) brightness(97%) contrast(107%);
}

.icon--standard--close::before {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3E%3Cpath d='M1.715 14.285l12.57-12.57m0 12.57L1.715 1.715' stroke='%23000' stroke-width='.75' fill='none' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}
.header__secondary .header__secondary__nav-toggle::before {

    top: 0;
    left: 0;

}
// Navigation Menu
.nav ul {
  list-style-type: none;
  padding-left: 0;
}
.nav ul,
.nav ul li {
  margin-bottom: 0;
  margin-top:0;
}
.nav a {
  text-decoration: none;
}
.nav a:focus,
.nav a:hover {
  text-decoration: underline;
}
.nav--inline > ul > li {
  display: inline;
  margin-left: 1.5rem;
  word-wrap: break-word;
}
@media (max-width: 640px) {
  .nav--inline > ul > li {
    margin-left: 1.5rem;
  }
}
.nav--inline > ul > li:first-of-type {
  margin-left: 0;
}
.nav--pipes > ul > li {
  margin-left: 0.5rem;
}
@media (max-width: 640px) {
  .nav--pipes > ul > li {
    margin-left: 0.5rem;
  }
}
.nav--pipes > ul > li + :before {
  content: ' | ';
  padding-right: 0.5rem;
}
@media (max-width: 640px) {
  .nav--pipes > ul > li + :before {
    padding-right: 0.5rem;
  }
}
.nav--breadcrumb {
  position: relative;
  padding: 0.1875rem 0;
  z-index: 1;
  overflow: auto;
  white-space: nowrap;
}
.nav--breadcrumb > ul > li {
  margin-left: 0;
  padding-right: 1.5rem;
  color: grey;
  font-size: 0.875rem;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' stroke='gray'%3E%3Cpath d='M5.145 14.285l6.167-6a.41.41 0 000-.598L5.145 1.715' fill='none' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 0.375rem center;
  background-size: 0.75rem;
}
@media (max-width: 640px) {
  .nav--breadcrumb > ul > li {
    font-size: 0.875rem;
  }
}
@media (max-width: 640px) {
  .nav--breadcrumb > ul > li {
    padding-right: 1.5rem;
  }
}
.nav--breadcrumb > ul > li:last-child {
  padding-right: 0;
  background-image: none;
}
.nav--breadcrumb > ul > li a {
  color: inherit;
  text-decoration: underline;
}
.nav--dropdown li {
  position: relative;
}
.nav--dropdown li.active > a {
  border-left: 2px solid #51247a;
}
@media (min-width: 1024px) {
  .nav--dropdown li.active > a {
    border-left: 0;
    border-bottom: 2px solid #51247a;
  }
}
.nav--dropdown a {
  display: block;
  border-bottom: 1px solid #e2e2e2;
  color: #000;
  text-decoration: none;
  padding: 1rem 1.5rem;
  transition: background-color 0.25s, border-color 0.25s;
}
@media (max-width: 640px) {
  .nav--dropdown a {
    padding: 1rem 1.5rem;
  }
}
.nav--dropdown a:hover {
  background-color: #f1f1f1;
}
.nav--dropdown a:focus {
  background-color: #f1f1f1;
}
@media (min-width: 1024px) {
  .nav--dropdown a {
    border-bottom: 2px solid transparent;
  }
}
@media (min-width: 1024px) {
  .nav--dropdown a:hover {
    color: inherit;
    outline: 0 none;
    text-decoration: none;
    border-color: #f1f1f1;
  }
  .nav--dropdown a:focus {
    color: inherit;
    outline: 0 none;
    text-decoration: none;
    border-color: #f1f1f1;
  }
}
.nav--dropdown .nav__level-1 {
  display: none;
}
@media (min-width: 1024px) {
  .nav--dropdown .nav__level-1 {
    display: flex;
  }
  .nav--dropdown .nav__level-1 > li {
    display: inline-block;
  }
}
.nav--dropdown .nav__level-1.nav--open {
  display: block;
  border-top: 1px solid #e2e2e2;
}
@media (min-width: 1024px) {
  .nav--dropdown .nav__level-1.nav--open {
    border-top: 0;
  }
}
.nav--dropdown .nav__level-2 {
  display: block;
  visibility: hidden;
  position: relative;
  height: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  background-color: #f1f1f1;
  transform: translateY(-0.5rem);
}
@media (max-width: 640px) {
  .nav--dropdown .nav__level-2 {
    transform: translateY(-0.5rem);
  }
}
@media (min-width: 1024px) {
  .nav--dropdown .nav__level-2 {
    position: absolute;
    width: 320px;
    transition: opacity 0.2s ease, transform 0.2s ease, visibility 0.2s ease;
  }
}
.nav--dropdown .nav__level-2.nav--open {
  transform: translateY(0);
  opacity: 1;
  height: auto;
  visibility: visible;
  z-index: 20;
}
.nav--dropdown .nav__level-2.nav--reverse {
  left: auto;
  right: 0;
}
.nav--dropdown .nav__level-2 a {
  border-bottom: 1px solid #e2e2e2;
  padding-left: 3rem;
}
@media (max-width: 640px) {
  .nav--dropdown .nav__level-2 a {
    padding-left: 2.5rem;
  }
}
.nav--dropdown .nav__level-2 a:hover {
  background-color: #e2e2e2;
}
.nav--dropdown .nav__level-2 a:focus {
  background-color: #e2e2e2;
}
@media (min-width: 1024px) {
  .nav--dropdown .nav__level-2 a {
    padding-left: 1.5rem;
  }
  @media (max-width: 640px) {
    .nav--dropdown .nav__level-2 a {
      padding-left: 1.5rem;
    }
  }
}
@media (min-width: 1024px) {
  .nav--dropdown .nav__has-subnav > a {
    padding-right: 2.5rem;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' stroke='%2351247A'%3E%3Cpath d='M14.285 5.145l-6 6.167a.41.41 0 01-.598 0L1.715 5.145' fill='none' stroke-width='1.2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    background-position: right 1.3rem center;
    background-size: 0.6rem;
    background-repeat: no-repeat;
  }
  @media (max-width: 640px) {
    .nav--dropdown .nav__has-subnav > a {
      padding-right: 2rem;
    }
  }
}
.nav--dropdown .nav__sub-toggle {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 3.5rem;
  padding: 1rem 1.5rem;
  border-left: 1px solid #e2e2e2;
  text-indent: -100vw;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' stroke='%2351247A'%3E%3Cpath d='M14.285 5.145l-6 6.167a.41.41 0 01-.598 0L1.715 5.145' fill='none' stroke-width='1.2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-position: 50%;
  background-repeat: no-repeat;
  overflow: hidden;
}
@media (max-width: 640px) {
  .nav--dropdown .nav__sub-toggle {
    padding: 1rem 1.5rem;
    width: 3rem;
  }
}
@media (min-width: 1024px) {
  .nav--dropdown .nav__sub-toggle {
    display: none;
  }
}
.nav--dropdown .nav__level--open > a {
  background-color: #f1f1f1;
}
.nav--dropdown .nav__level--open .nav__sub-toggle {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' stroke='%2351247A'%3E%3Cpath d='M1.715 10.855l6-6.168a.41.41 0 01.597 0l5.973 6.168' fill='none' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}
.nav__toggle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media (min-width: 1024px) {
  .nav__toggle {
    display: none;
  }
}
.nav__toggle .nav__toggle__menu {
  align-self: flex-end;
  border: 0;
}
.nav--instructions {
  margin-top: 1.5rem;
  overflow: auto;
}
@media (max-width: 640px) {
  .nav--instructions {
    margin-top: 1.5rem;
  }
}
.nav--instructions__wrapper {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100vw;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
}
@media (min-width: 1024px) {
  .nav--instructions__wrapper {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
}
.nav--instructions__title {
  display: none;
}
@media (min-width: 1024px) {
  .nav--instructions__title {
    display: block;
    margin-top: 0;
    margin-bottom: 2rem;
  }
  @media (max-width: 640px) {
    .nav--instructions__title {
      margin-bottom: 1.5rem;
    }
  }
}
.nav--instructions__title a {
  color: #51247a;
}
.nav--instructions__menu {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 0;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  list-style: none;
  counter-reset: instructions-counter;
}
@media (max-width: 640px) {
  .nav--instructions__menu {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
}
@media (min-width: 1024px) {
  .nav--instructions__menu {
    display: block;
    padding-left: 0;
    padding-right: 0;
  }
}
.nav--instructions__item {
  position: relative;
  flex: 0 0 auto;
  margin-right: 1.5rem;
  margin-bottom: 0;
  counter-increment: instructions-counter;
}
@media (max-width: 640px) {
  .nav--instructions__item {
    margin-right: 1.5rem;
  }
}
.nav--instructions__item:before {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 3rem;
  height: 3rem;
}
.nav--instructions__item:after {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 3rem;
  height: 3rem;
}
.nav--instructions__item:before {
  content: counter(instructions-counter);
  color: #181818;
  line-height: 3rem;
  text-align: center;
}
@media (min-width: 1024px) {
  .nav--instructions__item:before {
    line-height: 3rem;
  }
  @media (max-width: 640px) {
    .nav--instructions__item:before {
      line-height: 2.5rem;
    }
  }
}
.nav--instructions__item:after {
  content: '';
  border-radius: 1.5rem;
  background-color: #f1f1f1;
  z-index: -1;
  transition: width 0.2s, height 0.2s;
}
@media (max-width: 640px) {
  .nav--instructions__item:after {
    border-radius: 1.5rem;
  }
}
.nav--instructions__item:hover:after {
  width: 100%;
  height: 100%;
}
.nav--instructions__item a {
  position: relative;
  display: block;
  width: 0;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 3.5rem;
  color: #181818;
  text-indent: -200vw;
  z-index: 3;
  overflow: hidden;
  max-width: 80vw;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@media (max-width: 640px) {
  .nav--instructions__item a {
    padding-left: 3rem;
  }
}
@media (min-width: 1024px) {
  .nav--instructions__item a {
    width: auto;
    padding-right: 1.5rem;
    text-indent: 0;
    white-space: normal;
  }
  @media (max-width: 640px) {
    .nav--instructions__item a {
      padding-right: 1.5rem;
    }
  }
}
@media (min-width: 1024px) {
  .nav--instructions__item {
    margin-right: 0;
    margin-bottom: 1.5rem;
  }
  @media (max-width: 640px) {
    .nav--instructions__item {
      margin-bottom: 1.5rem;
    }
  }
}
.nav--instructions__item--active:before {
  color: #fff;
}
.nav--instructions__item--active:after {
  height: 100%;
  width: 100%;
  background-color: #51247a;
}
.nav--instructions__item--active a {
  width: auto;
  padding-right: 1.5rem;
  color: #fff;
  text-indent: 0;
}
@media (max-width: 640px) {
  .nav--instructions__item--active a {
    padding-right: 1.5rem;
  }
}
.nav--sidebar {
  border-top: 0.25rem solid #51247a;
}
@media (max-width: 640px) {
  .nav--sidebar {
    border-top: 0.25rem solid #51247a;
  }
}
.nav--sidebar__wrapper {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}
@media (max-width: 640px) {
  .nav--sidebar__wrapper {
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
  }
}
.nav--sidebar__title {
  margin: 0;
}
.nav--sidebar__title a {
  display: block;
  padding: 1rem 1.5rem;
  border-bottom: 1px solid #e2e2e2;
  color: #51247a;
}
@media (max-width: 640px) {
  .nav--sidebar__title a {
    padding: 1rem 1.5rem;
  }
}
.nav--sidebar__item a {
  display: block;
  padding: 1rem 1.5rem;
  border-bottom: 1px solid #e2e2e2;
  color: #181818;
}
@media (max-width: 640px) {
  .nav--sidebar__item a {
    padding: 1rem 1.5rem;
  }
}
.nav--sidebar__item--has-children {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' stroke='%23181818'%3E%3Cpath d='M5.145 14.285l6.167-6a.41.41 0 000-.598L5.145 1.715' fill='none' stroke='%23000' stroke-width='.75' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 1rem center;
}
@media (max-width: 640px) {
  .nav--sidebar__item--has-children {
    background-position: right 1rem center;
  }
}
.nav--sidebar__item--has-children a {
  padding-right: 2rem;
}
@media (max-width: 640px) {
  .nav--sidebar__item--has-children a {
    padding-right: 1.5rem;
  }
}
.nav--sidebar__item--active {
  background-color: #f1f1f1;
}
