

:root {
 /* Font sizes. */
--font-size-xl: 1.25rem; /* 20px - H4 */

  /* Font weights. */
  --font-weight-bold: 500;

  /* Spacing. */
  --spacing-xxs: 0.25rem; /* 4px */
  --spacing-xs: 0.5rem; /* 8px */
  --spacing-s: 1rem; /* 16px */
  --spacing-m: 1.5rem; /* 24px */
  --spacing-l: 2rem; /* 32px */
  --spacing-xl: 2.5rem; /* 40px */
  --spacing-xxl: 3rem; /* 48px */
  --spacing-xxxl: 3.5rem; /* 56px */
  --spacing-xxxxl: 4rem; /* 64px */
  --spacing-ul: 4.5rem; /* 72px */
  --spacing-uul: 5rem; /* 80px */
  --spacing-uuul: 5.5rem; /* 88px */
  

/* main Navigation globals */
  --nav-primary: var($uq-black);
  --nav-primary-active-bg: rgb(241, 241, 241);
  --nav-dropdown-width: 320px;
  --nav-dropdown-bg: rgb(241, 241, 241);
  --nav-dropdown-active-bg: rgb(226, 226, 226);
  --nav-dropdown-divider: rgb(226, 226, 226);
  --nav-dropdown-animation-distance: var(--spacing-xs);
  --nav-chevron: $uq-purple;
  --nav-active: $uq-purple;
  --nav-breadcrumb-size: var(--font-size-s);
  --nav-breadcrumb-color: rgb(128, 128, 128);
  --nav-breadcrumb-spacing: var(--spacing-m);

}