@use "@uq-uidf/core/src/scss/global" as *;

$title-font-size: $font-size-xl;
$title-font-weight: $font-weight-bold;

$nav-primary: $uq-black;
$nav-primary-active-bg: $grey-05; /* #F1F1F1 */
$nav-dropdown-width: 320px;
$nav-dropdown-bg: $grey-05; /* #F1F1F1 */
$nav-dropdown-active-bg: $grey-10; /* #E2E2E2 */
$nav-dropdown-divider: $grey-10; /* #E2E2E2 */
$nav-dropdown-animation-distance: $spacing-xs;
$nav-chevron: $uq-purple;
$nav-active: $uq-purple;
