// Future Students global.scss 
// Contains the styles for the site title and secondary header. 

.header__secondary {
  & .section__content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: var(--spacing-s);
    padding-bottom: var(--spacing-s);

    @media (--large-up) {
      padding-top: var(--spacing-m);
      padding-bottom: var(--spacing-xs);
    }
  }

  & .header__secondary__nav-toggle {
    border: 0 none;
    margin-left: var(--spacing-s);
    margin-right: 0;
    margin-bottom: 0;
    padding: 0;
    width: var(--spacing-m);
    height: var(--spacing-m);

    &::before {
      top: 0;
      left: 0;
    }

    @media (--large-up) {
      display: none;
    }
  }
}

.header__secondary__actions {
  display: flex;
  align-items: center;
}

.header__site-name {
  margin: 0;
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);
  color: var(--brand-primary);

  &:hover,
  &:focus {
    color: var(--brand-primary);
    text-decoration: none;
  }
}