/**
 * Navigation
 *
 * .nav--inline - Links are displayed inline.
 * .nav--pipes.nav--inline - Links are displayed inline with a pipe separator
 * .nav--breadcrumb.nav--inline - A page's breadcrumb links.
 *
 * Markup: mockups/navigation.twig
 *
 * Style guide: Elements.navigation
 */

 .nav {
  & ul {
    list-style-type: none;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;

    & li {
      margin-bottom: 0;
      
    }
  }

  & a {
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

.nav--inline {
  & > ul > li {
    display: inline;
    margin-left: var(--spacing-m);
    word-wrap: break-word;

    &:first-of-type {
      margin-left: 0;
    }
  }
}

.nav--pipes {
  & > ul > li {
    margin-left: var(--spacing-xs);

    & + ::before {
      content: " | ";
      padding-right: var(--spacing-xs);
    }
  }
}

.nav--breadcrumb {
  position: relative;
  padding: 0.1875rem 0;
  z-index: 1;
  overflow: auto;
  white-space: nowrap;

  & > ul > li {
    margin-left: 0;
    padding-right: var(--nav-breadcrumb-spacing);
    color: var(--nav-breadcrumb-color);
    font-size: var(--nav-breadcrumb-size);
    background-image:
      svg-load(
        "images/nav-chevron-right.svg",
        stroke=var(--nav-breadcrumb-color)
      );
    background-repeat: no-repeat;
    background-position: right 0.375rem center;
    background-size: 0.75rem;

    &:last-child {
      padding-right: 0;
      background-image: none;
    }

    & a {
      color: inherit;
      text-decoration: underline;
    }
  }
}

/**
 * Dropdown Navigation
 *
 * Multi-level navigation with dropdowns. Typically used for primary navigation.
 *
 * Markup: mockups/navigation-dropdown.twig
 *
 * Style guide: Elements.navigation.dropdown-navigation
 */
.nav--dropdown {
  & li {
    position: relative;

    &.active > a {
      border-left: 2px solid var(--nav-active);

      @media (--large-up) {
        border-left: 0 none;
        border-bottom: 2px solid var(--nav-active);
      }
    }
  }

  & a {
    display: block;
    border-bottom: 1px solid var(--nav-dropdown-divider);
    color: var(--nav-primary);
    text-decoration: none;
    padding: var(--spacing-s) var(--spacing-m);
    transition: 0.25s background-color, 0.25s border-color;

    &:hover,
    &:focus {
      background-color: var(--nav-primary-active-bg);
    }

    @media (--large-up) {
      border-bottom: 2px solid transparent;
    }

    &:hover,
    &:focus {
      @media (--large-up) {
        color: inherit;
        outline: 0 none;
        text-decoration: none;
        border-color: var(--nav-primary-active-bg);
      }
    }
  }

  & .nav__level-1 {
    display: none;

    @media (--large-up) {
      display: flex;

      & > li {
        display: inline-block;
      }
    }

    &.nav--open {
      display: block;
      border-top: 1px solid var(--nav-dropdown-divider);

      @media (--large-up) {
        border-top: 0 none;
      }
    }
  }

  & .nav__level-2 {
    display: block;
    visibility: hidden;
    position: relative;
    height: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    background-color: var(--nav-dropdown-bg);
    transform: translateY(-var(--nav-dropdown-animation-distance));

    @media (--large-up) {
      position: absolute;
      width: var(--nav-dropdown-width);
      transition: 0.2s opacity ease, 0.2s transform ease, 0.2s visibility ease;
    }

    &.nav--open {
      transform: translateY(0);
      opacity: 1;
      height: auto;
      visibility: visible;
      z-index: 20;
    }

    &.nav--reverse {
      left: auto;
      right: 0;
    }

    & a {
      border-bottom: 1px solid var(--nav-dropdown-divider);
      padding-left: var(--spacing-xxl);

      &:hover,
      &:focus {
        background-color: var(--nav-dropdown-active-bg);
      }

      @media (--large-up) {
        padding-left: var(--spacing-m);
      }
    }
  }

  & .nav__has-subnav > a {
    @media (--large-up) {
      padding-right: var(--spacing-xl);
      background-image: svg-load("images/nav-chevron-down.svg", stroke=var(--nav-chevron));
      background-position: right 1.3rem center;
      background-size: 0.6rem;
      background-repeat: no-repeat;
    }
  }

  & .nav__sub-toggle {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: var(--spacing-xxxl);
    padding: var(--spacing-s) var(--spacing-m);
    border-left: 1px solid var(--nav-dropdown-divider);
    text-indent: -100vw;
    background-image: svg-load("images/nav-chevron-down.svg", stroke=var(--nav-chevron));
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;

    @media (--large-up) {
      display: none;
    }
  }

  & .nav__level--open {
    & > a {
      background-color: var(--nav-primary-active-bg);
    }

    & .nav__sub-toggle {
      background-image: svg-load("images/nav-chevron-up.svg", stroke=var(--nav-chevron));
    }
  }
}

.nav__toggle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @media (--large-up) {
    display: none;
  }

  & .nav__toggle__menu {
    align-self: flex-end;
    border: 0 none;
  }
}

/**
 * Navigation - Instructions
 *
 * Markup: mockups/navigation-instructions.twig
 *
 * Style guide: Elements.navigation.instructions
 */

.nav--instructions {
  margin-top: var(--spacing-m);
  overflow: auto;
}

.nav--instructions__wrapper {
  position: sticky;
  top: 0;
  width: 100vw;
  margin-left: -1.5rem;
  margin-right: -1.5rem;

  @media (--large-up) {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
}

.nav--instructions__title {
  display: none;

  @media (--large-up) {
    display: block;
    margin-top: 0;
    margin-bottom: var(--spacing-l);
  }

  & a {
    color: var(--brand-primary);
  }
}

.nav--instructions__menu {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 0;
  padding-left: var(--spacing-m);
  padding-right: var(--spacing-m);
  list-style: none;
  counter-reset: instructions-counter;

  @media (--large-up) {
    display: block;
    padding-left: 0;
    padding-right: 0;
  }
}

.nav--instructions__item {
  position: relative;
  flex: 0 0 auto;
  margin-right: var(--spacing-m);
  margin-bottom: 0;
  counter-increment: instructions-counter;

  &::before,
  &::after {
    position: absolute; 
    display: block;
    top: 0;
    left: 0;
    width: var(--spacing-ns-xxl);
    height: var(--spacing-ns-xxl);
  }

  &::before {
    content: counter(instructions-counter);
    color: var(--brand-text);
    line-height: var(--spacing-ns-xxl);
    text-align: center;

    @media (--large-up) {
      line-height: var(--spacing-xxl);
    }
  }

  &::after {
    content: '';
    border-radius: var(--spacing-m);
    background-color: var(--grey-05);
    z-index: -1;
    transition: 0.2s width, 0.2s height;
  }

  &:hover::after {
    width: 100%;
    height: 100%;
  }

  & a {
    position: relative;
    display: block;
    width: 0;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: var(--spacing-xxxl);
    color: var(--brand-text);
    text-indent: -200vw;
    z-index: 3;
    overflow: hidden;
    max-width: 80vw;
    white-space: nowrap;
    text-overflow: ellipsis;

    @media (--large-up) {
      width: auto;
      padding-right: var(--spacing-m);
      text-indent: 0;
      white-space: normal;
    }
  }

  @media (--large-up) {
    margin-right: 0;
    margin-bottom: var(--spacing-m);
  }
}

.nav--instructions__item--active {
  &::before {
    color: var(--brand-reverse);
  }

  &::after {
    height: 100%;
    width: 100%;
    background-color: var(--brand-primary);
  }

  & a {
    width: auto;
    padding-right: var(--spacing-m);
    color: var(--brand-reverse);
    text-indent: 0;
  }
}

/**
 * Navigation - Sidebar
 *
 * Markup: mockups/navigation-sidebar.twig
 *
 * Style guide: Elements.navigation.sidebar
 */

.nav--sidebar {
  border-top: var(--spacing-xxs) solid var(--brand-primary);
}

.nav--sidebar__wrapper {
  margin-top: var(--spacing-m);
  margin-bottom: var(--spacing-l);
}

.nav--sidebar__title {
  margin: 0;

  & a {
    display: block;
    padding: var(--spacing-s) var(--spacing-m);
    border-bottom: 1px solid var(--grey-10);
    color: var(--brand-primary);
  }
}

.nav--sidebar__item {
  & a {
    display: block;
    padding: var(--spacing-s) var(--spacing-m);
    border-bottom: 1px solid var(--grey-10);
    color: var(--brand-text);
  }
}

.nav--sidebar__item--has-children {
  background-image: svg-load("../../icon/src/images/standard/arrow-right-1.svg", stroke=var(--brand-text));
  background-repeat: no-repeat;
  background-position: right var(--spacing-s) center;

  & a {
    padding-right: var(--spacing-l);
  }
}

.nav--sidebar__item--active {
  background-color: var(--grey-05);
}