@use "@uqds/blockquote/src/scss/component";

// Please don't apply random global styles here. You will affect other stories.
// If you must style a story, please consider scoping to ensure no style
// clashes. I.e. prefix the CSS class with .story-blockquote...

/*
section {
    padding: 30px 0px;
}
  
.background-light {
    background-color: $uq-white;
}
.background-dark {
    background-color: $uq-purple;
}
*/
