@use 'global' as *;

.uq-icon {
  width: 1.5rem;
  height: 1.5rem;
  stroke: currentColor;
  fill: currentColor;
  vertical-align: text-top;
  background-position: center;
  display: inline-block;
  box-sizing: border-box;
  line-height: 100%;
}
