@use "@uqds/core/src/scss/global" as *;
@use '_build/icons' as *;

$icon-white: $uq-white;
$icon-purple: $uq-purple;
$icon-black: $text;
$icon-blue: $link;
$icon-blue-dark: $link-hover;

@mixin icon($category, $name) {

  .uq-icon--#{$name} {
    background: url( $data-svg-prefix + get-icon( #{$name} ) ) no-repeat;

    &.uq-icon--light {
      background: url( $data-svg-prefix + get-icon( #{$name}, $icon-white ) ) no-repeat;
    }
    &.uq-icon--dark {
      background: url( $data-svg-prefix + get-icon( #{$name}, $icon-black ) ) no-repeat;
    }
    &.uq-icon--blue {
      background: url( $data-svg-prefix + get-icon( #{$name}, $icon-blue ) ) no-repeat;

      &:hover {
        background: url( $data-svg-prefix + get-icon( #{$name}, $icon-blue-dark ) ) no-repeat;
      }
    }
  }
}
