@forward '_build/icons';

@use "@uqds/core/src/scss/global" as core;
@use '_build/icons' as *;

$icon-primary-filter: core.$filter-primary;
$icon-light-filter: core.$filter-white;
$icon-text-filter: core.$filter-text;

@mixin icon($name) {
  .uq-icon--#{$name} {
    &::before {
      background-image: url(get-icon(#{$name}));
    }
  }
}
