.page__content {
  figure {
    background: $figure-caption-bg;
    display: table;
    margin: 0 0 1.5rem;

    // Catch when inline style is used instead of align class.
    &.align-left,
    &[style*='left'] {
      margin-right: 1.5rem;
      max-width: 50%;

      @media #{$small-only} {
        float: none !important;
        margin: 0 auto;
        max-width: 100%;
      }
    }

    &.align-center {
      margin: 0 auto;
    }

    // Catch when inline style is used instead of align class.
    &.align-right,
    &[style*='right'] {
      margin-left: 1.5rem;
      max-width: 50%;

      @media #{$small-only} {
        float: none !important;
        margin: 0 auto;
        max-width: 100%;
      }
    }

    @media #{$small-only} {
      margin: 0 auto;
    }

    figcaption {
      background-color: $figure-caption-bg;
      caption-side: bottom;
      display: table-caption;
      font-size: .875rem;
    }
  }
  
  // CKEditor WYSIWYG doesn't apply the align-center class.
  // Allow figures to be centered by the wrapping text-aligned element even 
  // when they don't have an alignment class applied.
  [style*="text-align:center"] > figure {
      margin: 0 auto;
  }

  img {
    &.align-left,
    &[style*='left'] {
      margin-right: 1.5rem;
      max-width: 50%;

      @media #{$small-only} {
        display: block;
        float: none !important;
        margin: 0 auto 1rem;
        max-width: 100%;
      }
    }

    &.align-center {
      margin: 0 auto 1rem;
    }

    &.align-right,
    &[style*='right'] {
      margin-left: 1.5rem;
      max-width: 50%;

      @media #{$small-only} {
        display: block;
        float: none !important;
        margin: 0 auto 1rem;
        max-width: 100%;
      }
    }

    &.border {
      border: 1px solid $img-border-color;
    }
  }
}

// Round images within wrapper.
.round-images {
  img {
    border-radius: 50%;
  }
}
