.uq-logo {
  @include hide-text;
  background: url('https://static.uq.net.au/v5/logos/corporate/uq-logo-white.png') no-repeat 0 0; // sass-lint:disable-line no-url-domains, no-url-protocols
  background: url('https://static.uq.net.au/v5/logos/corporate/uq-logo-white.svg') no-repeat 0 0; // sass-lint:disable-line no-url-domains, no-url-protocols, no-duplicate-properties
  background-size: 100%;
  color: $logo-color;
  display: block;
  height: 36px;
  margin: 0;
  padding: 0;
  width: 126px;

  @media #{$medium-up} {
    height: 43px;
    width: 150px;
  }

  @media #{$large-up} {
    height: 51px;
    width: 178px;
  }
}
