// Tables
//
// Variants:
// .table--stripe, .table--striped - Adds alternating tr backgrounds.
// .table--responsive - Used for tables with many columns that cannot scale down and have to scroll horizontally on smaller screens.
// .table--caption-heading - Displays table caption like a heading. Used for tables that group items.

table {
  max-width: 100%;
  width: 100%;

  th,
  td {
    border: 1px solid $table-border-color;
  }

  th {
    background: $table-header-bg;
    font-weight: 500;
  }

  thead tr th {
    font-weight: 700;
  }

  tr {
    &:nth-of-type(even) {
      background: inherit;
    }
  }
}

.table--stripe,
.table--striped {
  tr:nth-of-type(even) {
    background: $table-row-striped-bg;
  }

  thead {
    // Give stronger definition to the header when striped rows are used.
    th {
      background: $table-header-striped-bg;
    }
  }
}

// Applied to div wrapping table to allow horizontal scrolling on small screens.
.table--responsive {
  margin-bottom: 1.25rem;
  overflow-x: auto;

  @media #{$small-only} {
    // Credit: http://www.the-haystack.com/2013/09/24/responsive-scrollable-tables/
    background-attachment: local, local, scroll, scroll;
    background-color: white;
    background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #fff), color-stop(100%, rgba(255, 255, 255, 0))), -webkit-gradient(linear, 100% 50%, 0% 50%, color-stop(0%, #fff), color-stop(100%, rgba(255, 255, 255, 0))), -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #c3c3c5), color-stop(100%, rgba(195, 195, 197, 0))), -webkit-gradient(linear, 100% 50%, 0% 50%, color-stop(0%, #c3c3c5), color-stop(100%, rgba(195, 195, 197, 0)));
    background-image: -webkit-linear-gradient(left, #fff, rgba(255, 255, 255, 0)), -webkit-linear-gradient(right, #fff, rgba(255, 255, 255, 0)), -webkit-linear-gradient(left, #c3c3c5, rgba(195, 195, 197, 0)), -webkit-linear-gradient(right, #c3c3c5, rgba(195, 195, 197, 0));
    background-image: -moz-linear-gradient(left, #fff, rgba(255, 255, 255, 0)), -moz-linear-gradient(right, #fff, rgba(255, 255, 255, 0)), -moz-linear-gradient(left, #c3c3c5, rgba(195, 195, 197, 0)), -moz-linear-gradient(right, #c3c3c5, rgba(195, 195, 197, 0));
    background-image: -o-linear-gradient(left, #fff, rgba(255, 255, 255, 0)), -o-linear-gradient(right, #fff, rgba(255, 255, 255, 0)), -o-linear-gradient(left, #c3c3c5, rgba(195, 195, 197, 0)), -o-linear-gradient(right, #c3c3c5, rgba(195, 195, 197, 0));
    background-image: linear-gradient(left, #fff, rgba(255, 255, 255, 0)), linear-gradient(right, #fff, rgba(255, 255, 255, 0)), linear-gradient(left, #c3c3c5, rgba(195, 195, 197, 0)), linear-gradient(right, #c3c3c5, rgba(195, 195, 197, 0));
    background-position: 0 0, 100% 0, 0 0, 100% 0;
    background-repeat: no-repeat;
    background-size: 4em 100%, 4em 100%, 1em 100%, 1em 100%;
  }

  table {
    background: transparent;
    margin-bottom: 0;
  }
}

// Displays the caption as a heading.
.table--caption-heading {
  caption {
    font-size: 1.438rem;
    font-weight: 400;
    line-height: normal;
    margin: .5rem 0;
    text-align: left;
  }
}
