@use "@uqds/core/src/scss/global" as core;
@use "@uqds/grid/src/scss/global" as grid;
@use "@uqds/icon/src/scss/global" as icon-constants;
@use "@uqds/form/src/scss/global" as form;
@use "global" as *;

.legacy-header {
  background: core.$uq-purple;
  background: core.$uq-purple-gradient;
  box-sizing: border-box;
  font-family: core.$font-body;
  font-weight: core.$font-weight-thin;
  line-height: core.$line-height;

  &__container {
    @include grid.layout-containment;
    position: relative;
    padding: core.$space-m core.$space-s 0;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas:
      "logo toggle"
      "search search"
      "nav nav";
    justify-items: center;

    @media #{core.$screen-lg-up} {
      padding: core.$space-l core.$space-m 0;
      gap: core.$space-l;
      grid-template-columns: auto auto min-content;
      grid-template-areas:
        "logo nav toggle"
        "search search search";
    }
  }

  &__logo {
    grid-area: logo;
    justify-self: start;

    img {
      height: 2.625rem;
      vertical-align: middle;
    }

    &--large {
      display: none;

      @media only screen and (min-width: 78.5rem) {
        display: block;
      }
    }

    &--small {
      @media only screen and (min-width: 78.5rem) {
        display: none;
      }
    }
  }

  &__navigation {
    grid-area: nav;

    @media #{core.$screen-lg-up} {
      justify-self: end;
      display: flex;
    }

    &-container {
      -webkit-column-count: 3;
      -moz-column-count: 3;
      column-count: 3;
      list-style: none;
      margin-bottom: core.$space-m;
      padding: core.$space-none;
      height: 0;
      overflow: hidden;
      width: 100%;

      @media #{core.$screen-lg-up} {
        justify-self: end;
        display: flex;
        align-content: flex-end;
        align-items: center;
        justify-content: center;
        gap: core.$space-l;
        margin: core.$space-none;
        height: auto;
        visibility: visible;
        overflow: initial;

        li {
          margin: core.$space-none;
        }
      }
    }

    &--open {
      width: 100%;

      @media #{core.$screen-lg-up} {
        width: auto;
      }

      .legacy-header__navigation-container {
        height: auto;
        visibility: visible;
        overflow: initial;
      }
    }

    &-link {
      color: core.$uq-white;
      font-size: core.$font-size-s;
      font-weight: core.$font-weight-thin;
      text-decoration: none;

      &:hover,
      &:focus {
        color: core.$uq-white;
        text-decoration: underline;
      }
    }
  }

  &__search {
    grid-area: search;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    transition: height 0.25s, padding-top 0.25s, padding-bottom 0.25s;

    &--open {
      height: auto;
      visibility: visible;
      overflow: initial;
      padding-top: core.$space-l;
      padding-bottom: core.$space-m;
      width: 100%;
    }

    &-toggle {
      grid-area: toggle;
      justify-self: end;

      &-button {
        margin: core.$space-s core.$space-none core.$space-none core.$space-none;
        padding: core.$space-xs;
        border: 0;
        width: 1.5rem;
        height: 1.5rem;
        background-color: transparent;
        text-indent: -100vw;
        overflow: hidden;
        position: relative;
        cursor: pointer;
        background-position: center center;

        @media #{core.$screen-lg-up} {
          margin: 0.75rem core.$space-none core.$space-none core.$space-none;
        }

        &::before {
          content: "";
          position: absolute;
          display: block;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-size: 100%;
          background-image: url(icon-constants.get-icon(
            "standard--search",
            core.$uq-white
          ));
        }

        &--icon-close {
          &::before {
            background-image: url(icon-constants.get-icon(
              "standard--close",
              core.$uq-white
            ));
          }
        }
      }
    }

    &-title {
      color: core.$uq-white;
      font-family: core.$merriweather;
      font-size: core.$font-size;
      font-style: italic;
      font-weight: core.$font-weight-normal;
      margin-bottom: form.$form-spacing;
      line-height: core.$line-height-h;
      padding: 0;

      @media #{core.$screen-lg-up} {
        display: inline-block;
        float: left;
        vertical-align: baseline;
      }

      @media #{core.$screen-xl-up} {
        font-size: core.$font-size-l;
      }
    }

    fieldset {
      border: 0;
      padding: 0;
      margin: 0;
    }

    input[type="radio"] {
      color: core.$uq-white;
      border-radius: 50%;
      appearance: none;
      display: inline-block;
      border: form.$form-checkbox-border-width solid form.$form-border-color;
      cursor: pointer;
      height: form.$form-checkbox-size;
      width: form.$form-checkbox-size;
      vertical-align: top;
      position: absolute;

      &:focus {
        border-color: form.$form-focus-color;
        box-shadow: 0 0 0 1px form.$form-focus-color;
        outline: none;
      }

      + label {
        color: core.$uq-white;
        display: inline-block;
        font-size: core.$font-size-s;
        font-weight: core.$font-weight-normal;
        line-height: core.$line-height-h;
        margin-bottom: core.$space-none;
        margin-left: core.$space-s;
        margin-right: form.$form-spacing;
        padding-top: core.$space-xs;
        padding-left: core.$space-l;
        vertical-align: top;
        cursor: pointer;
      }

      &:checked {
        border-width: 0.125rem;
        border-color: core.$uq-white;

        &::after {
          border-radius: 50%;
          background-color: core.$uq-white;
          content: "";
          display: block;
          position: absolute;
          top: 3px;
          left: 3px;
          height: form.$form-checkbox-size - 10px;
          width: form.$form-checkbox-size - 10px;
        }

        &:focus {
          border-color: form.$form-focus-color;
          box-shadow: 0 0 0 1px form.$form-focus-color;
        }
      }
    }

    &-range {
      display: block;
      margin-bottom: core.$space-m;

      @media #{core.$screen-lg-up} {
        display: inline-block;
        margin-left: core.$space-m;
        line-height: 1.4;
      }
    }

    &-query {
      position: relative;
      display: inline-block;
      max-width: 100%;
      min-width: 100%;
      border-radius: 2px;
      background-color: core.$uq-white;
      background-position: 1rem;
      margin-bottom: core.$space-s;

      @media #{core.$screen-xl-up} {
        margin-bottom: core.$space-l;
      }

      &-input {
        background: transparent;
        margin: core.$space-none !important;
        width: 100%;
        padding: 0.75rem 1rem;
        border: 1px solid #e2e2e2;
        border-radius: 2px;
        box-shadow: none;
        font-family: sans-serif;
        font-size: core.$font-size;
        line-height: 1;
        color: core.$uq-neutral-dark80;
        height: auto;
        outline: none;

        &:focus {
          border-color: core.$link;
          outline: none;
        }
      }

      &-button {
        background-clip: padding-box;
        background-color: core.$uq-white;
        border-radius: 5px;
        border: 2px solid transparent;
        color: core.$uq-purple;
        display: inline-block;
        font-size: core.$font-size;
        height: 2.75rem;
        line-height: core.$line-height;
        margin-bottom: core.$space-none;
        margin-right: core.$space-none;
        overflow: hidden;
        position: absolute;
        right: 0;
        text-decoration: none;
        text-indent: 0;
        top: calc(50% - 1.375rem);
        transition: color 0.2s, background-color 0.2s, border-color 0.2s;
        width: 2.75rem;

        &:hover {
          background-color: core.$uq-white;
          border-color: core.$uq-purple;
          color: core.$uq-purple;
        }

        &::before {
          content: "";
          position: absolute;
          display: block;
          width: 1.5rem;
          height: 1.5rem;
          top: 0.5rem;
          left: 0.5rem;
          background-size: 100%;
          background-image: url(icon-constants.get-icon(
            "standard--search",
            core.$uq-purple
          ));
        }
      }

      &-submit {
        color: transparent;
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        margin: core.$space-none;
        border: 0;
        background-color: transparent;
        z-index: 3;
        cursor: pointer;
        outline-offset: -2px;
        font-size: core.$font-size;
      }
    }
  }

  // Visibility utility classes
  .hidden {
    display: none;
  }

  .visually-hidden {
    position: absolute !important;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    width: 1px;
    height: 1px;
    word-wrap: normal;
    margin: core.$space-none;
    padding: core.$space-none;
  }

  // JS helpers:
  &__mq--desktop {
    font-family: "#{core.$screen-lg-up}";
  }
}
