@use "@uqds/pagination/src/scss/_component" as *;

// Please don't apply random global styles here. You will affect other stories.
// If you must style a story, please consider scoping to ensure no style
// clashes. I.e. prefix the CSS class with .story-pagination...
