// Variables, functions, and mixins

@use "../../node_modules/@uq-uidf/core/src/scss/_global" as *;

$site-footer-bg: $uq-dark-purple;
$site-footer-color: mix(white, $uq-dark-purple, 75%);
$site-footer-link-color: #fff;
$site-footer-font-size: 0.875rem;
