@use "@uqds/core/src/scss/global" as core;
@use "@uqds/grid/src/scss/global" as grid;
@use 'global' as *;

.uq-site-header {
  color: core.$text;
  box-sizing: border-box;
  font-family: core.$font-body;
  font-size: core.$compass-base-font-size;
  font-weight: core.$font-weight-normal;
  line-height: core.$compass-base-line-height-ratio;

  *, *:before, *:after {
    box-sizing: border-box;
  }

  &__title-container {
    @include grid.layout-containment;
    @include grid.grid-col-padding;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    float: none;
    justify-content: space-between;
    padding-top: core.$space;
    padding-bottom: core.$space;
    position: relative;

    &__right {
      display: flex;
      align-items: center;
    }

    @media #{core.$screen-lg-up} {
      padding-top: core.$space-md;
      padding-bottom: core.$space-sm;
    }
  }

  &__title {
    color: core.$uq-purple;
    font-size: $title-font-size;
    font-weight: $title-font-weight;
    margin: core.$space-none;
    text-decoration: none;
  
    &:hover,
    &:focus {
      color: core.$uq-purple;
      text-decoration: none;
    }
  }

  &__navigation-toggle {
    background-color: core.$uq-white;
    border: 0 none;
    color: core.$uq-purple;
    cursor: pointer;
    height: 1.5rem;
    margin-bottom: core.$space-none;
    margin-left: core.$space;
    margin-right: core.$space-none;
    overflow: hidden;
    padding: core.$space-none;
    position: relative;
    text-indent: -100vw;
    width: 1.5rem;

    &:focus {
      outline: 2px solid core.$link;
      outline-offset: 0;
    }

    &:before {
      background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3E%3Cpath d='M1.715 11.742h12.57M1.715 7.855h12.57M1.715 4h12.57' stroke='%23000' stroke-width='.75' fill='none' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
      background-size: 100%;
      content: '';
      display: block;
      -webkit-filter: invert(20%) sepia(34%) saturate(1979%) hue-rotate(239deg) brightness(97%) contrast(107%);
      filter: invert(20%) sepia(34%) saturate(1979%) hue-rotate(239deg) brightness(97%) contrast(107%);
      height: 1.5rem;
      left: 0;
      position: absolute;
      top: 0;
      width: 1.5rem;
    }

    &--close {
      &:before {
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3E%3Cpath d='M1.715 14.285l12.57-12.57m0 12.57L1.715 1.715' stroke='%23000' stroke-width='.75' fill='none' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
      }
    }

    @media #{core.$screen-lg-up} {
      display: none;
    }
  }

  &__navigation-container {
    float: none;
    overflow: visible;
    padding: core.$space-none;
    position: relative;

    @media #{core.$screen-lg-up} {
      @include grid.layout-containment;
    }
  }

  &__navigation {
    a {
      border-bottom: 1px solid $nav-dropdown-divider;
      color: $nav-primary;
      display: block;
      padding: core.$space core.$space-md;
      text-decoration: none;
      transition: background-color .25s, border-color .25s;

      &:hover,
      &:focus {
        background-color: $nav-primary-active-bg;
        text-decoration: underline;

        @media #{core.$screen-lg-up} {
          color: inherit;
          outline: 0 none;
          text-decoration: none;
          border-color: $nav-primary-active-bg;
        }
      }

      @media #{core.$screen-lg-up} {
        border-bottom: 2px solid transparent;
      }
    }

    &__list {
      list-style-type: none;
      margin-bottom: core.$space-none;
      margin-top: core.$space-none;
      padding-left: core.$space-none;

      &--level-1 {
        display: none;

        @media #{core.$screen-lg-up} {
          display: flex;
    
          > li {
            display: inline-block;
          }
        }

        &.uq-site-header__navigation__list--open {
          display: block;
          border-top: 1px solid $nav-dropdown-divider;
    
          @media #{core.$screen-lg-up} {
            border-top: 0 none;
          }
        }
      }

      &--level-2 {
        display: block;
        visibility: hidden;
        position: relative;
        height: 0;
        left: 0;
        width: 100%;
        opacity: 0;
        background-color: $nav-dropdown-bg;
        transform: translateY(-($nav-dropdown-animation-distance));
    
        @media #{core.$screen-lg-up} {
          position: absolute;
          width: $nav-dropdown-width;
          transition: opacity .2s ease, transform .2s ease, visibility 0.2s ease;
        }

        &.uq-site-header__navigation__list--open {
          transform: translateY(0);
          opacity: 1;
          height: auto;
          visibility: visible;
          z-index: 20;
        }

        &.uq-site-header__navigation__list--reverse {
          left: auto;
          right: 0;
        }

        a {
          border-bottom: 1px solid $nav-dropdown-divider;
          padding-left: core.$space-xxl;
    
          &:hover,
          &:focus {
            background-color: $nav-dropdown-active-bg;
          }
    
          @media #{core.$screen-lg-up} {
            padding-left: core.$space-md;
          }
        }
      }

      &-item {
        margin-bottom: core.$space-none;
        position: relative;

        &--open {
          > a {
            background-color: $nav-primary-active-bg;
          }
  
          .uq-site-header__navigation__sub-toggle {
            background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' stroke='%2351247A'%3E%3Cpath d='M1.715 10.855l6-6.168a.41.41 0 01.597 0l5.973 6.168' fill='none' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
          }
        }

        &--has-subnav {
          > a {
            @media #{core.$screen-lg-up} {
              padding-right: core.$space-xl;
              background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' stroke='%2351247A'%3E%3Cpath d='M14.285 5.145l-6 6.167a.41.41 0 01-.598 0L1.715 5.145' fill='none' stroke-width='1.2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
              background-position: right 1.3rem center;
              background-size: 0.6rem;
              background-repeat: no-repeat;
            }
          }
        }

        &--active {
          > a {
            border-left: 2px solid core.$uq-purple;

            @media #{core.$screen-lg-up} {
              border-left: 0 none;
              border-bottom: 2px solid core.$uq-purple;
            }
          }
        }
      }
    }

    &__sub-toggle {
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      width: 3rem;
      padding: core.$space core.$space-md;
      border-left: 1px solid $nav-dropdown-divider;
      text-indent: -100vw;
      background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' stroke='%2351247A'%3E%3Cpath d='M14.285 5.145l-6 6.167a.41.41 0 01-.598 0L1.715 5.145' fill='none' stroke-width='1.2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
      background-position: center center;
      background-repeat: no-repeat;
      overflow: hidden;

      @media #{core.$screen-md-up} {
        width: 3.5rem;
      }
  
      @media #{core.$screen-lg-up} {
        display: none;
      }
    }

    @media #{core.$screen-lg-up} {
      margin: core.$space-none calc(#{map-get($map: grid.$gutter-width, $key: "md") / 2} - #{core.$space-md});
    }

    @media #{core.$screen-xl-up} {
      margin: core.$space-none calc(#{map-get($map: grid.$gutter-width, $key: "xl") / 2} - #{core.$space-md});
    }
  }
}
