@use "@uqds/core/src/scss/global" as core;
@use "@uqds/grid/src/scss/global" as grid;
@use "@uqds/icon/src/scss/global" as icon-constants;
@use "global" as *;

.uq-site-header {
  color: core.$text;
  box-sizing: border-box;
  font-family: core.$font-body;
  font-size: core.$font-size-m;
  font-weight: core.$font-weight-normal;
  line-height: core.$line-height;
  border-bottom: 1px solid #e2e2e2;

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  &__title-container {
    // @include grid.layout-containment;
    // @include grid.grid-col-padding;
    margin-left: auto;
    margin-right: auto;
    max-width: 73.25rem;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    float: none;
    justify-content: space-between;
    padding: 0.75rem core.$space-compressed-xl;
    position: relative;

    &__right {
      display: flex;
      align-items: center;
    }

    @media #{core.$screen-lg-up} {
      padding: core.$space-m core.$space-m 0 core.$space-m;
    }
  }

  &__title {
    color: core.$purple-500;
    font-size: $title-font-size;
    font-weight: $title-font-weight;
    margin: core.$space-none;
    text-decoration: none;

    &:hover,
    &:focus {
      color: core.$purple-500;
      text-decoration: none;
    }
  }

  &__navigation-toggle {
    background-color: core.$white;
    border: 0 none;
    color: core.$purple-500;
    cursor: pointer;
    height: 1.5rem;
    margin-bottom: core.$space-none;
    margin-left: core.$space-m;
    margin-right: core.$space-none;
    overflow: hidden;
    padding: core.$space-none;
    position: relative;
    text-indent: -100vw;
    width: 1.5rem;

    &:hover {
      background-color: core.$white;
      color: core.$purple-500;
    }

    &:focus {
      outline: 2px solid core.$link;
      outline-offset: 0;
    }

    &::before {
      background-image: url(icon-constants.get-icon(
        "standard--navigation-menu",
        core.$purple-500
      ));
      background-size: 100%;
      content: "";
      display: block;
      height: 1.5rem;
      left: 0;
      position: absolute;
      top: 0;
      width: 1.5rem;
    }

    &--close {
      &::before {
        background-image: url(icon-constants.get-icon(
          "standard--close",
          core.$purple-500
        ));
      }
    }

    @media #{core.$screen-lg-up} {
      display: none;
    }
  }

  &__navigation-container {
    float: none;
    overflow: visible;
    padding: core.$space-none;
    position: relative;

    @media #{core.$screen-lg-up} {
      // @include grid.layout-containment;
      margin-left: auto;
      margin-right: auto;
      max-width: 73.25rem;
    }
  }

  &__navigation {
    a {
      // border-bottom: 1px solid $nav-dropdown-divider;
      color: core.$purple-500;
      display: block;
      padding: core.$space-m core.$space-m;
      text-decoration: none;
      transition: background-color 0.25s, border-color 0.25s;

      &:hover,
      &:focus {
        // background-color: $nav-primary-active-bg;
        text-decoration: underline;

        @media #{core.$screen-lg-up} {
          outline: 0 none;
          text-decoration: none;
          // border-color: $nav-primary-active-bg;
        }
      }

      @media #{core.$screen-lg-up} {
        // border-bottom: 4px solid #fff;
      }
    }

    &__list-link {
      border-bottom: 4px solid transparent;
    }

    &__list {
      list-style-type: none;
      margin-bottom: core.$space-none;
      margin-top: core.$space-none;
      padding-left: core.$space-none;

      &--level-1 {
        display: none;

        @media #{core.$screen-lg-up} {
          display: flex;

          > li {
            display: inline-block;
          }
        }

        &.uq-site-header__navigation__list--open {
          display: block;
          border-top: 1px solid core.$grey-200;

          @media #{core.$screen-lg-up} {
            border-top: 0 none;
          }
        }
      }

      &--level-2 {
        display: block;
        visibility: hidden;
        position: relative;
        height: 0;
        left: 0;
        width: 100%;
        opacity: 0;
        background-color: #fff;
        transform: translateY(-($nav-dropdown-animation-distance));
        box-shadow: 0 0.75rem 1.5rem rgb(24 24 24 / 20%);
        border-radius: 0 0 0.25rem 0.25rem;

        @media #{core.$screen-lg-up} {
          position: absolute;
          width: $nav-dropdown-width;
          transition: opacity 0.2s ease, transform 0.2s ease,
            visibility 0.2s ease;
          padding: 0.5rem 0 1.5rem 0;
        }

        &.uq-site-header__navigation__list--open {
          transform: translateY(0);
          opacity: 1;
          height: auto;
          visibility: visible;
          z-index: 20;
        }

        &.uq-site-header__navigation__list--reverse {
          left: auto;
          right: 0;
        }

        a {
          // border-bottom: 1px solid $nav-dropdown-divider;
          padding-left: core.$space-xxxl;
          padding-top: 0.75rem;
          padding-bottom: 0;

          &:hover,
          &:focus {
            // background-color: $nav-dropdown-active-bg;
            text-decoration: underline;
          }

          @media #{core.$screen-lg-up} {
            padding-left: core.$space-l;
          }
        }
      }

      &-item {
        margin-bottom: core.$space-none;
        position: relative;

        &--open {
          > a {
            // background-color: $nav-primary-active-bg;
          }

          .uq-site-header__navigation__sub-toggle {
            background-image: url(icon-constants.get-icon(
              "standard--chevron-up-sml",
              core.$purple-500
            ));

            @media #{core.$screen-lg-up} {
              background-image: url(icon-constants.get-icon(
                "standard--chevron-down-sml",
                core.$purple-500
              ));
            }
          }
        }

        &--has-subnav {
          > a {
            @media #{core.$screen-lg-up} {
              padding-right: core.$space-xl;
            }
          }
        }

        &--active {
          > a {
            border-left: 2px solid core.$purple-500;

            @media #{core.$screen-lg-up} {
              border-left: 0 none;
              border-bottom: 4px solid core.$purple-500;
            }
          }
        }

        &:hover {
          & .uq-site-header__navigation__list-link {
            border-bottom: 4px solid core.$purple-500;
          }
        }
      }
    }

    &__sub-toggle {
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      width: core.$space-xxxl;
      padding: core.$space-compressed-xxxl core.$space-l;
      border: 0;
      border-left: 1px solid core.$grey-200;
      text-indent: -100vw;
      background-image: url(icon-constants.get-icon(
        "standard--chevron-down-sml",
        core.$purple-500
      ));
      background-size: core.$space-m;
      background-position: center center;
      background-repeat: no-repeat;
      background-color: transparent;
      overflow: hidden;
      cursor: pointer;

      @media #{core.$screen-md-up} {
        width: core.$space-xl;
        padding: core.$space-compressed-xxxl core.$space-l
          core.$space-compressed-xxxl core.$space-s;
      }

      @media #{core.$screen-lg-up} {
        border-left: 0;

        &:focus {
          outline: 0 none;
        }
      }
    }

    // @media #{core.$screen-lg-up} {
    //   margin: core.$space-none calc(#{nth(grid.$schema-md, 2) * 0.5} - #{core.$space-l});
    // }

    // @media #{core.$screen-xl-up} {
    //   margin: core.$space-none calc(#{nth(grid.$schema-xl, 2) * 0.5} - #{core.$space-l});
    // }
  }

  &--no-site-title {
    .uq-site-header__title-container {
      justify-content: flex-end;

      @media #{core.$screen-lg-up} {
        padding-top: 0;
        padding-bottom: 0;
      }
    }
  }
}

// Temp fix for Button bug in menus - to be fully integrated
.uq-site-header__navigation__sub-toggle {
  display: none;
}

.uq-site-header__navigation__list-item--has-subnav
  .uq-site-header__navigation__list-link::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: core.$space-xxl;
  padding: core.$space-compressed-xxxl core.$space-m;
  border: 0;
  text-indent: -100vw;
  background-image: url(icon-constants.get-icon(
    "standard--chevron-down-sml",
    core.$purple-500
  ));
  background-size: core.$space-m;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  overflow: hidden;
  cursor: pointer;
}

.uq-site-header__navigation .uq-site-header__navigation__list-link:focus {
  outline: 2px solid core.$link;
  outline-offset: 0;
}
