@use "@uqds/core/src/scss/global" as core;

$title-font-size: core.$font-size-xl;
$title-font-weight: core.$font-weight-bold;

$nav-primary: core.$uq-black;
$nav-primary-active-bg: core.$uq-neutral-light80;
$nav-dropdown-width: 400px;
$nav-dropdown-bg: core.$uq-neutral-light80;
$nav-dropdown-active-bg: core.$uq-neutral-light40;
$nav-dropdown-divider: core.$uq-neutral-light40;
$nav-dropdown-animation-distance: core.$space-s;
$nav-chevron: core.$uq-purple;
$nav-active: core.$uq-purple;
