@use "@uqds/core/src/scss/global" as core;

$title-font-size: core.$font-size-xl;
$title-font-weight: core.$font-weight-bold;
$nav-dropdown-width: 400px;
$nav-dropdown-animation-distance: core.$space-s;