@use "@uqds/core/src/scss/global" as core;
@use 'global' as *;

$use-encapsulation: false !default;

@mixin text-primer {
  color: core.$text;
  font-size: 1rem;
  font-family: core.$font-family;
  font-weight: 400;
  line-height: core.$line-height;
}

@mixin body-styles {
  font-size: 100%;
  background: core.$white;
  margin: core.$space-none;
  padding: core.$space-none;
}

@mixin base-styles {
  *, *::before, *::after {
    box-sizing: border-box;
  }

  // Margin adjustment
  .margin--reset {
    margin: core.$space-none;
  }

  // Background colour utilities
  .white {
    background-color: core.$white;
  }
  
  .grey-05 {
    background-color: core.$grey-05;
  }
  
  .grey-10 {
    background-color: core.$grey-10;
  }
  
  .grey-25 {
    background-color: core.$grey-25;
  }
  
  .grey-50 {
    background-color: core.$grey-50;
  }
  
  .grey-80 {
    background-color: core.$grey-80;
  }
  
  .black {
    background-color: core.$black;
  }
  
  .blue {
    background-color: core.$blue;
  }
  
  .purple {
    background-color: core.$purple;
  }
  
  // Typography
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: core.$font-weight-bold;
    line-height: core.$line-height-h;
    color: core.$uq-purple;
  }
  
  h1 {
    margin-top: core.$space-md;
    margin-bottom: core.$space-xl;
    font-size: core.$font-size-xxxxl;
    font-family: core.$font-family-title;
  }
  
  h2 {
    margin-top: core.$space-xl;
    margin-bottom: core.$space-md;
    font-size: core.$font-size-xxxl;
  }
  
  h3 {
    margin-top: core.$space-lg;
    margin-bottom: core.$space;
    font-size: core.$font-size-xxl;
  }
  
  h4 {
    margin-top: core.$space-lg;
    margin-bottom: core.$space-md;
    font-size: core.$font-size-xl;
  }
  
  h5 {
    margin-top: core.$space-md;
    margin-bottom: core.$space;
    font-size: core.$font-size-l;
  }
  
  h6 {
    margin-top: core.$space-md;
    margin-bottom: core.$space-sm;
    font-size: core.$font-size-m;
  }
  
  p {
    margin-top: core.$space-none;
    margin-bottom: core.$space-md;
  }
  
  b,
  strong {
    font-weight: core.$font-weight-bold;
  }
  
  em {
    font-style: italic;
  }
  
  blockquote {
    margin: core.$space-none core.$space-none core.$space-md;
    padding-left: core.$space-md;
    border-left: 6px solid core.$brand-text;
    font-family: core.$font-family-accent;
    font-style: italic;
  }
  
  ol,
  ul {
    margin-top: core.$space-none;
    margin-bottom: core.$space-md;
    padding-left: core.$space-md;
  
    li {
      margin-bottom: core.$space;
  
      &:last-child {
        margin-bottom: core.$space-none;
      }
    }
  }

  dl {
    margin-top: core.$space-none;
    margin-bottom: core.$space-none;
  
    dt {
      color: core.$brand-primary;
      font-size: core.$font-size-s;
      text-transform: uppercase;
      font-weight: core.$font-weight-bold;
    }
  
    dd {
      margin-left: core.$space-none;
      margin-bottom: core.$space-md;
      font-size: core.$font-size-l;
    }
  }
  
  a {
    color: core.$blue;
    text-decoration: none;
    transition: 0.2s color;
  
    &:hover {
      color: core.$blue;
      text-decoration: underline;
    }
  }

  // Typography utilities
  .text {

    // Text colour
    &--reverse {
      color: core.$brand-reverse;

      h1, h2, h3, h4, h5, h6 {
        color: inherit;
      }
    }
    
    &--primary {
      color: core.$brand-primary;
    }

    &--grey-25 {
      color: core.$grey-25;
    }

    &--grey-60 {
      color: core.$grey-60;
    }

    &--grey-80 {
      color: core.$grey-80;
    }

    &--grey-90 {
      color: core.$grey-90;
    }

    &--primary-light {
      color: core.$brand-primary-10;
    }

    &--black {
      color: core.$black;
    }

    &--white {
      color: core.$white;
    }

    &--red {
      color: core.$red;
    }

    &--purple-50 {
      color: core.$purple-50;
    }

    // Text size
    &--xxxxl {
      font-size: core.$font-size-xxxxl;
    }

    &--xxxl {
      font-size: core.$font-size-xxxl;
    }
    
    &--xxl {
      font-size: core.$font-size-xxl;
    }
    
    &--xl {
      font-size: core.$font-size-xl;
    }
    
    &--l {
      font-size: core.$font-size-l;
    }
    
    &--m {
      font-size: core.$font-size-m;
    }
    
    &--s {
      font-size: core.$font-size-s;
    }
    
    &--xs {
      font-size: core.$font-size-xs;
    }

    // Text weight
    &--weight-normal {
      font-weight: core.$font-weight-normal;
    }
  
    &--weight-bold {
      font-weight: core.$font-weight-bold;
    }
  
    &--weight-medium {
      font-weight: core.$font-weight-medium;
    }

    // Text alignment
    &--left {
      text-align: left;
    }
    
    &--right {
      text-align: right;
    }
    
    &--center {
      text-align: center;
    }

    // Text prettiers
    &--uppercase {
      text-transform: uppercase;
    }
    
    &--accent {
      font-family: core.$font-family-accent;
      font-weight: core.$font-weight-normal;
      font-style: italic;
    }
  
    &--shadow {
      text-shadow: 0 4px 4px core.$transparent-black-40;
    }
  }

  // Visibility utilities
  .hidden {
    display: none !important;

    &--mobile-only {
      @media #{core.$screen-md-down} {
        display: none !important;
      }
    }

    &--md,
    &--tablet {
      @media #{core.$screen-md-up} {
        display: none !important;
      }
    }

    &--xl,
    &--desktop {
      @media #{core.$screen-xl-up} {
        display: none !important;
      }
    }
  }

  .visually-hidden {
    position: absolute !important;
    overflow: hidden;
    clip: rect(1px,1px,1px,1px);
    width: 1px;
    height: 1px;
    word-wrap: normal;
    margin: 0;
    padding: 0;
  }
}

@if $use-encapsulation {
  .uq {
    @include text-primer;
    @include base-styles;
  }

  body.uq {
    @include body-styles;
  }
} @else {
  body {
    @include text-primer;
    @include body-styles;
  }

  @include base-styles;
}