@use "@uqds/core/src/scss/global" as core;
@use 'global' as *;

$use-encapsulation: false !default;

@mixin -text-primer {
  color: core.$text;
  font-size: 1rem;
  font-family: core.$font-body;
  font-weight: 400;
  line-height: core.$line-height;
}

@mixin -body-styles {
  font-size: 100%;
  background: core.$uq-white;
  margin: core.$space-none;
  padding: core.$space-none;
}

@mixin -base-styles {
  /**
   * TODO: user should be able to configure whether or not they want this
   * normalised or we remove it and make sure our packages are self-contained w/
   * this style rule.
   */
  *, *::before, *::after {
    box-sizing: border-box;
  }

  // Margin adjustment
  .margin--reset {
    margin: core.$space-none;
  }

  // Background colour utilities
  .white {
    background-color: core.$uq-white;
  }
  
  .black {
    background-color: core.$uq-black;
  }
  
  .link {
    background-color: core.$link;
  }
  
  .purple {
    background-color: core.$uq-purple;
  }
  
  // Typography
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: core.$font-weight-bold;
    line-height: core.$line-height-h;
    color: core.$uq-purple;
  }
  
  h1 {
    margin-top: core.$space-xl;
    margin-bottom: core.$space-xl;
    font-size: core.$font-size-xxxl;
    font-family: core.$font-title;
  }
  
  h2 {
    margin-top: core.$space-l;
    margin-bottom: core.$space-l;
    font-size: core.$font-size-xxl;
  }
  
  h3 {
    margin-top: core.$space-m;
    margin-bottom: core.$space-m;
    font-size: core.$font-size-xl;
  }
  
  h4 {
    margin-top: core.$space;
    margin-bottom: core.$space;
    font-size: core.$font-size-l;
  }
  
  h5 {
    margin-top: core.$space-s;
    margin-bottom: core.$space-s;
    font-size: core.$font-size-m;
  }
  
  h6 {
    margin-top: core.$space-xs;
    margin-bottom: core.$space-xs;
    font-size: core.$font-size;
  }
  
  p {
    margin-top: core.$space-none;
    margin-bottom: core.$space-m;
  }
  
  b,
  strong {
    font-weight: core.$font-weight-bold;
  }
  
  em {
    font-style: italic;
  }
  
  blockquote {
    margin: core.$space-none core.$space-none core.$space-m;
    padding-left: core.$space-m;
    border-left: 6px solid core.$text;
    font-family: core.$font-accent;
    font-style: italic;
    font-size: core.$font-size-l;
  }
  
  ol,
  ul {
    margin-top: core.$space-none;
    margin-bottom: core.$space-m;
    padding-left: core.$space-m;
  
    li {
      margin-bottom: core.$space;
  
      &:last-child {
        margin-bottom: core.$space-none;
      }
    }
  }

  dl {
    margin-top: core.$space-none;
    margin-bottom: core.$space-none;
  
    dt {
      color: core.$uq-purple;
      font-size: core.$font-size-s;
      text-transform: uppercase;
      font-weight: core.$font-weight-bold;
    }
  
    dd {
      margin-left: core.$space-none;
      margin-bottom: core.$space-m;
      font-size: core.$font-size-m;
    }
  }
  
  a {
    color: core.$link;
    text-decoration: none;
    transition: 0.2s color;
  
    &:hover {
      color: core.$link;
      text-decoration: underline;
    }
  }

  // Typography utilities
  .text {

    // Text colour
    &--reverse {
      color: core.$uq-white;
    }
    
    &--primary {
      color: core.$uq-purple;
    }

    &--purple-light {
      color: core.$uq-purple-light;
    }

    &--black {
      color: core.$uq-black;
    }

    &--white {
      color: core.$uq-white;
    }

    &--error {
      color: core.$alert;
    }

    // Text size
    &--xxxxl {
      font-size: core.$font-size-xxxl;
    }

    &--xxxl {
      font-size: core.$font-size-xxl;
    }
    
    &--xxl {
      font-size: core.$font-size-xl;
    }
    
    &--xl {
      font-size: core.$font-size-l;
    }
    
    &--l {
      font-size: core.$font-size-m;
    }
    
    &--m {
      font-size: core.$font-size;
    }
    
    &--s {
      font-size: core.$font-size-s;
    }
    
    &--xs {
      font-size: core.$font-size-xs;
    }

    // Text weight
    &--weight-normal {
      font-weight: core.$font-weight-normal;
    }
  
    &--weight-bold {
      font-weight: core.$font-weight-bold;
    }
  
    &--weight-medium {
      font-weight: core.$font-weight-medium;
    }

    // Text alignment
    &--left {
      text-align: left;
    }
    
    &--right {
      text-align: right;
    }
    
    &--center {
      text-align: center;
    }

    // Text prettiers
    &--uppercase {
      text-transform: uppercase;
    }
    
    &--accent {
      font-family: core.$font-accent;
      font-weight: core.$font-weight-normal;
      font-style: italic;
    }
  
    &--shadow {
      text-shadow: 0 4px 4px rgba(core.$uq-black, .4)
    }
  }

  // Visibility utilities
  .hidden {
    display: none !important;

    &--mobile-only {
      @media #{core.$screen-md-down} {
        display: none !important;
      }
    }

    &--md,
    &--tablet {
      @media #{core.$screen-md-up} {
        display: none !important;
      }
    }

    &--xl,
    &--desktop {
      @media #{core.$screen-xl-up} {
        display: none !important;
      }
    }
  }

  .visually-hidden {
    @include visually-hidden;
  }
}

@if $use-encapsulation {
  .uq {
    @include -text-primer;
    @include -base-styles;
  }

  body.uq {
    @include -body-styles;
  }
} @else {
  body {
    @include -text-primer;
    @include -body-styles;
  }

  @include -base-styles;
}
