@use "@uq-uidf/core/src/scss/global" as core;
@use "@uq-uidf/table/src/scss/global" as table;
@use 'global' as *;

$use-encapsulation: false !default;

@mixin text-primer {
  color: core.$text;
  font-size: 1rem;
  font-family: core.$font-family;
  font-weight: 400;
  line-height: core.$line-height-h;
}

@mixin body-styles {
  font-size: 100%;
  background: core.$white;
  margin: 0;
  padding: 0;
}

@mixin base-styles {
  *, *::before, *::after {
    box-sizing: border-box;
  }

  // Margin adjustment
  .margin--reset {
    margin: 0;
  }

  // Background colour utilities
  .white {
    background-color: core.$white;
  }
  
  .grey-05 {
    background-color: core.$grey-05;
  }
  
  .grey-10 {
    background-color: core.$grey-10;
  }
  
  .grey-25 {
    background-color: core.$grey-25;
  }
  
  .grey-50 {
    background-color: core.$grey-50;
  }
  
  .grey-80 {
    background-color: core.$grey-80;
  }
  
  .black {
    background-color: core.$black;
  }
  
  .blue {
    background-color: core.$blue;
  }
  
  .purple {
    background-color: core.$purple;
  }
  
  // Typography
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: core.$font-weight-bold;
    line-height: core.$line-height-h;
    color: core.$uq-purple;
  }
  
  h1 {
    margin-top: core.$spacing-m;
    margin-bottom: core.$spacing-xl;
    font-size: core.$font-size-xxxxl;
    font-family: core.$font-family-title;
  }
  
  h2 {
    margin-top: core.$spacing-xl;
    margin-bottom: core.$spacing-m;
    font-size: core.$font-size-xxxl;
  }
  
  h3 {
    margin-top: core.$spacing-l;
    margin-bottom: core.$spacing-s;
    font-size: core.$font-size-xxl;
  }
  
  h4 {
    margin-top: core.$spacing-l;
    margin-bottom: core.$spacing-m;
    font-size: core.$font-size-xl;
  }
  
  h5 {
    margin-top: core.$spacing-m;
    margin-bottom: core.$spacing-s;
    font-size: core.$font-size-l;
  }
  
  h6 {
    margin-top: core.$spacing-m;
    margin-bottom: core.$spacing-xs;
    font-size: core.$font-size-m;
  }
  
  p {
    margin-top: 0;
    margin-bottom: core.$spacing-m;
  }
  
  b,
  strong {
    font-weight: core.$font-weight-bold;
  }
  
  em {
    font-style: italic;
  }
  
  blockquote {
    margin: 0 0 core.$spacing-m;
    padding-left: core.$spacing-m;
    border-left: 6px solid core.$brand-text;
    font-family: core.$font-family-accent;
    font-style: italic;
  }
  
  ol,
  ul {
    margin-top: 0;
    margin-bottom: core.$spacing-m;
    padding-left: core.$spacing-m;
  
    li {
      margin-bottom: core.$spacing-s;
  
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  dl {
    margin-top: 0;
    margin-bottom: 0;
  
    dt {
      color: core.$brand-primary;
      font-size: core.$font-size-s;
      text-transform: uppercase;
      font-weight: core.$font-weight-bold;
    }
  
    dd {
      margin-left: 0;
      margin-bottom: core.$spacing-m;
      font-size: core.$font-size-l;
    }
  }
  
  a {
    color: core.$blue;
    text-decoration: none;
    transition: 0.2s color;
  
    &:hover {
      color: core.$blue;
      text-decoration: underline;
    }
  }

  // Typography > text colour
  .text--reverse {
    color: core.$brand-reverse;
  
    h1, h2, h3, h4, h5, h6 {
      color: inherit;
    }
  }
  
  .text--primary {
    color: core.$brand-primary;
  }
  
  .text--grey-25 {
    color: core.$grey-25;
  }
  
  .text--grey-60 {
    color: core.$grey-60;
  }
  
  .text--grey-80 {
    color: core.$grey-80;
  }
  
  .text--grey-90 {
    color: core.$grey-90;
  }
  
  .text--primary-light {
    color: core.$brand-primary-10;
  }
  
  .text--black {
    color: core.$black;
  }
  
  .text--white {
    color: core.$white;
  }
  
  .text--red {
    color: core.$red;
  }
  
  .text--purple-50 {
    color: core.$purple-50;
  }

  // Typography > text size
  .text--xxxxl {
    font-size: core.$font-size-xxxxl;
  }
  
  .text--xxxl {
    font-size: core.$font-size-xxxl;
  }
  
  .text--xxl {
    font-size: core.$font-size-xxl;
  }
  
  .text--xl {
    font-size: core.$font-size-xl;
  }
  
  .text--l {
    font-size: core.$font-size-l;
  }
  
  .text--m {
    font-size: core.$font-size-m;
  }
  
  .text--s {
    font-size: core.$font-size-s;
  }
  
  .text--xs {
    font-size: core.$font-size-xs;
  }

  // Typography > text (font) weight
  .text--weight-normal {
    font-weight: core.$font-weight-normal;
  }

  .text--weight-bold {
    font-weight: core.$font-weight-bold;
  }

  .text--weight-medium {
    font-weight: core.$font-weight-medium;
  }

  // Typography > text alignment
  .text--left {
    text-align: left;
  }
  
  .text--right {
    text-align: right;
  }
  
  .text--center {
    text-align: center;
  }
  
  // Typography > text prettiers
  .text--uppercase {
    text-transform: uppercase;
  }
  
  .text--accent {
    font-family: core.$font-family-accent;
    font-weight: core.$font-weight-normal;
    font-style: italic;
  }

  .text--shadow {
    text-shadow: 0 core.$spacing-xxs core.$spacing-xxs core.$transparent-black-40;
  }
}

@if $use-encapsulation {
  .uq {
    @include text-primer;
    @include base-styles;
  }

  body.uq {
    @include body-styles;
  }
} @else {
  body {
    @include text-primer;
    @include body-styles;
  }

  @include base-styles;
}

// Table
.uq-table__wrapper {
  @include table-wrapper;
}
.uq-table {
  @include table;

  caption {
    @include table-caption;
  }
  thead {
    @include table-head;
  }
  tbody {
    @include table-body;
  }
  tr {
    @include table-row;
  }
  td {
    @include table-cell;
  }
  th {
    @include table-header;
  }
}