@use "@uqds/core/src/scss/global" as core;
@use "global" as *;

$use-encapsulation: false !default;

@mixin -text-primer {
  color: core.$text;
  font-size: 1rem;
  font-family: core.$font-body;
  font-weight: 400;
  line-height: core.$line-height;
}

@mixin -body-styles {
  font-size: 100%;
  background: core.$uq-white;
  margin: core.$space-none;
  padding: core.$space-none;
}

@mixin -base-styles {
  /**
   * TODO: user should be able to configure whether or not they want this
   * normalised or we remove it and make sure our packages are self-contained w/
   * this style rule.
   */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  // Margin adjustment
  .margin--reset {
    margin: core.$space-none;
  }

  // Background colour utilities
  .white {
    background-color: core.$uq-white;
  }

  .black {
    background-color: core.$uq-black;
  }

  .link {
    background-color: core.$link;
  }

  .purple {
    background-color: core.$uq-purple;
  }

  // Typography
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: core.$font-weight-bold;
    line-height: core.$line-height-h;
    color: core.$uq-purple;
  }

  h1 {
    margin-top: core.$space-xxxxxl;
    margin-bottom: core.$space-xxxxxl;
    font-size: core.$font-size-xxxl;
    font-family: core.$font-title;
  }

  h2 {
    margin-top: core.$space-xxxxxl;
    margin-bottom: core.$space-xxxxxl;
    font-size: core.$font-size-xxl;
  }

  h3 {
    margin-top: core.$space-xxxxxl;
    margin-bottom: core.$space-xxxxxl;
    font-size: core.$font-size-xl;
  }

  h4 {
    margin-top: core.$space-xxxxxl;
    margin-bottom: core.$space-xxxxxl;
    font-size: core.$font-size-l;
  }

  h5 {
    margin-top: core.$space-xxxxxl;
    margin-bottom: core.$space-xxxxxl;
    font-size: core.$font-size-m;
  }

  h6 {
    margin-top: core.$space-xxxxxl;
    margin-bottom: core.$space-s;
    font-size: core.$font-size;
  }

  p {
    margin-top: core.$space-none;
    margin-bottom: core.$space-xxxxxl;
  }

  b,
  strong {
    font-weight: core.$font-weight-bold;
  }

  em {
    font-style: italic;
  }

  blockquote {
    margin: core.$space-none core.$space-none core.$space-xxxxxl;
    padding-left: core.$space-xxxxxl;
    border-left: 6px solid core.$text;
    font-family: core.$font-accent;
    font-style: italic;
    font-size: core.$font-size-l;
  }

  ol,
  ul {
    margin-top: core.$space-none;
    margin-bottom: core.$space-xxxxxl;
    padding-left: core.$space-xxxxxl;

    li {
      margin-bottom: core.$space-xxxxxl;

      &:last-child {
        margin-bottom: core.$space-none;
      }
    }
  }

  dl {
    margin-top: core.$space-none;
    margin-bottom: core.$space-none;

    dt {
      color: core.$uq-purple;
      font-size: core.$font-size-s;
      text-transform: uppercase;
      font-weight: core.$font-weight-bold;
    }

    dd {
      margin-left: core.$space-none;
      margin-bottom: core.$space-xxxxxl;
      font-size: core.$font-size-m;
    }
  }

  a {
    color: core.$link;
    text-decoration: none;
    transition: 0.2s color;

    &:hover {
      color: core.$link;
      text-decoration: underline;
    }
  }

  // Typography utilities
  .text {
    // Text colour
    &--reverse {
      color: core.$uq-white;
    }

    &--primary {
      color: core.$uq-purple;
    }

    &--purple-light {
      color: core.$uq-purple-light;
    }

    &--black {
      color: core.$uq-black;
    }

    &--white {
      color: core.$uq-white;
    }

    &--error {
      color: core.$alert;
    }

    // Text size
    &--xxxxl {
      font-size: core.$font-size-xxxl;
    }

    &--xxxl {
      font-size: core.$font-size-xxl;
    }

    &--xxl {
      font-size: core.$font-size-xl;
    }

    &--xl {
      font-size: core.$font-size-l;
    }

    &--l {
      font-size: core.$font-size-m;
    }

    &--m {
      font-size: core.$font-size;
    }

    &--s {
      font-size: core.$font-size-s;
    }

    &--xs {
      font-size: core.$font-size-xs;
    }

    // Text weight
    &--weight-normal {
      font-weight: core.$font-weight-normal;
    }

    &--weight-bold {
      font-weight: core.$font-weight-bold;
    }

    &--weight-medium {
      font-weight: core.$font-weight-medium;
    }

    // Text alignment
    &--left {
      text-align: left;
    }

    &--right {
      text-align: right;
    }

    &--center {
      text-align: center;
    }

    // Text prettiers
    &--uppercase {
      text-transform: uppercase;
    }

    &--accent {
      font-family: core.$font-accent;
      font-weight: core.$font-weight-normal;
      font-style: italic;
    }

    &--shadow {
      text-shadow: 0 4px 4px rgba(core.$uq-black, 0.4);
    }
  }

  // Visibility utilities
  .hidden {
    display: none !important;

    &--mobile-only {
      @media #{core.$screen-md-down} {
        display: none !important;
      }
    }

    &--md,
    &--tablet {
      @media #{core.$screen-md-up} {
        display: none !important;
      }
    }

    &--xl,
    &--desktop {
      @media #{core.$screen-xl-up} {
        display: none !important;
      }
    }
  }

  .visually-hidden {
    @include visually-hidden;
  }
}

@if $use-encapsulation {
  .uq {
    @include -text-primer;
    @include -base-styles;
  }

  body.uq {
    @include -body-styles;
  }
} @else {
  body {
    @include -text-primer;
    @include -body-styles;
  }

  @include -base-styles;
}

// Print styles
@media print {
  // Print utilities
  .show-for-print {
    display: block !important;
  }

  .hide-for-print {
    display: none !important;
  }

  // Type styles
  p {
    font-size: core.$font-size-s !important;
  }

  // Header
  .legacy-header {
    background: none !important;

    &__logo {
      &:after {
        width: 160px;
        height: 42px;
        content: url("https://static.uq.net.au/v15/logos/corporate/uq-logo.png");
      }

      img {
        display: none !important;
      }
    }

    &__search-toggle,
    &__navigation {
      display: none !important;
    }
  }

  // Site header
  .uq-site-header {
    &__title-container__left {
      a:after {
        content: " (" attr(href) ")";
        font-size: 12px;
      }
    }

    &__title-container__right,
    &__navigation-container {
      display: none !important;
    }
  }

  .legacy-header__container,
  .uq-site-header__title-container,
  .uq-grid,
  .legacy-footer__container {
    max-width: 100% !important;
  }

  // Footer
  .legacy-footer {
    color: core.$text !important;
    background: none !important;

    a,
    .legacy-footer__sub-title {
      color: core.$text !important;
    }

    &__container {
      padding: 1rem !important;
    }

    &__acknowledgement {
      color: core.$text !important;
      padding-bottom: 0 !important;
      margin-bottom: 1rem !important;
      font-size: 14px !important;

      a:after {
        content: " (" attr(href) ")";
        font-size: 12px;
      }
    }

    .legacy-footer__sub-title {
      font-size: 14px;
    }

    .legacy-footer__row {
      gap: 1rem;
    }

    .legacy-footer__footer {
      margin-top: 1rem;
    }

    .footer__contacts-link:after,
    .cricos__link:after,
    &__footer a:after {
      content: " (" attr(href) ")";
      font-size: 12px;
    }

    &__login-link {
      display: none !important;
    }
  }
}
