@use "@uqds/core/src/scss/global" as core;
@use "global" as *;

@use "sass:map";

$use-encapsulation: false !default;

@mixin -text-primer {
  color: var(--uq-grey-900);
  font-size: 1rem;
  font-family: var(--uq-font);
  font-weight: var(--uq-font-weight-normal);
  line-height: var(--uq-line-height-long);
}

@mixin -body-styles {
  font-size: 100%;
  background: var(--uq-white);
  margin: var(--uq-space-none);
  padding: var(--uq-space-none);
}

@mixin -base-styles {
  /**
   * TODO: user should be able to configure whether or not they want this
   * normalised or we remove it and make sure our packages are self-contained w/
   * this style rule.
   */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  // Margin adjustment
  .margin--reset {
    margin: var(--uq-space-none);
  }

  // Background colour utilities
  .white {
    background-color: var(--uq-white);
  }

  .black {
    background-color: var(--uq-black);
  }

  .link {
    background-color: var(--uq-utility-500);
  }

  .purple {
    background-color: var(--uq-purple-500);
  }

  // Typography
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    font-weight: var(--uq-font-weight-bold);
    line-height: var(--uq-line-height-short);
    color: var(--uq-black);
  }

  h1,
  .h1 {
    margin-top: var(--uq-space-l);
    margin-bottom: var(--uq-space-xxl);
    font-size: var(--uq-font-size-xxxxl);
    font-family: var(--uq-font-title);
  }

  h2,
  .h2 {
    margin-top: var(--uq-space-xxl);
    margin-bottom: var(--uq-space-l);
    font-size: var(--uq-font-size-xxxl);
  }

  h3,
  .h3 {
    margin-top: var(--uq-space-xl);
    margin-bottom: var(--uq-space-m);
    font-size: var(--uq-font-size-xxl);
  }

  h4,
  .h4 {
    margin-top: var(--uq-space-xl);
    margin-bottom: var(--uq-space-l);
    font-size: var(--uq-font-size-xl);
  }

  h5,
  .h5 {
    margin-top: var(--uq-space-l);
    margin-bottom: var(--uq-space-m);
    font-size: var(--uq-font-size-l);
  }

  h6,
  .h6 {
    margin-top: var(--uq-space-l);
    margin-bottom: var(--uq-space-xs);
    font-size: var(--uq-font-size-m);
  }

  p {
    margin-top: var(--uq-space-none);
    margin-bottom: var(--uq-space-l);
  }

  b,
  strong {
    font-weight: var(--uq-font-weight-bold);
  }

  em {
    font-style: italic;
  }

  blockquote {
    margin: var(--uq-space-none) var(--uq-space-none) var(--uq-space-l);
    padding-left: var(--uq-space-l);
    border-left: 6px solid var(--uq-grey-900);
    font-family: var(--uq-font);
    font-style: italic;
    font-size: var(--uq-font-size-xl);
  }

  ol,
  ul {
    margin-top: var(--uq-space-none);
    margin-bottom: var(--uq-space-l);
    padding-left: var(--uq-space-l);

    li {
      margin-bottom: var(--uq-space-m);

      &:last-child {
        margin-bottom: var(--uq-space-none);
      }
    }
  }

  dl {
    margin-top: var(--uq-space-none);
    margin-bottom: var(--uq-space-none);

    dt {
      color: var(--uq-purple-500);
      font-size: var(--uq-font-size-s);
      text-transform: uppercase;
      font-weight: var(--uq-font-weight-bold);
    }

    dd {
      margin-left: var(--uq-space-none);
      margin-bottom: var(--uq-space-l);
      font-size: var(--uq-font-size-l);
    }
  }

  a {
    color: var(--uq-purple-500);
    font-weight: var(--uq-font-weight-medium);
    text-decoration: underline;
    transition:
      color 200ms ease-out,
      text-decoration 200ms ease-out,
      background-color 200ms ease-out;
    display: inline-block;

    &:hover {
      color: var(--uq-white);
      background-color: var(--uq-purple-500);
    }
  }

  :focus {
    outline: none;
  }

  :focus-visible {
    @include focus-styles;
  }

  // Typography utilities
  .text {
    // Text colour
    &--purple {
      color: var(--uq-purple-500);
    }

    &--white {
      color: var(--uq-white);
    }

    &--error {
      color: var(--uq-error-500);
    }

    // Text size
    &--xxxxl {
      font-size: var(--uq-font-size-xxxxl);
    }

    &--xxxl {
      font-size: var(--uq-font-size-xxxl);
    }

    &--xxl {
      font-size: var(--uq-font-size-xxl);
    }

    &--xl {
      font-size: var(--uq-font-size-xl);
    }

    &--l {
      font-size: var(--uq-font-size-l);
    }

    &--m {
      font-size: var(--uq-font-size-m);
    }

    &--s {
      font-size: var(--uq-font-size-s);
    }

    &--xs {
      font-size: var(--uq-font-size-xs);
    }

    // Text weight
    &--weight-normal {
      font-weight: var(--uq-font-weight-normal);
    }

    &--weight-bold {
      font-weight: var(--uq-font-weight-bold);
    }

    &--weight-medium {
      font-weight: var(--uq-font-weight-medium);
    }

    // Text alignment
    &--left {
      text-align: left;
    }

    &--right {
      text-align: right;
    }

    &--center {
      text-align: center;
    }

    // Text prettiers
    &--uppercase {
      text-transform: uppercase;
    }

    &--accent {
      font-family: var(--uq-font);
      font-weight: var(--uq-font-weight-normal);
      font-style: italic;
    }

    &--shadow {
      text-shadow: 0 4px 4px
        color-mix(in srgb, var(--uq-black) 40%, transparent);
    }
  }

  // Visibility utilities
  .hidden {
    display: none !important;

    &--mobile-only {
      @media #{core.$screen-md-down} {
        display: none !important;
      }
    }

    &--md,
    &--tablet {
      @media #{core.$screen-md-up} {
        display: none !important;
      }
    }

    &--xl,
    &--desktop {
      @media #{core.$screen-xl-up} {
        display: none !important;
      }
    }
  }

  .visually-hidden {
    @include visually-hidden;

    &.focusable:active,
    &.focusable:focus {
      position: static !important;
      overflow: visible;
      clip: auto;
      width: auto;
      height: auto;
    }
  }
}

//Padding utility classes
@mixin padding($size) {
  $value: map.get($spacing-sizes, $size);

  .uq-padding--#{$size} {
    padding: $value;
  }

  .uq-padding--top-#{$size} {
    padding-top: $value;
  }

  .uq-padding--bottom-#{$size} {
    padding-bottom: $value;
  }

  .uq-padding--left-#{$size} {
    padding-left: $value;
  }

  .uq-padding--right-#{$size} {
    padding-right: $value;
  }
}

//Padding utility classes
@mixin margin($size) {
  $value: map.get($spacing-sizes, $size);

  .uq-margin--#{$size} {
    margin: $value;
  }

  .uq-margin--top-#{$size} {
    margin-top: $value;
  }

  .uq-margin--bottom-#{$size} {
    margin-bottom: $value;
  }

  .uq-margin--left-#{$size} {
    margin-left: $value;
  }

  .uq-margin--right-#{$size} {
    margin-right: $value;
  }
}

$spacing-sizes: (
  uuuuul: var(--uq-space-uuuuul),
  uuuul: var(--uq-space-uuuul),
  uuul: var(--uq-space-uuul),
  uul: var(--uq-space-uul),
  ul: var(--uq-space-ul),
  xxxxl: var(--uq-space-xxxxl),
  xxxl: var(--uq-space-xxxl),
  xxl: var(--uq-space-xxl),
  xl: var(--uq-space-xl),
  l: var(--uq-space-l),
  m: var(--uq-space-m),
  s: var(--uq-space-xs),
  xs: var(--uq-space-xxs),
);

@each $size, $value in $spacing-sizes {
  @include padding($size);
  @include margin($size);
}

@if $use-encapsulation {
  .uq {
    @include -text-primer;
    @include -base-styles;
  }

  body.uq {
    @include -body-styles;
  }
} @else {
  body {
    @include -text-primer;
    @include -body-styles;
  }

  @include -base-styles;
}

// Print styles
@media print {
  // Print utilities
  .show-for-print {
    display: block !important;
  }

  .hide-for-print {
    display: none !important;
  }

  // Type styles
  p {
    font-size: var(--uq-font-size-s) !important;
  }

  // Header
  .legacy-header {
    background: none !important;

    &__logo {
      &:after {
        width: 160px;
        height: 42px;
        content: url("https://static.uq.net.au/v15/logos/corporate/uq-logo.png");
      }

      img {
        display: none !important;
      }
    }

    &__search-toggle,
    &__navigation {
      display: none !important;
    }
  }

  // Site header
  .uq-site-header {
    &__title-container__left {
      a:after {
        content: " (" attr(href) ")";
        font-size: 12px;
      }
    }

    &__title-container__right,
    &__navigation-container {
      display: none !important;
    }
  }

  .legacy-header__container,
  .uq-site-header__title-container,
  .legacy-footer__container {
    max-width: 100% !important;
  }

  // Footer
  .legacy-footer {
    color: var(--uq-grey-900) !important;
    background: none !important;

    a,
    .legacy-footer__sub-title {
      color: var(--uq-grey-900) !important;
    }

    &__container {
      padding: 1rem !important;
    }

    &__acknowledgement {
      color: var(--uq-grey-900) !important;
      padding-bottom: 0 !important;
      margin-bottom: 1rem !important;
      font-size: 14px !important;

      a:after {
        content: " (" attr(href) ")";
        font-size: 12px;
      }
    }

    .legacy-footer__sub-title {
      font-size: 14px;
    }

    .legacy-footer__row {
      gap: 1rem;
    }

    .legacy-footer__footer {
      margin-top: 1rem;
    }

    .footer__contacts-link:after,
    .cricos__link:after,
    &__footer a:after {
      content: " (" attr(href) ")";
      font-size: 12px;
    }

    &__login-link {
      display: none !important;
    }
  }
}
