@use "@uqds/core/src/scss/global" as core;

@mixin visually-hidden {
  position: absolute !important;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  word-wrap: normal;
  margin: 0;
  padding: 0;
}

@mixin focus-styles {
  outline: 4px solid core.$utility-500;
  outline-offset: -1px;
}
