// Main component stylesheet
@use '@uqds/core/src/scss/global' as core;
@use '@uqds/grid/src/scss/global' as grid;
@use '@uqds/foundation-global/src/scss/global' as *;
// @use 'global' as *;

//
// Section
// Used to contain content and provide vertical spacing and backgrounds.
//
// Variants:
// .section--double-spacing - alias of .section--large-spacing
// .section--large-top-spacing - adds large spacing above to show more background image.
// .section--large-bottom-spacing - adds large spacing below to show more background image.
// .section--large-spacing - adds large spacing top and bottom.
// .section--extra-large-top-spacing - adds extra large spacing above.
// .section--extra-large-bottom-spacing - adds extra large spacing below.
// .section--extra-large-spacing - adds extra large spacing top and bottom.
// .section--no-spacing - removes vertical padding.
// .section--no-top-spacing - removes top padding only.
// .section--no-bottom-spacing - removes bottom padding only.
// .section--centered - centers header and footer text.
// .section--shaded - adds light grey background.
// .section--horizontal - Change header and content to horizontal 2 column layout.
// .section--image-behind - Markup image in the section__background is used as a background for the section.
// .section--background-image - Scales background images on the section to always cover.
// .section--light-tint - Adds a light tint between the background image and the content to knockback the image for dark text.
// .section--dark-tint - Adds a dark tint between the background image and the content to knockback the image for light text.
// .section--light-text - Extends .light-palette on the section header and footer.
// .section--dark-text - Extends .dark-palette on the section header and footer.
//

.section {
  padding-top: core.$space-xxxl;
  padding-bottom: core.$space-xxxl;
  overflow: hidden;
  // Large spacing above to show more background image.
  %large-top-spacing, &--large-top-spacing {
    padding-top: core.$space-uul; //7rem
  }
  // Large spacing below to show more background image.
  %large-bottom-spacing, &--large-bottom-spacing {
    padding-bottom: core.$space-uul; //7rem
  }
  // Doubles default vertical spacing. Double is an alias of large.
  &--large-spacing, &--double-spacing {
    @extend %large-top-spacing;
    @extend %large-bottom-spacing;
  }
  // Extra large spacing above to show more background image.
  %extra-large-top-spacing, &--extra-large-top-spacing {
    padding-top: core.$space-uuuul; //12rem
  }
  // Extra large spacing below to show more background image.
  %extra-large-bottom-spacing, &--extra-large-bottom-spacing {
    padding-bottom: core.$space-uuuul; //12rem
  }
  &--extra-large-spacing {
    @extend %extra-large-top-spacing;
    @extend %extra-large-bottom-spacing;
  }
  // Removes vertical spacing.
  &--no-spacing {
    padding-top: core.$space-none;
    padding-bottom: core.$space-none;
  }
  // Removes top spacing only.
  &--no-top-spacing {
    padding-top: core.$space-none;
  }
  // Removes bottom spacing only.
  &--no-bottom-spacing {
    padding-bottom: core.$space-none;
  }
  // Shaded background variant
  &--shaded {
    background-color: core.$section-shaded-bg;
  }
  // Centers section header and footer
  &--centered {
    .section__header, .section__footer {
      text-align: center;

      @media #{$large-up} {
        @include grid.grid-col-padding;
        @include grid.grid-col-offset(2, 12);
        @include grid.grid-col-width(8, 12);
        float: left;
      }
    }
  }
  // Changes alignment so header sits to the side of the body.
  &--horizontal {
    > .section__container {
      @include grid.grid-row-flex-base;
      align-items: center;
    }

    @media #{$medium-up} {
      .section__header {
        @include grid.grid-col-padding;
        @include grid.grid-col-width(4, 12);
        flex: none;
      }
      .section__content {
        @include grid.grid-col-padding;
        @include grid.grid-col-width(8, 12);
        flex: none;
        // Align first element with section__header column
        p, h2, h3, h4, h5, h6, ul {
          &:first-child {
            margin-top: core.$space-none;
          }
        }
      }
    }
  }
  // For when there is an image field in dom that is displayed behind the section content
  &--image-behind {
    position: relative;
    height: auto;
    overflow: hidden;
    .section__container {
      position: relative;
      z-index: 2;
    }
    // section--image-background with palettes
    &.light-text {
      // Use opposite palette bg for contrast
      @extend %dark-palette-bg;
    }
    &.dark-text {
      // Use opposite palette bg for contrast
      @extend %light-palette-bg;
    }
  }
  // For when the section has an inline style background image
  &--background-image {
    @include core.background-cover();
  }
  // Allows content to overflow the section if needed, such as drop downs.
  &--allow-overflow {
    overflow: visible;
  }

  // section with palettes
  &--light-text {
    .section__header, .section__summary, .section__footer {
      @extend %light-palette;
    }
  }
  &--dark-text {
    .section__header, .section__summary, .section__footer {
      @extend %dark-palette;
    }
  }

  &__container {
    @include grid.layout-containment;

    // clearfix from Foundation 5
    &:before, &:after { content: " "; display: table; }
    &:after { clear: both; }
  }

  &__header,
  &__content,
  &__footer {
    @include grid.grid-col-padding;
    @include grid.grid-col-width(6);
    float: left;
  }

  &__footer {
    color: core.$section-footer-color;
    margin-top: core.$space-lg;
  }

  &__title {
    font-weight: 400;
  }

  &__summary {
    color: core.$section-summary-color;
    margin-top: core.$space-none;
    margin-bottom: core.$space-xl;
  }

  // For section--image-behind where the background image is output using <img> rather than an inline style.
  &__background {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    // Hide background image on small devices to ensure content doesn't overflow its length and can still be seen.
    @media #{$small-only} {
      display: none;
    }
    // Ensure image behind fills full width on larger screens.
    @media #{$large-up} {
      img {
        width: 100%;
      }
    }
  }

  // Message indicating section requires saving, when user saves panel modal
  &__update {
    &-message {
      @extend %dark-palette;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 999;
      width: 100%;
      padding: core.$space-xs core.$space-none; //0.25rem 0
      text-align: center;
      background-color: core.$messages-warning-bg;
      border: 1px solid core.$messages-warning-border-color;
    }
    &-link {
      font-weight: 500;
    }
  }

  // Sections override pane/fieldable panel pane titles
  .pane-title, .panel-pane__title {
    display: none;
  }

  // Applies a light overlay background image to work better with dark-palette.
  &--light-tint {
    @extend %light-tint;
    .section__container {
      position: relative;
      z-index: 2;
    }
  }

  // Applies a dark tint to allow provide higher content contrast.
  &--dark-tint {
    @extend %dark-tint;
    .section__container {
      position: relative;
      z-index: 2;
    }
  }

}
