// Main component stylesheet
@use "@uqds/core/src/scss/global" as core;
@use "@uqds/grid/src/scss/global" as grid;
@use "global" as *;

// Section
// Used to contain content and provide padding, background, and width options.
//
// Variants:
// .uq-section--centered - centres content
// .uq-section--narrow - constrains content in a narrow container
// .uq-section--shaded - adds light-grey background
// .uq-section--padding-top-none - removes top padding
// .uq-section--padding-bottom-none - removes bottom padding
// .uq-section--padding-top-large - adds large top padding
// .uq-section--padding-bottom-large - adds large bottom padding

.uq-section {
  padding-top: core.$space-xxxxxl; // 3.5rem
  padding-bottom: core.$space-xxxxxl; // 3.5rem
  overflow: hidden;

  &__container {
    @include grid.layout-containment;
  }

  &__header,
  &__content {
    @include grid.grid-col-padding;
    @include grid.grid-col-width(6);
  }

  &__title {
    margin-top: core.$space-none;
  }

  // Padding top large
  &--padding-top-large {
    padding-top: core.$space-uuul; // 5.5rem
  }

  // Paddiing bottom large
  &--padding-bottom-large {
    padding-bottom: core.$space-uuul; // 5.5rem
  }

  // Padding top none
  &--padding-top-none {
    padding-top: core.$space-none;
  }

  // Padding bottom none
  &--padding-bottom-none {
    padding-bottom: core.$space-none;
  }

  // Shaded background
  &--shaded {
    background-color: $section-shaded-bg;
  }

  // Centers section header and content
  &--centered {
    .uq-section__header,
    .uq-section__content {
      text-align: center;
    }
  }

  // Narrows the section header and content
  &--narrow {
    .uq-section__header,
    .uq-section__content {
      @media #{core.$screen-xl-up} {
        @include grid.grid-col-padding;
        @include grid.grid-col-offset(2.25, 12);
        @include grid.grid-col-width(7.5, 12);
        float: left;
      }
    }
    // .uq-section__container {
    //   max-width: (grid.$max-container-width - (grid.$max-container-width/3));
    // }
  }
}
