@use "@uqds/core/src/scss/global" as core;

:root {
  --section-spacing: 6rem;
  --section-padding: #{var(--uq-space-xl)};
}

@media #{core.$screen-lg-down} {
  :root {
    --section-spacing: #{var(--uq-space-uul)};
    --section-padding: #{var(--uq-space-l)};
  }
}
