@use "~@uqmchu/core/src/scss/_component" as core with (
  $uq-font-path: "~@uqmchu/core/src/fonts/uq-icons/font",
  $fa-font-path: "~font-awesome/fonts",
  $uq-bg-image-path: '~@uqmchu/core/src/images'
);
@use "~@uqmchu/body/src/scss/_component" as body;

// Prevent the @uqmchu/core from imposing a background colour. Overrides the
// Foundation 5.5.3 default styling of the body tag.
body {
  background-color: transparent !important;
}

// For centerStory decorator
.story--centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
