@use "@uqmchu/foundation-normalise/src/scss/_component" as normalise;
@use "@uqmchu/foundation-global/src/scss/_component" as fnd-global;
@use "@uqmchu/core/src/scss/_component" as core with (
  $uq-font-path: "../node_modules/@uqmchu/core/src/fonts/uq-icons/font",
  $fa-font-path: "../node_modules/font-awesome/fonts",
  $uq-bg-image-path: '../node_modules/@uqmchu/core/src/images'
);
@use "@uqmchu/foundation-grid/src/scss/_component" as grid;
@use "@uqmchu/foundation-block-grid/src/scss/_component" as block-grid;
@use "@uqmchu/foundation-misc/src/scss/_component" as misc;
@use "@uqmchu/body/src/scss/_component" as body;

// Prevent the @uqmchu/core from imposing a background colour. Overrides the
// Foundation 5.5.3 default styling of the body tag.
body {
  background-color: transparent !important;
}

// For centerStory decorator
.story--centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
