@use '@uq-uidf/core/src/scss/global' as core;
@use '@uq-uidf/foundation-global/src/scss/global' as fnd-global;
@use '@uq-uidf/foundation-grid/src/scss/global' as fnd-grid;
@use 'global' as *;

.uq-site-title {
  color: core.$text;
  box-sizing: border-box;
  font-family: core.$font-body;
  font-size: core.$compass-base-font-size;
  font-weight: fnd-global.$body-font-weight;
  line-height: core.$compass-base-line-height-ratio;
  
  *, *:before, *:after {
    box-sizing: border-box;
  }

  &__content {
    font-size: inherit;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    position: relative;
    max-width: fnd-grid.$row-width;
    margin: 0 auto;
    padding: 1rem fnd-global.$column-gutter / 2;

    @media #{fnd-global.$large-up} {
      padding-top: 1.5rem;
      padding-bottom: .5rem;
    }
  }

  &__title {
    &__link {
      margin: 0;
      font-family: $site-title-font;
      font-size: 1.25rem;
      font-weight: 500;
      color: $site-title-color;
      text-decoration: none;

      &:hover, &:focus {
        color: $site-title-color;
        text-decoration: none;
      }
    }
  }

  &__actions {
    display: flex;
    align-items: center;
  }

  &--no-nav {
    border-bottom: 1px solid $site-title-border-color;
    @media #{fnd-global.$large-up} {
      padding-bottom: .857rem;
    }
  }
}
