@use "@uqds/core/src/scss/global" as core;
@use "@uqds/icon/src/scss/global" as icon-constants;
@import "global";

// Breadcrumb
.uq-breadcrumb {
  box-sizing: border-box;
  font-family: core.$font-body;
  font-size: core.$font-size-m;
  font-weight: core.$font-weight-normal; // will set font-weight to 400 like the FS version Is currently
  line-height: core.$line-height;
  color: $breadcrumb-link;
  list-style: none;
  margin: core.$space-none;
  padding: core.$space-none;

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  // Breadcrumb item
  &__item {
    display: inline;
    float: left;
    margin: core.$space-none;

    &::before {
      content: "";
      margin: core.$space-xs core.$space-s;
      padding: core.$space-s core.$space-s;
      background-image: url(icon-constants.get-icon(
        "standard--arrow-right-1",
        core.$uq-neutral-dark60
      ));
      background-repeat: no-repeat;
      float: left;
    }

    &:first-child {
      &::before {
        content: "";
        display: none;
      }
    }
  }

  // Breadcrumb link
  &__link {
    color: $breadcrumb-link;
    text-decoration: none;
    max-width: 260px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;

    &:hover {
      color: $breadcrumb-link;
      text-decoration: underline;
    }
  }
}
