@use '@uqds/core/src/scss/global' as core;
@use 'global' as *;

// Tabs
.tabs {

  * {
    box-sizing: border-box;
  }

  // Default / Outline variant
  &--outline {
    .tabs__tab-list {
      border-bottom: 1px solid $tab-border-color;
    }

    .tabs__tab {
      background-color: core.$uq-neutral-light20;
      border: 1px solid $tab-border-color;
      margin-bottom: -1px;

      &:hover,
      &:focus {
        background-color: core.$uq-neutral-light40;
      }

      &--active {
        background-color: core.$uq-white;
        border-bottom: 1px solid core.$uq-white;

        &:hover,
        &:focus {
          background-color: core.$uq-white;
        }
      }
    }
  }

  // Boxed variant
  &--boxed {
    .tabs__tab-list {
      border-bottom: 1px solid $tab-border-color;
    }

    .tabs__tab {
      background-color: core.$uq-neutral-light20;
      border: 1px solid $tab-border-color;
      border-radius: core.$space-none;
      margin-right: core.$space-none;
      margin-bottom: -1px;

      &:not(:first-child) {
        margin-left: -1px;
      }

      &:hover,
      &:focus {
        background-color: core.$uq-neutral-light40;
      }

      &--active {
        background-color: core.$uq-white;
        border-bottom: 1px solid core.$uq-white;

        &:hover,
        &:focus {
          background-color: core.$uq-white;
        }
      }
    }
  }

  // Lined variant
  &--lined {
    .tabs__tab-list {
      border-bottom: 1px solid $tab-border-color;
      overflow: visible;
    }

    .tabs__tab {
      border-bottom: 1px solid $tab-border-color;
      margin-bottom: -1px;

      &--active {
        background-color: core.$uq-white;
        border-bottom: 1px solid core.$uq-purple;

        &:hover,
        &:focus {
          background-color: core.$uq-white;
        }
      }
    }
  }

  // Full width variant
  &--full-width {
    .tabs__tab {
      flex: 1 1 auto;
    }
  }

  // Small variant
  &--small {
    .tabs__tab {
      padding: core.$space-sm core.$space;

      @media #{core.$screen-md-up} {
        padding: core.$space core.$space-md;
      }
    }
    .tabs__tab-panel {
      padding: core.$space-sm core.$space;
  
      @media #{core.$screen-md-up} {
        padding: core.$space core.$space-md;
      }
    }
  }

  // Tab list
  &__tab-list {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    overflow-x: scroll; 
    overflow-y: hidden; 
    padding: core.$space-none;
    margin: core.$space-none;
  }

  // Tab
  &__tab {
    flex: 0 1 auto;
    padding: core.$space core.$space-md;
    margin-right: core.$space-xs;
    font-size: core.$font-size-m;
    font-weight: core.$font-weight-thin;
    color: core.$uq-neutral-dark80;
    background-color: core.$uq-white;
    border-radius: core.$space-xs core.$space-xs core.$space-none core.$space-none;
    border: none;
    text-align: center;
    cursor: pointer;

    @media #{core.$screen-md-up} {
      padding: core.$space-md core.$space-lg;
      margin-right: core.$space-xs;
      font-size: core.$font-size-l;
    }

    &:last-child {
      margin-right: core.$space-none;
    }

    &--active {
      color: core.$uq-purple;
      background-color: core.$uq-white;
      font-weight: core.$font-weight-bold;
    }

    > span {
      display: inline-block;
      margin: 0 auto core.$space-sm;
    }
  }

  // tab panel
  &__tab-panel {
    padding: core.$space core.$space-md;
    font-size: core.$font-size-m;
    color: core.$uq-neutral-dark80;
    background-color: core.$uq-white;

    @media #{core.$screen-md-up} {
      padding: core.$space-md core.$space-lg;
    }
  }
}