@use '@uqds/core/src/scss/global' as core;
@use 'global' as *;

// Tabs
.tabs {

  * {
    box-sizing: border-box;
  }

  // Tab list wrapper
  &__tab-list-wrapper {
    overflow: scroll; 
  }

  // Tab list
  &__tab-list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    overflow: visible; 
    padding: core.$space-none;
    margin: core.$space-none;
  }
  
  // Tab Link
  &__link {
    display: inline;
    margin-left: auto;
    padding: core.$space-none core.$space-md;
    align-self: center;
    white-space: nowrap;

    @media #{core.$screen-md-up} {
      padding: core.$space-none core.$space-lg;
    }
  }

  // Tab
  &__tab {
    position: relative;
    flex: 0 1 auto;
    padding: core.$space core.$space-md;
    margin-right: core.$space-xs;
    font-size: core.$font-size-m;
    font-weight: core.$font-weight-thin;
    color: core.$uq-neutral-dark80;
    background-color: core.$uq-white;
    border-radius: core.$space-xs core.$space-xs core.$space-none core.$space-none;
    border: none;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;

    @media #{core.$screen-md-up} {
      padding: core.$space-md core.$space-lg;
      margin-right: core.$space-xs;
      font-size: core.$font-size-l;
    }

    &:last-child {
      margin-right: core.$space-none;
    }

    &--active {
      color: core.$uq-purple;
      background-color: core.$uq-white;
      font-weight: core.$font-weight-bold;

      &:before {
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: core.$uq-white;
        content: '';
        display: none;
      }
    }

    > span.uq-icon {
      display: block;
      margin: 0 auto core.$space-sm;
      font-size: core.$font-size-xs;

      @media #{core.$screen-md-up} {
        display: inline-block;
        margin: 0 core.$space-xs 0 auto;
      }
    }
  }

  // tab panel
  &__tab-panel {
    padding: core.$space core.$space-md;
    font-size: core.$font-size-m;
    color: core.$uq-neutral-dark80;
    background-color: core.$uq-white;

    @media #{core.$screen-md-up} {
      padding: core.$space-md core.$space-lg;
    }
  }

  // Default / Outline variant
  &.tabs--outline {
    .tabs__tab-list {
      border-bottom: 1px solid $tab-border-color;
    }

    .tabs__tab {
      background-color: core.$uq-white;
      border: 1px solid $tab-border-color;
      margin-bottom: -1px;

      &:hover,
      &:focus,
      &:active {
        background-color: core.$uq-white;
      }

      &--active {
        background-color: core.$uq-white;

        &:hover,
        &:focus,
        &:active {
          background-color: core.$uq-white;
        }

        &:before {
          display: block;
        }
      }
    }
  }

  // Lined variant
  &.tabs--lined {
    .tabs__tab-list {
      border-bottom: 1px solid $tab-border-color;
    }

    .tabs__tab {

      &--active {
        background-color: core.$uq-white;

        &:hover,
        &:focus,
        &:active {
          background-color: core.$uq-white;
        }

        &:before {
          background-color: core.$uq-purple;
          display: block;
        }
      }
    }
  }

  // Full width variant
  &.tabs--full-width {
    .tabs__tab {
      flex: 1 1 auto;
    }
  }

  // Small variant
  &.tabs--small {
    .tabs__tab {
      padding: core.$space-sm core.$space;

      @media #{core.$screen-md-up} {
        padding: core.$space core.$space-md;
      }
    }
    .tabs__tab-panel {
      padding: core.$space-sm core.$space;
  
      @media #{core.$screen-md-up} {
        padding: core.$space core.$space-md;
      }
    }
  }

  // Reversed variant
  &.tabs--reversed {
    // Tab list
    .tabs__tab-list {
      flex-flow: row-reverse nowrap
    }

    // Tab Link
    .tabs__link {
      @media #{core.$screen-md-up} {
        margin-left: 0;
        margin-right: auto;
      }
    }

    // Tab
    .tabs__tab {
      margin-right: core.$space-none;
      margin-left: core.$space-xs;

      &:last-child {
        margin-right: core.$space-none;
        margin-left: core.$space-xs;
      }
    }
  }
}