@use '@uqds/core/src/scss/global' as core;
@use 'global' as *;

// Tabs
.tabs {

  * {
    box-sizing: border-box;
  }

  // Tab list
  //&__tab-list,
  [role="tablist"] {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    overflow: visible; 
    padding: core.$space-none;
    margin: core.$space-none;
  }
  
  // Tab Link
  &__link {
    display: none;

    @media #{core.$screen-md-up} {
      display: inline;
      margin-left: auto;
      align-self: center;
    }
  }

  // Tab
  //&__tab,
  [role="tab"] {
    position: relative;
    flex: 1 1 auto;
    padding: core.$space core.$space-md;
    margin-right: core.$space-xs;
    font-size: core.$font-size-m;
    font-weight: core.$font-weight-thin;
    color: core.$uq-neutral-dark80;
    background-color: core.$uq-white;
    border-radius: core.$space-xs core.$space-xs core.$space-none core.$space-none;
    border: none;
    text-align: center;
    cursor: pointer;

    @media #{core.$screen-md-up} {
      flex: 0 1 auto;
      padding: core.$space-md core.$space-lg;
      margin-right: core.$space-xs;
      font-size: core.$font-size-l;
    }

    &:last-child {
      margin-right: core.$space-none;
    }

    &:before {
      position: absolute;
      bottom: -1px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: core.$uq-white;
      content: '';
      display: none;
    }

    //&--active,
    &[aria-selected="true"] {
      color: core.$uq-purple;
      background-color: core.$uq-white;
      font-weight: core.$font-weight-bold;
    }

    > span {
      display: inline-block;
      margin: 0 auto;
      font-size: core.$font-size-xs;
    }
  }

  // tab panel
  //&__tab-panel,
  [role="tabpanel"] {
    padding: core.$space core.$space-md;
    font-size: core.$font-size-m;
    color: core.$uq-neutral-dark80;
    background-color: core.$uq-white;

    @media #{core.$screen-md-up} {
      padding: core.$space-md core.$space-lg;
    }
  }

  // Default / Outline variant
  &.tabs--outline {
    //.tabs__tab-list,
    [role="tablist"] {
      border-bottom: 1px solid $tab-border-color;
    }

    //.tabs__tab,
    [role="tab"] {
      background-color: core.$uq-white;
      border: 1px solid $tab-border-color;
      margin-bottom: -1px;

      &:hover,
      &:focus,
      &:active {
        background-color: core.$uq-white;
      }

      //&--active,
      &[aria-selected="true"] {
        background-color: core.$uq-white;

        &:hover,
        &:focus,
        &:active {
          background-color: core.$uq-white;
        }

        &:before {
          display: block;
        }
      }
    }
  }

  // Lined variant
  &.tabs--lined {
    //.tabs__tab-list,
    [role="tablist"] {
      border-bottom: 1px solid $tab-border-color;
    }

    //.tabs__tab,
    [role="tab"] {

      //&--active,
      &[aria-selected="true"] {
        background-color: core.$uq-white;
        border-bottom: 2px solid core.$uq-purple;

        &:hover,
        &:focus,
        &:active {
          background-color: core.$uq-white;
        }
      }
    }
  }

  // Full width variant
  &.tabs--full-width {
    //.tabs__tab,
    [role="tab"] {
      flex: 1 1 auto;
    }
  }

  // Small variant
  &.tabs--small {
    //.tabs__tab,
    [role="tab"] {
      padding: core.$space-sm core.$space;

      @media #{core.$screen-md-up} {
        padding: core.$space core.$space-md;
      }
    }
    //.tabs__tab-panel,
    [role="tabpanel"] {
      padding: core.$space-sm core.$space;
  
      @media #{core.$screen-md-up} {
        padding: core.$space core.$space-md;
      }
    }
  }

  // Reversed variant
  &.tabs--reversed {
    // Tab list
    //&__tab-list,
    [role="tablist"] {
      flex-flow: row-reverse nowrap
    }

    // Tab Link
    .tabs__link {
      @media #{core.$screen-md-up} {
        margin-left: 0;
        margin-right: auto;
      }
    }

    // Tab
    //&__tab,
    [role="tab"] {
      margin-right: core.$space-none;
      margin-left: core.$space-xs;

      &:last-child {
        margin-right: core.$space-none;
        margin-left: core.$space-xs;
      }
    }
  }
}