// Variables, functions, and mixins
@use '../../node_modules/@uq-uidf/core/src/scss/_global' as *; 

$panel-border: $uq-neutral-light60; //e1e1e1;
$active-color: $uq-yellow; //ffa200;
$app-wrapper: $uq-neutral-light20; //f8f8f9;
$tabs-color: $uq-neutral-dark60; //51247a;
