// Variables, functions, and mixins
@use "@uqds/core/src/scss/global" as core;

$panel-border: core.$uq-neutral-light40; // e1e1e1;
$active-color: core.$uq-yellow; // ffa200;
$app-wrapper: core.$uq-neutral-light80; // f8f8f9;
$tabs-color: core.$uq-neutral-dark60; // 51247a;

$tab-border-color: core.$uq-neutral-light40; // e1e1e1;
