@use "@uqds/core/src/scss/global" as core;
@use "global" as *;

table,
.uq-table {
  @include table;

  // Table scroll wrapper
  &__wrapper {
    @include table-wrapper;
  }

  caption,
  .uq-table__caption {
    @include table-caption;
  }

  thead,
  .uq-table__head {
    @include table-head;
  }

  tbody,
  .uq-table__body {
    @include table-body;
  }

  tr,
  .uq-table__row {
    @include table-row;
  }

  td,
  .uq-table__cell {
    @include table-cell;
  }

  th,
  .uq-table__header {
    @include table-header;
  }
}

/* Variant: Striped */
.uq-table--striped {
  tr,
  .uq-table__row {
    &:nth-child(even) {
      background: rgba(core.$uq-neutral, 0.1);
    }
  }
}

/* Variant: Card */
.uq-table--card {
  tr,
  .table__row {
    display: grid;
    grid: auto-flow / repeat(6, 1fr);
  }

  th,
  td,
  .table__header,
  .table__cell {
    margin: core.$space-none -1px -1px core.$space-none;
    word-break: break-word;
  }

  @media #{core.$screen-md-down} {
    thead,
    .uq-table__head {
      left: -9999px;
      position: absolute;
      visibility: hidden;
    }

    tr,
    .uq-table__row {
      grid: auto-flow / 1fr;
      align-items: stretch;
      margin-bottom: core.$space-l;
    }

    td,
    .uq-table__cell {
      padding: core.$space-s core.$space-m;

      &::before {
        content: attr(data-title);
        color: core.$uq-purple;
        font-weight: core.$font-weight-bold;
        display: block;
      }
    }
  }
}
