@use "@uqds/core/src/scss/global" as core;

@mixin table-wrapper {
  width: 100%;
  overflow-x: auto;
  background-color: var(--uq-white);

  /* Modern CSS Scroll Shadows */
  background-image: linear-gradient(
      to right,
      var(--uq-white),
      color-mix(in srgb, var(--uq-white) 0%, transparent)
    ),
    linear-gradient(
      to left,
      var(--uq-white),
      color-mix(in srgb, var(--uq-white) 0%, transparent)
    ),
    linear-gradient(
      to right,
      var(--uq-grey-300),
      color-mix(in srgb, var(--uq-grey-300) 0%, transparent)
    ),
    linear-gradient(
      to left,
      var(--uq-grey-300),
      color-mix(in srgb, var(--uq-grey-300) 0%, transparent)
    );

  background-position:
    0 0,
    100% 0,
    0 0,
    100% 0;

  background-size:
    4em 100%,
    4em 100%,
    1em 100%,
    1em 100%;

  background-repeat: no-repeat;
  background-attachment: local, local, scroll, scroll;

  &::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 0.75rem;
    height: 0.75rem;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 0.5rem;
    border: 1px solid var(--uq-white);
    background-color: var(--uq-grey-500);
  }
}
@mixin table {
  width: 100%;
  min-width: 100%;
  margin: var(--uq-space-none);
  padding: var(--uq-space-none);
  border-collapse: collapse;
  border-spacing: 0;
  box-sizing: border-box;
  font-family: var(--uq-font);
  font-size: var(--uq-font-size-m);
  font-weight: var(--uq-font-weight-normal);
  line-height: var(--uq-line-height-long);
  color: var(--uq-grey-900);
  list-style: none;

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
}
@mixin table-caption {
  font-size: 1.25rem;
  line-height: var(--uq-line-height-long);
  font-weight: var(--uq-font-weight-bold);
  text-align: left;
  display: table-caption;
  padding-bottom: var(--uq-space-m);
  background-color: var(--uq-white);
}
@mixin table-head {
  display: table-header-group;
  vertical-align: middle;
}
@mixin table-body {
  display: table-row-group;
  vertical-align: top;
}
@mixin table-row {
  display: table-row;
}
@mixin table-cell {
  padding: var(--uq-space-xs) var(--uq-space-m);
  border: 1px solid var(--uq-grey-200);
  text-align: left;
}
@mixin table-header {
  padding: var(--uq-space-xs) var(--uq-space-m);
  color: var(--uq-purple-500);
  text-align: left;
  border: 1px solid var(--uq-grey-200);
  font-weight: var(--uq-font-weight-bold);
  background-color: var(--uq-grey-50);
}
