@use "sass:color";
@use "@uqds/core/src/scss/_component" as core;

/* Colours */
.uqds-colour__palette {
  width: 100%;
  border-radius: 0.25rem;
  height: 100%;
}
.uqds-colour--purple-500 {
  background-color: var(--uq-purple-500);
  color: var(--uq-white);
}
.uqds-colour--black {
  background-color: var(--uq-black);
  color: var(--uq-white);
}
.uqds-colour--grey-900 {
  background-color: var(--uq-grey-900);
  color: var(--uq-white);
}
.uqds-colour--white {
  color: var(--uq-white);
}

/* Email Fonts */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: var(--uq-font);
}
