@use "sass:color";
@use "@uqds/core/src/scss/_component" as core;

/* Colours */
.uqds-colour__palette {
  width: 100%;
  border-radius: 0.25rem;
  height: 100%;
}
.uqds-colour--purple-500 {
  background-color: core.$purple-500;
  color: core.$white;
}
.uqds-colour--black {
  background-color: core.$black;
  color: core.$white;
}
.uqds-colour--grey-900 {
  background-color: core.$grey-900;
  color: core.$white;
}
.uqds-colour--white {
  color: core.$white;
}

/* Typography */
.uqds-h1 {
  color: core.$black;
  font-family: core.$font-body;
  font-size: core.$font-size-xxxl; /* 32px */
  line-height: core.$line-height-h; /* 38px */
  font-weight: core.$font-weight-medium; /* 500 */
}
.uqds-h2 {
  color: core.$black;
  font-family: core.$font-body;
  font-size: core.$font-size-xxl; /* 24px */
  line-height: core.$line-height-h; /* 29px */
  font-weight: core.$font-weight-medium; /* 500 */
}
.uqds-h3 {
  color: core.$black;
  font-family: core.$font-body;
  font-size: core.$font-size-l; /* 18px */
  line-height: core.$line-height-h; /* 29px */
  font-weight: core.$font-weight-medium; /* 500 */
}
.uqds-body {
  color: core.$grey-900;
  font-family: core.$font-body;
  font-size: core.$font-size-m; /* 16px */
  line-height: core.$line-height; /* 26px */
  font-weight: core.$font-weight-normal; /* 400 */
}
.uqds-link {
  color: core.$purple-500;
  font-family: core.$font-body;
  font-size: core.$font-size-m; /* 16px */
  line-height: core.$line-height; /* 26px */
  font-weight: core.$font-weight-normal; /* 400 */
}
