@use '@uqds/core/src/scss/global' as *;
@use '@uqds/foundation-global/src/scss/global' as *;
@use 'global' as *;
@import '@uqds/core/src/fonts/uq-icons/scss/mixins';

// Accordion / Toggle style
//
// Can be used on either div or ul
//
// Variants:
// .accordion--shaded - Adds a shaded colour to the toggle titles.
// .accordion--no-bottom-border - Removes border from the bottom of accordions
//                                for use in menus (see compendium).
// .accordion--no-bottom-spacing - Removes margin from below accordions for use
//                                 in menus (see compendium).

.accordion {
  border-bottom: 1px solid $accordion-border-color;
  list-style: none;
  margin-bottom: $space-md;
  overflow: hidden;
  padding: $space-none;

  // Accordion item.
  &__item {
    border-top: 1px solid $accordion-border-color;
    margin-bottom: $space-none;
  }

  // Accordion title / toggle button.
  &__toggle {
    -moz-appearance: none;
    -webkit-appearance: none;
    background: $accordion-content-bg;
    border-radius: 0;
    border-style: solid;
    border-width: 0;
    color: $text;
    cursor: pointer;
    display: inline-block;
    font-family: $font-body;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: normal;
    margin: $space-none;
    padding: $space $space-lg $space $space-none;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: all ease .2s;
    width: 100%;

    @media #{$medium-up} {
      font-size: 1.5rem;
      padding: $space $space-xxl $space $space;
    }

    // Closed state.
    &::before {
      @include uq-icon(add-circle);
      color: $accordion-icon-color;
      float: right;
      font-size: 1.2rem;
      font-weight: 100;
      margin-right: -($space-lg);
      margin-top: $space-xs; //.1rem

      @media #{$medium-up} {
        margin-top: $space-xs; //.3rem
      }
    }

    &:focus,
    &:hover {
      color: $body-font-color;
      background-color: $accordion-title-bg;
    }

    &:focus {
      outline: 0 none;
      color: $link-color;
      text-decoration: underline;
    }

    // Active toggle.
    &--active {
      background: $accordion-content-bg;

      // Open state.
      &::before {
        @include uq-icon(minus-circle);
        font-size: 1.2rem;
        font-weight: 100;
      }

      &:hover {
        text-decoration: underline;
      }

      &:hover,
      &:focus {
        background-color: $accordion-content-bg;
      }
    }
  }

  // Accordion content
  &__content {
    overflow: hidden;
    padding: $space-none;
    word-wrap: break-word;
    transition: height 200ms ease;  

    @media #{$medium-up} {
      padding: $space-none $space;
    }

    &:not(.accordion__content--active) {
      display: none;
    }

    p:first-of-type {
      margin-top: $space-none;
    }
  }

  // Shaded variant.
  &--shaded {
    .accordion {
      &__toggle {
        background: $accordion-title-bg;

        &:hover {
          background-color: $accordion-title-bg-hover;
        }

        &--active {
          background: $accordion-content-bg;
        }
      }
    }
  }

  // No bottom border variant.
  &--no-bottom-border {
    border-bottom: 0;
  }

  // No bottom spacing variant.
  &--no-bottom-spacing {
    margin-bottom: $space-none;
  }

  // Small toggle variant.
  &--secondary {
    .accordion {
      &__toggle {
        font-size: 1.1rem;

        @media #{$medium-up} {
          font-size: 1.2rem;
        }
      }
    }
  }

  // Contextual link region cog position fix.
  .contextual-links-wrapper {
    top: 0 !important;
  }
}

// Overrides for when displayed within wysiwyg fields.
.cke_editable {
  .accordion__content {
    border: 1px dashed $accordion-editor-outline;
    display: block !important;
  }
}
