@use "@uqds/core/src/scss/global" as core;
@use "@uqds/icon/src/scss/global" as icon-constants;
@use "global" as *;

// Accordion / Toggle style

// Can be used on either div or ul

// Variants:
// .uq-accordion--no-bottom-spacing - Removes margin from below accordions for use in menus (see compendium).

.uq-accordion {
  font-family: var(--uq-font);
  font-size: var(--uq-font-size-m);
  font-weight: var(--uq-font-weight-normal);
  line-height: var(--uq-line-height-long);
  list-style: none;
  margin-bottom: var(--uq-space-l);
  padding: var(--uq-space-none);
}

.uq-accordion__item {
  background: var(--uq-white);
  border: 1px solid var(--uq-grey-200);
  border-radius: 2px;
  margin-bottom: var(--uq-space-xs);
}

.uq-accordion__toggle {
  -moz-appearance: none;
  -webkit-appearance: none;
  background: var(--uq-white);
  border-radius: 0;
  border-style: solid;
  border-width: 0;
  color: var(--uq-grey-900);
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: var(--uq-space-xs) var(--uq-space-m);
  font-family: var(--uq-font);
  font-size: var(--uq-font-size-xl);
  font-weight: var(--uq-font-weight-medium);
  line-height: var(--uq-line-height-short);
  margin: var(--uq-space-none);
  padding: var(--uq-space-m) var(--uq-space-xxxxl) var(--uq-space-m)
    var(--uq-space-m);
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: all ease 0.2s;
  width: 100%;

  & > * {
    margin: 0;
    color: var(--uq-grey-900);
    font-size: var(--uq-font-size-xl);
    font-weight: var(--uq-font-weight-medium);
  }

  @media #{core.$screen-md-up} {
    padding: var(--uq-space-m) var(--uq-space-uul) var(--uq-space-m)
      var(--uq-space-l);
  }

  // Closed state.
  &::before {
    content: "";
    background-image: url(icon-constants.get-icon(
      "standard--chevron-down",
      core.$black
    ));
    background-repeat: no-repeat;
    width: var(--uq-space-l);
    height: var(--uq-space-l);
    position: absolute;
    right: var(--uq-space-m);

    @media #{core.$screen-md-up} {
      right: var(--uq-space-l);
    }
  }

  &:hover,
  &:focus {
    color: var(--uq-grey-900);
  }

  &:focus {
    outline: 0 none;
  }

  &:has(.uq-accordion__subtitle) {
    flex-wrap: wrap;
  }
}

.uq-accordion__toggle--active {
  background: var(--uq-white);

  // Open state.
  &::before {
    background-image: url(icon-constants.get-icon(
      "standard--chevron-up",
      core.$black
    ));
  }

  &:hover,
  &:focus {
    background-color: var(--uq-white);
  }
}

.uq-accordion__icon {
  width: 24px;
  height: 24px;
  margin-block: -4px;

  & img,
  & svg,
  & .uq-icon::before {
    width: 24px;
    height: 24px;
    margin: 0;
  }
}

.uq-accordion__subtitle {
  width: 100%;
  font-size: var(--uq-font-size-s);
  font-weight: var(--uq-font-weight-normal);
  color: #6f6f6f;
  line-height: 1.4;
  // required to Truncate text and add ellipsis
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.uq-accordion__content {
  overflow: hidden;
  word-wrap: break-word;
  transition: height 200ms ease;

  &:not(.uq-accordion__content--active) {
    display: none;
  }

  p:first-of-type {
    margin-top: var(--uq-space-none);
  }

  :last-child {
    margin-bottom: var(--uq-space-none);
  }

  & .uq-alert {
    margin-block: var(--uq-space-l);
  }

  & img {
    margin-block: var(--uq-space-m);
    display: block;
  }
}

.uq-accordion__content-wrapper {
  padding: var(--uq-space-none) var(--uq-space-m) var(--uq-space-m);

  @media #{core.$screen-md-up} {
    padding: var(--uq-space-none) var(--uq-space-l) var(--uq-space-l);
  }
}

// No bottom spacing variant.
.uq-accordion--no-bottom-spacing {
  margin-bottom: var(--uq-space-none);
}

// Contextual link region cog position fix.
.contextual-links-wrapper {
  top: 0 !important;
}

// Compact Modifier, reduces size for use in mixed components.
.uq-accordion--compact {
  & .uq-accordion__toggle {
    font-size: var(--uq-font-size-m);
    padding: var(--uq-space-xs) var(--uq-space-xxxxl) var(--uq-space-xs)
      var(--uq-space-m);
  }

  & .uq-accordion__toggle::before {
    width: var(--uq-space-m);
    height: var(--uq-space-m);
    right: var(--uq-space-m);
  }

  & .uq-accordion__toggle--active::before {
    width: var(--uq-space-m);
    height: var(--uq-space-m);
    right: var(--uq-space-m);
  }

  & .uq-accordion__content-wrapper {
    @media #{core.$screen-md-up} {
      padding: var(--uq-space-none) var(--uq-space-m) var(--uq-space-m);
    }
  }
}

// Overrides for when displayed within wysiwyg fields. (Drupal?)
.cke_editable {
  .uq-accordion__content {
    border: 1px dashed var(--uq-utility-500);
    display: block !important;
  }
}
