@use "@uqds/core/src/scss/global" as core;
@use "@uqds/icon/src/scss/global" as icon-constants;
@use "global" as *;

// Accordion / Toggle style
//
// Can be used on either div or ul
//
// Variants:
// .uq-accordion--no-bottom-spacing - Removes margin from below accordions for use in menus (see compendium).

.uq-accordion {
  list-style: none;
  margin-bottom: core.$space-m;
  padding: core.$space-none;

  // Accordion item.
  &__item {
    background: $accordion-content-bg;
    border: 1px solid $accordion-border-color;
    border-radius: 2px;
    margin-bottom: core.$space-s;

    &--is-open {
      box-shadow: 0 0.25rem 0.5rem rgb(0 0 0 / 10%);
    }
  }

  // Accordion title / toggle button.
  &__toggle {
    -moz-appearance: none;
    -webkit-appearance: none;
    background: $accordion-content-bg;
    border-radius: 0;
    border-style: solid;
    border-width: 0;
    color: core.$text;
    cursor: pointer;
    display: inline-block;
    font-family: core.$font-body;
    font-size: core.$font-size-l;
    font-weight: 400;
    line-height: core.$line-height-h;
    margin: core.$space-none;
    padding: core.$space core.$space-xxxl core.$space core.$space;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: all ease 0.2s;
    width: 100%;

    @media #{core.$screen-md-up} {
      padding: core.$space core.$space-ul core.$space core.$space-m;
    }

    // Closed state.
    &::before {
      content: "";
      background-image: url(icon-constants.get-icon(
        "standard--arrow-down-1",
        core.$uq-purple
      ));
      background-repeat: no-repeat;
      width: core.$space-m;
      height: core.$space-m;
      transform: translateY(50%);
      position: absolute;
      top: core.$space-s;
      right: core.$space;

      @media #{core.$screen-md-up} {
        right: core.$space-m;
      }
    }

    &:focus,
    &:hover {
      color: core.$text;
    }

    &:hover,
    &:focus {
      background-color: $accordion-title-bg-hover;
    }

    &:focus {
      outline: 0 none;
    }

    // Active toggle.
    &--active {
      background: $accordion-content-bg;

      // Open state.
      &::before {
        background-image: url(icon-constants.get-icon(
          "standard--arrow-up-1",
          core.$uq-purple
        ));
      }

      &:hover,
      &:focus {
        background-color: $accordion-content-bg;
      }
    }
  }
  &__subtitle {
    font-size: core.$font-size-s;
    font-weight: 400;
    color: #6f6f6f;
    line-height: 1.4;

    // required to Truncate text and add ellipsis
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  // Accordion content
  &__content {
    overflow: hidden;
    word-wrap: break-word;
    transition: height 200ms ease;

    &-wrapper {
      padding: core.$space;

      @media #{core.$screen-md-up} {
        padding: core.$space-m;
      }
    }

    &:not(.uq-accordion__content--active) {
      display: none;
    }

    p:first-of-type {
      margin-top: core.$space-none;
    }

    :last-child {
      margin-bottom: core.$space-none;
    }
  }

  // No bottom spacing variant.
  &--no-bottom-spacing {
    margin-bottom: core.$space-none;
  }

  // Contextual link region cog position fix.
  .contextual-links-wrapper {
    top: 0 !important;
  }

  // Compact Modifier, reduces size for use in mixed components.
  &--compact {
    & .uq-accordion__toggle {
      font-size: core.$font-size;
      padding: core.$space-s core.$space-xxxl core.$space-s core.$space;
    }

    & .uq-accordion__toggle::before {
      width: core.$space;
      height: core.$space;
      top: core.$space-xs;
      right: core.$space;
    }

    & .uq-accordion__toggle--active::before {
      width: core.$space;
      height: core.$space;
      top: core.$space-xs;
      right: core.$space;
    }
  }
}

// Overrides for when displayed within wysiwyg fields.
.cke_editable {
  .uq-accordion__content {
    border: 1px dashed $accordion-editor-outline;
    display: block !important;
  }
}
