@use '@uqds/core/src/scss/global' as core;

// Variables, functions, and mixins
$accordion-border-color: core.$uq-neutral-light40; 
$accordion-title-bg-hover: core.$uq-darkgrey-light80; 
$accordion-content-bg: core.$uq-white;
$accordion-editor-outline: core.$uq-red-dark10; 
