// Variables, functions, and mixins

$accordion-border-color: #e9e9e9;
$accordion-title-bg: #f9f9f9;
$accordion-title-bg-hover: #eee;
$accordion-icon-color: #bbb;
$accordion-content-bg: #fff;
$accordion-editor-outline: #f00;
