@font-face {
  font-family: 'uq-icons';
  src: url('#{$uq-font-path}/uq-icons.eot?v=#{$uq-version}');
  src: url('#{$uq-font-path}/uq-icons.eot?v=#{$uq-version}#iefix') format('embedded-opentype'),
  url('#{$uq-font-path}/uq-icons.woff?v=#{$uq-version}') format('woff'),
  url('#{$uq-font-path}/uq-icons.ttf?v=#{$uq-version}') format('truetype'),
  url('#{$uq-font-path}/uq-icons.svg?v=#{$uq-version}#uq-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}