// Variables
// --------------------------

$uq-font-path:        "../font" !default;
$uq-font-size-base:   16px !default;
$uq-css-prefix:       icon !default;
$uq-version:          "58993992" !default;
$uq-border-color:     #eee !default;
$uq-inverse:          #fff !default;
$uq-li-width:         (30em / 16) !default;

// Icon code mappings.
$uq-icons: (
  add-circle: \e800,
  minus-circle: \e801,
  search: \e802,
  new-window: \e803,
  external-link: \e804,
  close-circle: \e805,
  options-circle: \e806,
  send: \e807,
  list: \e808,
  time: \e809,
  attach: \e80a,
  apple: \e80b,
  android: \e80c,
  exit: \e80d,
  pen: \e80e,
  home: \e80f,
  communicate: \e810,
  bookmark: \e811,
  tag: \e812,
  location: \e813,
  correct-circle: \e814,
  menu: \e815,
  file: \e816,
  alert-circle: \e817,
  calendar: \e818,
  angle-right: \e819,
  chevron-right: \e81a,
  chevron-bold-right: \e81b,
  sun: \e81c,
  lock: \e81d,
  pin: \e81e,
  australia: \e81f,
  anz: \e820,
  world: \e821,
  question-circle: \e822,
  bicycle: \e823,
  disability: \e824,
  building: \e825,
  book: \e826,
  talk: \e827,
  religion: \e828,
  ferry: \e829,
  train: \e82a,
  bus: \e82b,
  car: \e82c,
  angle-down: \e82d,
  angle-left: \e82e,
  angle-up: \e82f,
  chevron-down: \e830,
  chevron-left: \e831,
  chevron-up: \e832,
  chevron-bold-down: \e833,
  chevron-bold-left: \e834,
  chevron-bold-up: \e835,
  correct-circle-solid: \e836,
  close-solid: \e837,
  arrow-right: \e838,
  arrow-left: \e839,
  arrow-top: \e83a,
  file-solid: \e83b,
  pin-solid: \e83c,
  building-2: \e83d,
  add-solid: \e83e,
  calendar-solid: \e83f,
  options-circle-solid: \e840,
  award: \e841,
  research: \e842,
  building-3: \e843,
  graduate: \e844,
  apply: \e845,
  calculator: \e846,
  arrow-down: \e847,
  heart-health: \e848,
  rubbish: \e849,
  bars-short: \e84a,
  bars-long: \e84b,
  person-female: \e84c,
  person-male: \e84d,
  person: \e84e,
  person-academic-female: \e84f,
  person-academic-male: \e850
);
